Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update errors.json
  public/locales/zh/errors.json
Due: prettier --write

updated setup.ts file
  Dockerfile
  setup.ts
  src/setup/askForDocker/askForDocker.test.ts
  src/setup/askForDocker/askForDocker.ts
Due: eslint --fix, prettier --write

Update errors.json
  public/locales/sp/errors.json
Due: prettier --write

Update People.test.tsx
  src/screens/UserPortal/People/People.test.tsx
Due: eslint --fix, prettier --write

Updated default error message
  src/utils/errorHandler.tsx
Due: eslint --fix, prettier --write

added code coverage for new errors
  src/utils/errorHandler.test.tsx
Due: eslint --fix, prettier --write

Update errors.json
  public/locales/en/errors.json
Due: prettier --write

Update errors.json
  public/locales/fr/errors.json
Due: prettier --write

Update errors.json
  public/locales/hi/errors.json
Due: prettier --write

Update errorHandler.test.tsx
  src/utils/errorHandler.test.tsx
Due: eslint --fix, prettier --write

updated linting error
  .eslintignore
  Dockerfile
Due: none

Added test of AddOnEntry
  codecov.SHA256SUM
  codecov.SHA256SUM.sig
  src/components/AddOn/core/AddOnEntry/AddOnEntry.spec.tsx
Due: eslint --fix, prettier --write

Remove codecov files
  codecov.SHA256SUM
  codecov.SHA256SUM.sig
Due: none

Merge remote origin
  package-lock.json
Due: prettier --write

Added ts-doc comment
  src/components/AddOn/core/AddOnEntry/AddOnEntry.spec.tsx
Due: eslint --fix, prettier --write

Improve test coverage
  src/components/AddOn/core/AddOnEntry/AddOnEntry.spec.tsx
Due: eslint --fix, prettier --write

fixed Event and Holiday Calendar View
  .env.example
  .husky/pre-commit
  index.html
  src/components/EventCalendar/EventCalendar.tsx
Due: eslint --fix, prettier --write

changed according to the suggestions
  .env.example
  src/components/EventCalendar/EventCalendar.module.css
  src/components/EventCalendar/EventCalendar.tsx
Due: eslint --fix, prettier --write

Refactor styles: move SubTags.module.css styles to app.module.css
  src/screens/SubTags/SubTags.module.css
  src/style/app.module.css
Due: prettier --write

changed some changes according to the requirement
  package-lock.json
  package.json
  src/components/EventCalendar/EventCalendar.module.css
  src/components/EventCalendar/EventCalendar.tsx
Due: eslint --fix, prettier --write

Saving before reset 11/30/24 19:27:11
  jest.config.js
Due: none

Refactor CSS files: merged MemberDetail styles into global app.module.css and updated component references
  .node-version
  package-lock.json
  package.json
  src/screens/MemberDetail/MemberDetail.module.css
  src/screens/MemberDetail/MemberDetail.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write

Delete package-lock.json
  package-lock.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Refactored src/components/AddOn/core/AddOnEntry/AddOnEntry.test.tsx from Jest to Vitest (#2501)
  package-lock.json
  src/components/AddOn/core/AddOnEntry/AddOnEntry.spec.tsx
Due: eslint --fix, prettier --write

fixed Event and Holiday Calendar View
  src/components/EventCalendar/EventCalendar.module.css
  src/components/EventCalendar/EventCalendar.tsx
Due: eslint --fix, prettier --write

Refactored src/components/AddOn/support/components/Action/Action.test.tsx from Jest to Vitest (#2482)
  src/components/AddOn/support/components/Action/Action.spec.tsx
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write

fixed the inline css
  .husky/pre-commit
  package-lock.json
  package.json
  src/components/EventCalendar/EventCalendar.module.css
  src/components/EventCalendar/EventCalendar.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

changed some changes acc to bot
  src/components/EventCalendar/EventCalendar.module.css
  src/components/EventCalendar/EventCalendar.tsx
Due: eslint --fix, prettier --write

changed acc to the bot 2
  src/components/EventCalendar/EventCalendar.module.css
  src/components/EventCalendar/EventCalendar.tsx
Due: eslint --fix, prettier --write

Update app.module.css
  src/style/app.module.css
Due: prettier --write

Update PageNotFound.tsx
  src/screens/PageNotFound/PageNotFound.tsx
Due: eslint --fix, prettier --write

Delete PageNotFound.module.css
  src/screens/PageNotFound/PageNotFound.module.css
Due: prettier --write

fix: refactor issues
  src/style/app.module.css
Due: prettier --write

refactored addOnStore
  package-lock.json
  src/components/AddOn/core/AddOnStore/AddOnStore.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
