Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write"
}

language fix
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
Due: prettier --write

Fixes ReCaptcha Fail during login (#1613)
  src/constants.ts
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write

added tests
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/screens/OrganizationFunds/FundArchiveModal.tsx
  src/screens/OrganizationFunds/FundCreateModal.tsx
  src/screens/OrganizationFunds/FundDeleteModal.tsx
  src/screens/OrganizationFunds/FundUpdateModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.test.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/OrganizationFunds/OrganizationFundsMocks.tsx
  src/screens/OrganizationFunds/dist/OrganizationFunds.test.js
Due: eslint --fix, prettier --write

fix test
  src/assets/svgs/funds.svg
  src/components/IconComponent/IconComponent.test.tsx
  src/components/IconComponent/IconComponent.tsx
  src/components/IconComponent/dist/IconComponent.js
  src/components/IconComponent/dist/IconComponent.test.js
  src/state/reducers/dist/routesReducer.js
  src/state/reducers/dist/routesReducer.test.js
  src/state/reducers/routesReducer.test.ts
  src/state/reducers/routesReducer.ts
Due: eslint --fix, prettier --write

fix deletion error
  src/screens/OrganizationFunds/FundDeleteModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/OrganizationFunds/dist/FundArchiveModal.js
  src/screens/OrganizationFunds/dist/FundDeleteModal.js
  src/screens/OrganizationFunds/dist/OrganizationFunds.js
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationPeople/dist/OrganizationPeople.js
Due: eslint --fix, prettier --write

fix
  src/screens/OrganizationFunds/FundCreateModal.tsx
  src/screens/OrganizationFunds/dist/FundCreateModal.js
Due: eslint --fix, prettier --write

remove unwanted file
  src/components/IconComponent/dist/IconComponent.js
  src/components/IconComponent/dist/IconComponent.test.js
  src/dist/App.js
  src/screens/OrganizationFunds/dist/FundArchiveModal.js
  src/screens/OrganizationFunds/dist/FundCreateModal.js
  src/screens/OrganizationFunds/dist/FundDeleteModal.js
  src/screens/OrganizationFunds/dist/OrganizationFunds.js
  src/screens/OrganizationFunds/dist/OrganizationFunds.test.js
  src/state/reducers/dist/routesReducer.js
  src/state/reducers/dist/routesReducer.test.js
  src/utils/dist/interfaces.js
Due: none

remove unwanted file
  src/App.tsx
  src/dist/App.js
  src/screens/OrganizationPeople/dist/OrganizationPeople.js
Due: eslint --fix, prettier --write

remove unwanted file
  src/dist/App.js
Due: none

added doc for remove fund mutation
  src/GraphQl/Mutations/FundMutation.ts
  src/GraphQl/Mutations/dist/FundMutation.js
Due: eslint --fix, prettier --write

fixed eslint
  src/screens/OrganizationFunds/FundCreateModal.tsx
  src/screens/OrganizationFunds/FundDeleteModal.tsx
  src/screens/OrganizationFunds/FundUpdateModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write

fixed eslint
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationPeople/dist/OrganizationPeople.js
Due: eslint --fix, prettier --write

fix
  src/screens/OrganizationPeople/dist/OrganizationPeople.js
Due: none

removed unwanted file
  src/GraphQl/Mutations/dist/FundMutation.js
Due: none

fix formatting error
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

fix faiing test
  src/screens/OrganizationFunds/OrganizationFundsMocks.tsx
Due: eslint --fix, prettier --write

naming
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
Due: prettier --write

renamed toasts
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
Due: eslint --fix, prettier --write

upgrade: add sass instead of node-sass
  CODE_STYLE.md
  package-lock.json
  package.json
  src/assets/css/app.css
  src/assets/css/app.css.map
Due: prettier --write

package-lock update
  package-lock.json
Due: prettier --write

design adjustments
  src/components/ActionItems/ActionItemsModalBody.tsx
  src/components/ActionItemsContainer/ActionItemsContainer.module.css
  src/components/ActionItemsContainer/ActionItemsContainer.tsx
Due: eslint --fix, prettier --write

Bug Report: Join Organization Error on "View All Organizations" Page Fixed ✅ (#1660)
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/components/UserPortal/OrganizationCard/OrganizationCard.test.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
Due: eslint --fix, prettier --write

Redesigned the organization card.
  src/components/OrgListCard/OrgListCard.module.css
  src/components/OrgListCard/OrgListCard.test.tsx
  src/components/OrgListCard/OrgListCard.tsx
  src/screens/OrgList/OrgList.module.css
  src/screens/OrgList/OrganizationModal.tsx
Due: eslint --fix, prettier --write

update CODE_STYLE.md
  CODE_STYLE.md
Due: none

Updated UI for Admin-> User Profile
  public/locales/en.json
  src/GraphQl/Mutations/mutations.ts
  src/GraphQl/Queries/Queries.ts
  src/components/Avatar/Avatar.tsx
  src/screens/MemberDetail/MemberDetail.module.css
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write

Added languages
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
Due: prettier --write

Feat/funds (#1664)
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/App.tsx
  src/GraphQl/Mutations/FundMutation.ts
  src/GraphQl/Queries/OrganizationQueries.ts
  src/assets/svgs/funds.svg
  src/components/IconComponent/IconComponent.test.tsx
  src/components/IconComponent/IconComponent.tsx
  src/screens/OrganizationFunds/FundArchiveModal.tsx
  src/screens/OrganizationFunds/FundCreateModal.tsx
  src/screens/OrganizationFunds/FundDeleteModal.tsx
  src/screens/OrganizationFunds/FundUpdateModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.module.css
  src/screens/OrganizationFunds/OrganizationFunds.test.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/OrganizationFunds/OrganizationFundsMocks.tsx
  src/state/reducers/routesReducer.test.ts
  src/state/reducers/routesReducer.ts
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

add popover on notes
  src/components/ActionItemsContainer/ActionItemsContainer.module.css
  src/components/ActionItemsContainer/ActionItemsContainer.tsx
Due: eslint --fix, prettier --write

add tests and refactor
  src/components/ActionItems/ActionItemsContainer.module.css
  src/components/ActionItems/ActionItemsContainer.test.tsx
  src/components/ActionItems/ActionItemsContainer.tsx
  src/components/ActionItems/ActionItemsContainerMocks.ts
  src/components/ActionItems/ActionItemsContainerProps.ts
  src/components/ActionItems/ActionItemsModalBody.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
Due: eslint --fix, prettier --write

Updated the information on the Organization Card. (#1622)
  .eslintrc.json
  README.md
  src/components/OrgListCard/OrgListCard.module.css
  src/components/OrgListCard/OrgListCard.test.tsx
  src/components/OrgListCard/OrgListCard.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fixed merge
  src/screens/LoginPage/LoginPage.test.tsx
Due: eslint --fix, prettier --write

Revert "fixed redirect issue when already logged in#1646"
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write

Revert "fixed the formatting error"
  src/screens/LoginPage/LoginPage.test.tsx
Due: eslint --fix, prettier --write
