Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format:fix

Added pinpost to create post modal
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/GraphQl/Mutations/mutations.ts
  src/screens/OrgPost/OrgPost.test.tsx
  src/screens/OrgPost/OrgPost.tsx
Due: npm run lint:fix, npm run format:fix

fixed sizing of email icon on registration page
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

fix: Covered the missing lines in the codecov report Signed-off-by: Akhilender <akhilenderb9@gmail.com>
  src/components/UsersTableItem/UserTableItem.test.tsx
  src/screens/BlockUser/BlockUser.test.tsx
  src/screens/UserPortal/Events/Events.test.tsx
  src/screens/UserPortal/People/People.test.tsx
Due: npm run lint:fix, npm run format:fix

Added Social Icons from figma design
  src/assets/svgs/Slack-mark.svg
  src/assets/svgs/social-icons/Facebook-Logo.svg
  src/assets/svgs/social-icons/Github-Logo.svg
  src/assets/svgs/social-icons/Instagram-Logo.svg
  src/assets/svgs/social-icons/Linkedin-Logo.svg
  src/assets/svgs/social-icons/Reddit-Logo.svg
  src/assets/svgs/social-icons/Slack-Logo.svg
  src/assets/svgs/social-icons/Twitter-Logo.svg
  src/assets/svgs/social-icons/Youtube-Logo.svg
  src/assets/svgs/social-icons/index.tsx
  src/screens/LoginPage/LoginPage.module.css
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.module.css
  src/screens/UserPortal/UserLoginPage/UserLoginPage.tsx
Due: npm run lint:fix, npm run format:fix

made the suggested changes
  .github/workflows/count_changed_files.py
  .github/workflows/pull-requests.yml
Due: none

removed spaces in INSTALLATION.md
  INSTALLATION.md
Due: none

changed color of logout button to red
  src/components/LeftDrawer/LeftDrawer.module.css
Due: npm run format:fix

feat: after successful registration login tab opened on login page (#1351)
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Accomodated empty image test
  src/components/OrgListCard/OrgListCard.tsx
Due: npm run lint:fix, npm run format:fix

added translations for different languages and improved variable names
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/components/Advertisements/Advertisements.tsx
Due: npm run lint:fix, npm run format:fix

feat: deprecate project and task feature in events
  package-lock.json
  src/components/EventProjectModals/AddEventProjectModal.test.tsx
  src/components/EventProjectModals/AddEventProjectModal.tsx
  src/components/EventProjectModals/DeleteEventProjectModal.test.tsx
  src/components/EventProjectModals/DeleteEventProjectModal.tsx
  src/components/EventProjectModals/UpdateEventProjectModal.test.tsx
  src/components/EventProjectModals/UpdateEventProjectModal.tsx
  src/components/LeftDrawerEvent/LeftDrawerEvent.test.tsx
  src/components/LeftDrawerEvent/LeftDrawerEvent.tsx
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.test.tsx
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.tsx
  src/components/TaskListItem/TaskListItem.test.tsx
  src/components/TaskListItem/TaskListItem.tsx
  src/components/TaskModals/AddTaskModal.test.tsx
  src/components/TaskModals/AddTaskModal.tsx
  src/components/TaskModals/DeleteTaskModal.test.tsx
  src/components/TaskModals/DeleteTaskModal.tsx
  src/components/TaskModals/UpdateTaskModal.test.tsx
  src/components/TaskModals/UpdateTaskModal.tsx
  src/screens/EventDashboard/EventDashboard.mocks.ts
  src/screens/EventDashboard/EventDashboard.test.tsx
  src/screens/EventDashboard/EventDashboard.tsx
Due: npm run lint:fix, npm run format:fix

Removed 'orgimg' as a className due to the absence of corresponding CSS styles.
  src/components/OrgListCard/OrgListCard.tsx
Due: npm run lint:fix, npm run format:fix

fixed sizing of email icon on registration page (#1356)
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

fix: Removed the comments
  src/screens/Requests/Requests.tsx
  src/screens/UserPortal/People/People.tsx
Due: npm run lint:fix, npm run format:fix

Feature: Social Icons Integration on Login and Signup Page (#1326)
  src/assets/svgs/social-icons/Facebook-Logo.svg
  src/assets/svgs/social-icons/Github-Logo.svg
  src/assets/svgs/social-icons/Instagram-Logo.svg
  src/assets/svgs/social-icons/Linkedin-Logo.svg
  src/assets/svgs/social-icons/Reddit-Logo.svg
  src/assets/svgs/social-icons/Slack-Logo.svg
  src/assets/svgs/social-icons/Twitter-Logo.svg
  src/assets/svgs/social-icons/Youtube-Logo.svg
  src/assets/svgs/social-icons/index.tsx
  src/screens/LoginPage/LoginPage.module.css
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.module.css
  src/screens/UserPortal/UserLoginPage/UserLoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Successfully deleted sample org msg in make multilingual
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/components/DeleteOrg/DeleteOrg.tsx
Due: npm run lint:fix, npm run format:fix

created a async wait() function
  src/components/DeleteOrg/DeleteOrg.test.tsx
Due: npm run lint:fix, npm run format:fix

Added space between choose file and pinpost label
  src/screens/OrgPost/OrgPost.tsx
Due: npm run lint:fix, npm run format:fix

changed color of logout button to red
  src/components/LeftDrawer/LeftDrawer.tsx
Due: npm run lint:fix, npm run format:fix

fixed some dependecy errors
  package-lock.json
  package.json
Due: npm run format:fix

Fixed border radius for organization display avatar
  src/components/OrgListCard/OrgListCard.module.css
Due: npm run format:fix

passed 2000ms instead of adding wait twice
  src/components/DeleteOrg/DeleteOrg.test.tsx
Due: npm run lint:fix, npm run format:fix

Removed unnecessary css.
  src/components/OrgListCard/OrgListCard.module.css
Due: npm run format:fix

changed color of logout button to red (#1360)
  src/components/LeftDrawer/LeftDrawer.tsx
Due: npm run lint:fix, npm run format:fix

feat: deprecate mutations of project & task feature in events
  src/GraphQl/Mutations/mutations.ts
Due: npm run lint:fix, npm run format:fix

test: created tests for src/components/AddOn/core/AddOnStore/AddOnStore.tsx
  src/components/AddOn/core/AddOnStore/AddOnStore.test.tsx
Due: npm run lint:fix, npm run format:fix

Removed istanbul ignore next
  src/screens/OrgPost/OrgPost.tsx
Due: npm run lint:fix, npm run format:fix

feat: added input validation for firstname, email, lastname and password in user registration
  public/locales/en.json
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

fix: Covered the missing lines in requests.test.tsx
  src/screens/Requests/Requests.test.tsx
Due: npm run lint:fix, npm run format:fix

Fixed-Issue-#1266 Bug Report When a new post is added, the latest post section in the organization's dashboard becomes distorted Updated
  src/components/OrganizationDashCards/CardItem.module.css
  src/components/OrganizationDashCards/CardItem.tsx
Due: npm run lint:fix, npm run format:fix

Fixed-Issue-#1266 Bug Report When a new post is added, the latest post section in the organization's dashboard becomes distorted Updated
  src/components/OrganizationDashCards/CardItem.test.tsx
Due: npm run lint:fix, npm run format:fix

Added letter based avatar in case of blank display picture (#1349)
  src/components/OrgListCard/OrgListCard.module.css
  src/components/OrgListCard/OrgListCard.tsx
Due: npm run lint:fix, npm run format:fix

Updated the Upcoming Events list UI of the Organization Dashboard.
  src/assets/svgs/datenew.svg
  src/assets/svgs/eventsnew.svg
  src/assets/svgs/locationnew.svg
  src/components/OrganizationDashCards/CardItem.module.css
  src/components/OrganizationDashCards/CardItem.test.tsx
  src/components/OrganizationDashCards/CardItem.tsx
  src/screens/OrganizationDashboard/OrganizationDashboard.module.css
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
Due: npm run lint:fix, npm run format:fix

fix: reverted package-lock.json changes
  package-lock.json
Due: npm run format:fix

Update en.json
  public/locales/en.json
Due: npm run format:fix

Update zh.json
  public/locales/zh.json
Due: npm run format:fix

Update hi.json
  public/locales/hi.json
Due: npm run format:fix

Update sp.json
  public/locales/sp.json
Due: npm run format:fix

Update fr.json
  public/locales/fr.json
Due: npm run format:fix

Changed the user login and register portal to be consistent
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/screens/UserPortal/UserLoginPage/UserLoginPage.module.css
  src/screens/UserPortal/UserLoginPage/UserLoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Path conditions:
  npm run lint:fix: any of: **/*.{ts,tsx}
  npm run format:fix: any of: **/*.{ts,tsx,json,scss,css}
