Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

hydration fix
  src/plugin/manager.ts
  src/plugin/managers/lifecycle.ts
  src/plugin/services/AdminPluginFileService.ts
  src/plugin/services/InternalFileWriter.ts
  src/plugin/vite/internalFileWriterPlugin.ts
  src/screens/PluginStore/PluginStore.tsx
  src/utils/adminPluginInstaller.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

lifecycle
  src/screens/PluginStore/PluginModal.spec.tsx
  src/screens/PluginStore/PluginModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix load
  src/screens/PluginStore/PluginStore.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: ensure automatic JSX runtime and resolve type errors
  config/babel.config.cjs
  package-lock.json
  package.json
  src/types/vite-plugin-svgr-client.d.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update src/types/vite-plugin-svgr-client.d.ts
  src/types/vite-plugin-svgr-client.d.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update config/babel.config.cjs
  config/babel.config.cjs
Due: none

fix: upgrade sass and revert typescript version as requested by mentor
  package-lock.json
  package.json
Due: prettier --write

fix: dependency on code checks
  .github/workflows/pull-request.yml
Due: prettier --write

initial commit
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

implemented coderabbit suggestions
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: added missing translations (#4132)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: resolve type error for confirmSpy in MemberRequestCard tests
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: format MemberRequestCard.spec.tsx with Prettier
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: recheck tests, all tests passing on myissue-C
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: run Prettier to fix formatting issues
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: dependency on code checks (#4131)
  .github/workflows/pull-request.yml
Due: prettier --write

feat: upgrade babel-plugin-transform-import-meta from 2.2.1 to 2.3.3
  package-lock.json
  package.json
Due: prettier --write

chore: trigger workflow re-run
  PR_DESCRIPTION_CORRECTED.md
  src/components/UserPortal/PeopleCard/PeopleCard.module.css
  src/components/UserPortal/PeopleCard/PeopleCard.tsx
  src/screens/UserPortal/People/People.module.css
  src/screens/UserPortal/People/People.tsx
  src/screens/UserPortal/UserScreen/UserScreen.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: upgrade babel-plugin-transform-import-meta to v2.3.3
  package-lock.json
  package.json
Due: prettier --write

fix: move babel-plugin-transform-import-meta to devDependencies
  package-lock.json
  package.json
Due: prettier --write

initial commit
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

update
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: use fake timers and spy confirm in addMember test
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: use fake timers and spy confirm in addMember test
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: run prettier on Campaigns tests and mocks
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: make MemberRequestCard mutation/reload tests pass with real timers
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: port mocks to Vitest and remove jest types for CI recheck
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: pass Prettier format check for MemberRequestCard.spec.tsx
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: fix reload spy for Vitest and pass all MemberRequestCard tests
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: apply proper Vitest mocking and cleanup patterns for MemberRequestCard
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: format MemberRequestCard.spec.tsx with Prettier
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: mock window.location.reload for Vitest compatibility
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: use proper Vitest mocking for window.location.reload in getRefreshToken.spec.ts
  src/utils/getRefreshToken.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: mock window.location.reload with custom object for Vitest compatibility in getRefreshToken.spec.ts
  src/utils/getRefreshToken.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: clean up beforeEach and afterEach blocks for Vitest mocking in getRefreshToken.spec.ts
  src/utils/getRefreshToken.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: update getRefreshToken.spec.ts with latest manual changes
  src/utils/getRefreshToken.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: update getRefreshToken.spec.ts and MemberRequestCard.spec.tsx with latest manual changes
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
  src/utils/getRefreshToken.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: format MemberRequestCard.spec.tsx and getRefreshToken.spec.ts with Prettier
  src/components/MemberRequestCard/MemberRequestCard.spec.tsx
  src/utils/getRefreshToken.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: add test coverage for Pledge.tsx file
  src/GraphQl/Queries/fundQueries.ts
  src/screens/UserPortal/Pledges/Pledge.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write
