Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "node scripts/githooks/check-localstorage-usage.js"
}

fix test
  src/components/EventCalendar/EventCalendar.tsx
  src/components/HolidayCards/HolidayCard.spec.tsx
  src/components/HolidayCards/HolidayCard.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

node -v changed
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

updated
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/setupTests.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

node -v changed (#3284)
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Update Organizations.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

test fix
  src/components/HolidayCards/HolidayCard.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

docs updatio2n
  .husky/pre-commit
Due: none

Change websocket url port 4000 to 4321
  .env.example
Due: none

fix failing test
  src/components/EventCalendar/EventCalendar.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

test deployment update
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

test deployment, yarn to npm, cache removed
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Resolving conflicting files
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTagsMocks.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

updated css_check
  .github/workflows/css_check.py
  .github/workflows/pull-request.yml
  src/components/AddOn/core/AddOnEntry/AddOnEntry.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

pull-request.yml updated
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fixed ui changes
  src/assets/css/app.css
  src/style/app.module.css
Due: prettier --write

Fixed test issue
  public/locales/en/translation.json
Due: prettier --write

Implemented requested changes
  CONTRIBUTING.md
Due: none

Added test cases
  src/components/OrganizationCard/OrganizationCard.spec.tsx
  src/components/OrganizationCard/OrganizationCard.tsx
  src/components/test-utils/TestWrapper.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

[FIX] Events Page Violates The Figma Style Guide (#3280)
  src/components/EventCalendar/EventCalendar.tsx
  src/components/EventCalendar/EventHeader.tsx
  src/components/EventCalendar/constants.js
  src/components/HolidayCards/HolidayCard.module.css
  src/components/HolidayCards/HolidayCard.spec.tsx
  src/components/HolidayCards/HolidayCard.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Events/Events.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Added test cases
  src/components/OrganizationCard/OrganizationCard.spec.tsx
  src/components/OrganizationCard/OrganizationCard.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Removed numbering
  CONTRIBUTING.md
Due: none

added tsdoc
  src/components/test-utils/TestWrapper.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

moved csscheck to script folder
  .github/workflows/pull-request.yml
  .github/workflows/scripts/css_check.py
Due: eslint --fix, prettier --write

resolve: all issue
  src/components/OrganizationCard/OrganizationCard.tsx
  src/components/test-utils/TestWrapper.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Update pull-request.yml Hoping it will run .....
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Bugfix: Add Visit Button in Joined Organizations Filter (#3278)
  src/components/OrganizationCard/OrganizationCard.spec.tsx
  src/components/OrganizationCard/OrganizationCard.tsx
  src/components/test-utils/TestWrapper.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Updated the CONTRIBUTING.md Testing section to cover jest and vitest (#3277)
  .eslintignore
  CONTRIBUTING.md
Due: none

CSS methodology added
  src/assets/css/app.css
  src/components/AddOn/core/AddOnEntry/AddOnEntry.tsx
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/EventCalendar/EventCalendar.tsx
  src/components/EventCalendar/EventHeader.tsx
  src/components/EventListCard/EventListCardModals.tsx
  src/components/OrgPeopleListCard/OrgPeopleListCard.tsx
  src/components/OrgPostCard/DeletePostModal.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagNode.tsx
  src/components/Venues/VenueCard.tsx
  src/components/Venues/VenueModal.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgeModal.tsx
  src/screens/ManageTag/EditUserTagModal.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/RemoveUserTagModal.tsx
  src/screens/ManageTag/UnassignUserTagModal.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/OrganizationActionItems/ItemUpdateStatusModal.tsx
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/screens/OrganizationFundCampaign/CampaignModal.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFunds/FundModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/OrganizationPeople/AddMember.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js
