Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

Improve test coverage for DeleteOrg.tsx (#4409)
  src/components/OrgSettings/General/DeleteOrg/DeleteOrg.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: prettier --write

Update push.yml
  .github/workflows/push.yml
Due: prettier --write

fix: upgrade @base-ui-components/react to 1.0.0-beta.3
  package-lock.json
  package.json
Due: prettier --write

initial commit
  src/components/ProfileCard/ProfileCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestions
  src/components/ProfileCard/ProfileCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: add caret (^) to @base-ui-components/react version
  package-lock.json
  package.json
Due: prettier --write

Improve test coverage for ProfileCard.tsx (#4419)
  src/components/ProfileCard/ProfileCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: upgrade @base-ui-components/react from 1.0.0-beta.2 to 1.0.0-beta.3 (#4417)
  package-lock.json
  package.json
Due: prettier --write

fix: improve test coverage for UploadPluginModal component
  src/screens/PluginStore/UploadPluginModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve TypeScript lint errors in UploadPluginModal test file
  src/screens/PluginStore/UploadPluginModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test(Feedback): add chart data aggregation and label formatting tests
  docs/docs/auto-docs/components/EventStats/EventStatsMocks/variables/diverseRatingsProps.md
  docs/docs/auto-docs/components/OrgPostCard/OrgPostCard/functions/default.md
  src/components/EventStats/EventStatsMocks.ts
  src/components/EventStats/Statistics/Feedback/Feedback.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve UploadPluginModal test coverage to 98.38%
  src/screens/PluginStore/UploadPluginModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add additional test cases to improve UploadPluginModal coverage
  src/screens/PluginStore/UploadPluginModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove unused imports and variables in UploadPluginModal tests
  src/screens/PluginStore/UploadPluginModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: Achieve 100% code coverage for Feedback component (#4421)
  docs/docs/auto-docs/components/EventStats/EventStatsMocks/variables/diverseRatingsProps.md
  docs/docs/auto-docs/components/OrgPostCard/OrgPostCard/functions/default.md
  src/components/EventStats/EventStatsMocks.ts
  src/components/EventStats/Statistics/Feedback/Feedback.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbit feedback on early return test coverage
  src/screens/PluginStore/UploadPluginModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve ESLint errors in UploadPluginModal tests
  src/screens/PluginStore/UploadPluginModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve remaining ESLint errors in UploadPluginModal tests
  src/screens/PluginStore/UploadPluginModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Dummy change
  package-lock.json
  package.json
Due: prettier --write

Update package files from upstream develop
  package-lock.json
  package.json
Due: prettier --write

Update auto-label.json5
  .github/workflows/auto-label.json5
Due: none

Improve test coverage for EventListCardModals.tsx
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve EventListCardModals test coverage to 94.49%
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Remove duplicate tests from EventListCardModals.spec.tsx
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix TypeScript linting errors in EventListCardModals.spec.tsx
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix formatting issues in auto-label.json5
  .github/workflows/auto-label.json5
Due: none

Remove duplicate tests flagged by CodeRabbit
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Improve test title clarity as suggested by CodeRabbit
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix TypeScript linting errors by replacing 'any' with 'unknown'
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Added fallback for HEAD_SHA to work on manual re-runs
  .github/workflows/pull-request.yml
Due: prettier --write
