Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: address CodeRabbit feedback and temporarily disable avatar UI for MinIO migration
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceFormStateType.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/variables/default.md
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: fix formatting issues in OrgList.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve e2e tests failing
  src/components/Advertisements/Advertisements.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
  src/shared-components/posts/posts.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix: Make setup.ts module execution conditional
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: resolve failing tests for Advertisement component
  src/components/Advertisements/Advertisements.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

resolve issue
  src/setup/setup.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

updated
  src/setup/setup.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: resolve advertisement E2E failures and pre-existing TSDoc lint errors
  docs/docs/auto-docs/GraphQl/Mutations/AdvertisementMutations/variables/ADD_ADVERTISEMENT_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/AdvertisementMutations/variables/DELETE_ADVERTISEMENT_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/AdvertisementMutations/variables/UPDATE_ADVERTISEMENT_MUTATION.md
  docs/docs/auto-docs/components/Advertisements/Advertisements/functions/default.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/functions/wait.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/client.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/createAdvertisement.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/createAdvertisementError.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/createAdvertisementWithEndDateBeforeStart.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/createAdvertisementWithoutName.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/createDates.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/dateConstants.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/deleteAdvertisementMocks.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/emptyMocks.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/fetchErrorMocks.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/filterActiveAdvertisementData.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/filterCompletedAdvertisementData.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/getActiveAdvertisementMocks.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/getCompletedAdvertisementMocks.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/initialActiveData.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/initialArchivedData.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/link.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/updateAdMocks.md
  docs/docs/auto-docs/components/Advertisements/AdvertisementsMocks/variables/updateDates.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry/functions/default.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister/functions/default.md
  src/GraphQl/Mutations/AdvertisementMutations.ts
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/Advertisements.tsx
  src/components/Advertisements/AdvertisementsMocks.ts
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/Advertisements/skeleton/AdvertisementSkeleton.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Replace react-toastify with NotificationToast
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
  src/screens/AdminPortal/OrganizationDashboard/components/MembershipRequestsCard.tsx
  src/screens/EventVolunteers/VolunteerGroups/deleteModal/VolunteerGroupDeleteModal.tsx
  src/screens/OrganizationActionItems/ActionItemDeleteModal/ActionItemDeleteModal.tsx
  src/screens/UserPortal/Donate/Donate.tsx
  src/shared-components/Recurrence/CustomRecurrenceModal.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve husky errors by prefixing unused mocks and updating docs
  docs/docs/auto-docs/UserPortalNavigationBar/interface/interfaces/InterfaceUserPortalNavbarProps.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/functions/createAdvertisementListResponse.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/functions/createAdvertisementNode.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/functions/createBatchNodes.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdFailMock.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdvertisement.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/dateConstants.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/emptyMocks.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/initialActiveData.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/mockBigFile.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/mockFile.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/updateAdFailMock.md
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed formating error
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update documentation links and remove unused mock files; enhance type safety in Advertisement components
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister/functions/default.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/functions/createAdvertisementListResponse.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/functions/createAdvertisementNode.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/functions/createBatchNodes.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/dateConstants.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/emptyMocks.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/initialActiveData.md
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks.ts
  src/components/Advertisements/skeleton/AdvertisementSkeleton.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add new advertisement translations for multiple languages
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: update advertisement translations for multiple languages
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: update translation keys in AdvertisementEntry component for consistency
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: format success notification message in AdvertisementEntry component
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update documentation and improve code clarity in Advertisement components
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister/functions/default.md
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(ActionItemModal): correct import path for DatePicker and clean up code
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry/functions/default.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(ActionItemModal): update modal structure and improve form handling
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(translations): add thisInstance key to multiple language files
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix(translations): add mediaUnavailable key to multiple language files and update AdvertisementRegister component
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: implemented block based import restriction (#6214)
  docs/docs/docs/developer-resources/reusable-components.md
  eslint.config.js
Due: none

Add wildcard pattern for Markdown files in workflow
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Fixed approval script
  .github/workflows/pull-request-review.yml
Due: eslint --fix, prettier --write

Fixed approval script (#6244)
  .github/workflows/pull-request-review.yml
Due: eslint --fix, prettier --write

Centralized some GitHub Actions
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/stale.yml
Due: eslint --fix, prettier --write

Fixed linting
  .github/workflows/issue-assigned.yml
  .github/workflows/issue.yml
  .github/workflows/stale.yml
Due: eslint --fix, prettier --write

Centralized some GitHub Actions (#6245)
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/stale.yml
Due: eslint --fix, prettier --write

Standardize Python hooks and dependencies
  .github/workflows/requirements.txt
  .github/workflows/scripts/css_check.py
  .husky/pre-commit
Due: none

fix: flaky test and update pre-commit comment
  .husky/pre-commit
Due: none

Standardize Python hooks and dependencies (#6246)
  .github/workflows/requirements.txt
  .github/workflows/scripts/css_check.py
  .husky/pre-commit
Due: none

refactor truncatedtext component
  src/screens/AdminPortal/PluginStore/hooks/usePluginFilters.spec.ts
  src/screens/AdminPortal/PluginStore/hooks/usePluginFilters.ts
  src/shared-components/OrganizationCard/OrganizationCard.spec.tsx
  src/shared-components/OrganizationCard/OrganizationCard.tsx
  src/shared-components/TruncatedText/TruncatedText.spec.tsx
  src/shared-components/TruncatedText/TruncatedText.tsx
  src/shared-components/useDebounce/useDebounce.spec.ts
  src/shared-components/useDebounce/useDebounce.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(test): resolve flaky ActionItemModal test in CI by adding category selection and waitFor
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Add explicit timeout parameter for consistency with other waits in this test
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
