Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fix: update import statements for LocalizationProvider and AdapterDayjs in ActionItemModal tests
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/shared-components/DateRangePicker/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: export LocalizationProvider and AdapterDayjs from DateRangePicker
  src/shared-components/DateRangePicker/DateRangePicker.tsx
  src/shared-components/DateRangePicker/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: export LocalizationProvider and AdapterDayjs
  src/shared-components/DateRangePicker/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: resolve coderabbit suggestions
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  src/components/TagActions/TagActions.tsx
  src/shared-components/postCard/PostCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(events): consolidate translations, css, and set invite-only default
  docs/docs/auto-docs/shared-components/EventForm/EventForm/functions/formatRecurrenceForPayload.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.spec.tsx
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
  src/shared-components/EventForm/EventForm.spec.tsx
  src/shared-components/EventForm/EventForm.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: add tests for cursor handling and member rendering in OrganizationPeople
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: clean up whitespace and improve readability in OrganizationPeople tests
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: improve date formatting in OrganizationPeople tests and enhance row class verification
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
  src/shared-components/DateRangePicker/DateRangePicker.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve TSDoc syntax errors in DateRangePicker.tsx
  src/shared-components/DateRangePicker/DateRangePicker.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing translation key
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

test: remove fundCampaign tests from fundCampaign and add in event.cy.ts
  cypress/e2e/admin_spec/event.cy.ts
  cypress/e2e/admin_spec/fundCampaign.cy.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: implemented block based import restriction
  eslint.config.js
Due: none

fix(tests): resolve flaky ActionItemModal and OrganizationPeople tests (#6209)
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/shared-components/DateRangePicker/DateRangePicker.tsx
  src/shared-components/DateRangePicker/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: migrate `PostCard` and `TagActions` to `CursorPaginationManager` (#6167)
  docs/docs/auto-docs/components/TagActions/TagActions/interfaces/InterfaceTagActionsProps.md
  docs/docs/auto-docs/components/TagActions/TagActions/variables/default.md
  docs/docs/auto-docs/components/TagActions/TagActionsMocks/variables/MOCKS_ERROR_ASSIGN_OR_REMOVAL_TAGS.md
  docs/docs/auto-docs/components/TagActions/TagActionsMocks/variables/MOCKS_ERROR_ORGANIZATION_TAGS_QUERY.md
  docs/docs/auto-docs/components/TagActions/TagActionsMocks/variables/MOCKS_ERROR_SUBTAGS_QUERY.md
  docs/docs/auto-docs/shared-components/postCard/PostCard/functions/default.md
  docs/docs/auto-docs/shared-components/postCard/helperFunctions/functions/handleLoadMoreComments.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/TagActions/TagAction.module.css
  src/components/TagActions/TagActions.spec.tsx
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagActionsMocks.ts
  src/shared-components/postCard/PostCard.module.css
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/postCard/helperFunctions.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Remove Python script from lint:check command
  package.json
Due: prettier --write

Update .coderabbit.yaml
  .coderabbit.yaml
Due: none

implemented coderabbit suggestions
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/MOCKS_DELETE_PLEDGE_ERROR.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/MOCKS_FUND_CAMPAIGN_PLEDGE_ERROR.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/PLEDGE_MODAL_ERROR_MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/PLEDGE_MODAL_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_FUND_NO_CAMPAIGNS.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_NO_FUNDS.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_NULL_ORGANIZATION.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_UNDEFINED_CAMPAIGNS.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/USER_FUND_CAMPAIGNS_ERROR.md
  docs/docs/auto-docs/shared-components/ProfileForm/ProfileForm/functions/getLanguageName.md
  docs/docs/auto-docs/shared-components/ProfileForm/ProfileForm/functions/prettyDate.md
  docs/docs/auto-docs/shared-components/ProfileForm/ProfileForm/variables/default.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/ERROR_MOCK.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/MOCKS2.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/MOCK_FILE.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/UPDATE_MOCK.md
  src/App.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/Pledges.mocks.ts
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.spec.tsx
  src/shared-components/ProfileForm/ProfileForm.spec.tsx
  src/shared-components/ProfileForm/ProfileForm.tsx
  src/shared-components/ProfileForm/ProfileFormWrapper.tsx
  src/shared-components/ProfileForm/profileForm.mock.ts
  src/utils/sanitizeAvatar.spec.ts
  src/utils/sanitizeAvatar.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

implemented coderabbit suggestion
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/components/ProfileDropdown/ProfileDropdown/functions/default.md
  docs/docs/auto-docs/components/ProfileDropdown/ProfileDropdown/variables/MAX_NAME_LENGTH.md
  docs/docs/auto-docs/shared-components/ProfileForm/ProfileForm/functions/getLanguageName.md
  docs/docs/auto-docs/shared-components/ProfileForm/ProfileForm/functions/prettyDate.md
  docs/docs/auto-docs/shared-components/ProfileForm/ProfileForm/variables/default.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/ERROR_MOCK.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/MOCKS1.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/MOCKS2.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/MOCK_FILE.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/UPDATE_MOCK.md
  docs/docs/auto-docs/shared-components/ProfileForm/profileForm.mock/variables/UPDATE_USER_ERROR_MOCKS.md
  package.json
  pnpm-lock.yaml
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.spec.tsx
  src/shared-components/ProfileForm/ProfileForm.spec.tsx
  src/shared-components/ProfileForm/ProfileForm.tsx
  src/shared-components/ProfileForm/ProfileFormWrapper.tsx
  src/shared-components/ProfileForm/profileForm.mock.ts
  src/style/app-fixed.module.css
  src/utils/sanitizeAvatar.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix lint:check command syntax in package.json
  package.json
Due: prettier --write

test: enhance reCAPTCHA setup tests with error handling and SIGINT management
  src/setup/setup.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

implemented coderabbit suggestions
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_USER_MUTATION.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_FUND_NO_CAMPAIGNS.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_NO_FUNDS.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_NULL_ORGANIZATION.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_UNDEFINED_CAMPAIGNS.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/USER_FUND_CAMPAIGNS_ERROR.md
  docs/docs/auto-docs/shared-components/ProfileForm/ProfileForm/functions/getLanguageName.md
  docs/docs/auto-docs/shared-components/ProfileForm/ProfileForm/functions/prettyDate.md
  src/GraphQl/Mutations/mutations.ts
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
  src/shared-components/ProfileForm/ProfileForm.spec.tsx
  src/shared-components/ProfileForm/ProfileForm.tsx
  src/shared-components/ProfileForm/profileForm.mock.ts
  src/style/app-fixed.module.css
  src/utils/sanitizeAvatar.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: implement centralized disable_statements_check.py with 24h caching
  .husky/pre-commit
Due: none

docs: add curl/wget prerequisite for contributors
  docs/docs/docs/getting-started/installation.md
Due: none

fix: quote variables in arithmetic comparison
  .husky/pre-commit
Due: none

fixed mock
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/MOCKS_DELETE_PLEDGE_ERROR.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/MOCKS_FUND_CAMPAIGN_PLEDGE_ERROR.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/PLEDGE_MODAL_ERROR_MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/Pledges.mocks/variables/PLEDGE_MODAL_MOCKS.md
  src/screens/AdminPortal/FundCampaignPledge/Pledges.mocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

git tracking
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: robust handling of stat command failures
  .husky/pre-commit
Due: none

SetupFix - Code Documentation & Maintainability #6187
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: add RegistrationForm with reCAPTCHA support (#6183)
  docs/docs/auto-docs/components/Auth/RegistrationForm/RegistrationForm/functions/RegistrationForm.md
  docs/docs/auto-docs/hooks/auth/useRegistration/functions/useRegistration.md
  docs/docs/auto-docs/types/Auth/RegistrationForm/interface/interfaces/IRegistrationFormData.md
  docs/docs/auto-docs/types/Auth/RegistrationForm/interface/interfaces/IRegistrationFormProps.md
  src/components/Auth/RegistrationForm/RegistrationForm.spec.tsx
  src/components/Auth/RegistrationForm/RegistrationForm.tsx
  src/hooks/auth/useRegistration.spec.ts
  src/hooks/auth/useRegistration.ts
  src/types/Auth/RegistrationForm/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
