Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added cr suggestions
  docs/docs/auto-docs/types/UserPortal/GroupModal/interface/interfaces/InterfaceGroupModal.md
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/shared-components/OrganizationCard/OrganizationCard.spec.tsx
  src/types/UserPortal/GroupModal/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

resolved merge conflict
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/EventRegistrantsModal/EventRegistrantsWrapper.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/EventRegistrantsWrapper.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added cr suggestions
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.mocks.ts
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add Storybook stories for CRUDModalTemplate components
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/BasicUsage.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/ComplexForm.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/LoadingState.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/SubmitDisabled.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/default.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/BasicUsage.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/DeleteOrganization.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/DeleteUser.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/RecurringEvent.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/WithWarning.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/default.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/BasicUsage.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/ComplexForm.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/LoadingData.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/SubmitDisabled.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/SubmittingState.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/default.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/BasicUsage.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/LoadingState.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/OrganizationDetails.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/UserProfile.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/WithCustomActions.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/default.md
  docs/docs/docs/developer-resources/crud-modal-template.md
  src/shared-components/CRUDModalTemplate/CreateModal.stories.tsx
  src/shared-components/CRUDModalTemplate/DeleteModal.stories.tsx
  src/shared-components/CRUDModalTemplate/EditModal.stories.tsx
  src/shared-components/CRUDModalTemplate/ViewModal.stories.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed tests
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/EventRegistrantsModal/EventRegistrantsWrapper.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/EventRegistrantsWrapper.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added correct keys
  src/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed coderabbit issues
  public/locales/es/translation.json
  src/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added tests to all modals and added html and id attributes
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/ComplexForm.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/LoadingState.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/SubmitDisabled.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/DeleteOrganization.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/DeleteUser.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/ComplexForm.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/LoadingData.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/SubmitDisabled.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/SubmittingState.md
  src/shared-components/CRUDModalTemplate/CreateModal.stories.spec.tsx
  src/shared-components/CRUDModalTemplate/CreateModal.stories.tsx
  src/shared-components/CRUDModalTemplate/DeleteModal.stories.spec.tsx
  src/shared-components/CRUDModalTemplate/DeleteModal.stories.tsx
  src/shared-components/CRUDModalTemplate/EditModal.stories.spec.tsx
  src/shared-components/CRUDModalTemplate/EditModal.stories.tsx
  src/shared-components/CRUDModalTemplate/ViewModal.stories.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Introduce a SearchBar component and integrate global search and enhanced column filtering into the DataTable.
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  docs/docs/auto-docs/shared-components/DataTable/SearchBar/functions/SearchBar.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IBaseDataTableProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IColumnDef.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IFilterState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IPageInfo.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IPaginationControlsProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ISearchBarProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ISortState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ITableLoaderProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ITableState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IUseTableDataOptions.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IUseTableDataResult.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/Connection.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/Edge.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/IDataTableProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/PageInfo.md
  src/shared-components/DataTable/DataTable.module.css
  src/shared-components/DataTable/DataTable.spec.tsx
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/SearchBar.spec.tsx
  src/shared-components/DataTable/SearchBar.tsx
  src/types/shared-components/DataTable/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: Improve type safety and null checks in DataTable component, and update JSDoc and documentation for DataTable and SearchBar.
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  docs/docs/auto-docs/shared-components/DataTable/SearchBar/functions/SearchBar.md
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/SearchBar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(ActionItemModal): resolve the issues raised by coderabbit v7
  docs/docs/auto-docs/components/AdminPortal/CategorySelector/CategorySelector/variables/default.md
  src/components/AdminPortal/CategorySelector/CategorySelector.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: refactored global style sheet
  src/screens/AdminPortal/Leaderboard/Leaderboard.tsx
  src/screens/AdminPortal/Notification/Notification.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
  src/screens/AdminPortal/PluginStore/PluginModal.module.css
  src/screens/AdminPortal/PluginStore/UploadPluginModal.module.css
  src/screens/AdminPortal/PluginStore/components/PluginList.module.css
  src/screens/UserPortal/Chat/Chat.module.css
  src/screens/UserPortal/People/People.tsx
  src/style/tokens/colors.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: Enhance documentation for DataTable column filtering modes and ISearchBarProps.
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ISearchBarProps.md
  src/shared-components/DataTable/DataTable.tsx
  src/types/shared-components/DataTable/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fix eslint error
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve critical issues
  public/locales/es/translation.json
  src/components/AdminPortal/EventManagement/Dashboard/EventDashboard.tsx
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.tsx
  src/components/AdminPortal/EventManagement/EventAttendance/AttendanceList/AttendedEventList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: use semantic queries in DeleteModal tests and add fieldset for accessibility
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/DeleteOrganization.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/DeleteUser.md
  src/shared-components/CRUDModalTemplate/DeleteModal.stories.spec.tsx
  src/shared-components/CRUDModalTemplate/DeleteModal.stories.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed linting errors
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/GroupModal/variables/default.md
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(ActionItemModal): resolve the issues raised by coderabbit v8
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve faiking tests
  src/components/AdminPortal/EventManagement/Dashboard/EventDashboard.spec.tsx
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed css
  src/screens/UserPortal/Chat/Chat.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed tests
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed linting
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/EventRegistrantsModal/EventRegistrantsWrapper.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed formatting
  public/locales/en/translation.json
Due: prettier --write

fixed duplicate imports
  src/components/AdminPortal/EventRegistrantsModal/EventRegistrantsWrapper.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor: Move subcomponents to shared-components
  config/vite.config.ts
  package.json
  src/components/AdminPortal/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
  src/components/EventCalender/Header/EventHeader.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/EventManagement/EventAttendance/Attendance/EventAttendance.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/shared-components/DataGridWrapper/DataGridWrapper.tsx
  src/shared-components/Navbar/Navbar.tsx
  src/shared-components/PeopleTabNavbar/PeopleTabNavbar.spec.tsx
  src/shared-components/PeopleTabNavbar/PeopleTabNavbar.tsx
  src/shared-components/SearchFilterBar/SearchFilterBar.spec.tsx
  src/shared-components/SearchFilterBar/SearchFilterBar.tsx
  src/shared-components/SearchingButton/SearchingButton.spec.tsx
  src/shared-components/SearchingButton/SearchingButton.tsx
  src/shared-components/SortingButton/SortingButton.spec.tsx
  src/shared-components/SortingButton/SortingButton.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

made use of shared FormFieldGroup component
  src/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.tsx
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/shared-components/FormFieldGroup/FormSelectField.tsx
  src/types/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

removed unused import
  src/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: (15)-refactored global style sheet (#6477)
  src/screens/AdminPortal/Leaderboard/Leaderboard.tsx
  src/screens/AdminPortal/Notification/Notification.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
  src/screens/AdminPortal/PluginStore/PluginModal.module.css
  src/screens/AdminPortal/PluginStore/UploadPluginModal.module.css
  src/screens/AdminPortal/PluginStore/components/PluginList.module.css
  src/screens/UserPortal/Chat/Chat.module.css
  src/screens/UserPortal/People/People.tsx
  src/style/tokens/colors.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

removed unused translation
  i18n_log.txt
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

test: add StatusBadge assertions for 100% coverage
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Remove temporary log file i18n_log.txt
  i18n_log.txt
Due: none

removed unused file
  src/types/AdminPortal/EventRegistrantsModal/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: introduce prop to for customizable clear button accessibility.
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ISearchBarProps.md
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/SearchBar.spec.tsx
  src/shared-components/DataTable/SearchBar.tsx
  src/types/shared-components/DataTable/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added docs
  docs/docs/auto-docs/components/AdminPortal/EventRegistrantsModal/EventRegistrantsWrapper/functions/EventRegistrantsWrapper.md
  docs/docs/auto-docs/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  docs/docs/auto-docs/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal/functions/EventRegistrantsModal.md
  docs/docs/auto-docs/components/AdminPortal/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal/variables/default.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormSelectField/variables/FormSelectField.md
  docs/docs/auto-docs/types/AdminPortal/EventRegistrantsModal/interface/interfaces/InterfaceEventRegistrantsModalProps.md
  docs/docs/auto-docs/types/AdminPortal/EventRegistrantsModal/interface/interfaces/InterfaceEventRegistrantsWrapperProps.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/IFormFieldGroupProps.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/IFormSelectFieldProps.md
Due: none

test: add missing group StatusBadge assertion for 100% coverage
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: align tests with new setup rollback mechanism
  src/setup/backupEnvFile/backupEnvFile.spec.ts
  src/setup/setup.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore: Add rollback support to setup
  src/setup/backupEnvFile/backupEnvFile.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor : expose env backup path and restore it
  src/setup/backupEnvFile/backupEnvFile.spec.ts
  src/setup/backupEnvFile/backupEnvFile.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

test: add unit tests for getStatusBadgeProps to cover default case
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
