Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

updated tests removed all errors
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed ts-doc checkfail in advertisement.tsx
  src/components/Advertisements/Advertisements.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

rebased and removed errors
  src/components/Advertisements/Advertisements.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: upgrade @types/jest from 26.0.24 to 29.5.14
  package-lock.json
  package.json
  src/screens/OrgList/OrganizationModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

coderabit issue
  docs/docs/auto-docs/components/Venues/Modal/VenueModal/functions/default.md
  src/components/Venues/Modal/VenueModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

coderabbit suggestions
  src/screens/Users/Users.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

resolved coderabbit issue
  docs/docs/auto-docs/GraphQl/Mutations/VenueMutations/variables/CREATE_VENUE_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/VenueMutations/variables/DELETE_VENUE_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/VenueMutations/variables/UPDATE_VENUE_MUTATION.md
  schema.graphql
  src/GraphQl/Mutations/VenueMutations.ts
  src/components/Venues/VenueCard.spec.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

coderabbit
  schema.graphql
Due: none

fix: upgrade @types/jest from 26.0.24 to 29.5.14 (#3846)
  package-lock.json
  package.json
  src/screens/OrgList/OrganizationModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Revert "Replace Base64 Storage with MinIO Client in OrgUpdate.tsx (#3832)"
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Revert "Replace Base64 Storage with MinIO Client in OrgUpdate.tsx (#3832)" (#3847)
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Replace Base64 Storage with MinIO Client in OrgPostCard.tsx #3721
  src/components/OrgPostCard/OrgPostCard.spec.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

coderabbit issues
  docs/docs/auto-docs/GraphQl/Mutations/VenueMutations/variables/CREATE_VENUE_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/VenueMutations/variables/DELETE_VENUE_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/VenueMutations/variables/UPDATE_VENUE_MUTATION.md
  schema.graphql
  src/GraphQl/Mutations/VenueMutations.ts
  src/components/Venues/VenueCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

improved test
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

[test]:improve coverage of UserTableItems.tsx in src/components/UsersTableItem
  docs/docs/auto-docs/components/UsersTableItem/UsersTableItem/functions/default.md
  docs/docs/auto-docs/components/UsersTableItem/UsersTableItem/functions/handleModalHide.md
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

applied suggestions
  docs/docs/auto-docs/components/UsersTableItem/UsersTableItem/functions/handleModalHide.md
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Modify minoClient fileUrl to ObjectName
  src/screens/OrgList/OrganizationModal.spec.tsx
  src/screens/OrgList/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Resolving coderaddit
  docs/docs/auto-docs/screens/OrgList/OrganizationModal/functions/default.md
  docs/docs/auto-docs/screens/OrgList/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  src/screens/OrgList/OrganizationModal.spec.tsx
  src/screens/OrgList/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Replaced Base64 with MinIO, fixed XSS and CORS vulnerabilities
  .env.example
  src/components/AgendaItems/AgendaItemsUpdateModal.tsx
  src/components/CheckIn/TableRow.tsx
  src/utils/getRefreshToken.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix async test logic in generator.test.ts
  scripts/__mocks__/@pdfme/generator.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

adding more unit coverage
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Revert "adding more unit coverage"
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix tj-actions
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ADMIN_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/BLOCK_PAGE_MEMBER_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_BLOCKED_USERS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_EVENTS.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_EVENTS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_POSTS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_MEMBER_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_DONATION_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USER_DETAILS.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USER_ORGANIZATION_LIST.md
  docs/docs/auto-docs/components/TableLoader/TableLoader/functions/default.md
  docs/docs/auto-docs/components/TableLoader/TableLoader/interfaces/InterfaceTableLoader.md
  docs/docs/auto-docs/screens/BlockUser/BlockUser/functions/default.md
Due: eslint --fix, prettier --write

Fixes
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Fixes errors
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Add Coderabbitai changes
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Test CI
  src/App.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Image preview changes
  src/components/Venues/Modal/VenueModal.spec.tsx
  src/components/Venues/Modal/VenueModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Remove test and whitespaces
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Fix MinIO upload and preview flow
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ADMIN_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/BLOCK_PAGE_MEMBER_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_BLOCKED_USERS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_EVENTS.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_EVENTS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_POSTS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_MEMBER_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_DONATION_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USER_DETAILS.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USER_ORGANIZATION_LIST.md
  docs/docs/auto-docs/components/OrgPostCard/OrgPostCard/functions/default.md
  docs/docs/auto-docs/components/TableLoader/TableLoader/functions/default.md
  docs/docs/auto-docs/components/TableLoader/TableLoader/interfaces/InterfaceTableLoader.md
  docs/docs/auto-docs/screens/BlockUser/BlockUser/functions/default.md
  src/components/OrgPostCard/OrgPostCard.spec.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: coderabbit errors
  src/components/OrgPostCard/OrgPostCard.spec.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
  src/screens/OrgPost/Posts.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

test CI
  src/App.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fixes ts errors
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Fixed
  .github/workflows/pull-request.yml
  src/App.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
