Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write"
}

Update OrgListCard.tsx
  src/components/OrgListCard/OrgListCard.tsx
Due: eslint --fix, prettier --write

Update OrgListCard.module.css
  src/components/OrgListCard/OrgListCard.module.css
Due: prettier --write

Rename isPublic to userRegistrationRequired
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/components/OrgUpdate/OrgUpdate.test.tsx
  src/components/OrgUpdate/OrgUpdate.tsx
  src/screens/OrgList/OrgList.test.tsx
  src/screens/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write

Added test
  src/components/EventCalendar/EventCalendar.test.tsx
  src/components/EventCalendar/EventCalendar.tsx
Due: eslint --fix, prettier --write

Fix: Inconsistent Use of Icons to Minimize Left Column Navbar
  src/components/LeftDrawerEvent/LeftDrawerEvent.module.css
  src/components/LeftDrawerEvent/LeftDrawerEvent.tsx
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.module.css
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.test.tsx
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.tsx
Due: eslint --fix, prettier --write

Reverted node-sass package.
  package-lock.json
  package.json
Due: prettier --write

updating branch
  INSTALLATION.md
  package-lock.json
Due: prettier --write

Issue_#1236(better solution) : "npm run serve" now logs warning and usefull info and also show compilation progress (#1293)
  .env.example
  INSTALLATION.md
  package-lock.json
  package.json
  scripts/config-overrides/custom_build.js
  scripts/config-overrides/custom_start.js
  scripts/config-overrides/index.js
  scripts/config-overrides/package.json
Due: prettier --write

Fixed-Issue-#1266 Bug Report When a new post is added, the latest post section in the organization's dashboard becomes distorted Updated
  src/components/OrganizationDashCards/CardItem.module.css
Due: prettier --write

fix: removed all localhost
  .env.example
  src/components/AddOn/support/services/Plugin.helper.ts
  src/screens/EventDashboard/EventDashboard.test.tsx
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/Home/Home.test.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.test.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.tsx
Due: eslint --fix, prettier --write

Updated installation guide
  INSTALLATION.md
Due: none

Updated variable name and input fields for creating advertisements
  schema.graphql
  src/GraphQl/Mutations/mutations.ts
  src/GraphQl/Queries/Queries.ts
  src/components/Advertisements/Advertisements.test.tsx
  src/components/Advertisements/Advertisements.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.test.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.test.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/screens/UserPortal/Home/Home.test.tsx
Due: eslint --fix, prettier --write

fix: failing tests
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.test.tsx
Due: eslint --fix, prettier --write

fix: failing tests
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.test.tsx
Due: eslint --fix, prettier --write

Enhance check_file_length to print path when exceeding line limit
  .github/workflows/countline.py
Due: none

Exclude the test files also in Typescript line check function
  .github/workflows/countline.py
Due: none

Fix: Inconsistent Use of Icons to Minimize Left Column Navbar (#1403)
  src/components/LeftDrawerEvent/LeftDrawerEvent.module.css
  src/components/LeftDrawerEvent/LeftDrawerEvent.tsx
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.module.css
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.test.tsx
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.tsx
Due: eslint --fix, prettier --write

Update pull-requests.yml
  .github/workflows/pull-requests.yml
Due: eslint --fix, prettier --write

Fixed-Issue-#1266 Bug Report When a new post is added, the latest post section in the organization's dashboard becomes distorted Updated
  src/screens/OrganizationDashboard/OrganizationDashboard.test.tsx
  src/screens/OrganizationDashboard/OrganizationDashboardMocks.ts
Due: eslint --fix, prettier --write

feat:timezone
  src/components/EventListCard/EventListCardModals.tsx
  src/index.tsx
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/screens/UserPortal/Events/Events.tsx
  src/utils/timezoneUtils/dateTimeConfig.ts
  src/utils/timezoneUtils/dateTimeMiddleware.ts
  src/utils/timezoneUtils/index.ts
Due: eslint --fix, prettier --write

timezone tests
  src/utils/timezoneUtils/dateTimeMiddleware.test.ts
Due: eslint --fix, prettier --write

remove Z from mock
  src/components/EventListCard/EventListCardMocks.ts
  src/screens/OrganizationEvents/OrganizationEventsMocks.ts
  src/screens/UserPortal/Events/Events.test.tsx
Due: eslint --fix, prettier --write

Fixed login screen reappearing after successful login
  src/screens/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write

Fixed the profile picture rendering on the Event dashboard. (#1382)
  src/components/LeftDrawerEvent/LeftDrawerEvent.tsx
Due: eslint --fix, prettier --write

Feature: App running with `npm install` (#1291)
  INSTALLATION.md
Due: none

Fixed login screen reappearing after successful login (#1415)
  src/screens/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write

feat:Removed requests screen from superadmin panel (#1399)
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/App.tsx
  src/assets/svgs/requests.svg
  src/components/LeftDrawer/LeftDrawer.test.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/screens/Requests/Requests.module.css
  src/screens/Requests/Requests.test.tsx
  src/screens/Requests/Requests.tsx
  src/screens/Requests/RequestsMocks.ts
Due: eslint --fix, prettier --write

Manage Button UI Fixed (#1388)
  src/components/OrgListCard/OrgListCard.module.css
  src/components/OrgListCard/OrgListCard.tsx
Due: eslint --fix, prettier --write

Updated the location logo on the Organization Dashboard.
  src/assets/svgs/locationnew.svg
  src/components/OrganizationDashCards/CardItem.tsx
Due: eslint --fix, prettier --write

Fixed the Failing tests.
  src/components/OrganizationDashCards/CardItem.test.tsx
Due: eslint --fix, prettier --write

fix duplicate imports and tsdoc tags
  .eslintrc.json
  src/GraphQl/Mutations/mutations.ts
  src/GraphQl/Queries/Queries.ts
  src/components/AddOn/core/AddOnStore/AddOnStore.tsx
  src/components/Advertisements/Advertisements.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.test.tsx
  src/components/DeleteOrg/DeleteOrg.tsx
  src/components/EventRegistrantsModal/EventRegistrantsModal.tsx
  src/components/Pagination/Pagination.test.tsx
  src/components/TaskModals/ManageVolunteerModal.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.test.tsx
  src/index.tsx
  src/screens/EventDashboard/EventDashboard.mocks.ts
  src/screens/ForgotPassword/ForgotPassword.test.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/Requests/Requests.tsx
Due: eslint --fix, prettier --write

fix conflict with src/screens/Requests/Requests.tsx
  src/screens/Requests/Requests.tsx
Due: eslint --fix, prettier --write

Changed button name and highlighted date with events
  src/components/EventCalendar/EventCalendar.module.css
  src/components/EventCalendar/EventCalendar.tsx
Due: eslint --fix, prettier --write

Fixed failing test
  src/components/EventCalendar/EventCalendar.test.tsx
Due: eslint --fix, prettier --write

fix: check api is running, existing comments are not removed, if configurations exists, default Y is assumed, automatically insert missing values
  .env.example
  package-lock.json
  package.json
  setup.ts
Due: eslint --fix, prettier --write

fixes #1364
  src/components/Advertisements/Advertisements.tsx
Due: eslint --fix, prettier --write

Convert Private Orgs to userRegistrationRequired Orgs
  src/GraphQl/Mutations/mutations.ts
  src/GraphQl/Queries/Queries.ts
  src/components/Advertisements/Advertisements.test.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.test.tsx
  src/components/OrgUpdate/OrgUpdate.test.tsx
  src/components/OrgUpdate/OrgUpdate.tsx
  src/components/OrgUpdate/OrgUpdateMocks.ts
  src/components/UserPortal/OrganizationNavbar/OrganizationNavbar.test.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgList/OrgListMocks.ts
  src/screens/OrganizationDashboard/OrganizationDashboardMocks.ts
  src/screens/UserPortal/Donate/Donate.test.tsx
  src/screens/UserPortal/Organizations/Organizations.test.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

Fixes failed test
  schema.graphql
Due: none

refactor: standardized left drawer expansion/collapse methodology
  src/components/LeftDrawer/LeftDrawer.module.css
  src/components/LeftDrawer/LeftDrawer.test.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/LeftDrawerEvent/LeftDrawerEvent.module.css
  src/components/LeftDrawerEvent/LeftDrawerEvent.test.tsx
  src/components/LeftDrawerEvent/LeftDrawerEvent.tsx
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.module.css
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.test.tsx
  src/components/LeftDrawerEvent/LeftDrawerEventWrapper.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.module.css
  src/components/LeftDrawerOrg/LeftDrawerOrg.test.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/OrganizationScreen/OrganizationScreen.module.css
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.module.css
  src/components/SuperAdminScreen/SuperAdminScreen.test.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.tsx
  src/screens/OrgList/OrgList.test.tsx
Due: eslint --fix, prettier --write
