Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

prettier fix
  docs/docs/auto-docs/components/EventCalender/Weekly/WeeklyEventCalendar/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/interfaces/InterfaceLeftDrawerProps.md
  docs/docs/auto-docs/components/OrganizationScreen/OrganizationScreen/functions/default.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/enumerations/ViewType.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/functions/default.md
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Revert "prettier fix"
  docs/docs/auto-docs/components/EventCalender/Weekly/WeeklyEventCalendar/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/interfaces/InterfaceLeftDrawerProps.md
  docs/docs/auto-docs/components/OrganizationScreen/OrganizationScreen/functions/default.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/enumerations/ViewType.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/functions/default.md
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed the buttons
  src/assets/css/app.css
  src/components/OrgSettings/General/GeneralSettings.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/screens/OrgSettings/OrgSettings.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed the buttons
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed card align
  src/style/app-fixed.module.css
Due: prettier --write

fix(translations): match translations
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

#3721 NoMongo: Replace Base64 Storage with MinIO Client in OrgPostCard.tsx
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfacePostAttachment.md
  package-lock.json
  src/components/OrgPostCard/OrgPostCard.tsx
  src/types/Post/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed card
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.tsx
  src/components/OrgSettings/General/GeneralSettings.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(test): add coverage
  docs/docs/auto-docs/screens/FundCampaignPledge/PledgesMocks/variables/PLEDGE_MODAL_ERROR_MOCKS.md
  src/screens/FundCampaignPledge/PledgeModal.spec.tsx
  src/screens/FundCampaignPledge/PledgesMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed the files
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/assets/css/app.css
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.spec.tsx
  src/components/OrgSettings/General/GeneralSettings.spec.tsx
  src/style/app-fixed.module.css
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(schema): remove duplicates from `graphql.schema` (#3812)
  schema.graphql
Due: none

fixed translations
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/components/OrgSettings/General/GeneralSettings.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

update app-fixed css
  src/style/app-fixed.module.css
Due: prettier --write

update app-fixed css codecov
  src/style/app-fixed.module.css
Due: prettier --write

made suggested changes
  src/assets/css/app.css
  src/screens/OrgList/OrganizationModal.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed the color of button
  src/style/app-fixed.module.css
Due: prettier --write

fix(query): remove pluginCreationAllowed from query
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ADMIN_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_DONATION_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/VERIFY_ROLE.md
  src/GraphQl/Queries/Queries.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Sensitive file reducing its uncessary changes
  schema.graphql
  scripts/custom-test-env.js
Due: none

proxy and caddy config
  docker/Caddyfile
  docker/Dockerfile.proxy
  docker/docker-compose.dev.yaml
  package-lock.json
  package.json
  proxy/proxy.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Comments resolve
  eslint.config.js
Due: none

Inc code covergae by adding fix-readme-links
  src/setup/fix-readme-links.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed camel case
  src/style/app-fixed.module.css
Due: prettier --write

remove comments
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Minor edit to generate documentation
  package-lock.json
Due: prettier --write

Upgrade Package eslint-config-prettier from 9.1.0 to 10.0.2
  package-lock.json
  package.json
Due: prettier --write

fix(query): remove pluginCreationAllowed from query (#3817)
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ADMIN_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_DONATION_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/VERIFY_ROLE.md
  src/GraphQl/Queries/Queries.ts
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update .coderabbit.yaml
  .coderabbit.yaml
Due: none

Upgrade Package eslint-config-prettier from 9.1.0 to 10.0.2 (#3820)
  package-lock.json
  package.json
Due: prettier --write

Added minio client
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

organization community fix
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/interfaces/InterfaceLeftDrawerProps.md
  docs/docs/auto-docs/components/OrganizationScreen/OrganizationScreen/functions/default.md
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/screens/OrgList/OrgList.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

used variable instead of color directly
  src/style/app-fixed.module.css
Due: prettier --write

fixed issue-3723
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
