Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: stable
  src/GraphQl/Queries/PlugInQueries.ts
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/screens/UserPortal/Chat/Chat.tsx
  src/types/Chat/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

stable: chat fix
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/types/Chat/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: stable v2
  src/apollo/cachePolicies.ts
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

initial commit
  src/components/OrgSettings/General/DeleteOrg/DeleteOrg.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestions
  src/components/OrgSettings/General/DeleteOrg/DeleteOrg.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add directory creation failure test
  src/setup/backupEnvFile/backupEnvFile.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: GroupchatDetails
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/index.tsx
  src/types/Chat/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: Groupchat add members
  src/GraphQl/Mutations/OrganizationMutations.ts
  src/components/GroupChatDetails/GroupChatDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: user details
  src/GraphQl/Queries/PlugInQueries.ts
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/types/Chat/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: chat admin and regular
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

initial commit (#4410)
  docs/docs/auto-docs/components/OrgPostCard/OrgPostCard/functions/default.md
  src/components/OrgPostCard/OrgPostCard.spec.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
  src/screens/OrgPost/Posts.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: chat ui
  src/GraphQl/Mutations/OrganizationMutations.ts
  src/components/GroupChatDetails/GroupChatDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

initial commit
  .github/workflows/issues-assigned.yml
Due: prettier --write

fix: direct chat naming
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

updated README.md
  .github/workflows/README.md
Due: none

feat: add GitHub Action to add unapproved label on issue unassignment
  .github/workflows/issues-unassigned.yml
Due: prettier --write

implemented coderabbit suggestions
  .github/workflows/README.md
Due: none

fix: ui
  src/GraphQl/Queries/PlugInQueries.ts
  src/screens/UserPortal/Chat/Chat.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: use async fs operations for consistency
  src/setup/backupEnvFile/backupEnvFile.spec.ts
  src/setup/backupEnvFile/backupEnvFile.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Addressed coderabbit changes
  src/setup/backupEnvFile/backupEnvFile.spec.ts
  src/setup/backupEnvFile/backupEnvFile.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: quote 'on' keyword to satisfy YAML lint
  .github/workflows/issues-unassigned.yml
Due: prettier --write

implemented requested suggestions
  .github/workflows/README.md
  .github/workflows/issue-assigned.yml.yml
Due: prettier --write

fix: use unquoted 'on' key per project conventions
  .github/workflows/issues-unassigned.yml
Due: prettier --write

Create issue-unassigned.yml
  .github/workflows/issue-unassigned.yml
Due: prettier --write

fix: rename workflow file and improve error handling
  .github/workflows/issue-unassigned.yml
Due: prettier --write

implemented coderabbit suggestions
  .github/workflows/README.md
  .github/workflows/issue-assigned.yml.yml
Due: prettier --write

feat: add GitHub Action to add unapproved label on issue unassignment (#4413)
  .github/workflows/issue-unassigned.yml
Due: prettier --write

Update issue-unassigned.yml
  .github/workflows/issue-unassigned.yml
Due: prettier --write

Create issue-assigned.yml
  .github/workflows/issue-assigned.yml
Due: prettier --write

optimised
  .github/workflows/issue-assigned.yml
Due: prettier --write

Fixed .github formatting
  .github/workflows/auto-label.json5
  .github/workflows/codeql-codescan.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/merge-conflict-check.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
  .github/workflows/push-deploy-website.yml
  .github/workflows/push.yml
  .github/workflows/stale.yml
  .prettierignore
Due: prettier --write

fix: code quality
  TODO.md
Due: none

Feat: Remove unapproved label when issue is assigned (#4411)
  .github/workflows/README.md
  .github/workflows/issue-assigned.yml
Due: prettier --write

Fixed .github formatting (#4415)
  .github/workflows/auto-label.json5
  .github/workflows/codeql-codescan.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
  .github/workflows/merge-conflict-check.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
  .github/workflows/push-deploy-website.yml
  .github/workflows/push.yml
  .github/workflows/stale.yml
  .prettierignore
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

fix: remove console.logs
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update issue-assigned.yml
  .github/workflows/issue-assigned.yml
Due: prettier --write

Path conditions:
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml,yaml}
