Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

format
  .github/workflows/scripts/compare_translations.py
Due: none

docstring
  .github/workflows/scripts/compare_translations.py
Due: none

fix: cleanup suggestion
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: clear assignee ids on assignment switch
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: suggestion
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat(AgendaItems): migrate attachments to MinIO presigned URLs (#6670)
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Delete/AgendaItemsDeleteModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/components/AgendaItems/AgendaItemsContainer.module.css
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.tsx
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.module.css
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.spec.tsx
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.module.css
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "fix: clear assignee ids on assignment switch"
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "fix: preserve assignment type after async load"
  docs/docs/auto-docs/shared-components/ActionItems/ActionItemModal/ActionItemModal/variables/default.md
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "feat(AgendaItems): migrate attachments to MinIO presigned URLs (#6670)"
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Delete/AgendaItemsDeleteModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/components/AgendaItems/AgendaItemsContainer.module.css
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.module.css
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.tsx
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.module.css
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.spec.tsx
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.module.css
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "feat(AgendaItems): migrate attachments to MinIO presigned URLs (#6670)" (#6806)
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Delete/AgendaItemsDeleteModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/components/AgendaItems/AgendaItemsContainer.module.css
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.module.css
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.tsx
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.module.css
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.spec.tsx
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.module.css
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: solved merge conflicts and solved shard failures
  src/shared-components/TimePicker/TimePicker.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: css streamlining and i8n translations
  docs/docs/auto-docs/shared-components/LayoutModel/LayoutModel/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/TagActions/Node/TagNode.module.css
  src/components/AdminPortal/TagActions/TagAction.module.css
  src/plugin/routes/PluginRoutes.module.css
  src/screens/AdminPortal/PluginStore/components/PluginCard.module.css
  src/screens/AdminPortal/PluginStore/components/PluginCard.tsx
  src/screens/AdminPortal/PluginStore/components/PluginList.module.css
  src/screens/UserPortal/Volunteer/Actions/Actions.module.css
  src/screens/UserPortal/Volunteer/Actions/Actions.tsx
  src/shared-components/posts/posts.module.css
  src/shared-components/posts/posts.tsx
  src/style/tokens/borders.css
  src/style/tokens/colors.css
  src/style/tokens/spacing.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: streamline CSS and improve component interfaces
  .husky/scripts/precommit-python.sh
  docs/docs/auto-docs/screens/AdminPortal/PluginStore/components/PluginCard/functions/default.md
  docs/docs/auto-docs/shared-components/LayoutModel/LayoutModel/functions/default.md
  docs/docs/auto-docs/types/AdminPortal/PluginCard/interface/interfaces/InterfacePluginCardProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/TagActions/Node/TagNode.module.css
  src/plugin/routes/PluginRoutes.tsx
  src/screens/AdminPortal/PluginStore/components/PluginCard.module.css
  src/screens/AdminPortal/PluginStore/components/PluginCard.tsx
  src/shared-components/posts/posts.module.css
  src/shared-components/posts/posts.spec.tsx
  src/style/tokens/borders.css
  src/types/AdminPortal/PluginCard/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: css streamlining and add i8n translations
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
Due: prettier --write

fix(dev-scripts): prevent cmd.exe usage in WSL for precommit python
  .husky/commit-msg
  .husky/scripts/precommit-python.sh
Due: none

Fix: Button imports
  src/shared-components/CheckIn/CheckInWrapper.module.css
  src/shared-components/CheckIn/CheckInWrapper.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: apply prettier formatting
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix: admin org switch button (#6768)
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/interfaces/ILeftDrawerProps.md
  src/components/LeftDrawerOrg/LeftDrawerOrg.module.css
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Updated OrganizationFundCampaign.spec.tsx to explicitly check for the count of 100% cells rather than finding single elements, distinguishing between exact and capped values
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing fundingRaised field to campaign mocks
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks/variables/MOCK_ERROR.md
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: use fixed base date for campaign mocks to prevent test flakiness
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks/variables/MOCK_ERROR.md
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix: Update Imports
  docs/docs/auto-docs/components/AgendaItems/Delete/AgendaItemsDeleteModal/variables/default.md
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.module.css
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: wrap user interactions in datePicker and timePicker tests
  src/shared-components/DatePicker/DatePicker.spec.tsx
  src/shared-components/TimePicker/TimePicker.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: test fail
  docs/docs/auto-docs/components/AgendaItems/Delete/AgendaItemsDeleteModal/variables/default.md
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize mock timestamps and update docs
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks/variables/MOCK_ERROR.md
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaignMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

test: fix DatePicker and TimePicker test stability with act() guards
  src/shared-components/DatePicker/DatePicker.spec.tsx
  src/shared-components/TimePicker/TimePicker.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve flaky tests in ActionItemModal
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

changes
  public/locales/en/translation.json
  public/locales/es/common.json
Due: prettier --write

test: remove redundant act wrappers in ActionItemModal tests
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: Updated the mock to call function
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: standardize userEvent usage in ActionItemModal tests
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: modernize GroupChatDetails and types (Batch 1)
  src/components/GroupChatDetails/GroupChatDetails.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
