Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor css dor dynamic dropdown
  docs/docs/auto-docs/components/SignOut/SignOut/functions/default.md
  src/components/DynamicDropDown/DynamicDropDown.module.css
  src/components/DynamicDropDown/DynamicDropDown.tsx
  src/components/SignOut/SignOut.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Refactored EventDashboardScreen
  src/components/EventDashboardScreen/EventDashboardScreen.module.css
  src/components/EventDashboardScreen/EventDashboardScreen.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

rabbits changes 1
  schema.graphql
Due: none

Added online installation documentation
  INSTALLATION.md
  docs/docs/docs/getting-started/installation.md
  docs/sidebars.ts
  docs/static/img/markdown/installation/REACT_SITE_KEY.webp
  docs/static/img/markdown/installation/install1.png
  docs/static/img/markdown/installation/install2.png
  docs/static/img/markdown/installation/jest-preview.webp
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Linting
  src/components/SignOut/SignOut.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Revert "[FIX] Figma User Portal: Organization Left Drawer Violates The Figma …"
  docs/docs/auto-docs/components/ProfileCard/ProfileCard/functions/default.md
  docs/docs/auto-docs/components/SignOut/SignOut/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/interfaces/InterfaceUserSidebarOrgProps.md
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/components/SignOut/SignOut.spec.tsx
  src/components/SignOut/SignOut.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.module.css
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

remove setting of superadmin in login page
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Revert "[FIX] Figma User Portal: Organization Left Drawer Violates The Figma …" (#3428)
  docs/docs/auto-docs/components/ProfileCard/ProfileCard/functions/default.md
  docs/docs/auto-docs/components/SignOut/SignOut/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/interfaces/InterfaceUserSidebarOrgProps.md
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/components/SignOut/SignOut.spec.tsx
  src/components/SignOut/SignOut.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.module.css
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Minor change
  docs/docs/docs/getting-started/installation.md
Due: none

consolidated color variables
  src/assets/css/app.css
  src/style/app.module.css
Due: prettier --write

fix
  src/components/ProfileCard/ProfileCard.tsx
  src/components/SignOut/SignOut.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix lint
  src/style/app.module.css
Due: prettier --write

type fix
  src/components/SignOut/SignOut.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update src/style/app.module.css
  src/style/app.module.css
Due: prettier --write

Update docs/docs/auto-docs/components/SignOut/SignOut/functions/default.md
  docs/docs/auto-docs/components/SignOut/SignOut/functions/default.md
Due: none

Update src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

lint fix
  src/style/app.module.css
Due: prettier --write

rabbits changes 1
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fixed broken link
  DOCUMENTATION.md
  docs/docs/docs/getting-started/installation.md
Due: none

coderabbitai suggested changes
  src/style/app.module.css
Due: prettier --write

Update src/components/ProfileCard/ProfileCard.tsx
  src/components/ProfileCard/ProfileCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix
  src/components/ProfileCard/ProfileCard.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix
  src/components/ProfileCard/ProfileCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Added online installation documentation (#3429)
  DOCUMENTATION.md
  INSTALLATION.md
  docs/docs/docs/getting-started/installation.md
  docs/sidebars.ts
  docs/static/img/markdown/installation/REACT_SITE_KEY.webp
  docs/static/img/markdown/installation/install1.png
  docs/static/img/markdown/installation/install2.png
  docs/static/img/markdown/installation/jest-preview.webp
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update src/components/SignOut/SignOut.tsx
  src/components/SignOut/SignOut.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileCard/ProfileCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix
  src/components/ProfileCard/ProfileCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix
  src/components/SignOut/SignOut.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

[FIX] Figma User Portal: Organization Left Drawer Violates The Figma Style Guide (#3430)
  docs/docs/auto-docs/components/ProfileCard/ProfileCard/functions/default.md
  docs/docs/auto-docs/components/SignOut/SignOut/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/interfaces/InterfaceUserSidebarOrgProps.md
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/SignOut/SignOut.spec.tsx
  src/components/SignOut/SignOut.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.module.css
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Resolved issue
  3141
  docs/docs/intro.md
  docs/docs/tutorial-basics/_category_.json
  docs/docs/tutorial-basics/congratulations.md
  docs/docs/tutorial-basics/create-a-blog-post.md
  docs/docs/tutorial-basics/create-a-document.md
  docs/docs/tutorial-basics/create-a-page.md
  docs/docs/tutorial-basics/deploy-your-site.md
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/docs/tutorial-extras/_category_.json
  docs/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/docs/tutorial-extras/img/localeDropdown.png
  docs/docs/tutorial-extras/manage-docs-versions.md
  docs/docs/tutorial-extras/translate-your-site.md
  docs/src/components/HomepageFeatures/index.tsx
  src/components/OrganizationCard/OrganizationCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Resolved issue
  src/components/OrganizationCard/OrganizationCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
