Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore(lint): enforce TSDoc for all TypeScript files
  .husky/pre-commit
  eslint.config.js
Due: none

fix: address CodeRabbit feedback - error handling and comprehensive tests
  src/components/Auth/RegistrationForm/RegistrationForm.spec.tsx
  src/components/Auth/RegistrationForm/RegistrationForm.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: regenerate missing auto-generated documentation files
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/Users/Users/functions/default.md
Due: none

fix: update OrganizationPeople test for dynamic date format
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

style: apply prettier formatting to OrganizationPeople test
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: handle multiple Joined elements in OrganizationPeople test
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address CodeRabbit feedback - simplify onError test (keep fallback for TypeScript)
  src/components/Auth/RegistrationForm/RegistrationForm.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: fix E2E tests
  cypress/e2e/admin_spec/fundCampaign.cy.ts
  cypress/pageObjects/AdminPortal/OrganizationFundCampaignPage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: added profileavatardisplay to profileimagesection, groupmodal , organizationcard , sidebarorgsection
  docs/docs/auto-docs/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/GroupModal/interfaces/InterfaceGroupModal.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/GroupModal/variables/default.md
  docs/docs/auto-docs/shared-components/OrganizationCard/OrganizationCard/functions/default.md
  docs/docs/auto-docs/shared-components/OrganizationCard/OrganizationCard/interfaces/InterfaceOrganizationCardPropsPG.md
  docs/docs/auto-docs/shared-components/SidebarOrgSection/SidebarOrgSection/functions/default.md
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.spec.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/shared-components/OrganizationCard/OrganizationCard.spec.tsx
  src/shared-components/OrganizationCard/OrganizationCard.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.spec.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: move TableLoader to shared-components
  docs/docs/auto-docs/components/TableLoader/TableLoader/functions/default.md
  docs/docs/auto-docs/components/TableLoader/TableLoader/interfaces/InterfaceTableLoader.md
  docs/docs/auto-docs/shared-components/TableLoader/TableLoader/functions/default.md
  docs/docs/auto-docs/types/shared-components/TableLoader/interface/interfaces/InterfaceTableLoader.md
  src/screens/BlockUser/BlockUser.tsx
  src/screens/Requests/Requests.tsx
  src/screens/Users/Users.tsx
  src/shared-components/TableLoader/TableLoader.module.css
  src/shared-components/TableLoader/TableLoader.spec.tsx
  src/shared-components/TableLoader/TableLoader.tsx
  src/types/shared-components/TableLoader/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize spacing system
  src/screens/AdminPortal/Leaderboard/Leaderboard.module.css
  src/screens/AdminPortal/ManageTag/ManageTag.module.css
  src/screens/AdminPortal/MemberDetail/MemberDetail.module.css
  src/screens/AdminPortal/Notification/Notification.module.css
  src/screens/AdminPortal/PluginStore/PluginModal.module.css
  src/screens/AdminPortal/PluginStore/UploadPluginModal.module.css
  src/screens/AdminPortal/PluginStore/components/PluginList.module.css
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/screens/UserPortal/Volunteer/VolunteerManagement.module.css
  src/style/tokens/typography.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: ts doc added to form field group components and coderabbit review addressed for eslint
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormCheckbox/variables/FormCheckbox.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormDateField/variables/FormDateField.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormFieldGroup/variables/FormFieldGroup.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormRadioGroup/variables/FormRadioGroup.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormSelect/variables/FormSelect.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormTextArea/variables/FormTextArea.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormTextField/variables/FormTextField.md
  eslint.config.js
  src/shared-components/FormFieldGroup/FormCheckbox.tsx
  src/shared-components/FormFieldGroup/FormDateField.tsx
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/shared-components/FormFieldGroup/FormRadioGroup.tsx
  src/shared-components/FormFieldGroup/FormSelect.tsx
  src/shared-components/FormFieldGroup/FormTextArea.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: fix E2E tests
  cypress/pageObjects/AdminPortal/OrganizationFundCampaignPage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: coderabbit review addressed
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/IFormSelectProps.md
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/types/shared-components/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Remove '--repo=admin' from disable statements check
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix: coderabbit review addressed
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormFieldGroup/variables/FormFieldGroup.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/IFormDateFieldProps.md
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/types/shared-components/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore(lint): enforce TSDoc for all TypeScript files (#6205)
  .husky/pre-commit
  eslint.config.js
Due: none

tests: improve coverage for line 428
  src/shared-components/postCard/PostCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: improved tokens
  src/screens/AdminPortal/MemberDetail/MemberDetail.module.css
  src/screens/AdminPortal/Notification/Notification.module.css
  src/screens/AdminPortal/PluginStore/UploadPluginModal.module.css
  src/screens/AdminPortal/PluginStore/components/PluginList.module.css
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/screens/UserPortal/Volunteer/VolunteerManagement.module.css
  src/style/tokens/typography.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: coderabbit review addressed
  src/types/shared-components/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: standardize spacing system (#6207)
  src/screens/AdminPortal/Leaderboard/Leaderboard.module.css
  src/screens/AdminPortal/ManageTag/ManageTag.module.css
  src/screens/AdminPortal/MemberDetail/MemberDetail.module.css
  src/screens/AdminPortal/Notification/Notification.module.css
  src/screens/AdminPortal/PluginStore/PluginModal.module.css
  src/screens/AdminPortal/PluginStore/UploadPluginModal.module.css
  src/screens/AdminPortal/PluginStore/components/PluginList.module.css
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/screens/UserPortal/Volunteer/VolunteerManagement.module.css
  src/style/tokens/typography.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update fs mock to improve file reading consistency in setup tests
  src/setup/setup.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: enhance OrganizationPeople tests with improved date rendering and search timeout adjustments
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  scripts/lint-datagrid.sh
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: replace direct @mui/x-date-pickers imports with shared wrappers (#6146)
  docs/docs/auto-docs/EventForm/functions/formatRecurrenceForPayload.md
  docs/docs/auto-docs/EventForm/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/functions/getLanguageName.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/functions/prettyDate.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationEvents/CreateEventModal/variables/default.md
  docs/docs/auto-docs/shared-components/DatePicker/DatePicker/variables/default.md
  docs/docs/auto-docs/shared-components/TimePicker/TimePicker/variables/default.md
  eslint.config.js
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
  src/screens/AdminPortal/MemberDetail/MemberDetail.spec.tsx
  src/screens/AdminPortal/MemberDetail/MemberDetail.tsx
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.spec.tsx
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
  src/screens/AdminPortal/OrganizationEvents/CustomRecurrenceModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
  src/shared-components/DatePicker/DatePicker.module.css
  src/shared-components/DatePicker/DatePicker.spec.tsx
  src/shared-components/DatePicker/DatePicker.tsx
  src/shared-components/DatePicker/index.ts
  src/shared-components/DateRangePicker/DateRangePicker.spec.tsx
  src/shared-components/DateRangePicker/DateRangePicker.tsx
  src/shared-components/EventForm/EventForm.spec.tsx
  src/shared-components/EventForm/EventForm.tsx
  src/shared-components/Recurrence/CustomRecurrenceModal.spec.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.spec.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.tsx
  src/shared-components/SharedPicker.module.css
  src/shared-components/TimePicker/TimePicker.module.css
  src/shared-components/TimePicker/TimePicker.spec.tsx
  src/shared-components/TimePicker/TimePicker.tsx
  src/shared-components/TimePicker/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address CodeRabbit feedback - refine DatePicker and ESLint config
  eslint.config.js
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
  src/shared-components/DatePicker/DatePicker.module.css
  src/shared-components/DatePicker/DatePicker.spec.tsx
  src/shared-components/DatePicker/DatePicker.tsx
  src/shared-components/SharedPicker.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve test failures, update mocks and refactor for consistency
  docs/docs/auto-docs/EventForm/functions/formatRecurrenceForPayload.md
  docs/docs/auto-docs/EventForm/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/functions/getLanguageName.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/functions/prettyDate.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/Settings/UserDetails/UserDetails/variables/default.md
  docs/docs/auto-docs/shared-components/DatePicker/DatePicker/variables/default.md
  docs/docs/auto-docs/shared-components/DateRangePicker/DateRangePicker/functions/default.md
  docs/docs/auto-docs/shared-components/EventForm/EventForm/functions/formatRecurrenceForPayload.md
  docs/docs/auto-docs/shared-components/EventForm/EventForm/variables/default.md
  docs/docs/auto-docs/shared-components/TimePicker/TimePicker/variables/default.md
  eslint.config.js
  src/screens/AdminPortal/MemberDetail/MemberDetail.spec.tsx
  src/screens/AdminPortal/MemberDetail/MemberDetail.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
  src/shared-components/DatePicker/DatePicker.tsx
  src/shared-components/DateRangePicker/DateRangePicker.spec.tsx
  src/shared-components/DateRangePicker/DateRangePicker.tsx
  src/shared-components/EventForm/EventForm.spec.tsx
  src/shared-components/EventForm/EventForm.tsx
  src/shared-components/TimePicker/TimePicker.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(restore): restoring files
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/setup/setup.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(restore): restoring lint-datagrid.sh and setup.ts from develop
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  scripts/lint-datagrid.sh
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: update TSDoc comments in OrganizationPeople.tsx to conform to standards
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  scripts/lint-datagrid.sh
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(restore): restoring lint-datagrid.sh
  scripts/lint-datagrid.sh
Due: none

fix: resolve TSDoc linting errors and internationalize date format in OrganizationPeople
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: enhance date formatting in OrganizationPeople to support localization
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat(6146): implement restricted imports rule for DatePickers and mig… (#6161)
  docs/docs/auto-docs/EventForm/functions/formatRecurrenceForPayload.md
  docs/docs/auto-docs/EventForm/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/functions/getLanguageName.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/functions/prettyDate.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationEvents/CreateEventModal/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/Settings/UserDetails/UserDetails/variables/default.md
  docs/docs/auto-docs/shared-components/DatePicker/DatePicker/variables/default.md
  docs/docs/auto-docs/shared-components/DateRangePicker/DateRangePicker/functions/default.md
  docs/docs/auto-docs/shared-components/EventForm/EventForm/functions/formatRecurrenceForPayload.md
  docs/docs/auto-docs/shared-components/EventForm/EventForm/variables/default.md
  docs/docs/auto-docs/shared-components/TimePicker/TimePicker/variables/default.md
  eslint.config.js
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
  src/screens/AdminPortal/MemberDetail/MemberDetail.spec.tsx
  src/screens/AdminPortal/MemberDetail/MemberDetail.tsx
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.spec.tsx
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
  src/screens/AdminPortal/OrganizationEvents/CustomRecurrenceModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
  src/shared-components/DatePicker/DatePicker.spec.tsx
  src/shared-components/DatePicker/DatePicker.tsx
  src/shared-components/DatePicker/index.ts
  src/shared-components/DateRangePicker/DateRangePicker.spec.tsx
  src/shared-components/DateRangePicker/DateRangePicker.tsx
  src/shared-components/EventForm/EventForm.spec.tsx
  src/shared-components/EventForm/EventForm.tsx
  src/shared-components/Recurrence/CustomRecurrenceModal.spec.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.spec.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.tsx
  src/shared-components/SharedPicker.module.css
  src/shared-components/TimePicker/TimePicker.module.css
  src/shared-components/TimePicker/TimePicker.spec.tsx
  src/shared-components/TimePicker/TimePicker.tsx
  src/shared-components/TimePicker/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update documentation to reflect correct line number for default function in OrganizationPeople
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing imports for LocalizationProvider and AdapterDayjs in ActionItemModal tests
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

tests: improve coverage for post card
  src/components/TagActions/TagActions.tsx
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: move TableLoader to shared-components
  .lintstagedrc.json
  docs/docs/auto-docs/Requests/README-1.md
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/Requests/functions/default.md
  docs/docs/auto-docs/assets/svgs/social-icons/variables/FacebookLogo.md
  docs/docs/auto-docs/components/TableLoader/TableLoader/functions/default.md
  docs/docs/auto-docs/components/TableLoader/TableLoader/interfaces/InterfaceTableLoader.md
  docs/docs/auto-docs/constants/variables/socialMediaLinks.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/Requests/Requests/functions/default.md
  docs/docs/auto-docs/shared-components/TableLoader/TableLoader/functions/default.md
  docs/docs/auto-docs/types/shared-components/TableLoader/interface/interfaces/InterfaceTableLoader.md
  scripts/lint-datagrid.sh
  src/screens/AdminPortal/BlockUser/BlockUser.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/AdminPortal/Requests/Requests.tsx
  src/screens/AdminPortal/Users/Users.tsx
  src/shared-components/LoadingState/LoadingState.spec.tsx
  src/shared-components/LoadingState/LoadingState.tsx
  src/shared-components/TableLoader/TableLoader.module.css
  src/shared-components/TableLoader/TableLoader.spec.tsx
  src/shared-components/TableLoader/TableLoader.tsx
  src/types/shared-components/TableLoader/interface.ts
  src/vite-env.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: correct import statement for LocalizationProvider in ActionItemModal tests
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
