Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

venues, action items, advertisments, plugins sections updated
  src/components/AddOn/core/AddOnEntry/AddOnEntry.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.module.css
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/EventCalendar/EventCalendar.tsx
  src/components/EventCalendar/EventHeader.tsx
  src/components/EventListCard/EventListCardModals.tsx
  src/components/OrgPostCard/DeletePostModal.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
  src/components/Venues/VenueCard.tsx
  src/components/Venues/VenueModal.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/OrganizationActionItems/ItemUpdateStatusModal.tsx
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Achieved 100% Code coverage
  src/components/UserPortal/Register/Register.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

changed according to coderabbitai
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/EditCustomFieldDropDown/EditCustomFieldDropDown.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/RecurrenceOptions/CustomRecurrence.spec.tsx
  src/components/UserPortal/PostCard/PostCard.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/components/Venues/VenueModal.spec.tsx
  src/screens/BlockUser/BlockUser.spec.tsx
  src/screens/CommunityProfile/CommunityProfile.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroupModal.spec.tsx
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/OrgPost/OrgPost.test.tsx
  src/screens/Requests/Requests.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Posts/Posts.spec.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.spec.tsx
  src/screens/Users/Users.spec.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

changed acc to coderabbitai
  src/components/DynamicDropDown/DynamicDropDown.spec.tsx
  src/screens/EventManagement/EventManagement.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Merge remote-tracking branch 'upstream/develop-postgres' into issue-2072-fix
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/Pagination/Pagination.spec.tsx
  src/components/Pagination/Pagination.tsx
  src/components/UserPortal/StartPostModal/StartPostModal.spec.tsx
  src/screens/BlockUser/BlockUser.module.css
  src/screens/UserPortal/Pledges/Pledge.spec.tsx
  src/screens/UserPortal/Posts/Posts.tsx
  src/style/app.module.css
  vitest.setup.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

added chatroute
  src/App.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Improved the code coverage in OrgAdminListCard.tsx
  src/components/OrgAdminListCard/OrgAdminListCard.spec.tsx
  src/components/OrgAdminListCard/OrgAdminListCard.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

fixed code coverage test
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/EventCalendar/EventHeader.tsx
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagNode.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgeModal.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/OrganizationFundCampaign/CampaignModal.tsx
  src/screens/OrganizationFunds/FundModal.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

fixed code coverage test
  src/screens/ManageTag/ManageTag.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Update .coderabbit.yaml
  .coderabbit.yaml
Due: none

Added MUI Component in Advertisement Calender and Advert-type Dropdown to change the color
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Added proper styling to the close button
  src/style/app.module.css
Due: prettier --write

Proper Message on end of results and proper padding in completed ads section
  src/components/Advertisements/Advertisements.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Improve code coverage in `src/components/UserPortal/Register/Register.tsx` (#3248)
  src/components/UserPortal/Register/Register.spec.tsx
  src/components/UserPortal/Register/Register.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Improve Code Coverage in CommunityProfile
  src/screens/CommunityProfile/CommunityProfile.spec.tsx
  src/screens/CommunityProfile/CommunityProfile.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Update Register.spec.tsx
  src/components/UserPortal/Register/Register.spec.tsx
  src/screens/UserPortal/Pledges/Pledge.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

update
  .github/workflows/css_check.py
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

commit
  src/screens/OrgPost/OrgPost.test.tsx
  src/setupTests.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

chore: fixed node warning and deprecation msgs
  package-lock.json
  package.json
Due: prettier --write

added validation for null base64 conversion during logo upload
  src/screens/CommunityProfile/CommunityProfile.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

fixed race condition in chat.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Improved the code coverage in OrgAdminListCard.tsx (#3256)
  src/components/OrgAdminListCard/OrgAdminListCard.spec.tsx
  src/components/OrgAdminListCard/OrgAdminListCard.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

added await to ensure updated queryData
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

#3023 Improve Code Coverage in CommunityProfile.tsx (#3258)
  src/screens/CommunityProfile/CommunityProfile.spec.tsx
  src/screens/CommunityProfile/CommunityProfile.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Added python script linting
  .flake8
  .github/workflows/pull-request.yml
  .github/workflows/requirements.txt
  .github/workflows/scripts/check_docstrings.py
  .github/workflows/scripts/code_coverage_disable_check.py
  .github/workflows/scripts/compare_translations.py
  .github/workflows/scripts/countline.py
  .github/workflows/scripts/eslint_disable_check.py
  .github/workflows/scripts/talawa_admin_md_mdx_format_adjuster.py
  .pydocstyle
  pyproject.toml
Due: eslint --fix, prettier --write

Added pyproject.toml to exclusion
  .eslintrc.json
Due: prettier --write

Updated venv
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Fixed arguments function
  .github/workflows/scripts/check_docstrings.py
Due: none

Edit to argparse help
  .github/workflows/scripts/check_docstrings.py
Due: none

Added python script linting (#3264)
  .eslintrc.json
  .flake8
  .github/workflows/pull-request.yml
  .github/workflows/requirements.txt
  .github/workflows/scripts/check_docstrings.py
  .github/workflows/scripts/code_coverage_disable_check.py
  .github/workflows/scripts/compare_translations.py
  .github/workflows/scripts/countline.py
  .github/workflows/scripts/eslint_disable_check.py
  .github/workflows/scripts/talawa_admin_md_mdx_format_adjuster.py
  .pydocstyle
  pyproject.toml
Due: eslint --fix, prettier --write

fixed errors in test
  src/screens/UserPortal/Chat/Chat.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Added Chat Route in App.tsx to make Chat feature accessible (#3255)
  src/App.tsx
  src/screens/UserPortal/Chat/Chat.spec.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

nested chat route under userscreen
  src/App.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

updated error handling
  src/components/UserPortal/PostCard/PostCard.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

NoMongo:Fixing the 404 issue even after having a running talawa-api
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

removed commented route
  src/App.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  node scripts/githooks/check-localstorage-usage.js: any of: **/*.{ts,tsx}
