Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

feat(css): add design tokens foundation (colors + global import) #5270
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/style/tokens/colors.css
  src/style/tokens/index.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: derive websocket url from api env (#5003)
  .env.example
  .github/workflows/pull-request.yml
  docker/docker-compose.dev.yaml
  docker/docker-compose.prod.yaml
  docs/docs/auto-docs/Constant/constant/functions/deriveBackendWebsocketUrl.md
  docs/docs/auto-docs/Constant/constant/variables/BACKEND_WEBSOCKET_URL.md
  docs/docs/auto-docs/components/EventStats/EventStatsMocks/variables/diverseRatingsProps.md
  docs/docs/auto-docs/components/EventStats/EventStatsMocks/variables/emptyProps.md
  docs/docs/auto-docs/components/EventStats/EventStatsMocks/variables/nonEmptyProps.md
  docs/docs/auto-docs/components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/setup/updateEnvFile/updateEnvFile/functions/updateEnvFile.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/cleanupTempDirs.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/makeTempDir.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/runScript.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/writeTempFile.md
  docs/docs/docs/getting-started/configuration.md
  src/Constant/constant.spec.ts
  src/Constant/constant.ts
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/components/EventStats/EventStatsMocks.ts
  src/components/NotificationToast/NotificationToast.spec.tsx
  src/components/NotificationToast/NotificationToast.tsx
  src/components/ProfileDropdown/ProfileDropdown.spec.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
  src/index.spec.tsx
  src/index.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/setup/askForDocker/askForDocker.spec.ts
  src/setup/askForDocker/askForDocker.ts
  src/setup/updateEnvFile/updateEnvFile.ts
  src/shared-components/OrganizationCard/OrganizationCard.tsx
  src/style/app-fixed.module.css
  src/test-utils/check-i18n/check-i18n-basic.test.js
  src/test-utils/check-i18n/check-i18n-enhanced.test.js
  src/test-utils/check-i18n/check-i18n.test-utils.js
  src/test-utils/check-i18n/check-i18n.test-utils.spec.js
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add CreateEventModal.spec.tsx (100% coverage for #4364)
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

some fixes
  src/App.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: migrate modals to BaseModal and cleanup
  docs/docs/auto-docs/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal/interfaces/InterfaceDeletePledgeModal.md
  docs/docs/auto-docs/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/interfaces/InterfaceRemoveUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/interfaces/InterfaceUnassignUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/variables/default.md
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.spec.tsx
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.tsx
  src/screens/ManageTag/removeModal/RemoveUserTagModal.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.tsx
  src/screens/UserPortal/Pledges/Pledges.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: update test IDs to match current EventForm component
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat(users): migrate EmptyState usage and achieve 100% test coverage
  docs/docs/auto-docs/screens/Users/Users/functions/default.md
  docs/docs/auto-docs/screens/Users/UsersMocks.mocks/variables/MOCKS_NEW.md
  docs/docs/auto-docs/screens/Users/UsersMocks.mocks/variables/MOCKS_NEW_2.md
  docs/docs/auto-docs/screens/Users/UsersMocks.mocks/variables/USER_UNDEFINED_MOCK.md
  src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.tsx
  src/screens/Users/UsersMocks.mocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve test errors - enable recurring before dropdown access, update date testIDs, remove time picker testIDs
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(users): enforce strict typechecking & fix USER_UNDEFINED_MOCK
  docs/docs/auto-docs/screens/Users/UsersMocks.mocks/variables/USER_UNDEFINED_MOCK.md
  src/screens/Users/Users.tsx
  src/screens/Users/UsersMocks.mocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(users): fix i18n issue
  src/screens/Users/Users.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: restore removed JSDoc parameter descriptions in delete modals
  docs/docs/auto-docs/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal/interfaces/InterfaceDeletePledgeModal.md
  docs/docs/auto-docs/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/interfaces/InterfaceRemoveUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/interfaces/InterfaceUnassignUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/variables/default.md
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.tsx
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.tsx
  src/screens/ManageTag/removeModal/RemoveUserTagModal.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

comment rewrite
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: added double-click protection for consistency
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.tsx
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: add missing recurrenceUtils exports to mock and support data-testid in DatePicker/TimePicker mocks
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: used title prop for improved accessibility and consistency
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.tsx
  src/screens/ManageTag/removeModal/RemoveUserTagModal.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: add missing userChat translations for es, zh, fr, and hi locales
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

refactor: standardize toast usage and mount NotificationToastContainer
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/utils/errorHandler/functions/errorHandler.md
  public/locales/en/common.json
  src/App.tsx
  src/utils/errorHandler.tsx
  src/utils/useSession.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbit review feedback
  docs/docs/auto-docs/App/functions/default.md
  src/App.tsx
  src/utils/errorHandler.tsx
  src/utils/useSession.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: refactor recurrenceUtils mock to use async importOriginal pattern
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbit review feedback2
  docs/docs/auto-docs/App/functions/default.md
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
Due: prettier --write

fix: update test mocks for CustomRecurrenceModal and i18n translations
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: added mocks for tests
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/mockNavigationLinksBase.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/mockOrganizationId.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/mockOrganizationName.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/mockUserId.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/mockUserName.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/organizationDataMock.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/revokeRefreshTokenMock.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/functions/LanguageSelector.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/functions/UserProfileDropdown.md
  docs/docs/auto-docs/screens/UserPortal/UserScreen/UserScreen/functions/default.md
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.ts
  src/components/UserPortal/UserPortalNavigationBar/index.ts
  src/screens/UserPortal/UserScreen/UserScreen.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: correct CustomRecurrenceModal mock path and validation test logic
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(users): align EmptyState i18n, update tests, and reach 100% coverage
  public/locales/en/common.json
  public/locales/en/translation.json
  src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: test-ci-fixed
  .github/workflows/pull-request.yml
  .github/workflows/scripts/test/css_check_test.py
Due: prettier --write

fix(users): update locales
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add unit tests for remove and unassign user tag modals
  src/screens/ManageTag/removeModal/RemoveUserTagModal.spec.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: test-ci-fixed
  .github/workflows/scripts/test/test_css_check.py
Due: none

chore: fix tests
  public/locales/en/translation.json
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  temp_event.txt
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(users): fix edge cases in useEffect
  public/locales/es/common.json
  public/locales/zh/translation.json
  src/screens/Users/Users.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: added coderabbit suggestions
  src/screens/ManageTag/removeModal/RemoveUserTagModal.spec.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove unused toast import to resolve lint error
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: add translations
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix(users): add more lacales translations
  public/locales/es/common.json
  public/locales/fr/translation.json
  public/locales/zh/common.json
Due: prettier --write

chore: add temp_event.txt
  temp_event.txt
Due: none

docs: fix docstring imperative mood for pydocstyle compliance
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/test_disable_statements_check.py
Due: none

feat: added ci for pr comment
  .github/workflows/pull-request.yml
Due: prettier --write

feat: added ci for pr comment
  .github/workflows/config/pr-comment.txt
Due: none

feat: ci-job-improved
  .github/workflows/pull-request.yml
Due: prettier --write
