Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fix: fixed translations files and increased code coverage
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/functions/areOptionsEqual.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/functions/getMemberLabel.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/functions/areOptionsEqual.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/functions/getMemberName.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/variables/default.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/IFormTextFieldProps.md
  docs/docs/auto-docs/utils/autocompleteHelpers/functions/areOptionsEqual.md
  docs/docs/auto-docs/utils/autocompleteHelpers/functions/getMemberLabel.md
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
  src/types/FormFieldGroup/interface.ts
  src/utils/autocompleteHelpers.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: improve branch coverage to 100%
  src/shared-components/NotificationToast/NotificationToast.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(css): import react-toastify css in shared component
  src/shared-components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test(lint): remove unused variable in NotificationToast.spec.tsx
  src/shared-components/NotificationToast/NotificationToast.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(ui): increase z-index of NotificationToast to 9999999
  src/shared-components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: exempt NotificationToast from strict css import policy
  scripts/check-css-imports.js
Due: none

docs: regenerate auto-docs for NotificationToast
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/variables/NotificationToast.md
Due: none

refactor(css): use css module for z-index override
  src/assets/css/app.css
  src/shared-components/NotificationToast/NotificationToast.module.css
  src/shared-components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: add unit test for NotificationToast CSS module usage
  src/shared-components/NotificationToast/NotificationToast.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

style: apply prettier formatting
  src/assets/css/app.css
  src/shared-components/NotificationToast/NotificationToast.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: regenerate auto-docs for NotificationToast css refactor
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/variables/NotificationToast.md
Due: none

fix: formatting issues
  src/shared-components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(css): updated docks and and moved global css imports to src/index.tsx
  docs/docs/auto-docs/index/variables/client.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/variables/NotificationToast.md
  scripts/check-css-imports.js
  src/index.tsx
  src/shared-components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat(types): make NotificationToast.promise generic <T>
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/interfaces/InterfaceNotificationToastHelpers.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/type-aliases/PromiseFunction.md
  src/shared-components/NotificationToast/NotificationToast.tsx
  src/types/shared-components/NotificationToast/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: replace fireEvent with userEvent in UserPortalNavigationBar.spec.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: revert EXEMPT_FILES to single-line format
  scripts/check-css-imports.js
Due: none

fix(types): add explicit return type to resolveNotificationToastMessage
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/variables/NotificationToast.md
  src/shared-components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat(ui): refactor NotificationToastContainer props and styling
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/variables/NotificationToast.md
  src/shared-components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address CodeRabbit review feedback
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.module.css
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/EventCalender/Header/EventHeader.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/screens/UserPortal/People/People.spec.tsx
  src/shared-components/PeopleTabNavbar/PeopleTabNavbar.tsx
  src/types/shared-components/PeopleTabNavbar/interface.ts
  src/utils/MinioUpload.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: format CSS and regenerate docs
  docs/docs/auto-docs/components/EventCalender/Header/EventHeader/functions/default.md
  docs/docs/auto-docs/shared-components/PeopleTabNavbar/PeopleTabNavbar/functions/default.md
  docs/docs/auto-docs/types/shared-components/PeopleTabNavbar/interface/interfaces/InterfacePeopleTabNavbarProps.md
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: migrate Pledge and Tag screens to CRUDModalTemplate (PR 2 of 5)
  src/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/AdminPortal/ManageTag/removeModal/RemoveUserTagModal.spec.tsx
  src/screens/AdminPortal/ManageTag/removeModal/RemoveUserTagModal.tsx
  src/screens/AdminPortal/ManageTag/unassignModal/UnassignUserTagModal.spec.tsx
  src/screens/AdminPortal/ManageTag/unassignModal/UnassignUserTagModal.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/shared-components/ActionItems/ActionItemDeleteModal/ActionItemDeleteModal.spec.tsx
  src/shared-components/ActionItems/ActionItemDeleteModal/ActionItemDeleteModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed failing tests
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(test): revert to userEvent.upload for ESLint compliance
  src/utils/MinioUpload.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added some labels and amount validation
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

run pre commit checks
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal/interfaces/InterfaceDeletePledgeModal.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/removeModal/RemoveUserTagModal/interfaces/InterfaceRemoveUserTagModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/removeModal/RemoveUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/unassignModal/UnassignUserTagModal/interfaces/InterfaceUnassignUserTagModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/unassignModal/UnassignUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/GroupModal/interfaces/InterfaceGroupModal.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/GroupModal/variables/default.md
  docs/docs/auto-docs/shared-components/ActionItems/ActionItemDeleteModal/ActionItemDeleteModal/interfaces/IItemDeleteModalProps.md
  docs/docs/auto-docs/shared-components/ActionItems/ActionItemDeleteModal/ActionItemDeleteModal/variables/default.md
Due: none

fix: address CodeRabbit feedback - naming, type imports, docs
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/shared-components/PeopleTabNavbar/PeopleTabNavbar.tsx
  src/types/shared-components/PeopleTabNavbar/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

run pre-commit checks
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroups.mocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroups.mocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroups.mocks/variables/MOCKS_ERROR.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers.mocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers.mocks/variables/MOCKS_ERROR.md
  docs/docs/auto-docs/types/shared-components/CRUDModalTemplate/interface/interfaces/InterfaceUseMutationModalReturn.md
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroups.mocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

tests now wrap confirmSpy usage in try/finally blocks to ensure mockRestore()
  src/shared-components/DataTable/DataTable.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: adding corrected code with lines of code under 600
  docs/docs/auto-docs/screens/MemberDetail/mock/variables/MOCKS1.md
  docs/docs/auto-docs/screens/MemberDetail/mock/variables/MOCKS2.md
  docs/docs/auto-docs/screens/MemberDetail/mock/variables/MOCK_FILE.md
  docs/docs/auto-docs/screens/MemberDetail/mock/variables/UPDATE_MOCK.md
  docs/docs/auto-docs/screens/MemberDetail/mock/variables/UPDATE_USER_ERROR_MOCKS.md
  docs/docs/auto-docs/screens/MemberDetail/updateMock/variables/UPDATE_MOCK.md
  docs/docs/auto-docs/screens/MemberDetail/updateMock/variables/UPDATE_USER_ERROR_MOCKS.md
  src/screens/MemberDetail/UserContactDetails.spec.tsx
  src/screens/MemberDetail/UserContactDetails.tsx
  src/screens/MemberDetail/mock.ts
  src/screens/MemberDetail/updateMock.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: used shared button component
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/deleteModal/VolunteerGroupDeleteModal/interfaces/InterfaceDeleteVolunteerGroupModal.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/deleteModal/VolunteerGroupDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/interfaces/InterfaceVolunteerGroupModal.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal/interfaces/InterfaceVolunteerCreateModal.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal/interfaces/InterfaceDeleteVolunteerModal.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal/variables/default.md
  src/screens/EventVolunteers/VolunteerGroups/deleteModal/VolunteerGroupDeleteModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.tsx
  src/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal.tsx
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Added coderabbits changes
  .husky/pre-commit
Due: none

chore: add rollback support to setup
  docs/docs/auto-docs/setup/backupEnvFile/backupEnvFile/functions/backupEnvFile.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  src/setup/backupEnvFile/backupEnvFile.spec.ts
  src/setup/backupEnvFile/backupEnvFile.ts
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore: guard main execution during Vitest imports and resolve TS error
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  docs/docs/auto-docs/setup/setup/variables/ENV_KEYS.md
  docs/docs/auto-docs/setup/setup/variables/ENV_VALUES.md
  src/setup/backupEnvFile/backupEnvFile.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore: add coverage for backup restoration failure in setup script
  src/setup/setup.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor: fix unresolved promise on env check
  src/setup/backupEnvFile/backupEnvFile.spec.ts
  src/setup/backupEnvFile/backupEnvFile.ts
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore: exclude guard from setup test coverage
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
