Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

Create index.html
  index.html
Due: none

Added index.html to sensitive files
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

merge
  src/screens/Requests/Requests.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

first commit
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  schema.graphql
  src/GraphQl/Mutations/TagMutations.ts
  src/GraphQl/Queries/OrganizationQueries.ts
  src/GraphQl/Queries/userTagQueries.ts
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/TagActions/Node/TagNode.tsx
  src/components/TagActions/TagActions.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.tsx
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.spec.tsx
  src/screens/SubTags/SubTags.tsx
  src/types/Tag/interface.ts
  src/utils/interfaces.ts
  src/utils/organizationTagsUtils.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Upgrade dependency shiki from v1.29.2 to v3.2.1
  package-lock.json
  package.json
Due: prettier --write

fixed type check
  src/components/TagActions/Node/TagNode.spec.tsx
  src/components/TagActions/TagActions.spec.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed the schema.graphql
  schema.graphql
Due: none

fix check-tsdoc
  src/components/TagActions/TagActions.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fund Campaign Pledges Postgres migration
  src/GraphQl/Mutations/PledgeMutation.ts
  src/GraphQl/Queries/Queries.ts
  src/GraphQl/Queries/fundQueries.ts
  src/screens/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgesMocks.ts
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.spec.tsx
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
  src/screens/UserPortal/Pledges/PledgesMocks.ts
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed translation
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

Remove login and register btns
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

lint
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update register logic
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix error: Check CodeRabbit Approval
  src/GraphQl/Queries/OrganizationQueries.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: Visit and Join Now button
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix error: Check CodeRabbit Approval
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: format:check error
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix error: Check CodeRabbit Approval
  src/GraphQl/Queries/OrganizationQueries.ts
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix tests
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: format:check error
  src/GraphQl/Mutations/PledgeMutation.ts
  src/GraphQl/Queries/Queries.ts
  src/screens/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgesMocks.ts
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Resolved conflicts
  src/screens/OrganizationActionItems/itemUpdateModal/ItemUpdateStatusModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Resolved conflicts
  src/screens/OrganizationActionItems/OrganizationActionItems.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Added tests
  docs/docs/auto-docs/GraphQl/Mutations/ActionItemCategoryMutations/variables/UPDATE_ACTION_ITEM_CATEGORY_MUTATION.md
  docs/docs/auto-docs/GraphQl/Queries/ActionItemCategoryQueries/variables/ACTION_ITEM_CATEGORY.md
  docs/docs/auto-docs/GraphQl/Queries/ActionItemCategoryQueries/variables/GET_USER.md
  docs/docs/auto-docs/OrgActionItemCategories/functions/default.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/Modal/CategoryModal/functions/CategoryModal.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/Modal/CategoryModal/interfaces/InterfaceActionItemCategory.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/Modal/CategoryModal/interfaces/InterfaceActionItemCategoryModal.md
  src/GraphQl/Mutations/ActionItemCategoryMutations.ts
  src/GraphQl/Queries/ActionItemCategoryQueries.ts
  src/GraphQl/Queries/Queries.ts
  src/components/OrgSettings/ActionItemCategories/Modal/CategoryModal.spec.tsx
  src/components/OrgSettings/ActionItemCategories/Modal/CategoryModal.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: UPDATE TypeDoc v0.28
  package-lock.json
  package.json
Due: prettier --write

feat (pg-migration): Fix Postgres migration support and Organization Screen Violation from The Figma Style Guide (#3907)
  src/GraphQl/Queries/OrganizationQueries.ts
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationTags/OrganizationTagsMocks.ts
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore: remove unused shiki package
  package-lock.json
  package.json
Due: prettier --write

Upgrade dependency shiki from v1.29.2 to v3.2.1 (#3919)
  package-lock.json
  package.json
Due: prettier --write

fix: format:COUNT ERROR
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: typecheck error
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Added tests
  docs/docs/auto-docs/OrgActionItemCategories/functions/CreatorNameCell.md
  docs/docs/auto-docs/OrgActionItemCategories/functions/default.md
  docs/docs/auto-docs/OrgActionItemCategories/interfaces/CreatorNameCellProps.md
  src/GraphQl/Queries/Queries.ts
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Added tests
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ALL_ORGANIZATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_ADMINS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_ADVERTISEMENT_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_FUNDS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_CREATED_ORGANIZATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_JOINED_ORGANIZATIONS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/VENUE_LIST.md
  docs/docs/auto-docs/OrgActionItemCategories/functions/CreatorNameCell.md
  docs/docs/auto-docs/OrgActionItemCategories/functions/default.md
  docs/docs/auto-docs/OrgActionItemCategories/interfaces/CreatorNameCellProps.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_ERROR.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_NO_MORE_PAGES.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_NULL_END_CURSOR.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_UNDEFINED_USER_TAGS.md
  docs/docs/auto-docs/screens/UserPortal/Organizations/Organizations/functions/default.md
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Added tests
  src/screens/OrganizationActionItems/itemModal/ItemModal.spec.tsx
  src/screens/OrganizationActionItems/itemModal/ItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: typecheck error
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update documentation
  docs/docs/docs/getting-started/operation.md
Due: none

fix: typecheck error
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgesMocks.ts
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
