Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

NoMongo: Restore the GraphQL Introspection GitHub Action Test
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix update mutation
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix update mutation for users
  src/screens/UserPortal/Settings/Settings.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Make files prettier
  docs/docusaurus.config.ts
  docs/src/components/layout/HeaderHero.tsx
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/src/utils/ActionButton.tsx
  docs/src/utils/Heading.tsx
  docs/src/utils/HomeCallToAction.tsx
  docs/src/utils/Section.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Implement coderabbit suggestions
  docs/src/components/layout/HeaderHero.tsx
  docs/src/css/custom.css
  docs/src/utils/Heading.tsx
  docs/src/utils/HomeCallToAction.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

"Implement coderabbit suggestions"
  docs/src/components/layout/HeaderHero.tsx
  docs/src/css/custom.css
  docs/src/utils/Heading.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix height issue of the hero section
  docs/src/css/custom.css
Due: prettier --write

Make code prettier
  docs/src/css/custom.css
  docs/src/utils/Heading.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

#2894 Refactor CSS in CreateGroupChat.tsx (#3494)
  docs/docs/auto-docs/components/UserPortal/CreateGroupChat/CreateGroupChat/functions/default.md
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.module.css
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update MemberDetail.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update Settings.tsx
  src/screens/UserPortal/Settings/Settings.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added docs and tests
  docs/docs/docs/getting-started/installation.md
  docs/static/img/markdown/installation/Register.png
  src/components/OrgListCard/OrgListCard.tsx
  src/components/SecuredRoute/securedRoute.spec.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

removed extra spaces
  src/screens/UserPortal/Settings/Settings.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update with coderabbit suggestion
  docs/src/css/custom.css
Due: prettier --write

Update styling according to coderabbit
  docs/src/css/custom.css
Due: prettier --write

Added GraphQL linting for schema.graphql and updates scripts to now handle linting and prettier for graphql (#3489)
  .eslintignore
  .eslintrc.json
  .graphqlrc.yml
  package-lock.json
  package.json
  schema.graphql
Due: eslint --fix, prettier --write

Refactored UpdateSession
  src/components/UpdateSession/UpdateSession.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Remove unused files
  docs/src/components/layout/HeaderHero.tsx
  docs/src/css/custom.css
  docs/src/utils/Heading.tsx
  docs/src/utils/Section.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Removed quotes
  src/style/app.module.css
Due: prettier --write

Update with coderabbit suggestion
  docs/src/utils/ActionButton.tsx
  docs/src/utils/HomeCallToAction.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Refactor suggestion by coderabbit
  docs/src/utils/ActionButton.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

100% code cov for CustomRecurrenceModal.tsx
  src/components/RecurrenceOptions/CustomRecurrence.spec.tsx
  src/components/RecurrenceOptions/CustomRecurrenceModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Run prettier for updated component
  docs/src/utils/ActionButton.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update CustomRecurrenceModal.tsx
  src/components/RecurrenceOptions/CustomRecurrenceModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Feature/UI ux update (#3495)
  docs/docusaurus.config.ts
  docs/src/components/layout/HeaderHero.tsx
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/src/utils/ActionButton.tsx
  docs/src/utils/HomeCallToAction.tsx
  docs/static/img/icons/logo.png
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update CustomRecurrence.spec.tsx
  src/components/RecurrenceOptions/CustomRecurrence.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Refactored CSS in src/components/UpdateSession/UpdateSession.tsx (#3506)
  src/components/UpdateSession/UpdateSession.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

100% code cov for CustomRecurrenceModal.tsx
  src/components/RecurrenceOptions/CustomRecurrenceModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

resolved coderabbit suggestions
  docs/docs/auto-docs/components/OrgListCard/OrgListCard/functions/default.md
  docs/docs/auto-docs/components/OrgListCard/OrgListCard/interfaces/InterfaceOrgListCardPropsPG.md
  docs/docs/docs/getting-started/installation.md
  src/components/OrgListCard/OrgListCard.tsx
  src/components/SecuredRoute/securedRoute.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed formatting for schema.graphql
  schema.graphql
Due: none

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
