Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

import cleanup and aftereach block shift
  src/components/AdminPortal/OrganizationDashCards/Loader/DashBoardCardLoading.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added tests in carditemloading spec and dashboardcardloading spec files
  src/components/AdminPortal/OrganizationDashCards/CardItem/Loader/CardItemLoading.spec.tsx
  src/components/AdminPortal/OrganizationDashCards/Loader/DashBoardCardLoading.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: translation files bug
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/functions/getMockIcon.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/mockNavigationLinksBase.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/organizationDataErrorMock.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/organizationDataMock.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/organizationDataNullMock.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/revokeRefreshTokenErrorMock.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/revokeRefreshTokenMock.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/revokeRefreshTokenNetworkErrorMock.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/UserPortal/UserPortalNavigationBar/LanguageSelector.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.ts
  src/screens/UserPortal/UserScreen/UserScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed the code for better
  docs/docs/auto-docs/screens/MemberDetail/UserContactDetails/variables/default.md
  src/components/UserDetails/UserOrganizations.tsx
  src/screens/MemberDetail/UserContactDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: refactor large files
  docs/docs/auto-docs/components/OrgPostCard/OrgPostCard/functions/default.md
  docs/docs/auto-docs/components/OrgPostCard/components/PostDetailModal/functions/default.md
  docs/docs/auto-docs/components/OrgPostCard/components/PostEditModal/functions/default.md
  src/components/OrgPostCard/OrgPostCard.spec.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
  src/components/OrgPostCard/components/PostDetailModal.tsx
  src/components/OrgPostCard/components/PostEditModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed failing test
  src/screens/MemberDetail/UserContactDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: fix lint and type issues
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/Requests/README-1.md
  docs/docs/auto-docs/components/GroupChatDetails/GroupChatDetailsMocks/variables/failingMocks.md
  docs/docs/auto-docs/screens/Users/Organization.mocks/variables/MOCK_USERS.md
  docs/docs/auto-docs/screens/Users/Organization.mocks/variables/createAddress.md
  docs/docs/auto-docs/screens/Users/Organization.mocks/variables/createCreator.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAddOnSpotAttendeeProps.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceComment.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCommentEdge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreatePledge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreateVolunteerGroup.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCustomFieldData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceFormData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceMapType.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfacePostCard.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryMembershipRequestsListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceUserEvents.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerGroupInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerRank.md
  src/App.tsx
  src/screens/Requests/Requests.spec.tsx
  src/screens/Users/Users.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed codeQl Security issue
  src/screens/MemberDetail/UserContactDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: Remove prop from and update s to use
  docs/docs/auto-docs/components/Venues/VenueCard/functions/default.md
  src/components/Auth/FormField/FormField.spec.tsx
  src/components/Venues/VenueCard.spec.tsx
  src/components/Venues/VenueCard.tsx
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix: E2E Tests Flaky failures in `event.cy.ts` due to timeouts and sequential dependencies (#5877)
  .github/workflows/scripts/translation_check.py
  cypress/e2e/admin_spec/event.cy.ts
  cypress/pageObjects/AdminPortal/AdminEventPage.ts
  docs/docs/auto-docs/EventForm/functions/formatRecurrenceForPayload.md
  docs/docs/auto-docs/EventForm/variables/default.md
  docs/docs/auto-docs/screens/OrganizationEvents/CreateEventModal/variables/default.md
  docs/docs/auto-docs/types/Event/interface/interfaces/ICreateEventInput.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceAttendanceStatisticsModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceCalendarProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEvent.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventEdge.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventHeaderProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventsAttendedMemberModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceIOrgList.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceMember.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfacePreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceStatsModal.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceUpdateEventModalProps.md
  docs/docs/auto-docs/utils/StaticMockLink/classes/StaticMockLink.md
  docs/docs/auto-docs/utils/StaticMockLink/functions/mockSingleLink.md
  docs/docs/auto-docs/utils/StaticMockLink/interfaces/InterfaceMockApolloLink.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/OrganizationEvents/CreateEventModal.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Events/Events.tsx
  src/shared-components/EventForm/EventForm.spec.tsx
  src/shared-components/EventForm/EventForm.tsx
  src/types/Event/interface.ts
  src/utils/StaticMockLink.spec.ts
  src/utils/StaticMockLink.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: translation bug fixing
  docs/docs/auto-docs/screens/UserPortal/UserScreen/UserScreen/functions/default.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: adopt LoadingState in OrganizationTags and SubTags screens (#5136)
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Restored Translation Checker
  .github/workflows/scripts/translation_check.py
Due: none

Restored Translation Checker (#5885)
  .github/workflows/scripts/translation_check.py
Due: none

refactor: remove keyPrefix and translation-check-skip handling from translation tag extraction.
  .github/workflows/scripts/translation_check.py
Due: none

docs: fix test comments to reference correct LoadingState variant
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

updated translation_check file
  .github/workflows/scripts/translation_check.py
Due: none

fix: cypress bug fixing
  cypress/pageObjects/auth/LoginPage.ts
  src/screens/UserPortal/UserScreen/UserScreen.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(locales): resolve JSON syntax and duplicate title keys
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
Due: prettier --write

fix: correct variant reference in test comment
  docs/docs/auto-docs/screens/SubTags/SubTags/functions/default.md
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Removed unused scripts
  .github/workflows/scripts/code_coverage_disable_check.py
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/eslint_disable_check.py
  .github/workflows/scripts/itskip_disable_check.py
  .github/workflows/scripts/translation_check.py
Due: none

Removed unused scripts (#5889)
  .github/workflows/scripts/code_coverage_disable_check.py
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/eslint_disable_check.py
  .github/workflows/scripts/itskip_disable_check.py
  .github/workflows/scripts/translation_check.py
Due: none

feat: Enhance translation tag extraction to support from calls and comment directives.
  .github/workflows/scripts/translation_check.py
Due: none

fix: fixed codeQl Security issue
  docs/docs/auto-docs/screens/MemberDetail/SanitizeInput/functions/sanitizeInput.md
  docs/docs/auto-docs/screens/MemberDetail/UserContactDetails/variables/default.md
  src/screens/MemberDetail/SanitizeInput.spec.tsx
  src/screens/MemberDetail/SanitizeInput.tsx
  src/screens/MemberDetail/UserContactDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Add .nvmrc to .gitignore
  .gitignore
Due: none

refactor: added component in postcard, commentcard, addpostcard
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/CommentCard/CommentCard.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.module.css
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.spec.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: migrate UserPortal components to NotificationToast
  src/components/UserPortal/EventCard/EventCard.spec.tsx
  src/components/UserPortal/EventCard/EventCard.tsx
  src/screens/UserPortal/Donate/Donate.spec.tsx
  src/screens/UserPortal/Donate/Donate.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.spec.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix: test case issue in files
  src/components/UserPortal/EventCard/EventCard.spec.tsx
  src/screens/UserPortal/Donate/Donate.spec.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: align i18n strings with Settings.spec.tsx tests
  public/locales/en/translation.json
Due: prettier --write

fix: remove inline styles and camelCase CSS props for CSS policy check
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: comply with i18n and CSS policies
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add volunteer translation keys to all locales
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: internationalize Settings error messages
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Settings/Settings.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: remove fontSize prop to comply with CSS policy
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: use French locale notation '5 Mo' instead of '5MB' in file size error
  public/locales/fr/translation.json
Due: prettier --write

fix: align error strings with tests and add volunteer i18n keys
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: replace hardcoded error messages with i18n translations in Invitations
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
