Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve React hook ordering violations in OrganizationDashboard
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: reduce OrganizationDashboard.tsx line count under 600
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update package.json
  package.json
Due: prettier --write

fix: correct package.json JSON syntax
  package.json
Due: prettier --write

chore: fix package.json formatting and dependencies
  package.json
Due: prettier --write

chore: update package-lock.json after dependency and format fixes
  package-lock.json
Due: prettier --write

fix: auto-format OrganizationDashboard.tsx with Prettier
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: correct venue sorting logic to match UI labels
  src/screens/OrganizationVenues/OrganizationVenues.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed failing tests
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix OrganizationDashboard line count issue by breaking into smaller components
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
  src/screens/OrganizationDashboard/components/DashboardCards.tsx
  src/screens/OrganizationDashboard/hooks/useDashboardData.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix formatting issues in OrganizationDashboard files
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
  src/screens/OrganizationDashboard/components/DashboardCards.tsx
  src/screens/OrganizationDashboard/hooks/useDashboardData.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: improve OrganizationDashboard modularization and documentation
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
  src/screens/OrganizationDashboard/components/DashboardCards.tsx
  src/screens/OrganizationDashboard/hooks/useDashboardData.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: add missing 'dashboard.venues' translations
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fixed failing tests
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: remove auto-generated docs from branch
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_POST_LIST_WITH_VOTES.md
  docs/docs/auto-docs/utils/interfaces/interfaces/VoteType.md
  docs/docs/auto-docs/utils/interfaces/type-aliases/VoteState.md
Due: none

test: add comprehensive tests for PaginationList component
  src/components/Pagination/PaginationList/PaginationList.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix OrganizationDashboard CI issues - broke down 714-line monster into manageable pieces
  src/screens/OrganizationDashboard/OrganizationDashboardMocks.ts
  src/screens/OrganizationDashboard/components/DashboardCards.spec.tsx
  src/screens/OrganizationDashboard/hooks/useDashboardData.spec.ts
  src/screens/OrganizationDashboard/hooks/useDashboardData.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Clean up test files and update useDashboardData with latest improvements
  src/screens/OrganizationDashboard/components/DashboardCards.spec.tsx
  src/screens/OrganizationDashboard/hooks/useDashboardData.spec.ts
  src/screens/OrganizationDashboard/hooks/useDashboardData.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestions
  src/GraphQl/Mutations/OrganizationMutations.ts
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/types/Organization/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: OrganizationDashboard GraphQL mocks - resolve Apollo errors and improve test coverage
  src/screens/OrganizationDashboard/OrganizationDashboardMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestions
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/types/Organization/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestions
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/types/Organization/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Chore/upgrade testing library react 16 3 0 (#4242)
  package-lock.json
  package.json
Due: prettier --write

implemented coderabbit suggestions
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: upgrade @vitest/coverage-istanbul to 3.2.4
  package-lock.json
  package.json
Due: prettier --write

refactor: remove debug console.log statements and improve code formatting
  src/screens/OrganizationDashboard/hooks/useDashboardData.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemenetd coderabbit suggestions
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: temporarily remove Codecov upload step
  .github/workflows/pull-request.yml
Due: prettier --write

chore: restore Codecov upload step as requested by mentor
  .github/workflows/pull-request.yml
Due: prettier --write

Feat: Restore membership feature (#4235)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/GraphQl/Mutations/OrganizationMutations.ts
  src/GraphQl/Queries/Queries.ts
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/types/Organization/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: migrate @mui/x-charts to v8.x and update ESM imports for MUI compatibility
  package-lock.json
Due: prettier --write

chore: trigger CI recheck (dummy key added)
  package.json
Due: prettier --write

chore: upgrade @vitest/coverage-istanbul to 3.2.4 (#4244)
  package-lock.json
  package.json
Due: prettier --write

chore: update workflow file as per manual edits
  .github/workflows/pull-request.yml
Due: prettier --write

Path conditions:
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml,yaml}
