Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: migrate 3 types to adminportal structure (#6442)
  docs/docs/auto-docs/types/AdminPortal/Advertisement/type/type-aliases/AdvertisementsConnection.md
  docs/docs/auto-docs/types/AdminPortal/Organization/type/type-aliases/Organization.md
  docs/docs/auto-docs/types/AdminPortal/Organization/type/type-aliases/OrganizationInput.md
  docs/docs/auto-docs/types/AdminPortal/address/type-aliases/Address.md
  docs/docs/auto-docs/types/AdminPortal/address/type-aliases/AddressInput.md
  docs/docs/auto-docs/types/AdminPortal/membership/type-aliases/MembershipRequest.md
  docs/docs/auto-docs/types/AdminPortal/pagination/type-aliases/DefaultConnectionPageInfo.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceConnectionData.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationManagerProps.md
  docs/docs/auto-docs/types/address/type-aliases/Address.md
  docs/docs/auto-docs/types/address/type-aliases/AddressInput.md
  docs/docs/auto-docs/types/membership/type-aliases/MembershipRequest.md
  docs/docs/auto-docs/types/pagination/type-aliases/DefaultConnectionPageInfo.md
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/types/AdminPortal/Advertisement/type.ts
  src/types/AdminPortal/Organization/type.ts
  src/types/AdminPortal/address.ts
  src/types/AdminPortal/membership.ts
  src/types/AdminPortal/pagination.ts
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Disable request_changes_workflow in coderabbit config
  .coderabbit.yaml
Due: none

Refactor : Replaced MUI chip with StatusBadge component (#6427)
  docs/docs/auto-docs/components/EventManagement/EventActionItems/EventActionItems/variables/default.md
  src/components/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: (15)-refactored global style sheet (#6477)
  src/screens/AdminPortal/Leaderboard/Leaderboard.tsx
  src/screens/AdminPortal/Notification/Notification.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
  src/screens/AdminPortal/PluginStore/PluginModal.module.css
  src/screens/AdminPortal/PluginStore/UploadPluginModal.module.css
  src/screens/AdminPortal/PluginStore/components/PluginList.module.css
  src/screens/UserPortal/Chat/Chat.module.css
  src/screens/UserPortal/People/People.tsx
  src/style/tokens/colors.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Added FormFieldGroup Linting (#6470)
  eslint.config.js
Due: none

Refactor: apply ErrorBoundaryWrapper across core UI (Batch 5) (#6412)
  docs/docs/auto-docs/components/EventManagement/EventAttendance/Statistics/EventStatistics/variables/AttendanceStatisticsModal.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/EventRegistrants/functions/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/EventRegistrantsModal/functions/EventRegistrantsModal.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/EventManagement/EventAttendance/Statistics/EventStatistics.module.css
  src/components/EventManagement/EventAttendance/Statistics/EventStatistics.spec.tsx
  src/components/EventManagement/EventAttendance/Statistics/EventStatistics.tsx
  src/components/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
  src/components/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/components/EventRegistrantsModal/EventRegistrantsWrapper.spec.tsx
  src/components/EventRegistrantsModal/EventRegistrantsWrapper.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/components/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
  src/components/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed css (#6518)
  src/screens/UserPortal/UserScreen/UserScreen.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: add StatusBadge to UpcomingEvents (#6441)
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents/functions/getStatusBadgeProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add Storybook stories for CRUDModalTemplate components (#6475)
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/BasicUsage.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/ComplexForm.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/LoadingState.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/SubmitDisabled.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal.stories/variables/default.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/BasicUsage.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/DeleteOrganization.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/DeleteUser.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/RecurringEvent.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/WithWarning.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal.stories/variables/default.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/BasicUsage.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/ComplexForm.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/LoadingData.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/SubmitDisabled.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/SubmittingState.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal.stories/variables/default.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/BasicUsage.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/LoadingState.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/OrganizationDetails.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/UserProfile.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/WithCustomActions.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal.stories/variables/default.md
  docs/docs/docs/developer-resources/crud-modal-template.md
  src/shared-components/CRUDModalTemplate/CreateModal.stories.spec.tsx
  src/shared-components/CRUDModalTemplate/CreateModal.stories.tsx
  src/shared-components/CRUDModalTemplate/DeleteModal.stories.spec.tsx
  src/shared-components/CRUDModalTemplate/DeleteModal.stories.tsx
  src/shared-components/CRUDModalTemplate/EditModal.stories.spec.tsx
  src/shared-components/CRUDModalTemplate/EditModal.stories.tsx
  src/shared-components/CRUDModalTemplate/ViewModal.stories.spec.tsx
  src/shared-components/CRUDModalTemplate/ViewModal.stories.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Added tests for 100% test coverage of DataGridWrapper (#6440)
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor(AdminPortal): Migrate CheckIn component to shared-components (Part 12) (#6478)
  .prettierignore
  docs/docs/auto-docs/components/CheckIn/CheckInWrapper/functions/CheckInWrapper.md
  docs/docs/auto-docs/components/CheckIn/tagTemplate/variables/tagTemplate.md
  docs/docs/auto-docs/shared-components/CheckIn/CheckInMocks/variables/checkInMutationSuccess.md
  docs/docs/auto-docs/shared-components/CheckIn/CheckInMocks/variables/checkInMutationSuccessRecurring.md
  docs/docs/auto-docs/shared-components/CheckIn/CheckInMocks/variables/checkInMutationUnsuccess.md
  docs/docs/auto-docs/shared-components/CheckIn/CheckInMocks/variables/checkInQueryMock.md
  docs/docs/auto-docs/shared-components/CheckIn/CheckInWrapper/functions/CheckInWrapper.md
  docs/docs/auto-docs/shared-components/CheckIn/Modal/CheckInModal/functions/CheckInModal.md
  docs/docs/auto-docs/shared-components/CheckIn/Modal/Row/TableRow/functions/TableRow.md
  docs/docs/auto-docs/shared-components/CheckIn/tagTemplate/variables/tagTemplate.md
  eslint.config.js
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/shared-components/CheckIn/CheckInMocks.ts
  src/shared-components/CheckIn/CheckInWrapper.spec.tsx
  src/shared-components/CheckIn/CheckInWrapper.tsx
  src/shared-components/CheckIn/Modal/CheckInModal.spec.tsx
  src/shared-components/CheckIn/Modal/CheckInModal.tsx
  src/shared-components/CheckIn/Modal/Row/TableRow.module.css
  src/shared-components/CheckIn/Modal/Row/TableRow.spec.tsx
  src/shared-components/CheckIn/Modal/Row/TableRow.tsx
  src/shared-components/CheckIn/tagTemplate.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

PR-5 Migration To BaseModal (#6516)
  docs/docs/auto-docs/components/MemberActivity/Modal/EventsAttendedMemberModal/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/RecurringEventVolunteerModal/variables/default.md
  docs/docs/auto-docs/types/UserPortal/RecurringEventVolunteerModal/interface/interfaces/InterfaceRecurringEventVolunteerModalProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/MemberActivity/Modal/EventsAttendedMemberModal.spec.tsx
  src/components/MemberActivity/Modal/EventsAttendedMemberModal.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/RecurringEventVolunteerModal.module.css
  src/screens/UserPortal/Volunteer/UpcomingEvents/RecurringEventVolunteerModal.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/RecurringEventVolunteerModal.tsx
  src/types/UserPortal/RecurringEventVolunteerModal/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat(table): Add filtering and search capabilities to DataTable (#6474)
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  docs/docs/auto-docs/shared-components/DataTable/SearchBar/functions/SearchBar.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IBaseDataTableProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IColumnDef.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IFilterState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IPageInfo.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IPaginationControlsProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ISortState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ITableLoaderProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ITableState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IUseTableDataOptions.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IUseTableDataResult.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/InterfaceSearchBarProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/Connection.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/Edge.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/IDataTableProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/PageInfo.md
  docs/docs/docs/developer-resources/tables.md
  src/shared-components/DataTable/DataTable.module.css
  src/shared-components/DataTable/DataTable.spec.tsx
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/SearchBar.spec.tsx
  src/shared-components/DataTable/SearchBar.tsx
  src/types/shared-components/DataTable/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor: PluginModal (active/inactive) to use StatusBadge PR: 9 (#6511)
  docs/docs/auto-docs/screens/AdminPortal/PluginStore/PluginModal/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/PluginStore/PluginModal/variables/default.md
  src/screens/AdminPortal/PluginStore/PluginModal.module.css
  src/screens/AdminPortal/PluginStore/PluginModal.spec.tsx
  src/screens/AdminPortal/PluginStore/PluginModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Linting for '@mui/material' 'TextField' and 'FormControl' 1768577792 (#6482)
  eslint.config.js
Due: none

feat: implemented the lint for styles import (#6528)
  .github/workflows/pull-request.yml
  .lintstagedrc.json
  scripts/check-css-imports.js
Due: eslint --fix, prettier --write

Revert "fix: (12)-refactored global style sheet (#6436)" (#6491)
  docs/docs/auto-docs/PledgeModal/README-1.md
  docs/docs/auto-docs/PledgeModal/functions/areOptionsEqual.md
  docs/docs/auto-docs/PledgeModal/functions/getMemberLabel.md
  docs/docs/auto-docs/PledgeModal/interfaces/InterfacePledgeModal-1.md
  docs/docs/auto-docs/PledgeModal/variables/default-1.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/PledgeModal/functions/areOptionsEqual.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/PledgeModal/functions/getMemberLabel.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/PledgeModal/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/UserScreen/UserScreen/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Campaigns/Campaigns.module.css
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.module.css
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Events/Events.module.css
  src/screens/UserPortal/Events/Events.tsx
  src/screens/UserPortal/People/People.module.css
  src/screens/UserPortal/People/People.tsx
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/screens/UserPortal/UserScreen/UserScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "Revert "fix: (12)-refactored global style sheet (#6436)" (#6491)" (#6494)
  docs/docs/auto-docs/PledgeModal/README-1.md
  docs/docs/auto-docs/PledgeModal/functions/areOptionsEqual.md
  docs/docs/auto-docs/PledgeModal/functions/getMemberLabel.md
  docs/docs/auto-docs/PledgeModal/interfaces/InterfacePledgeModal-1.md
  docs/docs/auto-docs/PledgeModal/variables/default-1.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/PledgeModal/functions/areOptionsEqual.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/PledgeModal/functions/getMemberLabel.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/PledgeModal/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/UserScreen/UserScreen/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Campaigns/Campaigns.module.css
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.module.css
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Events/Events.module.css
  src/screens/UserPortal/Events/Events.tsx
  src/screens/UserPortal/People/People.module.css
  src/screens/UserPortal/People/People.tsx
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/screens/UserPortal/UserScreen/UserScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: migrate CheckIn and Contribution types (#6485)
  docs/docs/auto-docs/components/AdminPortal/ContriStats/ContriStats/functions/default.md
  docs/docs/auto-docs/components/AdminPortal/OrgContriCards/OrgContriCards/functions/default.md
  docs/docs/auto-docs/shared-components/CheckIn/CheckInMocks/variables/checkInQueryMock.md
  docs/docs/auto-docs/shared-components/CheckIn/Modal/CheckInModal/functions/CheckInModal.md
  docs/docs/auto-docs/shared-components/CheckIn/Modal/Row/TableRow/functions/TableRow.md
  docs/docs/auto-docs/types/AdminPortal/Contribution/interface/interfaces/InterfaceContriStatsProps.md
  docs/docs/auto-docs/types/AdminPortal/Contribution/interface/interfaces/InterfaceOrgContriCardsProps.md
  docs/docs/auto-docs/types/CheckIn/interface/interfaces/InterfaceAttendeeCheckIn.md
  docs/docs/auto-docs/types/CheckIn/interface/interfaces/InterfaceAttendeeQueryResponse.md
  docs/docs/auto-docs/types/CheckIn/interface/interfaces/InterfaceModalProp.md
  docs/docs/auto-docs/types/CheckIn/interface/interfaces/InterfaceTableCheckIn.md
  docs/docs/auto-docs/types/CheckIn/interface/interfaces/InterfaceTableData.md
  docs/docs/auto-docs/types/CheckIn/interface/interfaces/InterfaceUser.md
  docs/docs/auto-docs/types/CheckIn/type/type-aliases/CheckIn.md
  docs/docs/auto-docs/types/CheckIn/type/type-aliases/CheckInInput.md
  docs/docs/auto-docs/types/CheckIn/type/type-aliases/CheckInStatus.md
  docs/docs/auto-docs/types/Contribution/interface/interfaces/InterfaceContriStatsProps.md
  docs/docs/auto-docs/types/Contribution/interface/interfaces/InterfaceOrgContriCardsProps.md
  docs/docs/auto-docs/types/Event/type/type-aliases/Event.md
  docs/docs/auto-docs/types/shared-components/CheckIn/interface/interfaces/InterfaceAttendeeCheckIn.md
  docs/docs/auto-docs/types/shared-components/CheckIn/interface/interfaces/InterfaceAttendeeQueryResponse.md
  docs/docs/auto-docs/types/shared-components/CheckIn/interface/interfaces/InterfaceModalProp.md
  docs/docs/auto-docs/types/shared-components/CheckIn/interface/interfaces/InterfaceTableCheckIn.md
  docs/docs/auto-docs/types/shared-components/CheckIn/interface/interfaces/InterfaceTableData.md
  docs/docs/auto-docs/types/shared-components/CheckIn/interface/interfaces/InterfaceUser.md
  docs/docs/auto-docs/types/shared-components/CheckIn/type/type-aliases/CheckIn.md
  docs/docs/auto-docs/types/shared-components/CheckIn/type/type-aliases/CheckInInput.md
  docs/docs/auto-docs/types/shared-components/CheckIn/type/type-aliases/CheckInStatus.md
  src/components/AdminPortal/ContriStats/ContriStats.tsx
  src/components/AdminPortal/OrgContriCards/OrgContriCards.tsx
  src/shared-components/CheckIn/CheckInMocks.ts
  src/shared-components/CheckIn/Modal/CheckInModal.tsx
  src/shared-components/CheckIn/Modal/Row/TableRow.tsx
  src/types/AdminPortal/Contribution/interface.ts
  src/types/Event/type.ts
  src/types/shared-components/CheckIn/interface.ts
  src/types/shared-components/CheckIn/type.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

StatusBadge PR-8: Refactor ActionItemUpdateStatusModal (use StatusBadge) (#6489)
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal/interfaces/IItemUpdateStatusModalProps.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal/variables/default.md
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore(react, react-dom): upgraded the vuln pkgs (#6519)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Feat: Added share feature to post (#6495)
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_MEMBERS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_POST_BY_ID.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_CREATED_ORGANIZATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_JOINED_ORGANIZATIONS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/VENUE_LIST.md
  docs/docs/auto-docs/shared-components/PostViewModal/PostViewModal/variables/default.md
  docs/docs/auto-docs/shared-components/postCard/PostCard/functions/default.md
  docs/docs/auto-docs/shared-components/posts/helperFunctions/functions/formatPostForCard.md
  docs/docs/auto-docs/shared-components/posts/posts/functions/default.md
  docs/docs/auto-docs/types/shared-components/PostViewModal/interface/interfaces/InterfacePostViewModalProps.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/GraphQl/Queries/OrganizationQueries.ts
  src/shared-components/PostViewModal/PostViewModal.module.css
  src/shared-components/PostViewModal/PostViewModal.spec.tsx
  src/shared-components/PostViewModal/PostViewModal.tsx
  src/shared-components/postCard/PostCard.module.css
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/posts/helperFunctions.ts
  src/shared-components/posts/posts.module.css
  src/shared-components/posts/posts.spec.tsx
  src/shared-components/posts/posts.tsx
  src/types/shared-components/PostViewModal/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added datagridwrapper component, fixed tests and docs (#6523)
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge/functions/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Requests/Requests/functions/default.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/VolunteerGroups/functions/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers.mocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers/functions/default.md
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/EventVolunteers/Requests/Requests.spec.tsx
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.mocks.ts
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Added NotificationToast to all files mentioned in #6089 (#6178)
  docs/docs/auto-docs/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.module.css
  src/components/AdminPortal/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/components/AgendaCategory/AgendaCategoryContainer.module.css
  src/components/AgendaCategory/AgendaCategoryContainer.spec.tsx
  src/components/AgendaCategory/AgendaCategoryContainer.tsx
  src/components/AgendaItems/AgendaItemsContainer.module.css
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.module.css
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
  src/shared-components/CheckIn/Modal/Row/TableRow.spec.tsx
  src/shared-components/CheckIn/Modal/Row/TableRow.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor: apply ErrorBoundaryWrapper across core UI (Batch 6) (#6529)
  docs/docs/auto-docs/components/EventStats/Statistics/Review/Review/functions/ReviewStats.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/EventStats/EventStatsWrapper.spec.tsx
  src/components/EventStats/Statistics/EventStats.module.css
  src/components/EventStats/Statistics/EventStats.spec.tsx
  src/components/EventStats/Statistics/EventStats.tsx
  src/components/EventStats/Statistics/Review/Review.module.css
  src/components/EventStats/Statistics/Review/Review.tsx
  src/components/GroupChatDetails/GroupChatDetails.module.css
  src/components/GroupChatDetails/GroupChatDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "Revert "fix: used shared button component (#6566)" (#6570)" (#6571)
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: used shared button component (#6563)
  docs/docs/auto-docs/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard/functions/default.md
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard.tsx
  src/shared-components/posts/posts.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Update requirements.txt
  .github/workflows/requirements.txt
Due: none

refactor: use StatusBadge for advertisement status(PR:12) (#6552)
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry/functions/default.md
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.module.css
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fix: used shared button component (#6564)
  docs/docs/auto-docs/screens/AdminPortal/OrgSettings/OrgSettings/functions/default.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  src/screens/AdminPortal/OrgSettings/OrgSettings.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: used shared button component (#6566)
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: campaigns (standardize statuses via StatusBadge) (#6540)
  docs/docs/auto-docs/screens/UserPortal/Campaigns/Campaigns/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/Campaigns/type-aliases/CampaignWithStatus.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_PENDING_CAMPAIGN.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Upgraded black (#6550)
  .github/workflows/requirements.txt
Due: none

Revert "fix: used shared button component (#6566)" (#6570)
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaign.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor/6451 shared button component (#6544)
  .github/workflows/scripts/check_docstrings.py
  .github/workflows/scripts/compare_translations.py
  .github/workflows/scripts/countline.py
  .github/workflows/scripts/css_check.py
  .github/workflows/scripts/test/test_css_check.py
  .github/workflows/scripts/test/test_translation_check.py
  docs/docs/auto-docs/shared-components/Button/Button.types/interfaces/InterfaceButtonProps.md
  docs/docs/auto-docs/shared-components/Button/Button.types/type-aliases/ButtonIconPosition.md
  docs/docs/auto-docs/shared-components/Button/Button.types/type-aliases/ButtonProps.md
  docs/docs/auto-docs/shared-components/Button/Button.types/type-aliases/ButtonSize.md
  docs/docs/auto-docs/shared-components/Button/Button.types/type-aliases/ButtonVariant.md
  docs/docs/auto-docs/shared-components/Button/variables/Button.md
  docs/docs/auto-docs/types/SidebarNavItem/interface/interfaces/ISidebarNavItemProps.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerStatus.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IColumnDef.md
  docs/docs/auto-docs/types/shared-components/ProfileAvatarDisplay/interface/interfaces/InterfaceProfileAvatarDisplayProps.md
  docs/docs/docs/developer-resources/reusable-components.md
  eslint.config.js
  src/shared-components/Button/Button.module.css
  src/shared-components/Button/Button.test.tsx
  src/shared-components/Button/Button.tsx
  src/shared-components/Button/Button.types.ts
  src/shared-components/Button/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "CRUDModalLint: setup TypeScript/ESM ESLint plugin infrastructure (#6562)" (#6579)
  .gitignore
  package.json
  scripts/eslint/tsconfig.json
Due: prettier --write

No imports of Button from MUI (#6551)
  eslint.config.js
Due: none

CRUDModalLint: setup TypeScript/ESM ESLint plugin infrastructure (#6562)
  .gitignore
  package.json
  scripts/eslint/tsconfig.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
