Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

refactor: remove redundant vi.restoreAllMocks() calls
  src/components/Venues/Modal/VenueModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: regex pattern fix
  scripts/check-i18n.js
Due: none

feat: consolidate disable check scripts into single class-based solution
  .github/workflows/pull-request.yml
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/test_disable_statements_check.py
Due: prettier --write

fixed coderabbitai suggested errors
  .github/workflows/scripts/check_translation_usage.py
Due: none

fix: move tests to test utils
  docs/docs/auto-docs/check-i18n.test-utils/functions/cleanupTempDirs.md
  docs/docs/auto-docs/check-i18n.test-utils/functions/makeTempDir.md
  docs/docs/auto-docs/check-i18n.test-utils/variables/fixturesDir.md
  docs/docs/auto-docs/check-i18n.test-utils/variables/scriptPath.md
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/functions/cleanupTempDirs.md
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/functions/makeTempDir.md
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/functions/runScript.md
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/functions/writeTempFile.md
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/variables/fixturesDir.md
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/variables/scriptPath.md
  scripts/check-i18n.js
  src/test-utils/check-i18n-basic.test.js
  src/test-utils/check-i18n-enhanced.test.js
  src/test-utils/check-i18n.test-utils.js
Due: none

style: remove empty __init__ method per CodeRabbit feedback
  .github/workflows/scripts/disable_statements_check.py
Due: none

fix: check-i18n folder move
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/functions/cleanupTempDirs.md
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/functions/makeTempDir.md
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/variables/fixturesDir.md
  docs/docs/auto-docs/test-utils/check-i18n.test-utils/variables/scriptPath.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/cleanupTempDirs.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/makeTempDir.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/runScript.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/writeTempFile.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/variables/fixturesDir.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/variables/scriptPath.md
  src/test-utils/check-i18n.test-utils.js
  src/test-utils/check-i18n/check-i18n-basic.test.js
  src/test-utils/check-i18n/check-i18n-enhanced.test.js
  src/test-utils/check-i18n/check-i18n.test-utils.js
Due: none

style: remove unused Optional import per CodeRabbit feedback
  .github/workflows/scripts/disable_statements_check.py
Due: none

fix: add mock cleanup in afterEach blocks to resolve lint errors (#5054)
  src/components/UserPortal/CommentCard/CommentCard.spec.tsx
  src/components/UserPortal/OrganizationNavbar/OrganizationNavbar.spec.tsx
  src/components/Venues/Modal/VenueModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed formatting
  src/screens/Notification/Notification.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: upgrade @mui/x-data-grid from 7.29.11 to 8.19.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade @mui/x-data-grid from 7.29.11 to 8.19.0 (#4979)
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: improve code coverage for PledgeModal
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: fix DatePicker null-change expectations
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: fix DatePicker mock typing and align null handling
  CODE_OF_CONDUCT.md
  CODE_STYLE.md
  CONTRIBUTING.md
  DOCUMENTATION.md
  INSTALLATION.md
  ISSUE_GUIDELINES.md
  PR_GUIDELINES.md
  README.md
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: fix Shard 3 failure and complete coverage for PledgeModal
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: restore sensitive files from upstream
  CODE_OF_CONDUCT.md
  CODE_STYLE.md
  CONTRIBUTING.md
  DOCUMENTATION.md
  INSTALLATION.md
  ISSUE_GUIDELINES.md
  PR_GUIDELINES.md
  README.md
Due: none

update generated docs
  docs/docs/auto-docs/screens/Notification/Notification/variables/default.md
Due: none

fix: add JSDoc to script
  scripts/check-i18n.js
Due: none

Updated information on pre-commit hooks
  docs/docs/docs/developer-resources/testing.md
Due: none

Updated information on pre-commit hooks (#5071)
  docs/docs/docs/developer-resources/testing.md
Due: none

modify error test
  src/screens/Notification/Notification.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: flaky test fix
  scripts/check-i18n.js
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed Missing error handling for malformed JSON files
  .github/workflows/pull-request.yml
  .github/workflows/scripts/check_translation_usage.py
Due: prettier --write

fixed google style error
  .github/workflows/scripts/check_translation_usage.py
Due: none

chore: remove old disable check scripts
  .github/workflows/scripts/code_coverage_disable_check.py
  .github/workflows/scripts/eslint_disable_check.py
  .github/workflows/scripts/itskip_disable_check.py
Due: none

refactor: use clean test exclusion instead of string concatenation
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/test_disable_statements_check.py
Due: none

test: add tearDown method for proper test cleanup
  .github/workflows/scripts/test_disable_statements_check.py
Due: none

fix: resolve remaining literal patterns in test file
  .github/workflows/scripts/test_disable_statements_check.py
Due: none

fix: remove unnecessary tearDown method
  .github/workflows/scripts/test_disable_statements_check.py
Due: none
