Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "node scripts/githooks/check-localstorage-usage.js"
}

github action created
  .github/workflows/pull-request.yml
  .husky/pre-commit
Due: eslint --fix, prettier --write

pull-request.yml updated
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

improved code coverage
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

code-rabit-reconfigaring
  .github/workflows/pull-request.yml
  .github/workflows/scripts/eslint_disable_check.py
  .husky/pre-commit
  matrix.txt
  package-lock.json
  src/screens/OrganizationPeople/AddMember.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

[Fix:3057] Increases coverage for CustomRecurrenceOptions
  src/components/RecurrenceOptions/CustomRecurrence.spec.tsx
  src/components/RecurrenceOptions/CustomRecurrenceModal.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

test
  .eslintrc.json
  .husky/pre-commit
Due: prettier --write

updated code hope it will fix the issue
  .github/workflows/pull-request.yml
  .github/workflows/scripts/css_check.py
Due: eslint --fix, prettier --write

fixed linting
  src/style/app.module.css
Due: prettier --write

Updating to NEW COLOR SCHEME 2 (#3293)
  src/assets/css/app.css
  src/components/AddOn/core/AddOnEntry/AddOnEntry.tsx
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/EventCalendar/EventCalendar.tsx
  src/components/EventCalendar/EventHeader.tsx
  src/components/EventListCard/EventListCardModals.tsx
  src/components/OrgPeopleListCard/OrgPeopleListCard.tsx
  src/components/OrgPostCard/DeletePostModal.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagNode.tsx
  src/components/Venues/VenueCard.tsx
  src/components/Venues/VenueModal.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgeModal.tsx
  src/screens/ManageTag/EditUserTagModal.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/RemoveUserTagModal.tsx
  src/screens/ManageTag/UnassignUserTagModal.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/OrganizationActionItems/ItemUpdateStatusModal.tsx
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/screens/OrganizationFundCampaign/CampaignModal.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFunds/FundModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/OrganizationPeople/AddMember.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

test
  .husky/pre-commit
Due: none

test
  .husky/pre-commit
  src/screens/OrganizationPeople/AddMember.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Removed eslint-ignore comments and added override rule specifically for the target file
  .eslintrc.json
  scripts/githooks/check-localstorage-usage.js
Due: prettier --write

docs
  .eslintignore
  .github/workflows/pull-request.yml
  fix-readme-links.js
  package.json
  tsconfig.docs.json
  typedoc.json
Due: eslint --fix, prettier --write

Added missing providers
  src/components/UserPortal/PostCard/PostCard.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

added test cases in src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.tsx
  src/screens/Users/UsersMocks.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

fixed linting issues
  src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.tsx
  src/screens/Users/UsersMocks.mocks.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

fixed linting issues
  src/screens/Users/Users.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

fixed linting issues
  src/screens/Users/Organization.mocks.ts
  src/screens/Users/User.mocks.ts
  src/screens/Users/Users.spec.tsx
  src/screens/Users/UsersMocks.mocks.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Fix: Venue details now update without requiring a name change
  src/components/Venues/VenueModal.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

removed istanbul statement
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

removed code coverage disable statement
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Migrated AddPeopleToTag.test.tsx from jest to vitest
  src/components/AddPeopleToTag/AddPeopleToTag.test.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Update css_check.py
  .github/workflows/scripts/css_check.py
Due: none

Remove Reddit logo and fix TypeScript errors
  package-lock.json
  package.json
  src/constants.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js
