Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

migrated notificationtoast and its types to shared-components
  src/shared-components/NotificationToast/NotificationToast.spec.tsx
  src/shared-components/NotificationToast/NotificationToast.tsx
  src/types/shared-components/NotificationToast/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

updated path in eslint config file
  eslint.config.js
Due: none

updated path in app, errorhandler and usesession files
  src/App.tsx
  src/utils/errorHandler.tsx
  src/utils/useSession.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

updated path in index and its spec file
  src/index.spec.tsx
  src/index.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed the tests
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove restricted mui x-date-pickers imports from volunteer view modal tests
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/GroupModal/interfaces/InterfaceGroupModal.md
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.spec.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: made the required changes
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaign.module.css
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.module.css
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.module.css
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: optimize DataGridWrapper tests to minimal core coverage
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed the tests
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Modify backupEnv file to copy and return backup path
  src/setup/backupEnvFile/backupEnvFile.spec.ts
  src/setup/backupEnvFile/backupEnvFile.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Harden error handling and add rollback for failed setup
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

remove additional statements to resolve the bug
  src/setup/checkEnvFile/checkEnvFile.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: addressed-coderabbit-changes
  docs/docs/auto-docs/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay/functions/ProfileAvatarDisplay.md
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: coderabbit-suggested-changes
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.spec.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added-descriptive alt text for creator and fixed ts-doc
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add targeted tests to improve DataGridWrapper coverage
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Update
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: remove required prop
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

updated file
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: made the required changes
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.module.css
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore(git): add venv to gitignore
  .gitignore
  docs/docs/auto-docs/setup/backupEnvFile/backupEnvFile/functions/backupEnvFile.md
  docs/docs/auto-docs/setup/setup/functions/main.md
Due: none

feat: add final tests for onRowClick and actionColumn coverage
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: failing tests
  src/components/AdminPortal/Venues/VenueCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add invalid sort format warning test for DataGridWrapper
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: add TSDoc comments to CampaignModal and FundModal components
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFunds/modal/FundModal/variables/default.md
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: (7)-refactored global style sheet (#6373)
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFunds/OrganizationFunds/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFunds/modal/FundModal/interfaces/InterfaceFundModal.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFunds/modal/FundModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationTransactions/OrganizationTransactions/functions/default.md
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaign.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.module.css
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.module.css
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.spec.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
  src/screens/AdminPortal/OrganizationTransactions/OrganizationTransactions.module.css
  src/screens/AdminPortal/OrganizationTransactions/OrganizationTransactions.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor src/components/test-utils/ (#6231)
  docs/docs/auto-docs/components/test-utils/AsyncComponent/functions/default.md
  docs/docs/auto-docs/test-utils/AsyncComponent/functions/default.md
  docs/docs/auto-docs/test-utils/I18nextProviderMock/functions/I18nextProvider.md
  docs/docs/auto-docs/test-utils/MockBrowserRouter/functions/default.md
  docs/docs/auto-docs/test-utils/TestErrorBoundary/classes/TestErrorBoundary.md
  docs/docs/auto-docs/test-utils/TestWrapper/functions/TestWrapper.md
  src/shared-components/posts/posts.spec.tsx
  src/test-utils/AsyncComponent.tsx
  src/test-utils/I18nextProviderMock.tsx
  src/test-utils/MockBrowserRouter.tsx
  src/test-utils/TestErrorBoundary.tsx
  src/test-utils/TestWrapper.spec.tsx
  src/test-utils/TestWrapper.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(ActionItemModal): extract AssignmentTypeSelector component [Part 2/5]
  docs/docs/auto-docs/components/AdminPortal/AssignmentTypeSelector/AssignmentTypeSelector/variables/default.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  docs/docs/auto-docs/types/AdminPortal/AssignmentTypeSelector/interface/interfaces/InterfaceAssignmentTypeSelectorProps.md
  docs/docs/auto-docs/types/AdminPortal/AssignmentTypeSelector/interface/type-aliases/AssignmentType.md
  src/components/AdminPortal/ApplyToSelector/ApplyToSelector.tsx
  src/components/AdminPortal/AssignmentTypeSelector/AssignmentTypeSelector.spec.tsx
  src/components/AdminPortal/AssignmentTypeSelector/AssignmentTypeSelector.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
  src/types/AdminPortal/AssignmentTypeSelector/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: improve error handling in ProfileDropdown with toast notifications
  src/components/ProfileDropdown/ProfileDropdown.spec.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: conflict
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

implement/errorBoundaryWrapper-batch3
  docs/docs/auto-docs/components/AgendaItems/Preview/AgendaItemsPreviewModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  docs/docs/auto-docs/components/ChangeLanguageDropdown/ChangeLanguageDropDown/functions/default.md
  docs/docs/auto-docs/components/CheckIn/Modal/CheckInModal/functions/CheckInModal.md
  docs/docs/auto-docs/components/CheckIn/Modal/Row/TableRow/functions/TableRow.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.tsx
  src/components/CheckIn/Modal/CheckInModal.tsx
  src/components/CheckIn/Modal/Row/TableRow.module.css
  src/components/CheckIn/Modal/Row/TableRow.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix bugs
  docs/docs/auto-docs/types/AdminPortal/CampaignModal/interface/interfaces/InterfaceCampaignModalProps.md
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/types/AdminPortal/CampaignModal/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
