Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{ts,tsx,css}": ["pnpm exec tsx scripts/check-css-imports.js --files"]
}

refactor: remove unused userData prop from organizationModal
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/variables/default.md
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

docs: add tsDoc comments to organizationModal
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/variables/default.md
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test(editusertagmodal): fix userEvent typing assertion
  src/screens/AdminPortal/ManageTag/editModal/EditUserTagModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: spec tests regarding defaultProps
  src/components/AdminPortal/AddPeopleToTag/AddPeopleToTag.spec.tsx
  src/screens/AdminPortal/ManageTag/editModal/EditUserTagModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: resolved errors
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/shared-components/BreadcrumbsComponent/BreadCrumbsComponent.module.css
  src/shared-components/CRUDModalTemplate/CreateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: typo error in import
  src/shared-components/BreadcrumbsComponent/BreadcrumbsComponent.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

fix: formatting errors fixed
  src/shared-components/BreadcrumbsComponent/BreadcrumbsComponent.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

fix: add aria rowgroup roles and use tsdoc in people screens
  docs/docs/auto-docs/types/PeopleTab/interface/interfaces/InterfaceMemberNode.md
  src/screens/UserPortal/People/People.tsx
  src/types/PeopleTab/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: standardize i18n testing setup
  src/components/AdminPortal/AddPeopleToTag/AddPeopleToTag.spec.tsx
  src/screens/AdminPortal/ManageTag/editModal/EditUserTagModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: increase coverage of editUserTagModal component
  src/screens/AdminPortal/ManageTag/editModal/EditUserTagModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: add auto docs and run pre commit
  docs/docs/auto-docs/utils/performance/variables/debounce.md
Due: none

fix: add auto docs
  docs/docs/auto-docs/utils/performance/variables/debounce.md
Due: none

fix: added coderabbit suggestions
  src/screens/AdminPortal/OrganizationEvents/OrganizationEvents.spec.tsx
  src/screens/AdminPortal/OrganizationTransactions/OrganizationTransactions.spec.tsx
  src/screens/AdminPortal/OrganizationVenues/OrganizationVenues.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: add htmlFor attribute to the address label
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: spacing issue resolved
  src/screens/UserPortal/Volunteer/Actions/Actions.module.css
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
  src/shared-components/VolunteerGroupViewModal/VolunteerGroupViewModal.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

replace MUI barrel imports with path-based imports
  scripts/convert-mui-imports.js
Due: none

updated script
  scripts/convert-mui-imports.js
Due: none

fix: correct conditional logic and type conversion in People componen
  docs/docs/auto-docs/types/UserPortal/UserPortalCard/interface/interfaces/InterfaceUserPortalCardProps.md
  src/screens/UserPortal/People/People.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: improve coverage
  docs/docs/auto-docs/screens/AdminPortal/OrgList/OrgList/functions/default.md
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/addMember/AddMember.spec.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: recurrenceUtils.spec.ts failing tests
  src/utils/recurrenceUtils/recurrenceUtils.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed es-lint errors
  src/components/AdminPortal/AssignmentTypeSelector/AssignmentTypeSelector.tsx
  src/screens/AdminPortal/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/AdminPortal/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.tsx
  src/screens/AdminPortal/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/shared-components/StatusBadge/StatusBadge.tsx
  src/shared-components/VolunteerGroupViewModal/VolunteerGroupViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

updated auto generated docs
  docs/docs/auto-docs/components/AdminPortal/AssignmentTypeSelector/AssignmentTypeSelector/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/EventVolunteers/Volunteers/viewModal/VolunteerViewModal/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/GroupModal/interfaces/InterfaceGroupModal.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/GroupModal/variables/default.md
  docs/docs/auto-docs/shared-components/StatusBadge/StatusBadge/variables/default.md
  docs/docs/auto-docs/shared-components/VolunteerGroupViewModal/VolunteerGroupViewModal/variables/default.md
  src/components/UserPortal/ChatRoom/MessageItem.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

replaced vi.restoreAllMocks with vi.clearAllMocks
  src/components/Auth/OAuthButton/GithubOAuthButton.spec.tsx
  src/components/Auth/OAuthButton/GoogleOAuthButton.spec.tsx
  src/components/Auth/OAuthButton/OAuthButton.spec.tsx
  src/components/Auth/OAuthCallback/callback.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix flacky date test
  src/utils/recurrenceUtils/recurrenceUtils.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: migrate recurrence components
  docs/docs/auto-docs/shared-components/Recurrence/RecurrenceEndOptionsSection/variables/RecurrenceEndOptionsSection.md
  docs/docs/auto-docs/shared-components/Recurrence/RecurrenceFrequencySection/variables/RecurrenceFrequencySection.md
  docs/docs/auto-docs/shared-components/Recurrence/RecurrenceMonthlySection/variables/RecurrenceMonthlySection.md
  docs/docs/auto-docs/shared-components/Recurrence/RecurrenceWeeklySection/variables/RecurrenceWeeklySection.md
  docs/docs/auto-docs/shared-components/Recurrence/RecurrenceYearlySection/variables/RecurrenceYearlySection.md
  docs/docs/auto-docs/types/shared-components/Recurrence/interface/interfaces/InterfaceRecurrenceEndOptionsSectionProps.md
  docs/docs/auto-docs/types/shared-components/Recurrence/interface/interfaces/InterfaceRecurrenceFrequencySectionProps.md
  docs/docs/auto-docs/types/shared-components/Recurrence/interface/interfaces/InterfaceRecurrenceMonthlySectionProps.md
  docs/docs/auto-docs/types/shared-components/Recurrence/interface/interfaces/InterfaceRecurrenceWeeklySectionProps.md
  docs/docs/auto-docs/types/shared-components/Recurrence/interface/interfaces/InterfaceRecurrenceYearlySectionProps.md
  src/shared-components/EventForm/EventForm.spec.tsx
  src/shared-components/EventForm/RecurrenceDropdown/RecurrenceDropdown.spec.tsx
  src/shared-components/EventListCard/Modal/EventListCardModals.spec.tsx
  src/shared-components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/shared-components/EventListCard/Modal/updateLogic.spec.ts
  src/shared-components/Recurrence/CustomRecurrenceModal.spec.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.tsx
  src/shared-components/Recurrence/RecurrenceFrequencySection.tsx
  src/shared-components/Recurrence/RecurrenceMonthlySection.tsx
  src/shared-components/Recurrence/RecurrenceWeeklySection.tsx
  src/shared-components/Recurrence/RecurrenceYearlySection.tsx
  src/types/shared-components/Recurrence/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: enhance test stability
  src/screens/AdminPortal/OrganizationEvents/CustomRecurrenceModal.spec.tsx
  src/shared-components/EventForm/EventForm.spec.tsx
  src/shared-components/EventListCard/Modal/EventListCardModals.spec.tsx
  src/shared-components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/shared-components/EventListCard/Modal/updateLogic.spec.ts
  src/shared-components/Recurrence/CustomRecurrenceModal.spec.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.tsx
  src/shared-components/Recurrence/RecurrenceFrequencySection.tsx
  src/utils/recurrenceUtils/recurrenceUtils.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: apply PR suggestions for CustomRecurrenceModal and RecurrenceYearlySection
  src/shared-components/Recurrence/CustomRecurrenceModal.spec.tsx
  src/shared-components/Recurrence/RecurrenceYearlySection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: apply remaining PR feedback for test stability
  src/shared-components/Recurrence/CustomRecurrenceModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Fixed naming convention violations
  docs/docs/auto-docs/components/Auth/OAuthCallback/OAuthCallback/functions/default.md
  src/App.tsx
  src/components/Auth/OAuthCallback/OAuthCallback.module.css
  src/components/Auth/OAuthCallback/OAuthCallback.spec.tsx
  src/components/Auth/OAuthCallback/OAuthCallback.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

style: align DataTable UI with DataGridWrapper
  src/shared-components/DataTable/DataTable.module.css
  src/shared-components/DataTable/DataTableTable.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

refactor: replace prop-drilled translation functions
  docs/docs/auto-docs/shared-components/EventListCard/Modal/Delete/EventListCardDeleteModal/variables/default.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IAttendanceStatisticsModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/ICreateEventInput.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventEdge.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IPreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IUpdateEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceAttendanceStatisticsModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceCalendarProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEvent.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventEdge.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventHeaderProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceIOrgList.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceMember.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfacePreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceStatsModal.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceUpdateEventModalProps.md
  docs/docs/auto-docs/types/shared-components/EventListCard/interface/interfaces/InterfaceEventListCardModalsProps.md
  docs/docs/auto-docs/types/shared-components/EventListCard/interface/interfaces/InterfaceEventUpdateInput.md
  docs/docs/auto-docs/types/shared-components/EventListCard/interface/interfaces/InterfaceFormState.md
  docs/docs/auto-docs/types/shared-components/EventListCard/interface/interfaces/InterfaceUpdateEventHandlerProps.md
  src/components/AdminPortal/EventManagement/Dashboard/EventDashboard.tsx
  src/shared-components/EventListCard/EventListCard.tsx
  src/shared-components/EventListCard/Modal/Delete/EventListCardDeleteModal.spec.tsx
  src/shared-components/EventListCard/Modal/Delete/EventListCardDeleteModal.tsx
  src/shared-components/EventListCard/Modal/EventListCardModals.spec.tsx
  src/shared-components/EventListCard/Modal/EventListCardModals.tsx
  src/shared-components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/shared-components/EventListCard/Modal/Preview/EventListCardPreviewModal.tsx
  src/shared-components/EventListCard/Modal/updateLogic.spec.ts
  src/shared-components/EventListCard/Modal/updateLogic.ts
  src/types/Event/interface.ts
  src/types/shared-components/EventListCard/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

chore: remove an empty line from test file
  src/shared-components/EventListCard/Modal/updateLogic.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: added userevent in venumodal
  src/components/AdminPortal/Venues/Modal/VenueModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files
