Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{ts,tsx,css}": ["pnpm exec tsx scripts/check-css-imports.js --files"]
}

fix(AdminEventPage): make View all button optional and install start-server-and-test
  cypress/pageObjects/AdminPortal/AdminEventPage.ts
  knip.deps.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

OAuth Button Integration
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/components/Auth/OAuthButton/GitHubOAuthButton/variables/default.md
  docs/docs/auto-docs/components/Auth/OAuthButton/GoogleOAuthButton/variables/default.md
  docs/docs/auto-docs/components/Auth/OAuthButton/types/type-aliases/Props.md
  docs/docs/auto-docs/components/Auth/OAuthCallback/callback/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/App.tsx
  src/components/Auth/OAuthButton/GitHubOAuthButton.tsx
  src/components/Auth/OAuthButton/GithubOAuthButton.spec.tsx
  src/components/Auth/OAuthButton/GoogleOAuthButton.spec.tsx
  src/components/Auth/OAuthButton/GoogleOAuthButton.tsx
  src/components/Auth/OAuthButton/types.ts
  src/components/Auth/OAuthCallback/callback.module.css
  src/components/Auth/OAuthCallback/callback.spec.tsx
  src/components/Auth/OAuthCallback/callback.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: extract IIconComponent interface to separate file (#7388)
  docs/docs/auto-docs/shared-components/IconComponent/IconComponent/functions/default.md
  docs/docs/auto-docs/shared-components/IconComponent/IconComponent/interfaces/IIconComponent.md
  docs/docs/auto-docs/types/shared-components/IconComponent/interface/interfaces/IIconComponent.md
  src/shared-components/IconComponent/IconComponent.tsx
  src/types/shared-components/IconComponent/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix(test): stabilize unit tests and refactor E2E to POM
  cypress/e2e/AdminPortal/Advertisements/Advertisements.cy.ts
  cypress/pageObjects/AdminPortal/AdvertisementPage.ts
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: improve ActionItemModal coverage paths
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.callbacks.spec.tsx
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

implemented coderabbit suggestion
  docs/docs/auto-docs/components/Auth/OAuthButton/GitHubOAuthButton/variables/default.md
  docs/docs/auto-docs/components/Auth/OAuthButton/GoogleOAuthButton/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/GraphQl/Queries/Queries.ts
  src/components/Auth/OAuthButton/GitHubOAuthButton.tsx
  src/components/Auth/OAuthButton/GithubOAuthButton.spec.tsx
  src/components/Auth/OAuthButton/GoogleOAuthButton.spec.tsx
  src/components/Auth/OAuthButton/GoogleOAuthButton.tsx
  src/components/Auth/OAuthCallback/callback.module.css
  src/components/Auth/OAuthCallback/callback.spec.tsx
  src/components/Auth/OAuthCallback/callback.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

improved test quality
  src/GraphQl/Queries/Queries.ts
  src/components/Auth/OAuthButton/GithubOAuthButton.spec.tsx
  src/components/Auth/OAuthButton/GoogleOAuthButton.spec.tsx
  src/components/Auth/OAuthCallback/callback.module.css
  src/components/Auth/OAuthCallback/callback.spec.tsx
  src/style/tokens/layout.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix(test): make ActionItemModal callbacks mock hoist-safe
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.callbacks.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

implemented coderabbit suggestion
  src/components/Auth/OAuthButton/GithubOAuthButton.spec.tsx
  src/components/Auth/OAuthButton/GoogleOAuthButton.spec.tsx
  src/components/Auth/OAuthCallback/callback.spec.tsx
  src/components/Auth/OAuthCallback/callback.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Race condition and clearAllMocks check. Timestamp=1771546509
  .coderabbit/ast-grep-rules/race-condition-check.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
  scripts/eslint/rules/enforce-screen-route.js
  scripts/eslint/rules/enforce-screen-route.spec.js
Due: eslint --fix, prettier --write

Race condition and clearAllMocks check. Timestamp=1771546672
  scripts/eslint/config/enforce-screen-route.js
  scripts/eslint/rules/enforce-screen-route.js
  scripts/eslint/rules/enforce-screen-route.spec.js
Due: none

Race condition and clearAllMocks check. Timestamp=1771547679
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Race condition and clearAllMocks check. Timestamp=1771547931
  .coderabbit/ast-grep-rules/race-condition-check.yml
Due: eslint --fix, prettier --write

Race condition and clearAllMocks check. Timestamp=1771548215
  .coderabbit/ast-grep-rules/race-condition-check.yml
Due: eslint --fix, prettier --write

Race condition and clearAllMocks check. Timestamp=1771548520
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Race condition and clearAllMocks check (#7392)
  .coderabbit/ast-grep-rules/race-condition-check.yml
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
  scripts/eslint/config/enforce-screen-route.js
Due: eslint --fix, prettier --write

fix(test): address CodeRabbit issues in ActionItemModal callbacks spec
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.callbacks.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix(test): harden ActionItem callbacks spec for shard stability
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.callbacks.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

updated translations
  public/locales/fr/translation.json
Due: prettier --write

test: fix race condition, restore mocks
  public/locales/fr/translation.json
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/UserPortal/People/People.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: organization tags css
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

fix: run pre commit and auto docs
  docs/docs/auto-docs/screens/AdminPortal/OrgList/OrgList/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

improved coverage
  src/components/Auth/OAuthCallback/callback.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: reach 100% branch coverage for ActionItemModal
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.callbacks.spec.tsx
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Enable request_changes_workflow in coderabbit config
  .coderabbit.yaml
Due: none

test: extract modal stub to fix no-multi-comp
  docs/docs/auto-docs/shared-components/ActionItems/ActionItemModal/ModalStub/functions/default.md
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.callbacks.spec.tsx
  src/shared-components/ActionItems/ActionItemModal/ModalStub.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: add tsdoc for modal stub
  docs/docs/auto-docs/shared-components/ActionItems/ActionItemModal/ModalStub/functions/default.md
  src/shared-components/ActionItems/ActionItemModal/ModalStub.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: improve LoadingMoreRows.tsx test coverage
  src/shared-components/DataTable/LoadingMoreRows.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: improve ActionItemModal coverage paths (#7390)
  docs/docs/auto-docs/shared-components/ActionItems/ActionItemModal/ModalStub/functions/default.md
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.callbacks.spec.tsx
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/shared-components/ActionItems/ActionItemModal/ModalStub.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

feat(eslint): Restrict MUI Table* imports and fix violations (#7192)
  docs/docs/auto-docs/components/AdminPortal/EventManagement/EventAttendance/AttendanceList/AttendedEventList/variables/default.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/CreateDirectChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/CreateGroupChat/CreateGroupChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetails/functions/default.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks/variables/delayedMocks.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks/variables/failingMocks.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks/variables/filledMockChat.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks/variables/incompleteMockChat.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks/variables/mocks.md
  docs/docs/auto-docs/types/UserPortal/CreateGroupChat/interface/interfaces/InterfaceCreateGroupChatProps.md
  docs/docs/docs/developer-resources/reusable-components.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  scripts/eslint/config/exemptions.js
  scripts/eslint/rules/imports.js
  scripts/eslint/rules/rules.spec.js
  src/components/AdminPortal/EventManagement/EventAttendance/AttendanceList/AttendedEventList.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.spec.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.spec.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.spec.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks.tsx
  src/screens/AdminPortal/OrganizationPeople/addMember/AddMember.tsx
  src/types/UserPortal/CreateGroupChat/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Streamlined developer documentation sidebar
  CONTRIBUTING.md
  cypress/README.md
  docs/docs/docs/developer-resources/empty-state-migration.md
  docs/docs/docs/developer-resources/features/minio.md
  docs/docs/docs/developer-resources/features/plugin-graphql.md
  docs/docs/docs/developer-resources/features/plugin.md
  docs/docs/docs/developer-resources/general/contributing.md
  docs/docs/docs/developer-resources/general/design-token-system.md
  docs/docs/docs/developer-resources/general/introduction.md
  docs/docs/docs/developer-resources/general/linting.md
  docs/docs/docs/developer-resources/general/reusable-components.md
  docs/docs/docs/developer-resources/general/security.md
  docs/docs/docs/developer-resources/general/troubleshooting.md
  docs/docs/docs/developer-resources/installation.md
  docs/docs/docs/developer-resources/operation.md
  docs/docs/docs/developer-resources/shared-components/actionitems-components.md
  docs/docs/docs/developer-resources/shared-components/crud-modal-template.md
  docs/docs/docs/developer-resources/shared-components/data-grid-wrapper.md
  docs/docs/docs/developer-resources/shared-components/dropdown-button-api.md
  docs/docs/docs/developer-resources/shared-components/tables.md
  docs/docs/docs/developer-resources/testing/e2e-testing.md
  docs/docs/docs/developer-resources/testing/testing.md
  docs/sidebars.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Streamlined developer documentation sidebar 1771646391
  docs/docs/docs/developer-resources/general/reusable-components.md
Due: none

Streamlined developer documentation sidebar 1771646853
  docs/docs/docs/developer-resources/empty-state-migration.md
  docs/docs/docs/developer-resources/features/minio.md
  docs/docs/docs/developer-resources/features/plugin-graphql.md
  docs/docs/docs/developer-resources/features/plugin.md
  docs/docs/docs/developer-resources/general/contributing.md
  docs/docs/docs/developer-resources/general/design-token-system.md
  docs/docs/docs/developer-resources/general/introduction.md
  docs/docs/docs/developer-resources/general/linting.md
  docs/docs/docs/developer-resources/general/reusable-components.md
  docs/docs/docs/developer-resources/general/security.md
  docs/docs/docs/developer-resources/general/troubleshooting.md
  docs/docs/docs/developer-resources/installation.md
  docs/docs/docs/developer-resources/operation.md
  docs/docs/docs/developer-resources/shared-components/actionitems-components.md
  docs/docs/docs/developer-resources/shared-components/crud-modal-template.md
  docs/docs/docs/developer-resources/shared-components/data-grid-wrapper.md
  docs/docs/docs/developer-resources/shared-components/dropdown-button-api.md
  docs/docs/docs/developer-resources/shared-components/tables.md
  docs/docs/docs/developer-resources/testing/e2e-testing.md
  docs/docs/docs/developer-resources/testing/testing.md
  docs/sidebars.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Streamlined developer documentation sidebar 1771647706
  CONTRIBUTING.md
  cypress/README.md
Due: none

Streamlined developer documentation sidebar 1771649674
  docs/docs/docs/developer-resources/shared-components/crud-modal-template.md
  docs/docs/docs/developer-resources/shared-components/data-grid-wrapper.md
Due: none
