Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix: All tests pass
  src/components/Advertisements/Advertisements.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix: Tests pass
  src/App.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: add docusaurus install steps for developers
  docs/docs/docs/getting-started/installation.md
Due: none

chore: remove Start and End Date from Create Pledge dialog box
  public/locales/en/translation.json
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: remove Start and End Date from Create Pledge dialog box
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: fixed failing test and formatting
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: ci-for-pr
  .github/workflows/pull-request.yml
Due: prettier --write

fix: fixed type error
  docs/docs/auto-docs/screens/MemberDetail/UserContactDetails/variables/default.md
  src/screens/MemberDetail/UserContactDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: test-file
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: test-file
  .github/workflows/pull-request.yml
Due: prettier --write

fix: test-file
  docs/docs/auto-docs/types/Tag/utils/variables/dataGridStyle.md
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/types/Tag/utils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: add NotificationToast wrapper with i18n + tests
  docs/docs/auto-docs/components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/components/NotificationToast/NotificationToast/variables/NotificationToast.md
  docs/docs/auto-docs/types/NotificationToast/interface/interfaces/InterfaceNotificationToastHelpers.md
  docs/docs/auto-docs/types/NotificationToast/interface/interfaces/InterfaceNotificationToastI18nMessage.md
  docs/docs/auto-docs/types/NotificationToast/interface/type-aliases/NotificationToastContainerProps.md
  docs/docs/auto-docs/types/NotificationToast/interface/type-aliases/NotificationToastMessage.md
  docs/docs/auto-docs/types/NotificationToast/interface/type-aliases/NotificationToastNamespace.md
  src/components/NotificationToast/NotificationToast.spec.tsx
  src/components/NotificationToast/NotificationToast.tsx
  src/types/NotificationToast/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: test-file
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/types/Tag/utils/variables/dataGridStyle.md
Due: prettier --write

fix: final-ci
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed Code style issues
  public/locales/fr/translation.json
Due: prettier --write

fix(postCard): added await and spec fix
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix: pledges viewing by a user , pledges creation by user and admin portals. (#5080)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/Notification/Notification.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: final-ci
  .github/workflows/scripts/css_check.py
  docs/docs/auto-docs/types/Tag/utils/variables/dataGridStyle.md
  src/types/Tag/utils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Improve OrganizationCard button labels and add status indicator chip
  public/locales/en/translation.json
  src/shared-components/OrganizationCard/OrganizationCard.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: added translations
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

Fixed Missing Key
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: complete tests coverage
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix tests and added dependency in useEffect
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: fixed the translation and common json files
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
Due: prettier --write

fix: remove console log,fixed the navbar test file and rename pledge test file
  src/screens/UserPortal/Pledges/Pledges.spec.tsx
  src/shared-components/Navbar/Navbar.spec.tsx
  src/shared-components/Navbar/Navbar.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: address CodeRabbit feedback for NotificationToast
  docs/docs/auto-docs/components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/components/NotificationToast/NotificationToast/variables/NotificationToast.md
  src/components/NotificationToast/NotificationToast.spec.tsx
  src/components/NotificationToast/NotificationToast.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: fixed failing test files
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTags/functions/default.md
  src/components/UserDetails/UserOrganization.spec.tsx
  src/components/UserDetails/UserTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Add UserPortalNavigationBar component with types and documentation
  docs/docs/auto-docs/UserPortalNavigationBar/interface/interfaces/InterfaceUserPortalNavbarProps.md
  docs/docs/auto-docs/UserPortalNavigationBar/interface/variables/DEFAULT_ORGANIZATION_MODE_PROPS.md
  docs/docs/auto-docs/UserPortalNavigationBar/interface/variables/DEFAULT_USER_MODE_PROPS.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/BrandingConfig.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/Language.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/NavigationLink.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/OrganizationData.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/OrganizationListQueryResponse.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/UserPortalNavbarState.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/UserProfileMenuItem.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar/functions/UserPortalNavigationBar.md
  src/components/UserPortal/UserPortalNavigationBar/LanguageSelector.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserDropdown.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.module.css
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.ts
  src/types/UserPortalNavigationBar/interface.ts
  src/types/UserPortalNavigationBar/types.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: cover default namespace fallback
  src/components/NotificationToast/NotificationToast.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Path conditions:
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml,yaml}
