Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

fix
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added tests
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

suggestion
  proxy/proxy.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.tsx
  src/components/UserProfileSettings/Delete/DeleteUser.tsx
  src/components/UserProfileSettings/OtherSetting/OtherSettings.tsx
  src/components/UserProfileSettings/UserProfile.tsx
  src/components/UserProfileSettings/UserProfileSettings.module.css
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
  src/screens/UserPortal/Settings/Settings.module.css
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/Settings/SideToggle/SideToggle.spec.tsx
  src/screens/UserPortal/Settings/SideToggle/SideToggle.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

updated translations
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix:fileurl to objectname
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Chat Development: Organizations fixed with debounced search functionality (#3838)
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ALL_ORGANIZATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_ADMINS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_FUNDS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_CREATED_ORGANIZATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_JOINED_ORGANIZATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_ORGANIZATION_CONNECTION.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/VENUE_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_EVENTS.md
  docs/docs/auto-docs/screens/UserPortal/Organizations/Organizations/functions/default.md
  src/GraphQl/Queries/OrganizationQueries.ts
  src/GraphQl/Queries/Queries.ts
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Refactor Profile Settings UI to Align with Figma Style Guide & Consolidate CSS (#3843)
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.tsx
  src/components/UserProfileSettings/Delete/DeleteUser.tsx
  src/components/UserProfileSettings/OtherSetting/OtherSettings.tsx
  src/components/UserProfileSettings/UserProfile.tsx
  src/components/UserProfileSettings/UserProfileSettings.module.css
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
  src/screens/UserPortal/Settings/Settings.module.css
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/Settings/SideToggle/SideToggle.spec.tsx
  src/screens/UserPortal/Settings/SideToggle/SideToggle.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added tests
  docs/docs/auto-docs/screens/OrganizationPeople/MockDataTypes/type-aliases/TestMock.md
  src/screens/OrganizationPeople/AddMember.spec.tsx
  src/screens/OrganizationPeople/AddMember.tsx
  src/screens/OrganizationPeople/MockDataTypes.ts
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added tests
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

TSDoc fix
  src/components/EventCalender/Weekly/WeeklyEventCalendar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

coderabbit fix
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
  src/components/EventCalender/Weekly/WeeklyEventCalendar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

suggested changes
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

minio-docs updated
  docs/docs/docs/developer-resources/minio.md
  docs/static/img/markdown/minio/architecture.png
Due: none

Adding more test cases
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

minio-docs updated
  docs/docs/docs/developer-resources/minio.md
Due: none

MiniO-docs updated : (#3845)
  docs/docs/docs/developer-resources/minio.md
  docs/static/img/markdown/minio/architecture.png
Due: none

Replace Base64 Storage with MinIO Client in OrgUpdate.tsx (#3832)
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

bug fix
  src/GraphQl/Mutations/mutations.ts
  src/screens/BlockUser/BlockUser.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update src/style/app-fixed.module.css
  src/style/app-fixed.module.css
Due: prettier --write

updated test
  src/utils/MinioUpload.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

updated MiniO-upload helper function and added filehash function : (#3831)
  docs/docs/auto-docs/utils/MinioUpload/functions/useMinioUpload.md
  docs/docs/auto-docs/utils/filehash/functions/calculateFileHash.md
  eslint.config.js
  src/GraphQl/Mutations/mutations.ts
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.spec.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/utils/MinioUpload.spec.tsx
  src/utils/MinioUpload.ts
  src/utils/filehash.spec.ts
  src/utils/filehash.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

improve code coverage
  scripts/clean-docs.js
  src/components/TableLoader/TableLoader.tsx
  src/screens/BlockUser/BlockUser.spec.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix lint
  src/style/app-fixed.module.css
Due: prettier --write

Fixes(#3557)/NoMongo: Postgres Migration Support for Advertisement in orgDashboard
  public/locales/en/translation.json
  src/GraphQl/Mutations/mutations.ts
  src/GraphQl/Queries/OrganizationQueries.ts
  src/GraphQl/Queries/PlugInQueries.ts
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/Advertisements.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/screens/UserPortal/Posts/Posts.tsx
  src/style/app.module.css
  src/types/Advertisement/interface.ts
  src/types/Advertisement/type.ts
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fixing transalation for endAtGreaterOrEqual errors
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

Fixed Advertisement test file
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix incorrect text in AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

updatedCode for preFiltering Ads and removed unused consoleLogs
  src/components/Advertisements/Advertisements.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added crossOrigin anonymous for fetching images
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed format:check
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fixed proper fetching for active/completed Ads Tabs
  src/components/Advertisements/Advertisements.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
