Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

test: remove duplicate ProfileCard assertion per CodeRabbit
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: update knip.json to exclude PluginRoutes from unused-code checks
  knip.json
Due: prettier --write

fix: remove all conditional test logic and strengthen assertions
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: fixed the search bar and create button css
  src/style/app-fixed.module.css
Due: prettier --write

fix: remove remaining conditional test logic and add explicit button existence assertions
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove unnecessary knip ignore for PluginRoutes.tsx
  knip.json
Due: prettier --write

fix: resolve test failures - use data-testid selectors and fix CSS module class checks
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: refactor User Portal sidebar for UI/UX consistency (#4642)
  cypress/pageObjects/AdminPortal/AdminDashboard.ts
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/interfaces/InterfaceUserSidebarProps.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/interfaces/InterfaceUserSidebarOrgProps.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.spec.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: fixed the search bar and create button css (#4652)
  src/style/app-fixed.module.css
Due: prettier --write

fix: added header component
  docs/docs/auto-docs/screens/BlockUser/BlockUser/functions/default.md
  docs/docs/auto-docs/screens/OrgPost/OrgPost/functions/default.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/enumerations/ViewType.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/functions/default.md
  docs/docs/auto-docs/screens/OrganizationFunds/OrganizationFunds/functions/default.md
  docs/docs/auto-docs/screens/OrganizationPeople/OrganizationPeople/functions/default.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTags/functions/default.md
  docs/docs/auto-docs/screens/OrganizationVenues/OrganizationVenues/functions/default.md
  docs/docs/auto-docs/screens/PluginStore/PluginStore/functions/default.md
  docs/docs/auto-docs/screens/Users/Users/functions/default.md
  docs/docs/auto-docs/screens/components/Navbar/functions/default.md
  src/components/Advertisements/Advertisements.tsx
  src/components/EventCalender/Header/EventHeader.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationPeople/addMember/AddMember.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
  src/screens/PluginStore/PluginStore.tsx
  src/screens/Requests/Requests.tsx
  src/screens/Users/Users.tsx
  src/screens/components/Navbar.tsx
  src/style/app-fixed.module.css
  src/subComponents/SortingButton.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: added header component
  eslint.config.js
Due: none

fix: removed eslint comment
  docs/docs/auto-docs/screens/components/Navbar/functions/default.md
  src/screens/components/Navbar.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: updated code to be under 700lines of code
  .github/workflows/pull-request.yml
  src/screens/OrganizationPeople/addMember/AddMember.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve SecuredRoute coverage
  src/components/SecuredRoute/securedRoute.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Revert "Feat/test sharding rebased (#4647)" (#4659)
  .github/workflows/pull-request.yml
  .gitignore
  package.json
  scripts/run-shard.js
  vitest.config.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Feat/test sharding rebased (#4647)
  .github/workflows/pull-request.yml
  .gitignore
  package.json
  scripts/run-shard.js
  vitest.config.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: add fetch-depth 0 to enable Codecov patch coverage calculation
  .github/workflows/pull-request.yml
Due: prettier --write

added load more comments button
  docs/docs/auto-docs/GraphQl/Queries/CommentQueries/variables/GET_POST_COMMENTS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_CREATED_ORGANIZATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_JOINED_ORGANIZATIONS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/VENUE_LIST.md
  docs/docs/auto-docs/components/UserPortal/PostCard/PostCard/functions/default.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAddOnSpotAttendeeProps.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceComment.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreatePledge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreateVolunteerGroup.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCustomFieldData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceFormData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceMapType.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfacePostCard.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryMembershipRequestsListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceUserEvents.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerGroupInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerRank.md
  src/GraphQl/Queries/CommentQueries.ts
  src/GraphQl/Queries/OrganizationQueries.ts
  src/GraphQl/Queries/Queries.ts
  src/components/UserPortal/PostCard/PostCard.spec.tsx
  src/components/UserPortal/PostCard/PostCard.tsx
  src/screens/UserPortal/Posts/Posts.spec.tsx
  src/screens/UserPortal/Posts/Posts.tsx
  src/utils/interfaces.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed linting errors
  docs/docs/auto-docs/components/UserPortal/PostCard/PostCard/functions/default.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAddOnSpotAttendeeProps.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCommentEdge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreatePledge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreateVolunteerGroup.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCustomFieldData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceFormData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceMapType.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryMembershipRequestsListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceUserEvents.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerGroupInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerRank.md
  src/components/UserPortal/PostCard/PostCard.tsx
  src/screens/UserPortal/Posts/PinnedPostCard.spec.tsx
  src/utils/interfaces.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: increase coverage file count threshold for better early warning
  .github/workflows/pull-request.yml
Due: prettier --write

implemented coderabbit suggestion
  src/components/UserPortal/PostCard/PostCard.spec.tsx
  src/components/UserPortal/PostCard/PostCard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: remove emojis and non-ASCII characters from echo statements
  .github/workflows/pull-request.yml
Due: prettier --write

improved coverage
  src/components/UserPortal/PostCard/PostCard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

improved code coverage to 100%
  src/components/UserPortal/PostCard/PostCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: preserve console.error mock when clearing all mocks
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestions
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/PostCard/PostCard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

added 'No more comments' when no more comments available
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/PostCard/PostCard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: make mocks per-test to survive global mock cleanup (EventHeader, ActionItemDeleteModal)
  src/components/EventCalender/Header/EventHeader.spec.tsx
  src/screens/OrganizationActionItems/ActionItemDeleteModal/ActionItemDeleteModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Feat/test sharding rebased (#4660)
  .github/workflows/pull-request.yml
  .gitignore
  package.json
  scripts/run-shard.js
  vitest.config.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Feat: Added load more comments button (#4661)
  docs/docs/auto-docs/GraphQl/Queries/CommentQueries/variables/GET_POST_COMMENTS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_CREATED_ORGANIZATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_JOINED_ORGANIZATIONS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/VENUE_LIST.md
  docs/docs/auto-docs/components/UserPortal/PostCard/PostCard/functions/default.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAddOnSpotAttendeeProps.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceComment.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCommentEdge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreatePledge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreateVolunteerGroup.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCustomFieldData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceFormData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceMapType.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfacePostCard.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryMembershipRequestsListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceUserEvents.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerGroupInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerRank.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/GraphQl/Queries/CommentQueries.ts
  src/GraphQl/Queries/OrganizationQueries.ts
  src/GraphQl/Queries/Queries.ts
  src/components/UserPortal/PostCard/PostCard.spec.tsx
  src/components/UserPortal/PostCard/PostCard.tsx
  src/screens/UserPortal/Posts/PinnedPostCard.spec.tsx
  src/screens/UserPortal/Posts/Posts.spec.tsx
  src/screens/UserPortal/Posts/Posts.tsx
  src/utils/interfaces.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed plugin docs
  docs/docs/docs/developer-resources/e2e-testing.md
  docs/docs/docs/developer-resources/plugin-graphql.md
  docs/docs/docs/developer-resources/testing.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Migrated docusaurus to pnpm
  .github/workflows/pull-request.yml
  .github/workflows/push-deploy-website.yml
  docs/.gitignore
  docs/README.md
Due: prettier --write

Fixed file formatting
  docs/docusaurus.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write
