Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: update StatusBadge auto-generated documentation
  docs/docs/auto-docs/components/StatusBadge/StatusBadge/variables/default.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/interfaces/InterfaceStatusBadgeProps.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/type-aliases/SemanticVariant.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/type-aliases/StatusSize.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/type-aliases/StatusVariant.md
Due: none

update: interfaces and add guard for orgID
  docs/docs/auto-docs/components/UserPortal/PeopleCard/PeopleCard/interfaces/InterfacePeopleCardProps.md
  docs/docs/auto-docs/components/UserPortal/PeopleCard/PeopleCard/variables/default.md
  docs/docs/auto-docs/types/AdminPortal/OrganizationPeople/interface/interfaces/IUserNode.md
  docs/docs/auto-docs/types/UserPortal/People/interface/interfaces/IMemberNode.md
  docs/docs/auto-docs/types/UserPortal/People/interface/interfaces/IOrganizationCardProps.md
  docs/docs/auto-docs/types/UserPortal/People/interface/interfaces/InterfacePeopleCardProps.md
  src/components/UserPortal/PeopleCard/PeopleCard.spec.tsx
  src/components/UserPortal/PeopleCard/PeopleCard.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/UserPortal/People/People.tsx
  src/types/AdminPortal/OrganizationPeople/interface.ts
  src/types/UserPortal/People/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: enhance documentation for FormFieldGroup and FormTextField components
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormFieldGroup/variables/FormFieldGroup.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormTextField/variables/FormTextField.md
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix failing test (#6305)
  docs/docs/auto-docs/components/EventListCard/Modal/Preview/EventListCardPreviewModal/variables/default.md
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: correct TSDoc format in CollapsibleDropdown
  src/components/CollapsibleDropdown/CollapsibleDropdown.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address CodeRabbit AI feedback for UserTableRow component
  docs/docs/auto-docs/components/AdminPortal/UserTableRow/UserTableRow/variables/UserTableRow.md
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
  src/components/AdminPortal/UserTableRow/UserTableRow.tsx
  src/types/AdminPortal/UserTableRow/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: remove unused props from IFormFieldGroupProps and IFormTextFieldProps interfaces
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/IFormFieldGroupProps.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/IFormTextFieldProps.md
  src/types/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

docs: sync StatusBadge documentation with CI
  docs/docs/auto-docs/components/StatusBadge/StatusBadge/variables/default.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/interfaces/InterfaceStatusBadgeProps.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/type-aliases/SemanticVariant.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/type-aliases/StatusSize.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/type-aliases/StatusVariant.md
Due: none

Refactor OrgListCard/TruncatedText component (#6252)
  docs/docs/auto-docs/components/OrgListCard/TruncatedText/variables/default.md
  docs/docs/auto-docs/shared-components/TruncatedText/TruncatedText/variables/default.md
  docs/docs/auto-docs/shared-components/useDebounce/useDebounce/functions/default.md
  docs/docs/auto-docs/types/shared-components/TruncatedText/interface/interfaces/InterfaceTruncatedTextProps.md
  src/components/OrgListCard/TruncatedText.spec.tsx
  src/screens/AdminPortal/PluginStore/hooks/usePluginFilters.spec.ts
  src/screens/AdminPortal/PluginStore/hooks/usePluginFilters.ts
  src/shared-components/OrganizationCard/OrganizationCard.spec.tsx
  src/shared-components/OrganizationCard/OrganizationCard.tsx
  src/shared-components/TruncatedText/TruncatedText.spec.tsx
  src/shared-components/TruncatedText/TruncatedText.tsx
  src/shared-components/useDebounce/useDebounce.spec.ts
  src/shared-components/useDebounce/useDebounce.tsx
  src/types/shared-components/TruncatedText/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: update date selection logic in EventListCardPreviewModal tests
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove unused LocalizationProvider and AdapterDayjs imports
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

[1/4] feat(form): add FormFieldGroup foundation components (#6307)
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormFieldGroup/variables/FormFieldGroup.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormTextField/variables/FormTextField.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/IFormFieldGroupProps.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/IFormTextFieldProps.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/shared-components/FormFieldGroup/FormFieldGroup.spec.tsx
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
  src/types/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: regenerate documentation using Linux environment
  docs/docs/auto-docs/components/StatusBadge/StatusBadge/variables/default.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/interfaces/InterfaceStatusBadgeProps.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/type-aliases/SemanticVariant.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/type-aliases/StatusSize.md
  docs/docs/auto-docs/types/shared-components/StatusBadge/interface/type-aliases/StatusVariant.md
Due: none

fix: use flat JSDoc format and remove escape chars from example
  src/components/CollapsibleDropdown/CollapsibleDropdown.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: update mock data and tests for SubTags component
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTags/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTagsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTagsMocks/variables/MOCKS_CREATE_TAG_ERROR.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTagsMocks/variables/MOCKS_ERROR_SUB_TAGS.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTagsMocks/variables/emptyMocks.md
  public/locales/hi/translation.json
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/AdminPortal/SubTags/SubTags.spec.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
  src/screens/AdminPortal/SubTags/SubTagsMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: removed duplicate words from locales
  public/locales/en/common.json
  public/locales/fr/common.json
Due: prettier --write

fix: path import for performance improvement (#6301)
  docs/docs/auto-docs/screens/LoginPage/LoginPage/functions/default.md
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: move StatusBadge to shared-components and add barrel export per reusable components guidelines
  src/shared-components/StatusBadge/StatusBadge.module.css
  src/shared-components/StatusBadge/StatusBadge.spec.tsx
  src/shared-components/StatusBadge/StatusBadge.tsx
  src/shared-components/StatusBadge/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: format StatusBadge index.ts with prettier
  src/shared-components/StatusBadge/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: remove istanbul ignore pragmas
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
  src/components/AdminPortal/UserTableRow/UserTableRow.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove hardcoded fallback strings from i18n translations
  src/components/AdminPortal/UserTableRow/UserTableRow.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve final CodeRabbit AI feedback issues
  docs/docs/auto-docs/components/AdminPortal/UserTableRow/UserTableRow/variables/UserTableRow.md
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
  src/components/AdminPortal/UserTableRow/UserTableRow.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove unused StatusBadge index.ts barrel export
  src/shared-components/StatusBadge/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix doc testing
  docs/docs/auto-docs/shared-components/StatusBadge/StatusBadge/variables/default.md
Due: none

fix: updated locales folder and queries (#6295)
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_DONATION_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/utils/SanitizeInput/functions/sanitizeInput.md
  public/images/svg/bi_tags.svg
  public/images/svg/ion_options-outline.svg
  public/images/svg/material-symbols_dashboard-outline.svg
  public/images/svg/mdi_events.svg
  public/images/svg/octicon_organization-24.svg
  public/images/svg/ri_arrow-up-down-line.svg
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/GraphQl/Queries/Queries.ts
  src/shared-components/ProfileForm/ProfileForm.spec.tsx
  src/utils/SanitizeInput.spec.tsx
  src/utils/SanitizeInput.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs(setup): fix TSDoc returns/throws format and improve env parsing
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore(setup): export env constants for testability
  docs/docs/auto-docs/setup/setup/variables/ENV_KEYS.md
  docs/docs/auto-docs/setup/setup/variables/ENV_VALUES.md
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

docs(setup): fix TSDoc returns/throws for consistency
  docs/docs/auto-docs/setup/setup/functions/main.md
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

docs(setup): regenerate env keys documentation
  docs/docs/auto-docs/setup/setup/variables/ENV_KEYS.md
Due: none

chore(setup): document ExitPromptError in JSDoc throws
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(setup): add missing env keys to ENV_KEYS
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  docs/docs/auto-docs/setup/setup/variables/ENV_KEYS.md
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(setup): add JSDoc, extract env constants and simplify logic
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix: Make setup.ts module execution conditional
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

docs(setup): escape generic return types for MDX compatibility
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix: review
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
