Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add edge case for search term precedence in PluginList
  src/screens/PluginStore/components/tests/PluginList.test.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Updated docker commands
  docs/docs/docs/getting-started/operation.md
Due: none

Updated docker commands (#4897)
  docs/docs/docs/getting-started/operation.md
Due: none

test: add comprehensive tests for PluginList component (#4874)
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/PluginStore/components/tests/PluginList.test.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: prettier --write

test: achieve 100% coverage for pledges screen and fix query (#4846)
  ISSUE_GUIDELINES.md
  src/GraphQl/Queries/fundQueries.ts
  src/screens/UserPortal/Pledges/Pledge.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add error handling tests for title update and image upload
  docs/docs/auto-docs/components/GroupChatDetails/GroupChatDetailsMocks/variables/failingMocks.md
  src/components/GroupChatDetails/GroupChatDetails.spec.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/GroupChatDetails/GroupChatDetailsMocks.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: docker build error
  docker/Dockerfile.deploy
  docker/Dockerfile.dev
  docker/Dockerfile.prod
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister/functions/default.md
  docs/docs/auto-docs/components/SecuredRoute/SecuredRoute/functions/default.md
  docs/docs/auto-docs/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser/functions/default.md
  docs/docs/auto-docs/plugin/managers/lifecycle/classes/LifecycleManager.md
  docs/docs/auto-docs/screens/PluginStore/hooks/usePluginActions/functions/usePluginActions.md
  package.json
  src/App.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/SecuredRoute/SecuredRoute.tsx
  src/components/SecuredRoute/securedRoute.spec.tsx
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.tsx
  src/plugin/managers/lifecycle.ts
  src/screens/PluginStore/hooks/usePluginActions.spec.ts
  src/screens/PluginStore/hooks/usePluginActions.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: coderabbit suggestions fix
  docker/Dockerfile.deploy
  package.json
  pnpm-lock.yaml
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/SecuredRoute/SecuredRoute.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: achieve 100% coverage for GroupChatDetails component (#4890)
  ISSUE_GUIDELINES.md
  docs/docs/auto-docs/components/GroupChatDetails/GroupChatDetailsMocks/variables/failingMocks.md
  src/components/GroupChatDetails/GroupChatDetails.spec.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/GroupChatDetails/GroupChatDetailsMocks.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: achieve 100% coverage for pledges screen and fix query (#4846) (#4900)
  src/GraphQl/Queries/fundQueries.ts
  src/screens/UserPortal/Pledges/Pledge.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: spec file tests fix
  cypress.config.ts
  src/App.spec.tsx
  src/components/SecuredRoute/securedRoute.spec.tsx
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.spec.tsx
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.tsx
  src/plugin/tests/managers/lifecycle.spec.ts
  src/screens/PluginStore/hooks/usePluginActions.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update pull-request-target.yml
  .github/workflows/pull-request-target.yml
Due: prettier --write

fix: e2e coverage report fix
  cypress.config.ts
  package.json
  scripts/fix-nyc-compatibility.js
  scripts/generate-lcov.js
  scripts/merge-coverage.js
  src/screens/PluginStore/hooks/usePluginActions.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update reusable-components.md
  docs/docs/docs/developer-resources/reusable-components.md
Due: none

fix: script fix
  cypress.config.ts
  scripts/generate-lcov.js
  scripts/merge-coverage.js
  src/screens/PluginStore/hooks/usePluginActions.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: generate lcov fix
  scripts/generate-lcov.js
Due: none

feat: increase test concurrency and optimize CI
  .github/workflows/pull-request.yml
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: cleanup vitest config comments
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: restore original config comments
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: achieve 100% coverage for VolunteerManagement component
  src/screens/UserPortal/Volunteer/VolunteerManagement.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add dropdown closing verification per CodeRabbit review
  src/screens/UserPortal/Volunteer/VolunteerManagement.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Improve CreatePostModal test coverage (#4891)
  src/screens/OrgPost/CreatePostModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: fix prettier issues in pull-request-target.yml
  .github/workflows/pull-request-target.yml
Due: prettier --write

fix: resolve CI failures and address review comments
  docs/docs/auto-docs/screens/Users/User.mocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Users/User.mocks/variables/MOCKS2.md
  src/components/UserPortal/UserProfile/EventsAttendedByUser.spec.tsx
  src/screens/Users/User.mocks.ts
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: optimize CI concurrency and fix test timezones
  .github/workflows/pull-request.yml
  src/components/EventCalender/Monthly/EventCalendar.spec.tsx
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: increase shards to 12 for performance testing
  .github/workflows/pull-request.yml
Due: prettier --write

test: add coverage for PluginRoutes.tsx to 100%
  .github/workflows/pull-request-target.yml
  src/plugin/tests/routes/PluginRoutes.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: remove redundant afterEach cleanup in PluginRoutes.spec.tsx
  src/plugin/tests/routes/PluginRoutes.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve PluginRoutes dynamic import coverage
  .husky/commit-msg
  src/plugin/tests/routes/PluginRoutes.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Updated pull-request-target.yml for better security 1764550685
  .github/workflows/config/check-pr-issue-skip-usernames.txt
  .github/workflows/pull-request-target.yml
Due: prettier --write

Updated pull-request-target.yml for better security 1764551246
  .github/workflows/config/check-pr-issue-skip-usernames.txt
  .github/workflows/pull-request-target.yml
Due: prettier --write

Updated pull-request-target.yml for better security 1764552017
  .github/dependabot.yaml
Due: prettier --write

Path conditions:
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml,yaml}
