Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fixed minor inconsistency
  public/locales/fr/translation.json
Due: prettier --write

fix: linting issue
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers/functions/default.md
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: refactored global style sheet
  docs/docs/auto-docs/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/PledgeModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal/interfaces/InterfaceDeletePledgeModal.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/Leaderboard/Leaderboard/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/PluginStore/PluginStore/functions/default.md
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.module.css
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/FundCampaignPledge/PledgeColumns.module.css
  src/screens/AdminPortal/FundCampaignPledge/PledgeColumns.tsx
  src/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal.module.css
  src/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.module.css
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.module.css
  src/screens/AdminPortal/Leaderboard/Leaderboard.tsx
  src/screens/AdminPortal/PluginStore/PluginStore.module.css
  src/screens/AdminPortal/PluginStore/PluginStore.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat(AgendaItems): migrate attachments to MinIO and fix cross-platform pre-commit hook
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  scripts/githooks/check-localstorage-usage.ts
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: fix toast mock assertions and lint warnings for NotificationToast
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: refactor test mocks to avoid restricted imports
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor: move src/subComponents to src/shared-components
  config/vite.config.ts
  package.json
  src/components/AdminPortal/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
  src/components/EventCalender/Header/EventHeader.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/EventManagement/EventAttendance/Attendance/EventAttendance.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/shared-components/DataGridWrapper/DataGridWrapper.tsx
  src/shared-components/Navbar/Navbar.tsx
  src/shared-components/PeopleTabNavbar/PeopleTabNavbar.spec.tsx
  src/shared-components/PeopleTabNavbar/PeopleTabNavbar.tsx
  src/shared-components/SearchFilterBar/SearchFilterBar.spec.tsx
  src/shared-components/SearchFilterBar/SearchFilterBar.tsx
  src/shared-components/SearchingButton/SearchingButton.spec.tsx
  src/shared-components/SearchingButton/SearchingButton.tsx
  src/shared-components/SortingButton/SortingButton.spec.tsx
  src/shared-components/SortingButton/SortingButton.tsx
  src/test-utils/mocks/react-bootstrap.tsx
  src/test-utils/mocks/react-bootstrap/Dropdown.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: migrate 3 types to adminportal structure (#6442)
  docs/docs/auto-docs/types/AdminPortal/Advertisement/type/type-aliases/AdvertisementsConnection.md
  docs/docs/auto-docs/types/AdminPortal/Organization/type/type-aliases/Organization.md
  docs/docs/auto-docs/types/AdminPortal/Organization/type/type-aliases/OrganizationInput.md
  docs/docs/auto-docs/types/AdminPortal/address/type-aliases/Address.md
  docs/docs/auto-docs/types/AdminPortal/address/type-aliases/AddressInput.md
  docs/docs/auto-docs/types/AdminPortal/membership/type-aliases/MembershipRequest.md
  docs/docs/auto-docs/types/AdminPortal/pagination/type-aliases/DefaultConnectionPageInfo.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceConnectionData.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationManagerProps.md
  docs/docs/auto-docs/types/address/type-aliases/Address.md
  docs/docs/auto-docs/types/address/type-aliases/AddressInput.md
  docs/docs/auto-docs/types/membership/type-aliases/MembershipRequest.md
  docs/docs/auto-docs/types/pagination/type-aliases/DefaultConnectionPageInfo.md
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/types/AdminPortal/Advertisement/type.ts
  src/types/AdminPortal/Organization/type.ts
  src/types/AdminPortal/address.ts
  src/types/AdminPortal/membership.ts
  src/types/AdminPortal/pagination.ts
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Disable review details in coderabbit configuration
  .coderabbit.yaml
Due: none

Refactor: apply ErrorBoundaryWrapper across core UI (Batch 5) (#6412)
  docs/docs/auto-docs/components/EventManagement/EventAttendance/Statistics/EventStatistics/variables/AttendanceStatisticsModal.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/EventRegistrants/functions/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/EventRegistrantsModal/functions/EventRegistrantsModal.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/EventManagement/EventAttendance/Statistics/EventStatistics.module.css
  src/components/EventManagement/EventAttendance/Statistics/EventStatistics.spec.tsx
  src/components/EventManagement/EventAttendance/Statistics/EventStatistics.tsx
  src/components/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
  src/components/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/components/EventRegistrantsModal/EventRegistrantsWrapper.spec.tsx
  src/components/EventRegistrantsModal/EventRegistrantsWrapper.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/components/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
  src/components/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(tests): use vi.hoisted() for toast mock to fix vitest hoisting issue
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(tests): update EventAgendaItems.spec.tsx toast assertions for NotificationToast
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(tests): update mockSetFormState assertion to handle function updater pattern
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: made requested changes
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.module.css
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.tsx
  src/screens/AdminPortal/PluginStore/PluginStore.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(components): use functional updater pattern for setFormState to prevent stale closure
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed css
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.module.css
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Add auto_apply_labels and suggested_labels options
  .coderabbit.yaml
Due: none

fix: refactored global style sheet
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.module.css
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.module.css
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.module.css
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed css
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.module.css
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.module.css
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: (13)-refactored global style sheet (#6446)
  docs/docs/auto-docs/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/PledgeModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal/interfaces/InterfaceDeletePledgeModal.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/Leaderboard/Leaderboard/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/PluginStore/PluginStore/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.module.css
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/FundCampaignPledge/PledgeColumns.module.css
  src/screens/AdminPortal/FundCampaignPledge/PledgeColumns.tsx
  src/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal.module.css
  src/screens/AdminPortal/FundCampaignPledge/deleteModal/PledgeDeleteModal.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.module.css
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.module.css
  src/screens/AdminPortal/Leaderboard/Leaderboard.tsx
  src/screens/AdminPortal/PluginStore/PluginStore.module.css
  src/screens/AdminPortal/PluginStore/PluginStore.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed css
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.module.css
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed css
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: (14)-refactored global style sheet (#6449)
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.module.css
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.module.css
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.module.css
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Added FormFieldGroup Linting
  eslint.config.js
Due: none

refactor: ActionItemViewModal to use StatusBadge
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix label
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix coderabbitai changes
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Added FormFieldGroup Linting (#6470)
  eslint.config.js
Due: none

fix: resolve remaining merge conflicts in AddPeopleToTag
  src/components/AdminPortal/AddPeopleToTag/AddPeopleToTag.spec.tsx
  src/components/AdminPortal/AddPeopleToTag/AddPeopleToTag.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update docs and fix TableRow formatting
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  src/components/CheckIn/Modal/Row/TableRow.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve all merge conflict markers in translation files
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: resolve all merge conflict markers in translation files
  docs/docs/auto-docs/components/AdminPortal/AddPeopleToTag/AddPeopleToTag/variables/default.md
Due: none

Fix eslint
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

auto-docs added
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal/interfaces/IViewModalProps.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal/variables/default.md
Due: none

refactor(ActionItemModal): resolve the issues raised by coderabbit v5
  docs/docs/auto-docs/components/AdminPortal/CategorySelector/CategorySelector/variables/default.md
  src/components/AdminPortal/CategorySelector/CategorySelector.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve all merge conflict and CI tests
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.spec.tsx
  src/components/CheckIn/Modal/Row/TableRow.spec.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Implement global and column-level search and filtering for DataTable, introducing a new SearchBar component.
  docs/docs/docs/developer-resources/tables.md
  src/shared-components/DataTable/DataTable.module.css
  src/shared-components/DataTable/DataTable.spec.tsx
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/SearchBar.spec.tsx
  src/shared-components/DataTable/SearchBar.tsx
  src/types/shared-components/DataTable/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
