Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fix properly addresses the race condition.
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(test): resolve flaky ActionItemModal test in CI by adding categor… (#6253)
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed lint and TSDoc errors
  src/screens/AdminPortal/Requests/Requests.tsx
  src/screens/AdminPortal/Users/Users.tsx
  src/shared-components/TableLoader/TableLoader.tsx
  tsdoc.json
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

Revert "fixed lint and TSDoc errors"
  src/screens/AdminPortal/Requests/Requests.tsx
  src/screens/AdminPortal/Users/Users.tsx
  src/shared-components/TableLoader/TableLoader.tsx
  tsdoc.json
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: refactored global style sheet
  docs/docs/auto-docs/LoginPage/functions/default.md
  docs/docs/auto-docs/screens/LoginPage/LoginPage/functions/default.md
  docs/docs/auto-docs/screens/PageNotFound/PageNotFound/functions/default.md
  src/screens/ForgotPassword/ForgotPassword.module.css
  src/screens/ForgotPassword/ForgotPassword.tsx
  src/screens/LoginPage/LoginPage.module.css
  src/screens/LoginPage/LoginPage.tsx
  src/screens/PageNotFound/PageNotFound.module.css
  src/screens/PageNotFound/PageNotFound.tsx
  src/style/tokens/borders.css
  src/style/tokens/colors.css
  src/style/tokens/index.css
  src/style/tokens/logosizes.css
  src/style/tokens/typography.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: chatRoom reverse pagination support
  src/components/CursorPaginationManager/CursorPaginationManager.module.css
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Delete src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

tsdoc updates in related files
  src/shared-components/OrganizationCard/OrganizationCard.tsx
  src/shared-components/TruncatedText/TruncatedText.tsx
  src/shared-components/useDebounce/useDebounce.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add loading state optimizations
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  docs/docs/auto-docs/shared-components/DataTable/TableLoader/variables/TableLoader.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IBaseDataTableProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IColumnDef.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IFilterState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IPageInfo.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IPaginationControlsProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ISortState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ITableLoaderProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ITableState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IUseTableDataOptions.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IUseTableDataResult.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/Connection.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/Edge.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/IDataTableProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/PageInfo.md
  docs/docs/docs/developer-resources/tables.md
  src/shared-components/DataTable/DataTable.pagination.spec.tsx
  src/shared-components/DataTable/DataTable.spec.tsx
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/TableLoader.tsx
  src/types/shared-components/DataTable/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: coderabbit suggestions
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed testing error
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.spec.tsx
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/components/UsersTableItem/UsersTableItem.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
  src/screens/AdminPortal/OrganizationDashboard/components/MembershipRequestsCard.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/deleteModal/VolunteerGroupDeleteModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemDeleteModal/ActionItemDeleteModal.spec.tsx
  src/screens/UserPortal/Donate/Donate.spec.tsx
  src/shared-components/Recurrence/CustomRecurrenceModal.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed testing errors
  docs/docs/auto-docs/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser/functions/default.md
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.spec.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/components/UsersTableItem/UsersTableItem.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/deleteModal/VolunteerGroupDeleteModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemDeleteModal/ActionItemDeleteModal.spec.tsx
  src/screens/UserPortal/Donate/Donate.spec.tsx
  src/shared-components/Recurrence/CustomRecurrenceModal.spec.tsx
  src/shared-components/Recurrence/CustomRecurrenceModal.tsx
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added more methods
  src/screens/AdminPortal/OrganizationDashboard/components/MembershipRequestsCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve PR check failures
  public/locales/en/translation.json
  src/components/CursorPaginationManager/CursorPaginationManager.module.css
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.module.css
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

clean mocks
  src/screens/AdminPortal/OrganizationDashboard/components/MembershipRequestsCard.spec.tsx
  src/screens/UserPortal/Donate/Donate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove remaining git conflict markers
  public/locales/en/translation.json
Due: prettier --write

fix: use correct translation key prefix (userChatRoom)
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: complete translation key prefix fix
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Updated to include the reusable components policy
  .coderabbit.yaml
Due: none

fix: reformat TypeScript generic syntax to single line
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: requested changes
  src/screens/ForgotPassword/ForgotPassword.module.css
  src/screens/LoginPage/LoginPage.module.css
  src/screens/PageNotFound/PageNotFound.module.css
  src/style/tokens/borders.css
  src/style/tokens/index.css
  src/style/tokens/logosizes.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Updated to include the reusable components policy v2
  .coderabbit.yaml
Due: none

Updated to include the reusable components policy v3
  .coderabbit.yaml
Due: none

fixed ci failing
  src/screens/UserPortal/Donate/Donate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Updated to include the reusable components policy v4
  .coderabbit.yaml
Due: none

feat: Refactor ChatRoom to use reusable CursorPaginationManager
  public/locales/en/translation.json
  src/components/UserPortal/ChatRoom/ChatRoom.module.css
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor:people & organization people screens with cursorpaginationmanager
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/People/People/functions/default.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Updated to include the reusable components policy v5
  .coderabbit.yaml
Due: none

Updated to include the reusable components policy v6
  .coderabbit.yaml
Due: none

fix: resolve CI failures - remove ts-ignore and fix JSX nesting
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed donate test
  src/screens/UserPortal/Donate/Donate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Updated to include the reusable components policy 1767866871
  .coderabbit.yaml
Due: none

Updated to include the reusable components policy 1767867039
  .coderabbit.yaml
Due: none

chore(format): apply prettier to ChatRoom.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(tests): resolve Shard 5 failures, timeouts, and linting errors
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister/functions/default.md
  docs/docs/auto-docs/components/Advertisements/skeleton/AdvertisementSkeleton/functions/AdvertisementSkeleton.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/Advertisements/skeleton/AdvertisementSkeleton.tsx
  src/components/EventRegistrantsModal/EventRegistrantsWrapper.spec.tsx
  src/components/UpdateSession/UpdateSession.spec.tsx
  src/screens/AdminPortal/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor: made changes in check-localstorage.ts
  scripts/githooks/check-localstorage-usage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: resolve TypeScript errors and missing imports
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/TagActions/TagActions.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/shared-components/postCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add advertisement.mediaUploadsUnavailable translations; replace missing Loader with LoadingState
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Advertisements/Advertisements.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
