Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fix: added debounce
  docs/docs/auto-docs/shared-components/DataGridWrapper/DataGridLoadingOverlay/functions/DataGridLoadingOverlay.md
  docs/docs/auto-docs/shared-components/DataGridWrapper/functions/DataGridWrapper.md
  public/locales/es/translation.json
  src/shared-components/DataGridWrapper/DataGridLoadingOverlay.tsx
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
  src/shared-components/DataGridWrapper/DataGridWrapper.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: improve UserTableRow test coverage to 96.96% and fix TypeScript import
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated cr suggestions
  package.json
  scripts/lint-datagrid.sh
  scripts/lint-datagrid.test.sh
  src/shared-components/DataGridWrapper/DataGridLoadingOverlay.spec.tsx
  src/shared-components/DataGridWrapper/DataGridWrapper.stories.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve CI validation errors
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add Hindi translations and improve test coverage for UserTableRow
  public/locales/hi/translation.json
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix: implement ErrorBoundaryWrapper
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/functions/default.md
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/variables/MessageImage.md
  docs/docs/auto-docs/components/UserPortal/CommentCard/CommentCard/functions/default.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/functions/handleCreateDirectChat.md
  docs/docs/auto-docs/components/UserPortal/CreateGroupChat/CreateGroupChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/OrganizationCard/OrganizationCard/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CommentCard/CommentCard.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: add coverage for null name branch in Users.tsx
  public/locales/hi/translation.json
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
  src/screens/AdminPortal/Users/Users.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: improved validate-tokens.ts
  scripts/validate-tokens.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: add Cypress compatibility and improve test coverage
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
  src/components/AdminPortal/UserTableRow/UserTableRow.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix: coderabbitai issues fixed
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/ChatRoom/ChatRoom.module.css
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix: coderabbit issues resolved
  src/components/UserPortal/ChatRoom/ChatRoom.module.css
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Add script to analyze translation key usage
  scripts/find-unused-translations.js
Due: none

lazy load translation namespace to reduce initial bundle size
  src/utils/i18n.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

test(event): cover runtime enums in Event type
  src/types/Event/type.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

test(event): enhance coverage for EventVolunteerResponseEnum and EventOrderByInputEnum
  src/types/Event/type.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Bug fix/validate tokens (#6075)
  docs/docs/docs/developer-resources/design-token-system.md
  scripts/validate-tokens.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

test(event): cover runtime enums in Event type (#6079)
  src/types/Event/type.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Refactor: apply ErrorBoundaryWrapper across core UI (Phase 11) (#6076)
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/functions/default.md
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/variables/MessageImage.md
  docs/docs/auto-docs/components/UserPortal/CommentCard/CommentCard/functions/default.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/functions/handleCreateDirectChat.md
  docs/docs/auto-docs/components/UserPortal/CreateGroupChat/CreateGroupChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/OrganizationCard/OrganizationCard/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/ChatRoom/ChatRoom.module.css
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CommentCard/CommentCard.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Delete temp_event.txt
  temp_event.txt
Due: none

Refactor: Phase 5 of AdminSearchFilterBar (#5968)
  .prettierignore
  docs/docs/auto-docs/screens/UserPortal/People/People/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Update .prettierignore to clean up ignored files
  .prettierignore
Due: none

refactor: migrate Phase2A files- NotificationToast
  public/locales/en/common.json
  public/locales/en/errors.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/errors.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/errors.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/errors.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/errors.json
  public/locales/zh/translation.json
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.spec.tsx
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.tsx
  src/components/UserListCard/UserListCard.spec.tsx
  src/components/UserListCard/UserListCard.tsx
  src/components/Venues/Modal/VenueModal.spec.tsx
  src/components/Venues/Modal/VenueModal.tsx
  src/screens/AdminPortal/ManageTag/ManageTag.spec.tsx
  src/screens/AdminPortal/ManageTag/ManageTag.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemUpdateModal/ActionItemUpdateStatusModal.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: trying to fix cy test
  src/components/Venues/Modal/VenueModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: duplicate tags
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: one test was failing
  src/components/Venues/Modal/VenueModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: align venueImagePreview i18n keys across locales
  public/locales/fr/translation.json
  public/locales/hi/translation.json
Due: prettier --write

fix: duplicate tags and test fixes
  src/components/Venues/Modal/VenueModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: add missing venueImagePreview i18n keys
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserListCard/UserListCard.spec.tsx
  typescript
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: revert out-of-scope Cypress synchronization change
  cypress/pageObjects/AdminPortal/ActionItemPage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(i18n): namespace ManageTag translation keys
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/ManageTag/ManageTag.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: correct i18n key path for event action item success toast
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.spec.tsx
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.tsx
  src/screens/AdminPortal/ManageTag/ManageTag.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: fix Cypress toast
  cypress/pageObjects/AdminPortal/ActionItemPage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: suggestions by coderabbit
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.spec.tsx
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.tsx
  src/components/UserListCard/UserListCard.tsx
  src/components/Venues/Modal/VenueModal.spec.tsx
  src/components/Venues/Modal/VenueModal.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed some tests
  src/components/UserListCard/UserListCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
