Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: add validation and improve documentation for sharding configuration
  scripts/run-shard.js
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: revert conditional isolation to prevent test failures
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: simplify workflow matrix and consolidate coverage validation
  .github/workflows/pull-request.yml
Due: prettier --write

feat: add volunteer3 mock and update tests for status chips (#4632)
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers.mocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers.mocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers.mocks/variables/MOCKS_ERROR.md
  src/screens/EventVolunteers/Volunteers/Volunteers.mocks.ts
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix : codecov validation (#4629)
  .github/workflows/pull-request.yml
  .gitignore
  CONTRIBUTING.md
  package.json
  scripts/run-shard.js
  vitest.config.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: improve code coverage for TableRow component to 100%
  docs/docs/auto-docs/components/CheckIn/CheckInMocks/variables/checkInMutationSuccessRecurring.md
  src/components/CheckIn/CheckInMocks.ts
  src/components/CheckIn/Modal/Row/TableRow.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: move global mocks to beforeEach to avoid duplication
  src/components/CheckIn/Modal/Row/TableRow.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve 400 error on My Pledges page (#4543) (#4603)
  docs/docs/auto-docs/screens/UserPortal/Pledges/PledgesMocks/variables/MOCKS.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAddOnSpotAttendeeProps.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAddress.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreateFund.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreatePledge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreateVolunteerGroup.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCustomFieldData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceFormData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceMapType.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfacePledgeInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfacePledgeInfoPG.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfacePostCard.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryBlockPageMemberListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryMembershipRequestsListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryOrganizationEventListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryUserListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryVenueListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceUserEvents.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceUserInfoPG.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerGroupInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerRank.md
  docs/docs/auto-docs/utils/interfaces/interfaces/VoteType.md
  docs/docs/auto-docs/utils/interfaces/type-aliases/VoteState.md
  src/GraphQl/Queries/fundQueries.ts
  src/screens/UserPortal/Pledges/Pledge.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
  src/screens/UserPortal/Pledges/PledgesMocks.ts
  src/utils/interfaces.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: improve code coverage for TableRow component to 100% (#4631)
  docs/docs/auto-docs/components/CheckIn/CheckInMocks/variables/checkInMutationSuccessRecurring.md
  src/components/CheckIn/CheckInMocks.ts
  src/components/CheckIn/Modal/Row/TableRow.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Revert "fix : codecov validation (#4629)"
  .github/workflows/pull-request.yml
  .gitignore
  CONTRIBUTING.md
  package.json
  scripts/run-shard.js
  vitest.config.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Revert "fix : codecov validation (#4629)" (#4638)
  .github/workflows/pull-request.yml
  .gitignore
  CONTRIBUTING.md
  package.json
  scripts/run-shard.js
  vitest.config.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Feat: use pinnedPosts field for loading pinned posts (#4622)
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_PINNED_POST_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_POST_LIST_WITH_VOTES.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/ORGANIZATION_USER_TAGS_LIST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_CREATED_ORGANIZATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/USER_JOINED_ORGANIZATIONS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/OrganizationQueries/variables/VENUE_LIST.md
  docs/docs/auto-docs/screens/OrgPost/OrgPost/functions/default.md
  docs/docs/auto-docs/screens/OrgPost/Posts/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/Posts/Posts/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Posts/Posts/variables/POSTS_PER_PAGE.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceAttachment.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceCreator.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceMutationCreatePostInput.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceOrganization.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceOrganizationPostListData.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfacePost.md
  src/GraphQl/Queries/OrganizationQueries.ts
  src/screens/OrgPost/OrgPost.spec.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/OrgPost/PinnedPostsStory.spec.tsx
  src/screens/OrgPost/PinnedPostsStory.tsx
  src/screens/OrgPost/Posts.spec.tsx
  src/screens/OrgPost/Posts.tsx
  src/screens/UserPortal/Posts/Posts.spec.tsx
  src/screens/UserPortal/Posts/Posts.tsx
  src/types/Post/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: use conditional isolation for sharded vs regular test runs
  scripts/run-shard.js
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: ensure docs check runs before test shards
  .github/workflows/pull-request.yml
Due: prettier --write

ci: fix coverage merge inputs
  .github/workflows/pull-request.yml
Due: prettier --write

chore: stop uploading coverage per shard
  .github/workflows/pull-request.yml
Due: prettier --write

fix: make test sharding scripts cross-platform (Windows compatible)
  package.json
  scripts/run-shard.js
Due: prettier --write

chore: guard coverage merge when artifacts missing
  .github/workflows/pull-request.yml
  PR_COMMENT.md
Due: prettier --write

fix: improve coverage merge with nyc for test sharding
  .github/workflows/pull-request.yml
  .gitignore
  docs/docs/auto-docs/App/functions/default.md
  src/App.tsx
  test-sharding-local.sh
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: remove unnecessary test files
  PR_COMMENT.md
  shard1.log
  test-sharding-local.sh
Due: none

feat: implement 4-way test sharding with CodeCov validation (2x speed improvement)
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/plugin/vite/internalFileWriterPlugin/functions/createInternalFileWriterPlugin.md
  package.json
  vitest.config.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Revert "test: temporarily ignore App.tsx in coverage"
  docs/docs/auto-docs/App/functions/default.md
  src/App.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: add comprehensive validation for coverage merge process
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/App/functions/default.md
  pr-comment.md
  src/App.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: temporarily ignore App.tsx in coverage
  docs/docs/auto-docs/App/functions/default.md
  src/App.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: disable thread isolation to fix shard 2 test failures
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: increase NODE memory to 6144MB for test shards to match develop
  .github/workflows/pull-request.yml
  shard1.log
Due: prettier --write

ci: guard shard coverage files
  .github/workflows/pull-request.yml
Due: prettier --write

fix: exclude App.tsx from coverage to meet threshold
  docs/docs/auto-docs/App/functions/default.md
  src/App.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore(docs): regenerate auto-docs with CI dependencies
  CONTRIBUTING.md
  docs/docs/auto-docs/plugin/vite/internalFileWriterPlugin/functions/createInternalFileWriterPlugin.md
Due: none

chore: remove pr-comment.md draft file
  pr-comment.md
Due: none

fix: remove istanbul ignore from App.tsx
  docs/docs/auto-docs/App/functions/default.md
  src/App.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Path conditions:
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml,yaml}
