Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

rebased with base branch and all merge conflicts resolved
  src/components/UserProfileSettings/UserProfile.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix: use CSS module for profile name styling in UserProfile component
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Ensures avatar fallback is clean when user names are missing.
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Ensures tooltip is always clean and consistent with avatar fallback display.
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Improve avatar fallback and coverage tests
  src/components/UserProfileSettings/UserProfile.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

changes suggested by code rabbit done
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

rebased with base branch and all merge conflicts resolved
  src/components/UserProfileSettings/UserProfile.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: fix lint error that was failing CI (unused getByRole)
  src/components/UserProfileSettings/UserProfile.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

rebased with base branch and all merge conflicts resolved
  src/components/UserProfileSettings/UserProfile.css
  src/components/UserProfileSettings/UserProfile.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Add fallback and preview test for avatar display
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed the formating of code that was blocking ci
  src/components/UserProfileSettings/UserProfile.css
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(tests): make date assertions dynamic in UserProfile.spec.tsx to ensure tests pass regardless of current date
  docs/docs/auto-docs/UserProfile/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection/variables/default.md
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.spec.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: fixed failing ci
  .gitignore
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

issues suggested by coderabbit resolved
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: added missing edit profile
  public/locales/en/translation.json
Due: prettier --write

chore : fixed translation bugs suggested by code rabbit
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

update translation/CSS files
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/style/app-fixed.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

rebased and solved merge conflicts
  .gitignore
  public/locales/en/common.json
  public/locales/en/errors.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/errors.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/errors.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/errors.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/errors.json
  public/locales/zh/translation.json
Due: prettier --write

public/locales synced with develop
  public/locales/en/common.json
  public/locales/en/errors.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/errors.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/errors.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/errors.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/errors.json
  public/locales/zh/translation.json
Due: prettier --write

fix: refactored global style sheet
  docs/docs/auto-docs/OrgContribution/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrgContribution/OrgContribution/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/OrgList/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/variables/default.md
  src/screens/AdminPortal/OrgContribution/OrgContribution.module.css
  src/screens/AdminPortal/OrgContribution/OrgContribution.tsx
  src/screens/AdminPortal/OrgList/OrgList.module.css
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.module.css
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
  src/screens/AdminPortal/OrgSettings/OrgSettings.module.css
  src/screens/AdminPortal/OrgSettings/OrgSettings.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: move intefaces to separate files
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/People/People/functions/default.md
  docs/docs/auto-docs/types/AdminPortal/OrganizationPeople/interface/interfaces/IUserNode.md
  docs/docs/auto-docs/types/UserPortal/People/interface/interfaces/IMemberNode.md
  docs/docs/auto-docs/types/UserPortal/People/interface/interfaces/IOrganizationCardProps.md
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/UserPortal/People/People.tsx
  src/types/AdminPortal/OrganizationPeople/interface.ts
  src/types/UserPortal/People/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor TagNode and SubTags components to use CursorPaginationManager for improved pagination handling
  docs/docs/auto-docs/components/CursorPaginationManager/CursorPaginationManager/functions/default.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationRenderProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfacePageInfo.md
  src/components/AdminPortal/TagActions/Node/TagNode.spec.tsx
  src/components/AdminPortal/TagActions/Node/TagNode.tsx
  src/components/AdminPortal/TagActions/Node/TagNodeMocks.ts
  src/components/AdminPortal/TagActions/TagActionsMocks.ts
  src/components/CursorPaginationManager/CursorPaginationManager.module.css
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/screens/AdminPortal/Requests/Requests.tsx
  src/screens/AdminPortal/SubTags/SubTags.spec.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
  src/screens/AdminPortal/SubTags/SubTagsMocks.ts
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: update CursorPaginationManager and related components for improved type handling and pagination consistency
  docs/docs/auto-docs/components/AdminPortal/TagActions/TagActionsMocks/variables/MOCKS_ERROR_ASSIGN_OR_REMOVAL_TAGS.md
  docs/docs/auto-docs/components/AdminPortal/TagActions/TagActionsMocks/variables/MOCKS_ERROR_ORGANIZATION_TAGS_QUERY.md
  docs/docs/auto-docs/components/AdminPortal/TagActions/TagActionsMocks/variables/MOCKS_ERROR_SUBTAGS_QUERY.md
  docs/docs/auto-docs/components/CursorPaginationManager/CursorPaginationManager/functions/CursorPaginationManager.md
  docs/docs/auto-docs/components/CursorPaginationManager/CursorPaginationManager/functions/default.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceConnectionData.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationManagerProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationRenderProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfacePageInfo.md
  docs/docs/auto-docs/types/CursorPagination/interface/type-aliases/InterfacePageInfo.md
  docs/docs/auto-docs/types/CursorPagination/interface/type-aliases/PaginationVariables.md
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/components/TagActions/Node/TagNode.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix:conflicts
  docs/docs/auto-docs/components/AdminPortal/TagActions/Node/TagNodeMocks/variables/MOCKS1.md
  docs/docs/auto-docs/components/AdminPortal/TagActions/Node/TagNodeMocks/variables/MOCKS_ERROR_SUBTAGS_QUERY1.md
  docs/docs/auto-docs/components/AdminPortal/TagActions/TagActionsMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/AdminPortal/TagActions/TagActionsMocks/variables/MOCKS_ERROR_ORGANIZATION_TAGS_QUERY.md
  docs/docs/auto-docs/components/CursorPaginationManager/CursorPaginationManager/functions/CursorPaginationManager.md
  docs/docs/auto-docs/components/CursorPaginationManager/CursorPaginationManager/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTagsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTagsMocks/variables/MOCKS_CREATE_TAG_ERROR.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTagsMocks/variables/MOCKS_ERROR_SUB_TAGS.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTagsMocks/variables/emptyMocks.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceConnectionData.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationManagerProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationRenderProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfacePageInfo.md
  docs/docs/auto-docs/types/CursorPagination/interface/type-aliases/PaginationVariables.md
Due: none

test(ActionItemModal): improve volunteer select loading check in tests
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: enhance error handling in CursorPaginationManager and TagNode components with retry functionality
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/components/TagActions/Node/TagNode.tsx
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: simplify CursorPaginationManager and TagNode components for improved clarity and flexibility
  src/components/CursorPaginationManager/CursorPaginationManager.module.css
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/components/TagActions/Node/TagNode.tsx
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: restructure CursorPaginationManager props for improved clarity and flexibility
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor: update error type in InterfaceCursorPaginationRenderProps to ApolloError for improved error handling
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

revert ActionItemModel & update docs
  docs/docs/auto-docs/components/CursorPaginationManager/CursorPaginationManager/functions/CursorPaginationManager.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceConnectionData.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationManagerProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationRenderProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/type-aliases/InterfaceCursorPaginationManagerProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/type-aliases/InterfacePageInfo.md
  docs/docs/auto-docs/types/CursorPagination/interface/type-aliases/PaginationVariables.md
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor code structure for improved readability and maintainability
  src/components/AdminPortal/TagActions/Node/TagNode.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: remove unnecessary 'after' variable from mock queries and improve SubTags component typing
  src/components/AdminPortal/TagActions/Node/TagNode.spec.tsx
  src/components/AdminPortal/TagActions/Node/TagNodeMocks.ts
  src/components/AdminPortal/TagActions/TagActionsMocks.ts
  src/screens/AdminPortal/SubTags/SubTags.spec.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor TagNode and SubTags components to use CursorPaginationManager for improved pagination handling
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/screens/AdminPortal/SubTags/SubTags.spec.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: update CursorPaginationManager example and improve SubTags test rendering
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/screens/AdminPortal/SubTags/SubTags.spec.tsx
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: enhance CursorPaginationManager with extractDataFromPath utility and improve error handling in UI
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/screens/AdminPortal/SubTags/SubTags.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor TagNode and SubTags components to use CursorPaginationManager for improved pagination handling
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/screens/AdminPortal/SubTags/SubTags.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor TagNode and SubTags components to use CursorPaginationManager for improved pagination handling
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/screens/AdminPortal/SubTags/SubTags.spec.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed failing test in OrganizationModal test file
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
