Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write"
}

Update bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Update feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

tried-topass a testcase
  package-lock.json
Due: prettier --write

added the additional conditions as per review.
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Donate/Donate.test.tsx
  src/screens/UserPortal/Donate/Donate.tsx
Due: eslint --fix, prettier --write

making a dependency compaitible with eslint-plugin
  package-lock.json
  package.json
Due: prettier --write

testcases passed
  .husky/pre-commit
  src/screens/UserPortal/Donate/Donate.test.tsx
  src/screens/UserPortal/Donate/Donate.tsx
Due: eslint --fix, prettier --write

husky file unchanged
  .husky/pre-commit
Due: none

making a dependency compaitible with eslint-plugin
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

test updates
  src/components/UpdateSession/UpdateSession.test.tsx
  src/components/UpdateSession/UpdateSession.tsx
  src/utils/useSession.test.tsx
Due: eslint --fix, prettier --write

added filters
  src/GraphQl/Queries/PlugInQueries.ts
  src/GraphQl/Queries/Queries.ts
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/screens/UserPortal/Chat/Chat.module.css
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write

fixed ui
  src/components/MemberOrganization/MemberOrganization.test.tsx
  src/components/MemberOrganization/MemberOrganization.tsx
  src/components/OrgPeopleOrganizationsCard/OrgPeopleOrganizationsCard.module.css
  src/components/OrgPeopleOrganizationsCard/OrgPeopleOrganizationsCard.test.tsx
  src/components/OrgPeopleOrganizationsCard/OrgPeopleOrganizationsCard.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

removed useless fields
  src/components/OrgPeopleOrganizationsCard/OrgPeopleOrganizationsCard.tsx
Due: eslint --fix, prettier --write

removed comments in css
  src/components/OrgPeopleOrganizationsCard/OrgPeopleOrganizationsCard.module.css
Due: prettier --write

fixed formatting
  src/components/OrgPeopleOrganizationsCard/OrgPeopleOrganizationsCard.tsx
Due: eslint --fix, prettier --write

fixed formatting
  src/components/MemberOrganization/MemberOrganization.test.tsx
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write

fixed tsdoc comments
  src/components/MemberOrganization/MemberOrganization.tsx
  src/components/OrgMemberDetail/OrgMemberDetails.tsx
  src/components/OrgPeopleOrganizationsCard/OrgPeopleOrganizationsCard.tsx
Due: eslint --fix, prettier --write

added translations
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
Due: prettier --write

fixed failing test in OrgPeopleOrganizationsCard
  src/components/OrgPeopleOrganizationsCard/OrgPeopleOrganizationsCard.test.tsx
Due: eslint --fix, prettier --write

fixed failing tests
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write

made enhancements to session management
  public/locales/en/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/sp/common.json
  public/locales/zh/common.json
  src/screens/LoginPage/LoginPage.tsx
  src/utils/useSession12.tsx
Due: eslint --fix, prettier --write

changed react-i18 package
  CONTRIBUTING.md
  package-lock.json
  package.json
  src/utils/errorHandler.test.tsx
  src/utils/errorHandler.tsx
Due: eslint --fix, prettier --write

fixed tests for session
  src/utils/useSession.test.tsx
Due: eslint --fix, prettier --write

pdfme Upgraded
  package-lock.json
  package.json
  src/components/CheckIn/TableRow.test.tsx
  src/components/CheckIn/TableRow.tsx
  src/components/CheckIn/tagTemplate.ts
Due: eslint --fix, prettier --write

upgrade-package-reacti18next
  package-lock.json
  package.json
  src/utils/errorHandler.test.tsx
  src/utils/errorHandler.tsx
Due: eslint --fix, prettier --write

charts and recurring bugs
  .eslintrc.json
  package-lock.json
  src/GraphQl/Queries/Queries.ts
  src/components/EventManagement/EventAttendance/AttendedEventList.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.test.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.tsx
  src/components/EventManagement/EventAttendance/EventStatistics.tsx
  src/components/EventManagement/EventAttendance/EventsAttendance.module.css
  src/components/EventManagement/EventAttendance/InterfaceEvents.ts
  src/components/EventRegistrantsModal/AddOnSpotAttendee.tsx
  src/components/EventRegistrantsModal/EventRegistrantsModal.tsx
  src/components/EventRegistrantsModal/EventRegistrantsWrapper.tsx
  src/utils/chartToPdf.ts
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

upgrade-package-reacti18next (#2229)
  package-lock.json
  package.json
  src/utils/errorHandler.test.tsx
  src/utils/errorHandler.tsx
Due: eslint --fix, prettier --write

fixed test patch partially
  src/components/AddOn/core/AddOnEntry/AddOnEntry.test.tsx
  src/components/AddOn/core/AddOnEntry/AddOnEntry.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.test.tsx
Due: eslint --fix, prettier --write

fix: misplaced layout
  public/locales/en/translation.json
  src/App.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/screens/UserPortal/Posts/Posts.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/state/reducers/userRoutesReducer.ts
Due: eslint --fix, prettier --write

added translation for posts
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write

Refac & Redesign Global Action Items
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/sp/common.json
  public/locales/sp/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/GraphQl/Mutations/ActionItemMutations.ts
  src/GraphQl/Queries/ActionItemQueries.ts
  src/components/ActionItems/ActionItemsContainer.test.tsx
  src/components/ActionItems/ActionItemsContainer.tsx
  src/components/ActionItems/ActionItemsModalBody.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/OrgSettings/OrgActionItemCategories/CategoryModal.tsx
  src/components/OrgSettings/OrgActionItemCategories/OrgActionItemCategories.tsx
  src/screens/OrganizationActionItems/ActionItemCreateModal.tsx
  src/screens/OrganizationActionItems/ActionItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemModal.tsx
  src/screens/OrganizationActionItems/ItemUpdateStatusModal.tsx
  src/screens/OrganizationActionItems/ItemViewModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.module.css
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

Moved AgendaCategories to Settings & removed Delete for action categories
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/App.tsx
  src/GraphQl/Mutations/ActionItemCategoryMutations.ts
  src/components/AgendaCategory/AgendaCategoryContainer.tsx
  src/components/IconComponent/IconComponent.tsx
  src/components/OrgSettings/ActionItemCategories/CategoryModal.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.module.css
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.test.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategoryMocks.ts
  src/components/OrgSettings/AgendaItemCategories/AgendaCategoryCreateModal.test.tsx
  src/components/OrgSettings/AgendaItemCategories/AgendaCategoryCreateModal.tsx
  src/components/OrgSettings/AgendaItemCategories/AgendaCategoryDeleteModal.tsx
  src/components/OrgSettings/AgendaItemCategories/AgendaCategoryPreviewModal.tsx
  src/components/OrgSettings/AgendaItemCategories/AgendaCategoryUpdateModal.test.tsx
  src/components/OrgSettings/AgendaItemCategories/AgendaCategoryUpdateModal.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.module.css
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.test.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategoryErrorMocks.ts
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategoryMocks.ts
  src/components/OrgSettings/OrgActionItemCategories/CategoryDeleteModal.tsx
  src/screens/OrgSettings/OrgSettings.tsx
  src/state/reducers/routesReducer.test.ts
  src/state/reducers/routesReducer.ts
Due: eslint --fix, prettier --write

Redesigned Event Dashboard Parent container
  src/assets/svgs/angleLeft.svg
  src/assets/svgs/eventDashboard.svg
  src/assets/svgs/eventStats.svg
  src/components/IconComponent/IconComponent.tsx
  src/screens/EventManagement/EventManagement.module.css
  src/screens/EventManagement/EventManagement.tsx
Due: eslint --fix, prettier --write

Add new Event Action Screen & Delete old screens
  src/components/ActionItems/ActionItemsContainer.module.css
  src/components/ActionItems/ActionItemsContainer.test.tsx
  src/components/ActionItems/ActionItemsContainer.tsx
  src/components/ActionItems/ActionItemsContainerMocks.ts
  src/components/ActionItems/ActionItemsContainerProps.ts
  src/components/ActionItems/ActionItemsModal.test.tsx
  src/components/ActionItems/ActionItemsModal.tsx
  src/components/ActionItems/ActionItemsModalBody.tsx
  src/components/ActionItems/ActionItemsWrapper.module.css
  src/components/ActionItems/ActionItemsWrapper.test.tsx
  src/components/ActionItems/ActionItemsWrapper.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.module.css
  src/components/EventManagement/EventActionItems/EventActionItems.test.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/EventManagement/EventActionItems/useEventActionColumnConfig.tsx
  src/screens/EventManagement/EventManagement.tsx
  src/screens/OrganizationActionItems/ActionItemPreviewModal.tsx
  src/screens/OrganizationActionItems/ActionItemUpdateModal.test.tsx
  src/screens/OrganizationActionItems/ActionItemUpdateModal.tsx
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemViewModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
Due: eslint --fix, prettier --write

Tests for OrgSettings, IconComponent, LeftDrawerOrg, routesReducer
  src/components/IconComponent/IconComponent.test.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.test.tsx
  src/screens/OrgSettings/OrgSettings.mocks.ts
  src/screens/OrgSettings/OrgSettings.test.tsx
  src/screens/OrgSettings/OrgSettings.tsx
  src/state/reducers/routesReducer.test.ts
Due: eslint --fix, prettier --write

Fixed CI failing of tests
  package-lock.json
  package.json
Due: prettier --write

Add test for Action Item Category
  src/components/OrgSettings/ActionItemCategories/CategoryModal.test.tsx
  src/components/OrgSettings/ActionItemCategories/CategoryModal.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.test.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategoryMocks.ts
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
Due: eslint --fix, prettier --write

Updated react-bootstrap to latest version (#2194)
  package-lock.json
  package.json
  src/screens/OrganizationPeople/AddMember.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write

Add tests for OrganizationActionItems & related Modals
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.test.tsx
  src/screens/OrganizationActionItems/ItemDeleteModal.test.tsx
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemModal.test.tsx
  src/screens/OrganizationActionItems/ItemModal.tsx
  src/screens/OrganizationActionItems/ItemUpdateStatusModal.test.tsx
  src/screens/OrganizationActionItems/ItemUpdateStatusModal.tsx
  src/screens/OrganizationActionItems/ItemViewModal.test.tsx
  src/screens/OrganizationActionItems/ItemViewModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItem.mocks.ts
  src/screens/OrganizationActionItems/OrganizationActionItemMocks.ts
  src/screens/OrganizationActionItems/OrganizationActionItems.test.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
  src/screens/OrganizationActionItems/OrganizationActionItemsErrorMocks.ts
  src/screens/UserPortal/Pledges/Pledge.test.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write
