Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add password strength indicator component with real-time validation feedback
  docs/docs/auto-docs/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator/variables/PasswordStrengthIndicator.md
  docs/docs/auto-docs/components/Auth/PasswordStrengthIndicator/RequirementRow/variables/RequirementRow.md
  docs/docs/auto-docs/types/Auth/PasswordStrengthIndicator/interface/interfaces/InterfacePasswordStrengthIndicatorProps.md
  src/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator.spec.tsx
  src/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator.tsx
  src/components/Auth/PasswordStrengthIndicator/RequirementRow.tsx
  src/types/Auth/PasswordStrengthIndicator/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: Add GitHub links to 'Defined in' paths in auto-generated documentation.
  docs/docs/auto-docs/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator/variables/PasswordStrengthIndicator.md
  docs/docs/auto-docs/components/Auth/PasswordStrengthIndicator/RequirementRow/variables/RequirementRow.md
  docs/docs/auto-docs/types/Auth/PasswordStrengthIndicator/interface/interfaces/InterfacePasswordStrengthIndicatorProps.md
Due: none

feat: Internationalize password strength indicator messages and update related tests and documentation.
  docs/docs/auto-docs/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator/variables/PasswordStrengthIndicator.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator.spec.tsx
  src/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update password strength requirements translations for clarity
  public/locales/hi/translation.json
Due: prettier --write

Fix: conflicts resolved
  docs/docs/auto-docs/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper/classes/ErrorBoundaryWrapper.md
  docs/docs/auto-docs/types/shared-components/ErrorBoundaryWrapper/interface/interfaces/InterfaceErrorBoundaryWrapperProps.md
  docs/docs/auto-docs/types/shared-components/ErrorBoundaryWrapper/interface/interfaces/InterfaceErrorBoundaryWrapperState.md
  docs/docs/auto-docs/types/shared-components/ErrorBoundaryWrapper/interface/interfaces/InterfaceErrorFallbackProps.md
  docs/docs/docs/developer-resources/reusable-components.md
  public/locales/en/errors.json
  public/locales/es/errors.json
  public/locales/zh/errors.json
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.module.css
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.spec.tsx
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.tsx
  src/types/shared-components/ErrorBoundaryWrapper/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: cover check-i18n retries and toast defaults
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/NotificationToast/NotificationToast.spec.tsx
  src/components/ProfileDropdown/ProfileDropdown.spec.tsx
  src/test-utils/check-i18n/check-i18n.test-utils.spec.js
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: replace react-toastify with NotificationToast
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
  src/components/EventListCard/Modal/EventListCardModals.tsx
  src/components/EventListCard/Modal/updateLogic.spec.ts
  src/components/EventListCard/Modal/updateLogic.ts
  src/components/OrgPeopleListCard/OrgPeopleListCard.spec.tsx
  src/components/OrgPeopleListCard/OrgPeopleListCard.tsx
  src/screens/BlockUser/BlockUser.spec.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/OrgPost/OrgPost.spec.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationPeople/addMember/AddMember.spec.tsx
  src/screens/OrganizationPeople/addMember/AddMember.tsx
  src/utils/errorHandler.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: apply notification toast updates and in-scope coderabbit fixes
  public/locales/en/translation.json
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
  src/components/EventListCard/Modal/updateLogic.spec.ts
  src/screens/BlockUser/BlockUser.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.spec.tsx
  src/screens/OrgPost/OrgPost.spec.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationPeople/addMember/AddMember.spec.tsx
  src/screens/OrganizationPeople/addMember/AddMember.tsx
  src/test-utils/check-i18n/check-i18n.test-utils.js
  src/test-utils/check-i18n/check-i18n.test-utils.spec.js
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: restore check-i18n infra and address final coderabbit cleanup
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
  src/test-utils/check-i18n/check-i18n.test-utils.js
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Create reusable StatusBadge component
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/hi/translation.json
  src/components/StatusBadge/StatusBadge.module.css
  src/components/StatusBadge/StatusBadge.spec.tsx
  src/components/StatusBadge/StatusBadge.tsx
  src/components/StatusBadge/index.ts
  src/types/StatusBadge/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add infinite scroll to OrganizationTags and fix tag creation
  src/GraphQl/Mutations/TagMutations.ts
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update localization strings for chat actions and add missing translations in multiple languages; enhance styling for volunteer groups label
  docs/docs/auto-docs/components/GroupChatDetails/GroupChatDetailsHeader/functions/default.md
  package.json
  pnpm-lock.yaml
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/GroupChatDetails/GroupChatDetailsHeader.tsx
  src/components/UserPortal/ContactCard/ContactCard.module.css
  src/components/UserPortal/ContactCard/ContactCard.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add PasswordField interface
  docs/docs/auto-docs/components/Auth/PasswordField/PasswordField/variables/PasswordField.md
  docs/docs/auto-docs/types/Auth/PasswordField/interface/interfaces/InterfacePasswordFieldProps.md
  public/locales/en/common.json
  src/components/Auth/PasswordField/PasswordField.spec.tsx
  src/components/Auth/PasswordField/PasswordField.tsx
  src/types/Auth/PasswordField/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(i18n): translate new chat keys; fix ContactCard CSS per review
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/ContactCard/ContactCard.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address CodeRabbit feedback for PasswordField component
  src/components/Auth/PasswordField/PasswordField.spec.tsx
  src/components/Auth/PasswordField/PasswordField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated translation errors , fixed cr suggestions
  docs/docs/auto-docs/shared-components/DataGridWrapper/DataGridWrapper/functions/DataGridWrapper.md
  docs/docs/auto-docs/shared-components/DataGridWrapper/interface/interfaces/InterfaceDataGridWrapperProps.md
  docs/docs/auto-docs/types/DataGridWrapper/interface/interfaces/InterfaceDataGridWrapperProps.md
  public/locales/en/translation.json
  src/shared-components/DataGridWrapper/DataGridWrapper.module.css
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
  src/shared-components/DataGridWrapper/DataGridWrapper.tsx
  src/shared-components/DataGridWrapper/interface.ts
  src/types/DataGridWrapper/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed translation errors
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: updated translations acc to cr suggestions
  docs/docs/auto-docs/types/DataGridWrapper/interface/interfaces/InterfaceDataGridWrapperProps.md
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
  src/types/DataGridWrapper/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing translations for showPassword and hidePassword
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
Due: prettier --write

fix: complete tests coverage fix
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add DataTable component structure and fix i18n check and python3 setup (#5899)
  .husky/pre-commit
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IColumnDef.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IDataTableProps.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IFilterState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ISortState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ITableState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IColumnDef.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IDataTableProps.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/IFilterState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ISortState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/interfaces/ITableState.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/Accessor.md
  docs/docs/auto-docs/types/shared-components/DataTable/interface/type-aliases/HeaderRender.md
  docs/docs/docs/developer-resources/tables.md
  scripts/check-i18n.js
  src/shared-components/DataTable/DataTable.spec.tsx
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/types.spec.ts
  src/style/app-fixed.module.css
  src/types/shared-components/DataTable/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Add/Translation Tag
  public/locales/en/common.json
  src/screens/PluginStore/UploadPluginModal.spec.tsx
  src/screens/PluginStore/UploadPluginModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed cr suggestions
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: enhance keyboard navigation tests and update documentation
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  src/components/Auth/PasswordField/PasswordField.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

style: resolve merge conflict in CSS - keep all styles from both branches
  src/style/app-fixed.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: update generated documentation
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
Due: none

feat: add TSDoc linting enforcement with eslint-plugin-tsdoc
  eslint.config.js
Due: none

fix: add missing space in tsdoc/syntax rule formatting
  eslint.config.js
Due: none

Refactor User Portal Post & Comment Components with ProfileAvatarDisplay (#5431)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/CommentCard/CommentCard.spec.tsx
  src/components/UserPortal/CommentCard/CommentCard.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.module.css
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.spec.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.tsx
  src/shared-components/postCard/PostCard.module.css
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(Auth): Create EmailField component for Phase 2 (#5936)
  docs/docs/auto-docs/components/Auth/EmailField/EmailField/variables/EmailField.md
  docs/docs/auto-docs/types/Auth/EmailField/interface/interfaces/InterfaceEmailFieldProps.md
  src/components/Auth/EmailField/EmailField.spec.tsx
  src/components/Auth/EmailField/EmailField.tsx
  src/types/Auth/EmailField/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

ErrorBoundaryWrapper shared component with 100% coverage (#5881)
  docs/docs/auto-docs/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper/classes/ErrorBoundaryWrapper.md
  docs/docs/auto-docs/types/shared-components/ErrorBoundaryWrapper/interface/interfaces/InterfaceErrorBoundaryWrapperProps.md
  docs/docs/auto-docs/types/shared-components/ErrorBoundaryWrapper/interface/interfaces/InterfaceErrorBoundaryWrapperState.md
  docs/docs/auto-docs/types/shared-components/ErrorBoundaryWrapper/interface/interfaces/InterfaceErrorFallbackProps.md
  docs/docs/docs/developer-resources/reusable-components.md
  public/locales/en/errors.json
  public/locales/es/errors.json
  public/locales/fr/errors.json
  public/locales/hi/errors.json
  public/locales/zh/errors.json
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.module.css
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.spec.tsx
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.tsx
  src/types/shared-components/ErrorBoundaryWrapper/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add PasswordStrengthIndicator reusable component (Phase 2) (#5941)
  docs/docs/auto-docs/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator/variables/PasswordStrengthIndicator.md
  docs/docs/auto-docs/components/Auth/PasswordStrengthIndicator/RequirementRow/variables/RequirementRow.md
  docs/docs/auto-docs/types/Auth/PasswordStrengthIndicator/interface/interfaces/InterfacePasswordStrengthIndicatorProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator.spec.tsx
  src/components/Auth/PasswordStrengthIndicator/PasswordStrengthIndicator.tsx
  src/components/Auth/PasswordStrengthIndicator/RequirementRow.tsx
  src/types/Auth/PasswordStrengthIndicator/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: adopt AdminSearchFilterBar across admin finance and volunteer screens (Phase 3/5) (#5870)
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/Requests/functions/default.md
  docs/docs/auto-docs/Volunteers/functions/default.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/VolunteerGroups/functions/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers.mocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers.mocks/variables/MOCKS_ERROR.md
  docs/docs/auto-docs/screens/FundCampaignPledge/FundCampaignPledge/functions/default.md
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/screens/EventVolunteers/Requests/Requests.spec.tsx
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.mocks.ts
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.spec.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/OrganizationFunds/OrganizationFunds.spec.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/Requests/Requests.spec.tsx
  src/screens/Requests/Requests.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: update auto-generated documentation for tag mutations
  docs/docs/auto-docs/GraphQl/Mutations/TagMutations/variables/ADD_PEOPLE_TO_TAG.md
  docs/docs/auto-docs/GraphQl/Mutations/TagMutations/variables/ASSIGN_TO_TAGS.md
  docs/docs/auto-docs/GraphQl/Mutations/TagMutations/variables/CREATE_USER_TAG.md
  docs/docs/auto-docs/GraphQl/Mutations/TagMutations/variables/REMOVE_FROM_TAGS.md
  docs/docs/auto-docs/GraphQl/Mutations/TagMutations/variables/REMOVE_USER_TAG.md
  docs/docs/auto-docs/GraphQl/Mutations/TagMutations/variables/UNASSIGN_USER_TAG.md
  docs/docs/auto-docs/GraphQl/Mutations/TagMutations/variables/UPDATE_USER_TAG.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTags/functions/default.md
  docs/docs/auto-docs/screens/SubTags/SubTagsMocks/variables/MOCKS.md
  docs/docs/auto-docs/shared-components/LoadingState/LoadingState/functions/default.md
  docs/docs/auto-docs/types/shared-components/LoadingState/interface/interfaces/InterfaceLoadingStateProps.md
  src/GraphQl/Mutations/TagMutations.ts
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
  src/screens/SubTags/SubTagsMocks.ts
  src/shared-components/LoadingState/LoadingState.tsx
  src/style/app-fixed.module.css
  src/types/shared-components/LoadingState/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
