Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

fix: add name_invalid translation to all language files
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

Docs/update-configuration (#4995)
  docs/docs/docs/getting-started/configuration.md
Due: none

fixed cypress error
  cypress/pageObjects/AdminPortal/PostPage.ts
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.tsx
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/posts/posts.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: add missing period to Spanish name_invalid translation
  config/vite.config.ts
  login-test.patch
  public/locales/es/translation.json
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve Apollo deprecation warnings and fix failing tests
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed failing test
  docs/docs/auto-docs/shared-components/pinnedPosts/pinnedPostsLayout/variables/default.md
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.tsx
  src/shared-components/postCard/PostCard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve recaptcha error test assertion specificity
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbit feedback on test assertions
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: remove accidental patch file
  login-test.patch
Due: none

docs: regenerate auto docs
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_REQUEST_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS2.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS3.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS4.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS_WITH_ERROR.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/UPDATED_MOCKS.md
  docs/docs/auto-docs/types/ReportingTable/interface/interfaces/IInfiniteScrollProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/interfaces/IReportingTableGridProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/InfiniteScrollProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingRow.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableColumn.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableGridProps.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/PAGE_SIZE.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/ROW_HEIGHT.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/dataGridStyle.md
Due: none

fix: vitest(3/12) faill
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_REQUEST_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS2.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS3.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS4.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS_WITH_ERROR.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/UPDATED_MOCKS.md
  src/screens/Requests/Requests.spec.tsx
  src/screens/Requests/RequestsMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: count number of lines
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_REQUEST_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS2.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS3.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS4.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS_WITH_ERROR.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/UPDATED_MOCKS.md
  src/screens/Requests/RequestsMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address cr feedback
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/LoginPage/functions/default.md
  docs/docs/auto-docs/Register/functions/default.md
  docs/docs/auto-docs/screens/LoginPage/LoginPage/functions/default.md
  docs/docs/auto-docs/screens/RegisterPage/RegisterPage/functions/default.md
  docs/docs/auto-docs/shared-components/AuthBranding/AuthBranding/variables/default.md
  docs/docs/auto-docs/shared-components/LoginForm/LoginForm/variables/default.md
  docs/docs/auto-docs/shared-components/Navbar/Navbar/functions/default.md
  docs/docs/auto-docs/shared-components/Navbar/PageHeader/functions/default.md
  docs/docs/auto-docs/shared-components/OrganizationSelector/OrganizationSelector/variables/default.md
  docs/docs/auto-docs/shared-components/PasswordField/PasswordField/variables/default.md
  docs/docs/auto-docs/shared-components/PasswordValidator/PasswordValidator/variables/default.md
  docs/docs/auto-docs/shared-components/PasswordValidator/ValidationItem/functions/default.md
  docs/docs/auto-docs/shared-components/RegistrationForm/RegistrationForm/variables/default.md
  docs/docs/auto-docs/shared-components/postCard/PostCard/functions/default.md
  docs/docs/auto-docs/types/AuthBranding/interface/interfaces/InterfaceAuthBrandingProps.md
  docs/docs/auto-docs/types/LoginForm/interface/interfaces/InterfaceLoginFormProps.md
  docs/docs/auto-docs/types/Navbar/interface/interfaces/InterfacePageHeaderProps.md
  docs/docs/auto-docs/types/OrganizationSelector/interface/interfaces/InterfaceOrganizationSelectorProps.md
  docs/docs/auto-docs/types/PasswordField/interface/interfaces/InterfacePasswordFieldProps.md
  docs/docs/auto-docs/types/PasswordValidator/interface/interfaces/InterfacePasswordValidatorProps.md
  docs/docs/auto-docs/types/PasswordValidator/interface/interfaces/InterfaceValidationItemProps.md
  docs/docs/auto-docs/types/RegistrationForm/interface/interfaces/IRegistrationData.md
  docs/docs/auto-docs/types/RegistrationForm/interface/interfaces/InterfaceRegistrationFormProps.md
  docs/docs/auto-docs/utils/passwordValidator/functions/getPasswordValidationRules.md
  src/components/UserPortal/OrganizationNavbar/OrganizationNavbar.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/OrganizationPeople/addMember/AddMember.tsx
  src/screens/PluginStore/UploadPluginModal.spec.tsx
  src/setup/setup.spec.ts
  src/shared-components/AuthBranding/AuthBranding.tsx
  src/shared-components/Navbar/PageHeader.tsx
  src/shared-components/OrganizationSelector/OrganizationSelector.spec.tsx
  src/types/SearchBar/interface.ts
  src/types/Tag/interface.ts
  src/utils/interfaces.ts
  src/utils/organizationTagsUtils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

created createPostModal
  docs/docs/auto-docs/screens/OrgPost/CreatePostModal/variables/default.md
  docs/docs/auto-docs/shared-components/posts/createPostModal/createPostModal/functions/default.md
  docs/docs/auto-docs/types/Post/type/interfaces/ICreatePostData.md
  docs/docs/auto-docs/types/Post/type/interfaces/ICreatePostInput.md
  docs/docs/auto-docs/types/Post/type/interfaces/IFileMetadataInput.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/CommentCard/CommentCard.spec.tsx
  src/components/UserPortal/OrganizationNavbar/OrganizationNavbar.spec.tsx
  src/components/Venues/Modal/VenueModal.spec.tsx
  src/components/createPostModal/createPostModal.spec.tsx
  src/screens/Leaderboard/Leaderboard.spec.tsx
  src/screens/OrgPost/CreatePostModal.spec.tsx
  src/screens/OrgPost/CreatePostModal.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/posts/createPostModal/createPostModal.module.css
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
  src/shared-components/posts/posts.spec.tsx
  src/shared-components/posts/posts.tsx
  src/types/Post/type.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address review feedback
  docs/docs/auto-docs/shared-components/AuthBranding/AuthBranding/variables/default.md
  docs/docs/auto-docs/types/SearchBar/interface/interfaces/InterfaceSearchBarProps.md
  docs/docs/auto-docs/types/Tag/interface/interfaces/InterfaceTagUsersToAssignToQuery.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAddOnSpotAttendeeProps.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAddress.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemCategoryList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceAgendaItemList.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceComment.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCommentEdge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreateFund.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreatePledge.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCreateVolunteerGroup.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceCustomFieldData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceFormData.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceMapType.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfacePostCard.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryBlockPageMemberListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryMembershipRequestsListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryOrganizationEventListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryUserListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryUserListItemForAdmin.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceQueryVenueListItem.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceUserEvents.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerGroupInfo.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/utils/interfaces/interfaces/InterfaceVolunteerRank.md
  docs/docs/auto-docs/utils/interfaces/interfaces/VoteType.md
  docs/docs/auto-docs/utils/interfaces/type-aliases/VoteState.md
  docs/docs/auto-docs/utils/organizationTagsUtils/interfaces/InterfaceOrganizationSubTagsQuery.md
  docs/docs/auto-docs/utils/organizationTagsUtils/interfaces/InterfaceOrganizationTagsQuery.md
  docs/docs/auto-docs/utils/organizationTagsUtils/interfaces/InterfaceTagAssignedMembersQuery.md
  docs/docs/auto-docs/utils/organizationTagsUtils/interfaces/InterfaceTagUsersToAssignToQuery.md
  src/shared-components/AuthBranding/AuthBranding.tsx
  src/shared-components/Navbar/PageHeader.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(events): align create event layout and translation keys
  ISSUE_GUIDELINES.md
  public/locales/en/translation.json
  src/screens/UserPortal/Events/Events.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: revert unintended ISSUE_GUIDELINES.md change
  ISSUE_GUIDELINES.md
Due: none

fix(events): resolve accessibility, input types, and scoped switch styles
  src/screens/UserPortal/Events/Events.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: feedbacks implemented
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/OrganizationNavbar/OrganizationNavbar.spec.tsx
  src/shared-components/AuthBranding/AuthBranding.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: cr review
  public/locales/es/translation.json
  src/shared-components/AuthBranding/AuthBranding.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(setup): update correct REACT_APP_TALAWA_URL and sync WebSocket URL for Docker environment
  docs/docs/auto-docs/setup/askForTalawaApiUrl/askForTalawaApiUrl/functions/askForTalawaApiUrl.md
  src/setup/askForDocker/askForDocker.spec.ts
  src/setup/askForDocker/askForDocker.ts
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.spec.ts
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.ts
  src/setup/askForTalawaApiUrl/setupTalawaWebSocketUrl.spec.ts
  src/setup/setup.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore(deps): update @mui/x packages to v8.14.0
  package.json
  pnpm-lock.yaml
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/screens/OrganizationEvents/OrganizationEvents.spec.tsx
  src/screens/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(setup): update correct REACT_APP_TALAWA_URL and sync WebSocket URL for Docker environment (#5025)
  docs/docs/auto-docs/setup/askForTalawaApiUrl/askForTalawaApiUrl/functions/askForTalawaApiUrl.md
  src/setup/askForDocker/askForDocker.spec.ts
  src/setup/askForDocker/askForDocker.ts
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.spec.ts
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.ts
  src/setup/askForTalawaApiUrl/setupTalawaWebSocketUrl.spec.ts
  src/setup/setup.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: add __typename to GET_COMMUNITY_DATA_PG mocks for Apollo Client v3.14.0+
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: Implement i18n Static Analysis Pipeline with Pre-Commit Enforcement and CI Support (#4956)
  .github/workflows/pull-request.yml
  .husky/pre-commit
  knip.deps.json
  package.json
  scripts/__fixtures__/correct.tsx
  scripts/__fixtures__/edge-cases.tsx
  scripts/__fixtures__/mixed.tsx
  scripts/__fixtures__/violations.tsx
  scripts/check-i18n.js
  src/check-i18n.test.js
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(events): align Create Event layout and fix accessibility
  public/locales/en/translation.json
  src/screens/UserPortal/Events/Events.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: improve test robustness per CodeRabbit feedback
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: add non-Docker production server documentation
  docs/docs/docs/developer-resources/troubleshooting.md
  docs/docs/docs/getting-started/operation.md
Due: none

docs(css): explain switch alignment offset
  src/style/app-fixed.module.css
Due: prettier --write

fix: resolve 6 test failures in LoginPage.spec.tsx
  src/components/UserPortal/CommentCard/CommentCard.spec.tsx
  src/components/UserPortal/OrganizationNavbar/OrganizationNavbar.spec.tsx
  src/components/Venues/Modal/VenueModal.spec.tsx
  src/screens/Leaderboard/Leaderboard.spec.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Updated the itskip disaple detection script
  .github/workflows/scripts/itskip_disable_check.py
Due: none

refactor: remove redundant mockReset in Leaderboard test
  src/screens/Leaderboard/Leaderboard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemeted coderabbit suggestions
  cypress/pageObjects/AdminPortal/PostPage.ts
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/createPostModal/createPostModal.spec.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.module.css
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
  src/shared-components/posts/posts.spec.tsx
  src/shared-components/posts/posts.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: remove redundant afterEach in Leaderboard test
  src/screens/Leaderboard/Leaderboard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Updated the itskip disaple detection script (#5032)
  .github/workflows/scripts/itskip_disable_check.py
Due: none

Update .gitignore
  .gitignore
Due: none
