Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add linter to prevent deprecated Form usage
  .eslintrc.json
  .github/workflows/pull-request.yml
  .husky/check-forms
  .husky/pre-commit
  package.json
  scripts/check-form-usage.js
Due: eslint --fix, prettier --write

feat: add linter to prevent deprecated Form usage
  .husky/check-forms
Due: none

Fixed import as per coderabbitai
  src/shared-components/FormFieldGroup/FormCheckbox.tsx
  src/shared-components/FormFieldGroup/FormDateField.tsx
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/shared-components/FormFieldGroup/FormRadioGroup.tsx
  src/shared-components/FormFieldGroup/FormSelect.tsx
  src/shared-components/FormFieldGroup/FormTextArea.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
  src/shared-components/FormFieldGroup/index.ts
  src/types/shared-components/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fixed codes as per coderabbitai
  .eslintrc.json
  .github/workflows/pull-request.yml
  .husky/check-forms
  eslint.config.js
  scripts/check-form-usage.js
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/shared-components/FormFieldGroup/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fixed linting related issues as per coderabbitai
  .github/workflows/pull-request.yml
  eslint.config.js
Due: eslint --fix, prettier --write

FormTextField (1 of 7)
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Types/Interface file
  src/shared-components/FormFieldGroup/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: add FormFieldGroup components with tests
  src/shared-components/FormFieldGroup/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: add linter to prevent deprecated Form usage
  .eslintrc.json
Due: prettier --write

Fixed import as per coderabbitai
  src/shared-components/FormFieldGroup/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fixed codes as per coderabbitai
  .eslintrc.json
  eslint.config.js
Due: prettier --write

Fixed workflow errors related to unused Dayjs and got rid of non-null assertion and seperated React components out of test block
  src/shared-components/FormFieldGroup/FormFieldGroup.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fixed workflow errors related to CSS Policy Checks
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fixed workflow errors related to matching the RegExp: /^(TestInterface|I|Interface)[A-Z]/u
  src/shared-components/FormFieldGroup/FormCheckbox.tsx
  src/shared-components/FormFieldGroup/FormDateField.tsx
  src/shared-components/FormFieldGroup/FormRadioGroup.tsx
  src/shared-components/FormFieldGroup/FormSelect.tsx
  src/shared-components/FormFieldGroup/FormTextArea.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
  src/shared-components/FormFieldGroup/index.ts
  src/types/shared-components/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Minor fix addressed by coderabbitai
  src/types/shared-components/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

merge conflict fixed
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormCheckbox/variables/FormCheckbox.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormDateField/variables/FormDateField.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormRadioGroup/variables/FormRadioGroup.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormSelect/variables/FormSelect.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormTextArea/variables/FormTextArea.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/IFormCheckBoxProps.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/IFormDateFieldProps.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/IFormFieldGroupProps.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/IFormRadioGroupProps.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/IFormSelectProps.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/IFormTextAreaProps.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/IFormTextFieldProps.md
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

minor changes
  eslint.config.js
  src/shared-components/FormFieldGroup/FormFieldGroup.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

minor changes
  eslint.config.js
Due: none

Formatted as per prettier
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

linting fixed
  eslint.config.js
  src/shared-components/FormFieldGroup/FormTextArea.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

coderabbitai fixes
  eslint.config.js
  src/shared-components/FormFieldGroup/FormTextArea.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

coderabbitai fixes
  src/shared-components/FormFieldGroup/FormFieldGroup.spec.tsx
  src/shared-components/FormFieldGroup/FormTextArea.tsx
  src/types/shared-components/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

formatted
  src/shared-components/FormFieldGroup/FormTextArea.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Tests for script
  scripts/check-form-usage.js
  scripts/check-form-usage.test.js
  vitest.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

coderabbit reviews addressed
  scripts/check-form-usage.js
  src/shared-components/FormFieldGroup/FormSelect.tsx
  src/types/shared-components/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: cover minDate constraint
  src/shared-components/DateRangePicker/DateRangePicker.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

coderabbit reviews addressed
  scripts/check-form-usage.js
  scripts/check-form-usage.test.js
  src/types/shared-components/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: Implement CursorPaginationManager component (#6105)
  docs/docs/auto-docs/components/CursorPaginationManager/CursorPaginationManager/functions/CursorPaginationManager.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceConnectionData.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationManagerProps.md
  docs/docs/auto-docs/types/CursorPagination/interface/type-aliases/PaginationVariables.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/CursorPaginationManager/CursorPaginationManager.module.css
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add reusable DateRangePicker shared component (#6093)
  docs/docs/auto-docs/shared-components/DateRangePicker/DateRangePicker/functions/default.md
  docs/docs/auto-docs/types/shared-components/DateRangePicker/interface/interfaces/IDateRangePreset.md
  docs/docs/auto-docs/types/shared-components/DateRangePicker/interface/interfaces/IDateRangeValue.md
  docs/docs/auto-docs/types/shared-components/DateRangePicker/interface/interfaces/InterfaceDateRangePickerProps.md
  docs/docs/auto-docs/types/shared-components/DateRangePicker/interface/type-aliases/DateOrNull.md
  knip.json
  src/shared-components/DateRangePicker/DateRangePicker.module.css
  src/shared-components/DateRangePicker/DateRangePicker.spec.tsx
  src/shared-components/DateRangePicker/DateRangePicker.tsx
  src/shared-components/DateRangePicker/index.ts
  src/types/shared-components/DateRangePicker/index.ts
  src/types/shared-components/DateRangePicker/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove non-standard danger-color token
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/ADD_ADMIN_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_ORGANIZATION_MEMBERSHIP_MUTATION_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_ORGANIZATION_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_ORGANIZATION_MUTATION_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_POST_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/DELETE_ORGANIZATION_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/DELETE_POST_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/DONATE_TO_ORGANIZATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/FORGOT_PASSWORD_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/GENERATE_OTP_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/GET_FILE_PRESIGNEDURL.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/PRESIGNED_URL.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/RECAPTCHA_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REMOVE_ADMIN_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REMOVE_MEMBER_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REMOVE_MEMBER_MUTATION_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/RESET_COMMUNITY.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REVOKE_REFRESH_TOKEN.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_COMMUNITY_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_EVENT_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_POST_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_POST_VOTE.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_SESSION_TIMEOUT_PG.md
  src/GraphQl/Mutations/mutations.ts
  src/components/ProfileDropdown/ProfileDropdown.module.css
  src/style/tokens/colors.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: fix AgendaCategory modal tests for BaseModal migration -Update test IDs to use standard BaseModal close button (modalCloseBtn) -Fix failing tests in AgendaCategoryContainer.spec.tsx
  src/components/AgendaCategory/AgendaCategoryContainer.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Update/AgendaCategoryUpdateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize spacing system (#6144)
  src/screens/AdminPortal/MemberDetail/MemberDetail.module.css
  src/screens/AdminPortal/Notification/Notification.module.css
  src/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard.module.css
  src/screens/AdminPortal/PluginStore/PluginModal.module.css
  src/screens/AdminPortal/PluginStore/PluginStore.module.css
  src/screens/AdminPortal/PluginStore/UploadPluginModal.module.css
  src/screens/AdminPortal/PluginStore/components/PluginList.module.css
  src/screens/Leaderboard/Leaderboard.module.css
  src/screens/UserPortal/Chat/Chat.module.css
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.module.css
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/screens/UserPortal/Volunteer/VolunteerManagement.module.css
  src/style/tokens/borders.css
  src/style/tokens/breakpoints.css
  src/style/tokens/index.css
  src/style/tokens/spacing.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor: migrate agenda category modals to BaseModal (#5107) (#5962)
  docs/docs/auto-docs/components/OrgSettings/AgendaItemCategories/Create/AgendaCategoryCreateModal/variables/default.md
  docs/docs/auto-docs/components/OrgSettings/AgendaItemCategories/Preview/AgendaCategoryPreviewModal/variables/default.md
  docs/docs/auto-docs/components/OrgSettings/AgendaItemCategories/Update/AgendaCategoryUpdateModal/variables/default.md
  src/components/AgendaCategory/AgendaCategoryContainer.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Create/AgendaCategoryCreateModal.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Create/AgendaCategoryCreateModal.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Preview/AgendaCategoryPreviewModal.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Preview/AgendaCategoryPreviewModal.tsx
  src/components/OrgSettings/AgendaItemCategories/Update/AgendaCategoryUpdateModal.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Update/AgendaCategoryUpdateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore(husky): align pre-commit Python checks with CI (#5914)
  .github/workflows/config/countline_excluded_file_list.txt
  .github/workflows/scripts/countline.py
  .github/workflows/scripts/venv.sh
  .husky/pre-commit
  docs/docs/docs/getting-started/installation.md
Due: none

Feature/one click install wsl support (#6132)
  docs/docs/auto-docs/install/os/detector/functions/detectOS.md
  docs/docs/auto-docs/install/os/detector/functions/isRunningInWsl.md
  docs/docs/auto-docs/install/types/interfaces/IOSInfo.md
  docs/docs/auto-docs/install/types/interfaces/IPackageStatus.md
  docs/docs/auto-docs/install/types/type-aliases/PackageName.md
  docs/docs/auto-docs/install/types/variables/PACKAGE_NAMES.md
  docs/docs/docs/getting-started/installation.md
  scripts/install.sh
  src/install/os/detector.spec.ts
  src/install/os/detector.ts
  src/install/os/linux.spec.ts
  src/install/os/linux.ts
  src/install/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
