Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

fix(users): add more missing locales
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
Due: prettier --write

test(manage-tag): add error handling tests and clean up mocks for tag modals
  src/screens/ManageTag/removeModal/RemoveUserTagModal.spec.tsx
  src/screens/ManageTag/removeModal/RemoveUserTagModal.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.spec.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: improvised CI
  .github/workflows/pull-request.yml
Due: prettier --write

fix: fix tests
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/UserPortal/Register/Register.spec.tsx
  src/components/UserPortal/StartPostModal/StartPostModal.spec.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/OrgPost/CreatePostModal.spec.tsx
  src/utils/errorHandler.spec.tsx
  src/utils/useSession.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: refactor reporting tables into modular components
  docs/docs/auto-docs/screens/BlockUser/BlockUser/functions/default.md
  docs/docs/auto-docs/screens/OrganizationFundCampaign/OrganizationFundCampaigns/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/People/People/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/BlockUser/BlockUser.spec.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
  src/types/ReportingTable/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(test): resolve all failing test cases
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/screens/PluginStore/components/tests/PluginList.test.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(modals): add toast error handling and update tests for RemoveUserTagModal
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/interfaces/InterfaceRemoveUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/interfaces/InterfaceUnassignUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/variables/default.md
  src/screens/ManageTag/removeModal/RemoveUserTagModal.spec.tsx
  src/screens/ManageTag/removeModal/RemoveUserTagModal.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.spec.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve GroupChatDetails CI failures via i18n config and aria-labels
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/GroupChatDetails/GroupChatDetails.spec.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: css policy check ci (#5228)
  .github/workflows/pull-request.yml
  .github/workflows/requirements.txt
  .github/workflows/scripts/css_check.py
  .github/workflows/scripts/test/test_css_check.py
  .husky/pre-commit
Due: prettier --write

feat: improvised CI
  .github/workflows/config/pr-comment.txt
  .github/workflows/pull-request-target.yml
  .github/workflows/pull-request.yml
Due: prettier --write

feat: add row index in people table
  docs/docs/auto-docs/screens/UserPortal/People/People/functions/default.md
  src/screens/UserPortal/People/People.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: updated mocks for test
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/mockNavigationLinksBase.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks/variables/revokeRefreshTokenMock.md
  docs/docs/auto-docs/screens/UserPortal/UserScreen/UserScreen/functions/default.md
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.ts
  src/screens/UserPortal/UserScreen/UserScreen.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: updated code to have more tests
  docs/docs/auto-docs/screens/MemberDetail/UserContactDetails/variables/default.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/UserDetails/UserOrganization.spec.tsx
  src/components/UserDetails/UserOrganizations.tsx
  src/screens/MemberDetail/UserContactDetails.spec.tsx
  src/screens/MemberDetail/UserContactDetails.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: fix css validation found error
  public/locales/en/translation.json
  public/locales/hi/translation.json
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: implement coderabbitai suggestion
  public/locales/en/translation.json
  src/screens/BlockUser/BlockUser.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/UserPortal/People/People.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: implement coderabbitai suggestion
  public/locales/hi/translation.json
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/UserPortal/People/People.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Bugfix: Hide menu for non-admin and non-author users (#5074)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/App.spec.tsx
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/PluginStore/PluginStore.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Revert "Bugfix: Hide menu for non-admin and non-author users (#5074)"
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/App.spec.tsx
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/PluginStore/PluginStore.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Revert "Bugfix: Hide menu for non-admin and non-author users (#5074)" (#5425)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/App.spec.tsx
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/PluginStore/PluginStore.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update knip command to include nsExports and nsType
  .github/workflows/pull-request.yml
Due: prettier --write

Update knip command to include additional options
  .husky/pre-commit
Due: none

Fix typo in knip command for nsTypes
  .github/workflows/pull-request.yml
Due: prettier --write

Fix typo in knip command for nsTypes
  .husky/pre-commit
Due: none

test: achieve 100% coverage for CreateEventModal.tsx (#4762)
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: restored tsdoc comments
  docs/docs/auto-docs/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal/interfaces/InterfaceDeletePledgeModal.md
  docs/docs/auto-docs/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/interfaces/InterfaceRemoveUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/interfaces/InterfaceUnassignUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/variables/default.md
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.tsx
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.tsx
  src/screens/ManageTag/removeModal/RemoveUserTagModal.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: added missing translation keys
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

refactor: standardize toast usage and mount NotificationToastContainer (#5418)
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/utils/errorHandler/functions/errorHandler.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/App.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/UserPortal/Register/Register.spec.tsx
  src/components/UserPortal/StartPostModal/StartPostModal.spec.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/OrgPost/CreatePostModal.spec.tsx
  src/utils/errorHandler.spec.tsx
  src/utils/errorHandler.tsx
  src/utils/useSession.spec.tsx
  src/utils/useSession.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: differentiated error messages
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix(users): failing tests and ci checks
  src/screens/PluginStore/components/tests/PluginList.test.tsx
  src/screens/Users/Users.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Refactor simple delete modals to standardized BaseModal pattern (#5415)
  docs/docs/auto-docs/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal/interfaces/InterfaceDeletePledgeModal.md
  docs/docs/auto-docs/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/interfaces/InterfaceRemoveUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/removeModal/RemoveUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/interfaces/InterfaceUnassignUserTagModalProps.md
  docs/docs/auto-docs/screens/ManageTag/unassignModal/UnassignUserTagModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.spec.tsx
  src/screens/FundCampaignPledge/deleteModal/PledgeDeleteModal.tsx
  src/screens/ManageTag/removeModal/RemoveUserTagModal.spec.tsx
  src/screens/ManageTag/removeModal/RemoveUserTagModal.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.spec.tsx
  src/screens/ManageTag/unassignModal/UnassignUserTagModal.tsx
  src/screens/UserPortal/Pledges/Pledges.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix formatting in knip.json
  knip.json
Due: prettier --write

fix(users): failing tests and ci checks
  src/screens/PluginStore/components/tests/PluginList.test.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: add CRUDModalTemplate foundation with tests
  src/shared-components/CRUDModalTemplate/CRUDModalTemplate.module.css
  src/shared-components/CRUDModalTemplate/CRUDModalTemplate.spec.tsx
  src/shared-components/CRUDModalTemplate/CRUDModalTemplate.tsx
  src/shared-components/CRUDModalTemplate/index.ts
  src/shared-components/CRUDModalTemplate/types.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: fix inline css error by moving inline styles to .css file
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Add BreadcrumbsComponent to ignored paths in knip.json
  knip.json
Due: prettier --write

fix(tests): fix all failing tests
  src/screens/PluginStore/components/Plugin.module.css
  src/screens/PluginStore/components/PluginList.tsx
  src/screens/PluginStore/components/tests/PluginList.test.tsx
  src/screens/Users/Users.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: improvised CI
  .github/workflows/pr-comment.yml
Due: prettier --write
