Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize admin route prefixes
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/functions/default.md
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/interfaces/InterfaceCardItem.md
  src/components/AdminPortal/AddPeopleToTag/AddPeopleToTag.spec.tsx
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/AdminPortal/OrgAdminListCard/OrgAdminListCard.tsx
  src/components/AdminPortal/OrgPeopleListCard/OrgPeopleListCard.tsx
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.module.css
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.spec.tsx
  src/components/AdminPortal/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/AdminPortal/TagActions/TagActions.spec.tsx
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.tsx
  src/components/NotificationIcon/NotificationIcon.spec.tsx
  src/components/SecuredRoute/securedRoute.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
  src/screens/AdminPortal/EventManagement/EventManagement.spec.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.spec.tsx
  src/screens/AdminPortal/Notification/Notification.spec.tsx
  src/screens/AdminPortal/OrgSettings/OrgSettings.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize admin routing and tests
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/AdminPortal/OrgAdminListCard/OrgAdminListCard.tsx
  src/components/AdminPortal/OrgPeopleListCard/OrgPeopleListCard.tsx
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.module.css
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.spec.tsx
  src/components/AdminPortal/SuperAdminScreen/SuperAdminScreen.module.css
  src/components/AdminPortal/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/AdminPortal/TagActions/TagActions.spec.tsx
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.tsx
  src/components/NotificationIcon/NotificationIcon.spec.tsx
  src/components/SecuredRoute/securedRoute.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
  src/screens/AdminPortal/EventManagement/EventManagement.spec.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.spec.tsx
  src/screens/AdminPortal/Notification/Notification.spec.tsx
  src/screens/AdminPortal/OrgSettings/OrgSettings.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize admin route prefixes
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/functions/default.md
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/interfaces/InterfaceCardItem.md
  src/components/AdminPortal/AddPeopleToTag/AddPeopleToTag.spec.tsx
  src/components/AdminPortal/SuperAdminScreen/SuperAdminScreen.module.css
  src/components/EventDashboardScreen/EventDashboardScreen.spec.tsx
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: align admin portal tests and routes
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/components/EventListCard/EventListCard.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.spec.tsx
  src/screens/AdminPortal/OrgSettings/OrgSettings.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/AdminPortal/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/EventVolunteers/VolunteerContainer.tsx
  src/shared-components/ProfileForm/ProfileForm.spec.tsx
  src/shared-components/posts/posts.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove restricted imports and align admin modals/forms
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/functions/default.md
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/interfaces/ILeftDrawerProps.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationTags/OrganizationTags/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTags/functions/default.md
  docs/docs/auto-docs/screens/LoginPage/LoginPage/functions/default.md
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize admin route prefixes
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/AdminPortal/OrgAdminListCard/OrgAdminListCard.tsx
  src/components/AdminPortal/OrgPeopleListCard/OrgPeopleListCard.tsx
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.module.css
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.spec.tsx
  src/components/AdminPortal/SuperAdminScreen/SuperAdminScreen.module.css
  src/components/AdminPortal/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/AdminPortal/TagActions/TagActions.spec.tsx
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.tsx
  src/components/NotificationIcon/NotificationIcon.spec.tsx
  src/components/SecuredRoute/securedRoute.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
  src/screens/AdminPortal/EventManagement/EventManagement.spec.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.spec.tsx
  src/screens/AdminPortal/Notification/Notification.spec.tsx
  src/screens/AdminPortal/OrgSettings/OrgSettings.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize admin routing and tests
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/functions/default.md
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/interfaces/InterfaceCardItem.md
  src/components/AdminPortal/AddPeopleToTag/AddPeopleToTag.spec.tsx
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/AdminPortal/OrgAdminListCard/OrgAdminListCard.tsx
  src/components/AdminPortal/OrgPeopleListCard/OrgPeopleListCard.tsx
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.module.css
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.spec.tsx
  src/components/AdminPortal/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/AdminPortal/TagActions/TagActions.spec.tsx
  src/components/AdminPortal/UserTableRow/UserTableRow.spec.tsx
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.tsx
  src/components/NotificationIcon/NotificationIcon.spec.tsx
  src/components/SecuredRoute/securedRoute.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
  src/screens/AdminPortal/EventManagement/EventManagement.spec.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.spec.tsx
  src/screens/AdminPortal/Notification/Notification.spec.tsx
  src/screens/AdminPortal/OrgSettings/OrgSettings.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize admin routing and tests
  src/components/AdminPortal/SuperAdminScreen/SuperAdminScreen.module.css
  src/components/AdminPortal/SuperAdminScreen/SuperAdminScreen.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Updated fireEvent to userEvent in spec files (#6685)
  src/components/AdminPortal/AddPeopleToTag/AddPeopleToTag.spec.tsx
  src/components/AdminPortal/OrgSettings/AgendaItemCategories/Create/AgendaCategoryCreateModal.spec.tsx
  src/components/AdminPortal/OrgSettings/AgendaItemCategories/Preview/AgendaCategoryPreviewModal.spec.tsx
  src/components/AdminPortal/OrgSettings/AgendaItemCategories/Update/AgendaCategoryUpdateModal.spec.tsx
  src/components/AdminPortal/TagActions/TagActions.spec.tsx
  src/components/AgendaCategory/AgendaCategoryContainer.spec.tsx
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/CollapsibleDropdown/CollapsibleDropdown.spec.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

PART-4 I18n translations (#6669)
  docs/docs/auto-docs/components/NotificationIcon/NotificationIcon/functions/default.md
  docs/docs/auto-docs/components/OrganizationDashCards/CardItem/CardItem/functions/default.md
  docs/docs/auto-docs/components/OrganizationDashCards/CardItem/CardItem/interfaces/InterfaceCardItem.md
  docs/docs/auto-docs/components/OrganizationDashCards/CardItem/Loader/CardItemLoading/functions/default.md
  docs/docs/auto-docs/types/components/OrganizationDashCards/CardItem/interface/interfaces/InterfaceCardItemProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/NotificationIcon/NotificationIcon.module.css
  src/components/NotificationIcon/NotificationIcon.spec.tsx
  src/components/NotificationIcon/NotificationIcon.tsx
  src/components/OrganizationDashCards/CardItem/CardItem.module.css
  src/components/OrganizationDashCards/CardItem/CardItem.spec.tsx
  src/components/OrganizationDashCards/CardItem/CardItem.tsx
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.module.css
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.spec.tsx
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.tsx
  src/types/components/OrganizationDashCards/CardItem/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

add: eslint rule for search input usages
  eslint.config.js
Due: none

fix: remove undefined mockNotificationToast usage in test
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

add: tests
  eslint.config.js
  src/test-utils/eslint.config.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(test): update assertion and mock for agenda item deletion
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: standardize common translation keys across all languages
  docs/docs/auto-docs/components/AdminPortal/EventManagement/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/PluginStore/components/UninstallConfirmationModal/UninstallConfirmationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

add: more test
  src/test-utils/eslint.config.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: Improved code test coverage to 100% in FundModal (#6686)
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: restore accidentally deleted common translation keys
  public/locales/en/translation.json
Due: prettier --write

resolve errors
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: clean up card item loader styles
  docs/docs/auto-docs/components/OrganizationDashCards/CardItem/Loader/CardItemLoading/functions/default.md
  src/components/OrganizationDashCards/CardItem/CardItem.spec.tsx
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.module.css
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: format hi translation file
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: centralize card item types
  docs/docs/auto-docs/components/OrganizationDashCards/CardItem/CardItem/functions/default.md
  docs/docs/auto-docs/components/OrganizationDashCards/CardItem/CardItem/interfaces/InterfaceCardItem.md
  docs/docs/auto-docs/components/OrganizationDashCards/CardItem/Loader/CardItemLoading/functions/default.md
  docs/docs/auto-docs/types/AdminPortal/OrganizationDashCards/CardItem/interface/interfaces/InterfaceCardItem.md
  src/components/OrganizationDashCards/CardItem/CardItem.module.css
  src/components/OrganizationDashCards/CardItem/CardItem.spec.tsx
  src/components/OrganizationDashCards/CardItem/CardItem.tsx
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.module.css
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.spec.tsx
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.tsx
  src/types/AdminPortal/OrganizationDashCards/CardItem/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: localize card item labels
  docs/docs/auto-docs/components/OrganizationDashCards/CardItem/CardItem/functions/default.md
  src/components/OrganizationDashCards/CardItem/CardItem.tsx
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.module.css
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: use relative composes paths
  src/components/OrganizationDashCards/CardItem/CardItem.module.css
  src/components/OrganizationDashCards/CardItem/Loader/CardItemLoading.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: cover agenda items and group modal branches
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: update admin route examples
  docs/docs/docs/developer-resources/data-grid-wrapper.md
Due: none

test: update admin cypress routes
  cypress/e2e/login_spec/adminLogin.cy.ts
  cypress/pageObjects/AdminPortal/AdminDashboard.ts
  cypress/pageObjects/AdminPortal/AdvertisementPage.ts
  cypress/pageObjects/AdminPortal/LeftDrawer.ts
  cypress/support/commands.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: restore user layouts and sidebar data
  src/App.spec.tsx
  src/App.tsx
  src/components/UserPortal/OrganizationSidebar/OrganizationSidebar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: ensure user updates include id
  src/screens/MemberDetail/UserContactDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: update admin cypress routes
  cypress/pageObjects/AdminPortal/AdminDashboard.ts
  cypress/pageObjects/AdminPortal/AdvertisementPage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: prioritize member id resolution
  src/screens/MemberDetail/UserContactDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: update admin cypress routes
  cypress/pageObjects/AdminPortal/ActionItemPage.ts
  cypress/pageObjects/AdminPortal/AdminEventPage.ts
  cypress/pageObjects/AdminPortal/PeoplePage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: avoid async state update after unmount
  src/screens/Auth/VerifyEmail/VerifyEmail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: centralize adminPortal volunteer modal interfaces
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal/interfaces/InterfaceVolunteerGroupViewModal.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal/interfaces/InterfaceDeleteVolunteerModal.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal/interfaces/InterfaceVolunteerViewModal.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal/variables/default.md
  docs/docs/auto-docs/types/AdminPortal/VolunteerDeleteModal/interface/interfaces/InterfaceDeleteVolunteerModal.md
  docs/docs/auto-docs/types/AdminPortal/VolunteerGroupViewModal/interface/interfaces/InterfaceVolunteerGroupViewModal.md
  docs/docs/auto-docs/types/AdminPortal/VolunteerViewModal/interface/interfaces/InterfaceVolunteerViewModal.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/IFormTextFieldProps.md
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
  src/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.tsx
  src/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal.spec.tsx
  src/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.spec.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.tsx
  src/screens/ForgotPassword/ForgotPassword.spec.tsx
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/types/AdminPortal/VolunteerDeleteModal/interface.ts
  src/types/AdminPortal/VolunteerGroupViewModal/interface.ts
  src/types/AdminPortal/VolunteerViewModal/interface.ts
  src/types/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: rename modal interfaces to include props suffix for clarity
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal/variables/default.md
  docs/docs/auto-docs/types/AdminPortal/VolunteerDeleteModal/interface/interfaces/InterfaceVolunteerDeleteModalProps.md
  docs/docs/auto-docs/types/AdminPortal/VolunteerGroupViewModal/interface/interfaces/InterfaceVolunteerGroupViewModalProps.md
  docs/docs/auto-docs/types/AdminPortal/VolunteerViewModal/interface/interfaces/InterfaceVolunteerViewModalProps.md
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
  src/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal.spec.tsx
  src/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.spec.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.tsx
  src/types/AdminPortal/VolunteerDeleteModal/interface.ts
  src/types/AdminPortal/VolunteerGroupViewModal/interface.ts
  src/types/AdminPortal/VolunteerViewModal/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
