Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fix: remove unused beforeEach import
  src/screens/LoginPage/LoginPage.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove unused react-google-recaptcha dependencies
  package.json
Due: prettier --write

fix(scripts): remove side effects from common.sh library sourcing
  scripts/install/lib/common.sh
Due: none

test(scripts): add bats unit tests for common.sh and fix confirm prompt indicator
  .github/workflows/bash-tests.yml
  package.json
  scripts/install/lib/common.sh
  tests/scripts/install/common.bats
Due: eslint --fix, prettier --write

feat(scripts): add common utility library for install scripts
  .gitignore
  scripts/install/lib/common.sh
Due: none

fix(script): bash 3.2 incompatibility
  scripts/install/lib/common.sh
Due: none

fix: cr changes addressed and fixed bash issue
  .github/workflows/bash-tests.yml
  scripts/install/lib/common.sh
  tests/scripts/install/common.bats
Due: eslint --fix, prettier --write

fix(ci): workflow fixes for pnpm setup and python formatting
  .github/workflows/bash-tests.yml
Due: eslint --fix, prettier --write

fix: black-formatting and cr-changes
  .github/workflows/bash-tests.yml
Due: eslint --fix, prettier --write

fix: cr changes addressed and bash unit test fixed
  .github/workflows/bash-tests.yml
  .github/workflows/scripts/check_docstrings.py
  .github/workflows/scripts/countline.py
  .github/workflows/scripts/css_check.py
Due: eslint --fix, prettier --write

docs: add auto-generated documentation for CampaignWithStatus type
  docs/docs/auto-docs/screens/UserPortal/Campaigns/Campaigns/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/Campaigns/type-aliases/CampaignWithStatus.md
Due: none

test: add test for pending campaign status to improve coverage
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor Adv
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry/functions/default.md
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.module.css
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: docs testing
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_PENDING_CAMPAIGN.md
Due: none

added css
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry/functions/default.md
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.module.css
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: use mockNotificationToast and improve test cleanup
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  src/components/AdminPortal/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix all
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: replace Button from react-bootstrap with shared Button component
  docs/docs/auto-docs/components/AgendaItems/AgendaItemsContainer/functions/default.md
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add accesibility and add test files for curdmodaltemplate hooks
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.tsx
  src/shared-components/CRUDModalTemplate/hooks/useFormModal.spec.ts
  src/shared-components/CRUDModalTemplate/hooks/useModalState.spec.ts
  src/shared-components/CRUDModalTemplate/hooks/useMutationModal.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

CRUDModalLint: setup TypeScript/ESM ESLint plugin infrastructure
  .gitignore
  package.json
  scripts/eslint/tsconfig.json
Due: prettier --write

test: enhance AgendaItems tests with explicit filter verification
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: fix failing test (shard 8)
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

use pnpm exec instead of npx
  package.json
  scripts/eslint/tsconfig.json
Due: prettier --write

fix: used shared button component
  docs/docs/auto-docs/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard/functions/default.md
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard.tsx
  src/shared-components/posts/posts.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fix: used shared button component
  docs/docs/auto-docs/screens/AdminPortal/OrgSettings/OrgSettings/functions/default.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  src/screens/AdminPortal/OrgSettings/OrgSettings.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added css
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

CRUDModalLint: setup TypeScript/ESM ESLint plugin infrastructure (#6562)
  .gitignore
  package.json
  scripts/eslint/tsconfig.json
Due: prettier --write

fix: used shared button component (#6563)
  docs/docs/auto-docs/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard/functions/default.md
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard.tsx
  src/shared-components/posts/posts.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fix: used shared button component (#6564)
  docs/docs/auto-docs/screens/AdminPortal/OrgSettings/OrgSettings/functions/default.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  src/screens/AdminPortal/OrgSettings/OrgSettings.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: used shared button component
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix cross buttons
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFunds/modal/FundModal/interfaces/InterfaceFundModal.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFunds/modal/FundModal/variables/default.md
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.module.css
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix cross buttons
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix changes in test
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.spec.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix changes in test
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: used shared button component (#6566)
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
