Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

Update After REview
  .github/workflows/pull-request-review.yml
Due: prettier --write

Solve the confige
  .github/workflows/pull-request-review.yml
Due: prettier --write

fix: slim-base-img
  docker/Dockerfile.deploy
  docker/Dockerfile.dev
  docker/Dockerfile.prod
Due: none

chore(docs): update auto-generated docs
  docs/docs/auto-docs/plugin/graphql-service/functions/useGetAllPlugins.md
Due: none

fix: resolve PNPM config, Docker build, and plugin typing issues
  docs/docs/auto-docs/plugin/graphql-service/functions/useGetAllPlugins.md
  docs/docs/auto-docs/screens/PluginStore/hooks/usePluginActions/functions/usePluginActions.md
  src/plugin/managers/lifecycle.ts
  src/screens/PluginStore/hooks/usePluginActions.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: docker build and admin plugin installer
  docs/docs/auto-docs/plugin/services/AdminPluginFileService/interfaces/InstalledPlugin.md
  docs/docs/auto-docs/plugin/services/AdminPluginFileService/interfaces/PluginFileValidationResult.md
  docs/docs/auto-docs/plugin/services/AdminPluginFileService/interfaces/PluginInstallationResult.md
  docs/docs/auto-docs/plugin/services/InternalFileWriter/classes/InternalFileWriter.md
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/getInstalledAdminPlugins.md
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/installAdminPluginFromZip.md
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/removeAdminPlugin.md
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/validateAdminPluginStructure.md
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/validateAdminPluginZip.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/AdminPluginInstallationOptions.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/AdminPluginInstallationResult.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/AdminPluginManifest.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/AdminPluginZipStructure.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/IAdminApolloClient.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/IAdminPluginInstallationOptions.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/IAdminPluginInstallationResult.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/IAdminPluginManifest.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/IAdminPluginZipStructure.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginInstallationOptions.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginInstallationResult.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginManifest.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginZipStructure.md
  src/screens/PluginStore/UploadPluginModal.spec.tsx
  src/utils/adminPluginInstaller.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: coderabbit sugeestions for adminPluginInstaller
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/getInstalledAdminPlugins.md
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/installAdminPluginFromZip.md
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/removeAdminPlugin.md
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/validateAdminPluginStructure.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/IAdminPluginInstallationResult.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginInstallationOptions.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginInstallationResult.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginManifest.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginZipStructure.md
  src/utils/adminPluginInstaller.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: restore Check-AutoDocs dependency to enforce documentation compliance
  .github/workflows/pull-request.yml
  PR_COMMENT.md
Due: prettier --write

fix: slim-base-img (#4769)
  docker/Dockerfile.deploy
  docker/Dockerfile.dev
  docker/Dockerfile.prod
Due: none

Delete PR_COMMENT.md
  PR_COMMENT.md
Due: none

test: add full coverage for PledgeModal
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Altered ZAP testing dependencies
  .github/workflows/pull-request.yml
Due: prettier --write

Test: ChatRoom Coverage improvements (#4765)
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test : improve test fo src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.tsx (#4763)
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbitAI review comments (batch 1/5)
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/components/UserPasswordUpdate/UserPasswordUpdate.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.spec.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Altered ZAP testing dependencies v2
  .github/workflows/pull-request.yml
Due: prettier --write

Altered ZAP testing dependencies v3
  .github/workflows/pull-request.yml
Due: prettier --write

Altered ZAP testing dependencies v4
  .github/workflows/pull-request.yml
Due: prettier --write

Altered ZAP testing dependencies (#4772)
  .github/workflows/pull-request.yml
Due: prettier --write

fix: address CodeRabbitAI review comments (batches 1-5)
  docs/docs/auto-docs/UserUpdate/variables/UserUpdate.md
  docs/docs/auto-docs/UserUpdate/variables/default.md
  docs/docs/auto-docs/screens/OrgPost/OrgPostMocks.data/variables/NoOrgId.md
  docs/docs/auto-docs/screens/OrgPost/OrgPostMocks.data/variables/createPostSuccessMock.md
  docs/docs/auto-docs/screens/OrgPost/OrgPostMocks.data/variables/loadingMocks.md
  docs/docs/auto-docs/screens/OrgPost/OrgPostMocks.data/variables/mockOrgPostList.md
  docs/docs/auto-docs/screens/OrgPost/OrgPostMocks.data/variables/mockOrgPostList1.md
  docs/docs/auto-docs/screens/OrgPost/OrgPostMocks.data/variables/mockOrgPostList2.md
  docs/docs/auto-docs/screens/OrgPost/OrgPostMocks.data/variables/mockPosts.md
  docs/docs/auto-docs/screens/OrgPost/OrgPostMocks.data/variables/mockPosts1.md
  docs/docs/auto-docs/screens/OrgPost/OrgPostMocks.data/variables/mockPosts2.md
  public/locales/en/translation.json
  src/components/UserPasswordUpdate/UserPasswordUpdate.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/Notification/Notification.spec.tsx
  src/screens/OrgPost/CreatePostModal.tsx
  src/screens/OrgPost/OrgPostMocks.data.ts
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationPeople/addMember/AddMember.spec.tsx
  src/screens/PageNotFound/PageNotFound.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.spec.tsx
  src/screens/UserPortal/Settings/SideToggle/SideToggle.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/UserScreen/UserScreen.spec.tsx
  src/screens/UserPortal/Volunteer/VolunteerManagement.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbitAI review comments (batch 6)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/PageNotFound/PageNotFound.spec.tsx
  src/screens/UserPortal/UserScreen/UserScreen.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbitAI review comments (batch 7)
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: enhance coverage for EventRegistrants component with additional mock data and edge case handling
  src/components/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbitAI review comments (batch 8)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/OrgPost/CreatePostModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: enhance coverage for EventRegistrants component with additional mock data and edge case handling
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/COMBINED_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EMPTY_EVENT_CHECKINS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EMPTY_REGISTRANTS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EMPTY_STATE_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/ERROR_DELETION_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EVENT_CHECKINS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EVENT_DETAILS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/MISSING_DATE_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/MISSING_NAME_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/RECURRING_EVENT_DETAILS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/RECURRING_EVENT_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/RECURRING_EVENT_REGISTRANTS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_ERROR_USER_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_MISSING_DATE_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_MISSING_NAME_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REMOVE_ATTENDEE_ERROR_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REMOVE_ATTENDEE_SUCCESS_MOCK.md
  src/components/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
  src/components/EventManagement/EventRegistrant/Registrations.mocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbitAI review comments (batch 9)
  public/locales/en/translation.json
  src/plugin/tests/graphql-service.spec.ts
  src/screens/OrgPost/CreatePostModal.spec.tsx
  src/screens/OrgPost/CreatePostModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: enhace coverage for src/components/EventManagement/EventRegistrant/EventRegistrants.tsx (#4774)
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/COMBINED_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EMPTY_EVENT_CHECKINS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EMPTY_REGISTRANTS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EMPTY_STATE_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/ERROR_DELETION_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EVENT_CHECKINS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/EVENT_DETAILS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/MISSING_DATE_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/MISSING_NAME_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/RECURRING_EVENT_DETAILS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/RECURRING_EVENT_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/RECURRING_EVENT_REGISTRANTS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_ERROR_USER_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_MISSING_DATE_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_MISSING_NAME_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REGISTRANTS_MOCKS.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REMOVE_ATTENDEE_ERROR_MOCK.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/Registrations.mocks/variables/REMOVE_ATTENDEE_SUCCESS_MOCK.md
  src/components/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
  src/components/EventManagement/EventRegistrant/Registrations.mocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Increase minimum coverage threshold to 93.3%
  .github/workflows/pull-request.yml
Due: prettier --write

test: increase coverage for Settings, Events, and App components
  src/App.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix-Hardcoded Admin Status in LeftDrawer Plugin System
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: achieve 98.3% coverage for PledgeModal component
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve CreatePostModal coverage and remove redundant mock cleanup
  src/screens/OrgPost/CreatePostModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

upgrade: inflight
  package-lock.json
  package.json
Due: prettier --write

Update src/screens/OrgPost/CreatePostModal.spec.tsx
  src/screens/OrgPost/CreatePostModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add coverage for orgId validation in CreatePostModal
  src/screens/OrgPost/CreatePostModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: fix mock cleanup in OrganizationDashboard, MembershipRequestsCard, and Organizations tests
  src/screens/OrganizationDashboard/OrganizationDashboard.spec.tsx
  src/screens/OrganizationDashboard/components/MembershipRequestsCard.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: remove redundant beforeEach, clean up comments, add type=button to pagination
  src/screens/OrgPost/CreatePostModal.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add coverage for CreatePostModal video handling and modal close
  src/screens/OrgPost/CreatePostModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write
