Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format:fix

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "npm run lint:fix",
  "**/*.{ts,tsx,json,scss,css}": "npm run format:fix"
}

fix: refactored password validation states
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Updated the profile picture issue on the Event dashboard.
  src/components/LeftDrawerEvent/LeftDrawerEvent.tsx
Due: npm run lint:fix, npm run format:fix

fix: refactored regexp and added translations for email invalid toast message
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Manage Button Fixed
  src/components/OrgListCard/OrgListCard.tsx
Due: npm run lint:fix, npm run format:fix

fix: fixed spelling errors and refactor validation handlers
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Changed User Login and User Register component (#1368)
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/screens/UserPortal/UserLoginPage/UserLoginPage.module.css
  src/screens/UserPortal/UserLoginPage/UserLoginPage.test.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Implemented search triggering when the search icon is clicked (#1341)
  src/components/UsersTableItem/UserTableItem.test.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
  src/screens/BlockUser/BlockUser.test.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/screens/OrgList/OrgList.test.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgPost/OrgPost.test.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/Requests/Requests.test.tsx
  src/screens/Requests/Requests.tsx
  src/screens/UserPortal/Chat/Chat.test.tsx
  src/screens/UserPortal/Chat/Chat.tsx
  src/screens/UserPortal/Events/Events.test.tsx
  src/screens/UserPortal/Events/Events.tsx
  src/screens/UserPortal/Organizations/Organizations.test.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/screens/UserPortal/People/People.test.tsx
  src/screens/UserPortal/People/People.tsx
  src/screens/Users/Users.test.tsx
  src/screens/Users/Users.tsx
Due: npm run lint:fix, npm run format:fix

feature: new github action which limit the file changes in single PR to 20 (#1316)
  .github/workflows/count_changed_files.py
  .github/workflows/pull-requests.yml
Due: none

button changes added
  src/components/OrgListCard/OrgListCard.tsx
Due: npm run lint:fix, npm run format:fix

fix: refactored password validation check handlers
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

fix conflicting files
  src/screens/UserPortal/UserLoginPage/UserLoginPage.module.css
  src/screens/UserPortal/UserLoginPage/UserLoginPage.tsx
Due: npm run lint:fix, npm run format:fix

feat: added input validation in registration form (#1376)
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/screens/LoginPage/LoginPage.module.css
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Updated the CSS and the logo styling.
  src/assets/svgs/datenew.svg
  src/assets/svgs/eventsnew.svg
  src/components/OrganizationDashCards/CardItem.module.css
  src/components/OrganizationDashCards/CardItem.tsx
Due: npm run lint:fix, npm run format:fix

feat: Add User and Admin toggle on login pages (#1371)
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/components/LoginPortalToggle/LoginPortalToggle.module.css
  src/components/LoginPortalToggle/LoginPortalToggle.test.tsx
  src/components/LoginPortalToggle/LoginPortalToggle.tsx
  src/components/UserPortal/Login/Login.tsx
  src/screens/LoginPage/LoginPage.module.css
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.module.css
  src/screens/UserPortal/UserLoginPage/UserLoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Restore password check functionality
  src/screens/LoginPage/LoginPage.module.css
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.module.css
Due: npm run lint:fix, npm run format:fix

fix failing test
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: npm run lint:fix, npm run format:fix

fix md_mpx_format_adjuster.py script (#1317)
  .github/workflows/md_mpx_format_adjuster.py
  .github/workflows/push.yml
  CODE_STYLE.md
  talawa-admin-docs/classes/components_AddOn_support_services_Plugin_helper.default.md
  talawa-admin-docs/interfaces/components_CheckIn_types.InterfaceAttendeeCheckIn.md
  talawa-admin-docs/interfaces/components_CheckIn_types.InterfaceModalProp.md
  talawa-admin-docs/interfaces/components_CheckIn_types.InterfaceTableCheckIn.md
  talawa-admin-docs/interfaces/components_LeftDrawerOrg_LeftDrawerOrg.InterfaceLeftDrawerProps.md
  talawa-admin-docs/interfaces/components_LeftDrawer_LeftDrawer.InterfaceLeftDrawerProps.md
  talawa-admin-docs/modules/components_AddOn_AddOn.default.md
  talawa-admin-docs/modules/components_AddOn_core_AddOnEntry_AddOnEntry.default.md
  talawa-admin-docs/modules/components_AddOn_core_AddOnRegister_AddOnRegister.default.md
  talawa-admin-docs/modules/components_ChangeLanguageDropdown_ChangeLanguageDropDown.md
  talawa-admin-docs/modules/components_CheckIn_TableRow.md
  talawa-admin-docs/modules/components_CheckIn_mocks.md
  talawa-admin-docs/modules/components_EventCalendar_EventCalendar.md
  talawa-admin-docs/modules/components_TaskModals_UpdateTaskModal.md
  talawa-admin-docs/modules/components_UserPasswordUpdate_UserPasswordUpdate.md
  talawa-admin-docs/modules/components_UserUpdate_UserUpdate.md
  talawa-admin-docs/modules/screens_EventDashboard_EventDashboard_mocks.md
  talawa-admin-docs/modules/screens_MemberDetail_MemberDetail.md
  talawa-admin-docs/modules/screens_OrgList_OrgListMocks.md
  talawa-admin-docs/modules/screens_OrganizationDashboard_OrganizationDashboardMocks.md
Due: none

Fix: Addressed the issue of UI redundancy as discussed in Issue #1380.
  package-lock.json
  src/screens/OrgList/OrgList.test.tsx
  src/screens/OrgList/OrgList.tsx
Due: npm run lint:fix, npm run format:fix

fixed dependencies and devDependencies (#1337)
  package-lock.json
  package.json
Due: npm run format:fix

Update OrgListCard.tsx
  src/components/OrgListCard/OrgListCard.tsx
Due: npm run lint:fix, npm run format:fix

Added styling
  src/components/OrgListCard/OrgListCard.module.css
Due: npm run format:fix

Restore password check functionality (#1392)
  src/screens/LoginPage/LoginPage.module.css
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.module.css
Due: npm run lint:fix, npm run format:fix

Removed sidebar and checked the functionality
  src/screens/UserPortal/Home/Home.tsx
Due: npm run lint:fix, npm run format:fix

test: added the expect statements
  src/components/AddOn/core/AddOnStore/AddOnStore.test.tsx
Due: npm run lint:fix, npm run format:fix

Fixed-Issue-#1266 Bug Report When a new post is added, the latest post section in the organization's dashboard becomes distorted Updated
  src/screens/OrganizationDashboard/OrganizationDashboard.test.tsx
Due: npm run lint:fix, npm run format:fix

Fixed merge conflicts
  package-lock.json
  package.json
Due: npm run format:fix

restore original scripts
  .lintstagedrc.json
  package.json
Due: npm run format:fix

make requested changes for "Apply Linting Only to Files Updated in git #1335" (#1353)
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: npm run format:fix

add eslint rules and plugins
  .eslintrc.json
  package-lock.json
  package.json
Due: npm run format:fix

reverted changes made to package-lock.json file
  package-lock.json
Due: npm run format:fix

feat:Removed requests screen from superadmin panel
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/App.tsx
  src/assets/svgs/requests.svg
  src/components/LeftDrawer/LeftDrawer.test.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/screens/Requests/Requests.module.css
  src/screens/Requests/Requests.test.tsx
  src/screens/Requests/Requests.tsx
  src/screens/Requests/RequestsMocks.ts
Due: npm run lint:fix, npm run format:fix

Removed async
  src/components/LeftDrawer/LeftDrawer.test.tsx
Due: npm run lint:fix, npm run format:fix

Update EventListCard.module.css
  src/components/EventListCard/EventListCard.module.css
Due: npm run format:fix

Fix:Replacing Modal Buttons with Bootstrap buttons.
  src/screens/OrgList/OrgList.module.css
  src/screens/OrgList/OrgList.test.tsx
  src/screens/OrgList/OrgList.tsx
Due: npm run lint:fix, npm run format:fix

Revert specific changes from commit 1386
  package-lock.json
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Removes Sidebar and ensuring correct behaviour of event and members in Navbar (#1394)
  src/screens/UserPortal/Home/Home.tsx
Due: npm run lint:fix, npm run format:fix

feat: Use of same Login/Register Component on User and Admin
  src/App.tsx
  src/screens/LoginPage/LoginPage.test.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.module.css
  src/screens/UserPortal/UserLoginPage/UserLoginPage.test.tsx
  src/screens/UserPortal/UserLoginPage/UserLoginPage.tsx
Due: npm run lint:fix, npm run format:fix

Fixed more button disappearing on calendar on small screens
  src/components/EventCalendar/EventCalendar.tsx
Due: npm run lint:fix, npm run format:fix
