Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Remove redundant registration test flagged by CodeRabbit
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix CodeRabbit feedback: improve test titles and remove duplicate test
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor(tests): migrate VenueCard.spec.tsx from Jest to Vitest
  src/components/Venues/VenueCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: Refactor VenueCard tests to use Vitest and improve descriptions
  src/components/Venues/VenueCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: comment out pre-commit script commands for clarity
  .github/workflows/auto-label.json5
Due: none

feat: implement tab navigation in MemberDetail component with styles
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/getLanguageName.md
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/prettyDate.md
  src/components/MemberActivity/Modal/EventsAttendedMemberModal.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: fix prettier formatting in auto-label.json5
  .github/workflows/auto-label.json5
Due: none

changed variable name
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdateMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: add explicit 60s timeout to ChatRoom 'send message direct chat' test to prevent NaN timeout error in CI
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

revert: restore auto-label.json5 to match develop (sensitive file)
  .github/workflows/auto-label.json5
Due: none

fix: remove trailing whitespace from auto-label.json5 (formatting only)
  .github/workflows/auto-label.json5
Due: none

fix: format
  src/style/app-fixed.module.css
Due: prettier --write

Update auto-label.json5
  .github/workflows/auto-label.json5
Due: none

feat: add TypeScript and ESLint checks to docs/src directory
  .github/workflows/pull-request.yml
  .gitignore
  .husky/pre-commit
  docs/docusaurus.config.ts
  docs/eslint.config.js
  docs/package.json
  docs/src/utils/HomeCallToAction.tsx
  docs/tsconfig.json
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: increase timeout for chatroom component tests
  .husky/commit-msg
  .husky/pre-commit
  src/screens/OrganizationDashboard/OrganizationDashboard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: migrate organizationdashboard tests from jest to vitest
  src/screens/OrganizationDashboard/OrganizationDashboard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: migrate organizationdashboard tests from jest to vitest (#4432)
  src/screens/OrganizationDashboard/OrganizationDashboard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: remove Events tab functionality from MemberDetail component
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/getLanguageName.md
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/prettyDate.md
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/variables/default.md
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: enhance accessibility in MemberDetail and EventsAttendedMemberModal
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/getLanguageName.md
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/prettyDate.md
  src/components/MemberActivity/Modal/EventsAttendedMemberModal.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove unnecessary margin
  src/screens/MemberDetail/MemberDetail.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve coverage for usesession hook
  src/utils/useSession.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: replace 'as any' with proper type annotation
  src/utils/useSession.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: code rabbit suggestions implemented
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/getLanguageName.md
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/prettyDate.md
  src/components/MemberActivity/Modal/EventsAttendedMemberModal.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: update MemberDetail component with improved UI based on feedback
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/getLanguageName.md
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/functions/prettyDate.md
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/variables/default.md
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

initial commit
  src/components/LeftDrawer/LeftDrawer.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

removed null test
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: add docs package-lock.json and improve pre-commit safety
  .gitignore
  .husky/pre-commit
  docs/package-lock.json
  docs/tsconfig.json
Due: prettier --write

fix: improved test coverage in MemberDetail
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve coverage for useSession hook to 100%
  src/utils/useSession.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: implemented coderabbit suggestions and improved test cov
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: remove redundant expect().not.toThrow() wrapper
  src/utils/useSession.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: minor change
  src/types/Event/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: add clarifying comment for type assertion
  src/utils/useSession.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: improve file size validation
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve coverage for useSession hook to 100% (#4436)
  src/utils/useSession.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: type errors
  src/components/CheckIn/Modal/CheckInModal.tsx
  src/components/CheckIn/Modal/Row/TableRow.spec.tsx
  src/components/EventCalender/EventCalenderMocks.ts
  src/components/EventCalender/Monthly/EventCalendar.spec.tsx
  src/components/EventCalender/Monthly/EventCalender.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.tsx
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/EventListCard/EventListCardProps.ts
  src/components/EventListCard/Modal/Delete/EventListCardDeleteModal.spec.tsx
  src/components/EventListCard/Modal/Delete/EventListCardDeleteModal.tsx
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
  src/components/EventListCard/Modal/EventListCardModals.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.tsx
  src/components/EventListCard/Modal/updateLogic.ts
  src/components/EventManagement/Dashboard/EventDashboard.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/components/UserPortal/EventCard/EventCard.spec.tsx
  src/components/UserPortal/EventCard/EventCard.tsx
  src/components/UserPortal/UserProfile/EventsAttendedByUser.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/types/Event/type.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: type errors
  docs/docs/auto-docs/components/EventCalender/EventCalenderMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/EventCalender/EventCalenderMocks/variables/eventData.md
  docs/docs/auto-docs/components/MemberActivity/MemberActivityMocks/variables/errorMocks.md
  docs/docs/auto-docs/components/MemberActivity/MemberActivityMocks/variables/mockEventBasicData.md
  docs/docs/auto-docs/components/MemberActivity/MemberActivityMocks/variables/mockEventData.md
  docs/docs/auto-docs/components/MemberActivity/MemberActivityMocks/variables/mocks.md
  docs/docs/auto-docs/subComponents/SearchingButton/namespaces/default/variables/propTypes.md
  docs/docs/auto-docs/subComponents/SortingButton/namespaces/default/variables/propTypes.md
  docs/docs/auto-docs/types/Event/type/type-aliases/User.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/Element.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/ElementAttributesProperty.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/ElementChildrenAttribute.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/ElementClass.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/IntrinsicAttributes.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/IntrinsicClassAttributes.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/IntrinsicElements.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/LibraryManagedAttributes.md
Due: none

fix(CommunityProfile): correct loader rendering and improve test coverage
  src/screens/CommunityProfile/CommunityProfile.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Path conditions:
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml,yaml}
