Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update .gitignore
  .gitignore
Due: none

fixed-bug-#3602
  src/components/UserPortal/PostCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

won't show edit successfull message now #3391
  src/components/UserPortal/PostCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

won't show edit successfull message now #3391 fixed flow
  src/components/UserPortal/PostCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

first commit
  schema.graphql
  src/GraphQl/Mutations/OrganizationMutations.ts
  src/GraphQl/Mutations/mutations.ts
  src/GraphQl/Queries/PlugInQueries.ts
  src/GraphQl/Queries/Queries.ts
  src/components/OrgSettings/General/DeleteOrg/DeleteOrg.tsx
  src/components/OrgSettings/General/OrgProfileFieldSettings/OrgProfileFieldSettings.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactored code
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.spec.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.spec.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/Settings/SideToggle/SideToggle.spec.tsx
  src/screens/UserPortal/Settings/SideToggle/SideToggle.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update Settings.tsx
  src/screens/UserPortal/Settings/Settings.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update schema.graphql
  schema.graphql
Due: none

lint fix schema.graphql
  schema.graphql
Due: none

add ts-docs comment
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
  src/screens/UserPortal/Settings/SideToggle/SideToggle.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added recommended translations
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix translations
  public/locales/fr/translation.json
Due: prettier --write

fixing signin Type
  src/GraphQl/Queries/Queries.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore: moved setup.ts to src/setup and written tests for it (#3568)
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  package.json
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Added lazy loading
  docs/docs/auto-docs/App/functions/default.md
  src/App.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix failing test
  docs/docs/auto-docs/App/functions/default.md
  src/App.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix tests
  src/App.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added edge cases
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed formatting issue
  src/components/UserPortal/PostCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Improved performance of talawa-admin landing page for develop-postgres (#3608)
  docs/docs/auto-docs/App/functions/default.md
  src/App.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix: Prevent Success Message on Failed Data Reception #3391 (#3604)
  src/components/UserPortal/PostCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

add vitest ui script and fix tests
  package-lock.json
  package.json
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/ChangeLanguageDropdown/ChangeLanguageDropdown.spec.tsx
  src/components/UserPortal/OrganizationNavbar/OrganizationNavbar.spec.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
  src/components/UserPortal/UserProfile/UserAddressFields.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/SettingsMocks.ts
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Improve code coverage for: src\screens\OrganizationFunds\OrganizationFunds.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFunds/OrganizationFunds.spec.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixing signin Type (#3613)
  src/GraphQl/Queries/Queries.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update Actions.spec.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Re trigger tests
  src/App.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

updated test file
  src/screens/UserPortal/Volunteer/Actions/Actions.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Added timeout
  src/App.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

excessive waits removed (#3601)
  src/screens/UserPortal/Volunteer/Actions/Actions.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update testing.md
  docs/docs/docs/developer-resources/testing.md
Due: none

improve coverage
  schema.graphql
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.spec.tsx
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.tsx
  src/components/ChangeLanguageDropdown/ChangeLanguageDropdown.spec.tsx
  src/components/UserPortal/UserProfile/UserAddressFields.spec.tsx
  src/screens/UserPortal/Settings/SettingsMocks.ts
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/utils/sanitizeAvatar.spec.ts
  src/utils/sanitizeAvatar.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

improve coverage
  src/screens/UserPortal/Volunteer/Actions/Actions.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
