Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

added content in tags and fixed breaking tests
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
  src/screens/MemberDetail/MemberDetailMocks.ts
  src/utils/formEnumFields.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added mutations for delete functionlity and improved coverage
  public/locales/en/translation.json
  src/GraphQl/Mutations/mutations.ts
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
  src/screens/MemberDetail/MemberDetailMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

removed redundant key
  public/locales/zh/translation.json
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed minor key error
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
Due: prettier --write

added deletion tests and improved handlers
  er
  public/locales/hi/translation.json
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
  src/screens/MemberDetail/MemberDetailMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added more patch coverage and requested changes
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed typeerror
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

minor cleanup
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added more test and removed redundant issues
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
  src/screens/MemberDetail/global.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

minor lint fix
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added test for modal and navigation
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added suggested updates
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Inc code coverage for VenueModal (#3883)
  src/components/Venues/Modal/VenueModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added recommendations
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
  src/screens/MemberDetail/config.jsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix GitHub Action CodeRabbit Approval Test (Fixes #3885) (#3889)
  .github/workflows/pull-request-review.yml
  .github/workflows/pull-request.yml
  .github/workflows/scripts/validate-coderabbit.sh
Due: eslint --fix, prettier --write

fix:improved test coverage for orgUpdate (#3887)
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added suggestions
  src/screens/MemberDetail/config.jsx
  src/style/app-fixed.module.css
Due: prettier --write

added spacing changes
  src/screens/MemberDetail/config.jsx
Due: none

improved coverage
  docs/docs/auto-docs/screens/MemberDetail/config/functions/getNavItems.md
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat(pg-migration): Fix postgres migration support for funds & fundraising campaigns in orgDashboard (#3898)
  src/GraphQl/Mutations/CampaignMutation.ts
  src/GraphQl/Mutations/FundMutation.ts
  src/GraphQl/Queries/fundQueries.ts
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaignMocks.ts
  src/screens/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.spec.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/OrganizationFunds/OrganizationFundsMocks.ts
  src/screens/OrganizationFunds/modal/FundModal.spec.tsx
  src/screens/OrganizationFunds/modal/FundModal.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Delete CREATE_MEMBER_PG.md
  CREATE_MEMBER_PG.md
Due: none

Delete index.html
  index.html
Due: none

Create index.html
  index.html
Due: none

added changes
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

removed redundant test
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

changed test for coverage
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added more coverage
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed breaking tests
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added requested changes
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed recommendations
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added partial mock
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
