Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fix: CI tests E2E tests
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/screens/Public/Invitation/AcceptInvitation.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

revert: remove unauthorized changes to sensitive file scripts/check-i18n.js
  scripts/check-i18n.js
Due: none

feat: Add LoginForm component with its types, tests, and documentation.
  docs/docs/auto-docs/screens/LoginPage/components/LoginForm/LoginForm/variables/LoginForm.md
  docs/docs/auto-docs/types/Auth/LoginForm/interface/interfaces/InterfaceLoginFormData.md
  docs/docs/auto-docs/types/Auth/LoginForm/interface/interfaces/InterfaceLoginFormProps.md
  src/screens/LoginPage/components/LoginForm/LoginForm.spec.tsx
  src/screens/LoginPage/components/LoginForm/LoginForm.tsx
  src/types/Auth/LoginForm/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing i18n translation keys and fix JSON syntax errors
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
Due: prettier --write

fix: update pnpm lockfile to resolve CI installation issues
  pnpm-lock.yaml
Due: none

refactor: relocate LoginForm component and its associated documentation to a shared directory.
  docs/docs/auto-docs/components/Auth/LoginForm/LoginForm/variables/LoginForm.md
  docs/docs/auto-docs/types/Auth/LoginForm/interface/interfaces/InterfaceLoginFormData.md
  docs/docs/auto-docs/types/Auth/LoginForm/interface/interfaces/InterfaceLoginFormProps.md
  src/components/Auth/LoginForm/LoginForm.spec.tsx
  src/components/Auth/LoginForm/LoginForm.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve failing test issues in RecurrenceEndOptionsSection and YearlyEventCalender
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: Prevent multiple LoginForm callback invocations with stable refs and update related tests and documentation.
  docs/docs/auto-docs/components/Auth/LoginForm/LoginForm/variables/LoginForm.md
  src/components/Auth/LoginForm/LoginForm.spec.tsx
  src/components/Auth/LoginForm/LoginForm.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: Remove redundant login heading display tests from LoginForm.
  src/components/Auth/LoginForm/LoginForm.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve CI test failures
  src/components/Advertisements/AdvertisementsMocks.ts
  src/components/EventCalender/Monthly/EventCalendar.spec.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/screens/AdminPortal/Users/Users.spec.tsx
  src/screens/Leaderboard/Leaderboard.spec.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/SubTags/SubTags.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.spec.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/posts.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: recurrence end options section test failure
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove deprecated Apollo Client addTypename warnings from UploadPluginModal tests
  src/screens/PluginStore/UploadPluginModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: Improve date handling in recurrence option tests and fix event calendar test date boundary issues.
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: add try/finally block for HTMLInputElement.prototype.select spy cleanup in test.
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: ensure eslint-plugin-tsdoc is in package.json
  package.json
Due: prettier --write

fix: lint only changed files, not entire codebase
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix: properly filter and handle TypeScript files for linting
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix: use null-delimited strings for filename handling
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

feat(Pledges, Groups): add search functionality and improve mock data
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/UPDATE_ERROR_MOCKS.md
  public/locales/en/translation.json
  src/screens/UserPortal/Pledges/Pledges.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.mocks.ts
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(GroupChatAddUserModal): refactor props destructuring for clarity
  src/components/GroupChatDetails/GroupChatAddUserModal.tsx
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add documentation comments for Donate, Actions, and UpcomingEvents components
  docs/docs/auto-docs/screens/UserPortal/Donate/Donate/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Actions/Actions/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents/functions/default.md
  src/screens/UserPortal/Donate/Donate.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: enable advanced tree-shaking in Vite
  config/vite.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: update translations and improve UpcomingEvents component functionality
  docs/docs/auto-docs/GraphQl/Mutations/EventVolunteerMutation/variables/CREATE_VOLUNTEER_MEMBERSHIP.md
  docs/docs/auto-docs/GraphQl/Mutations/EventVolunteerMutation/variables/UPDATE_VOLUNTEER_MEMBERSHIP.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/zh/translation.json
  src/GraphQl/Mutations/EventVolunteerMutation.ts
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Donate/Donate.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: add i18next and react-i18next to optimizeDeps.include
  config/vite.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(translations): add error messages for fetching members in multiple languages
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix(GroupChatAddUserModal): update parameter name to __namedParameters for clarity
  docs/docs/auto-docs/components/GroupChatDetails/GroupChatAddUserModal/functions/default.md
Due: none

feat(install): require manual Docker installation for edition choice
  src/install/os/linux.ts
  src/install/os/macos.ts
  src/install/os/windows.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

perf(login): replace MUI barrel imports with direct imports
  docs/docs/auto-docs/LoginPage/functions/default.md
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address CodeRabbit review - safe tree-shaking and i18n deps
  config/vite.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: update French and Hindi translations
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

revert: remove unnecessary changes to pre-commit and workflow
  .github/workflows/pull-request.yml
  .husky/pre-commit
Due: eslint --fix, prettier --write

fix: Add French and Chinese translations for statusBadge
  public/locales/fr/translation.json
  public/locales/zh/translation.json
Due: prettier --write

feat: Change default event start and end dates from tomorrow to today in the CreateEventModal.
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
  src/screens/OrganizationEvents/CreateEventModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Add LoginForm component with test fixes for CI shards 4 & 6 (#5972)
  docs/docs/auto-docs/components/Auth/LoginForm/LoginForm/variables/LoginForm.md
  docs/docs/auto-docs/types/Auth/LoginForm/interface/interfaces/InterfaceLoginFormData.md
  docs/docs/auto-docs/types/Auth/LoginForm/interface/interfaces/InterfaceLoginFormProps.md
  src/components/Auth/LoginForm/LoginForm.spec.tsx
  src/components/Auth/LoginForm/LoginForm.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.spec.tsx
  src/types/Auth/LoginForm/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: convert empty optional fields to undefined in createOrganization (#5964)
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Feat: enable advanced tree-shaking in Vite (fixes #5916) (#5978)
  config/vite.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
