Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: changes according to codderrabbitai suggestion
  src/screens/LoginPage/LoginPage.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: fix LoginPage and MemberDetail test failure
  src/screens/AdminPortal/MemberDetail/MemberDetail.spec.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: remove unused function
  src/GraphQl/Queries/Queries.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: add new translation keys for recurrence options in multiple locale files
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

feat: added tokens
  .github/workflows/pull-request.yml
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  docs/docs/auto-docs/index/variables/client.md
  docs/docs/docs/design-token-system.md
  scripts/validate-tokens.ts
  src/index.tsx
  src/style/tokens/breakpoints.css
  src/style/tokens/colors.css
  src/style/tokens/index.css
  src/style/tokens/spacing.css
  src/style/tokens/typography.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add translation keys for 'ends', 'occurrences', and 'volunteerAlt'
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

feat: add 'groupTable' and 'volunteerActions' translation keys to multiple locale files
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: show specific error message instead of generic forbidden error for duplicate email
  docs/docs/auto-docs/utils/errorHandler/functions/errorHandler.md
  src/components/UserPortal/Register/Register.spec.tsx
  src/utils/errorHandler.spec.tsx
  src/utils/errorHandler.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: the test shards
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/utils/errorHandler.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: skip broken PostCard tests to unblock PR
  .github/workflows/scripts/sensitive_file_check.py
  src/shared-components/postCard/PostCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: Update the Register.spec.tsx
  src/components/UserPortal/Register/Register.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: upgrade the @redux-toolkit to 22.11.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fixed errors
  docs/docs/auto-docs/components/UserPortal/UserPortalCard/UserPortalCard/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/UserPortalCard/UserPortalCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

update the file according to coderrabbitai
  src/components/UserPortal/Register/Register.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: correct Register mutation variables (ID, name)
  src/components/UserPortal/Register/Register.spec.tsx
  src/components/UserPortal/Register/Register.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated cr suggestions
  docs/docs/auto-docs/components/UserPortal/UserPortalCard/UserPortalCard/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  src/components/UserPortal/UserPortalCard/UserPortalCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: upgrade the @redux-toolkit to 22.11.2 (#5998)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fixed building errors
  docs/docs/auto-docs/shared-components/DataGridWrapper/functions/DataGridWrapper.md
  src/shared-components/DataGridWrapper/DataGridWrapper.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: shard 5 fail
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated tests
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: adopt LoadingState table and skeleton variants in Users and People screens
  docs/docs/auto-docs/screens/AdminPortal/Users/Users/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/People/People/functions/default.md
  docs/docs/auto-docs/shared-components/LoadingState/LoadingState/functions/default.md
  docs/docs/auto-docs/types/shared-components/LoadingState/interface/interfaces/InterfaceLoadingStateProps.md
  src/screens/AdminPortal/Users/Users.tsx
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
  src/shared-components/LoadingState/LoadingState.spec.tsx
  src/shared-components/LoadingState/LoadingState.tsx
  src/types/shared-components/LoadingState/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: added tokens (#5843)
  .github/workflows/pull-request.yml
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  docs/docs/auto-docs/index/variables/client.md
  docs/docs/docs/design-token-system.md
  scripts/validate-tokens.ts
  src/index.tsx
  src/style/tokens/breakpoints.css
  src/style/tokens/colors.css
  src/style/tokens/index.css
  src/style/tokens/spacing.css
  src/style/tokens/typography.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fixed script
  .husky/pre-commit
  scripts/validate-tokens.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: fixed errors
  src/shared-components/DataGridWrapper/DataGridWrapper.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fixed script (#5999)
  .husky/pre-commit
  scripts/validate-tokens.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore: update auto-generated docs
  docs/docs/auto-docs/Requests/README-1.md
  docs/docs/auto-docs/Requests/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/getManageTagErrorMessage.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/removeModal/RemoveUserTagModal/interfaces/InterfaceRemoveUserTagModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/removeModal/RemoveUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/unassignModal/UnassignUserTagModal/interfaces/InterfaceUnassignUserTagModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/unassignModal/UnassignUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
Due: none

fix: CI tests and othere failing tests
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/getManageTagErrorMessage.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/removeModal/RemoveUserTagModal/interfaces/InterfaceRemoveUserTagModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/removeModal/RemoveUserTagModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/unassignModal/UnassignUserTagModal/interfaces/InterfaceUnassignUserTagModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/unassignModal/UnassignUserTagModal/variables/default.md
  src/screens/AdminPortal/ManageTag/ManageTag.tsx
  src/screens/AdminPortal/ManageTag/removeModal/RemoveUserTagModal.tsx
  src/screens/AdminPortal/ManageTag/unassignModal/UnassignUserTagModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: adopt LoadingState table and skeleton variants in Users and People screens (#5977)
  docs/docs/auto-docs/screens/AdminPortal/Users/Users/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/People/People/functions/default.md
  docs/docs/auto-docs/shared-components/LoadingState/LoadingState/functions/default.md
  docs/docs/auto-docs/types/shared-components/LoadingState/interface/interfaces/InterfaceLoadingStateProps.md
  src/screens/AdminPortal/Users/Users.tsx
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
  src/shared-components/LoadingState/LoadingState.spec.tsx
  src/shared-components/LoadingState/LoadingState.tsx
  src/types/shared-components/LoadingState/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore:add eslint-plugin-tsdoc,making error state and remove errors if any along with adding documentation
  eslint.config.js
  src/screens/AdminPortal/Users/Users.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix: Batch 1
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/components/AddPeopleToTag/AddPeopleToTag/variables/default.md
  docs/docs/auto-docs/components/Advertisements/Advertisements/functions/default.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry/functions/default.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/App.tsx
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/Advertisements/Advertisements.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore:add package.json
  package.json
Due: prettier --write

Updated documentation
  docs/docs/docs/developer-resources/design-token-system.md
Due: none

Updated documentation (#6003)
  docs/docs/docs/developer-resources/design-token-system.md
Due: none

Fix: Issues fixed
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
