Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: eslint
  src/components/test-utils/mocks/MockBrowserRouter.tsx
  src/components/test-utils/mocks/MockI18nextProvider.tsx
  src/components/test-utils/mocks/MockedCustomProvider.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

eslint-disable fix
  docs/docs/auto-docs/components/test-utils/AsyncComponent/README/functions/default.md
  docs/docs/auto-docs/components/test-utils/I18nextProviderMock/README/functions/I18nextProvider.md
  docs/docs/auto-docs/components/test-utils/MockBrowserRouter/README/functions/default.md
  docs/docs/auto-docs/components/test-utils/TestErrorBoundary/README/classes/TestErrorBoundary.md
  src/components/test-utils/AsyncComponent.tsx
  src/components/test-utils/I18nextProviderMock.tsx
  src/components/test-utils/MockBrowserRouter.tsx
  src/components/test-utils/TestErrorBoundary.tsx
  src/components/test-utils/TestWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Tsdoc added
  docs/docs/auto-docs/components/test-utils/AsyncComponent/README/functions/default.md
  docs/docs/auto-docs/components/test-utils/I18nextProviderMock/README/functions/I18nextProvider.md
  docs/docs/auto-docs/components/test-utils/MockBrowserRouter/README/functions/default.md
  docs/docs/auto-docs/components/test-utils/TestErrorBoundary/README/classes/TestErrorBoundary.md
  src/components/test-utils/AsyncComponent.tsx
  src/components/test-utils/I18nextProviderMock.tsx
  src/components/test-utils/MockBrowserRouter.tsx
  src/components/test-utils/TestErrorBoundary.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

ci: added cypress workflow
  .github/workflows/cypress.yaml
Due: none

fix: cypress workflow
  .github/workflows/cypress.yaml
Due: none

fix: frontend build
  .github/workflows/cypress.yaml
Due: none

fix: backend not running
  .github/workflows/cypress.yaml
Due: none

fix: vitest error
  src/screens/EventManagement/EventManagement.spec.tsx
  src/screens/UserPortal/People/People.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: backend
  .github/workflows/cypress.yaml
Due: none

test fix
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/test-utils/TestWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

test fix
  src/components/test-utils/TestWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

mock test fix
  src/components/test-utils/TestWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: tests not running
  .github/workflows/cypress.yaml
Due: none

fix: single job
  .github/workflows/cypress.yaml
Due: none

fix: networking issue
  .github/workflows/cypress.yaml
Due: none

fix: jest uninstall
  package-lock.json
  package.json
Due: prettier --write

changing workflow to use npm instead of yarn
  .github/workflows/push-deploy-website.yml
Due: eslint --fix, prettier --write

fixed linting errors
  src/components/IconComponent/IconComponent.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/SignOut/SignOut.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.spec.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.spec.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/UserScreen/UserScreen.spec.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

updating to resolve CORS issue
  src/index.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: added more test
  .gitignore
  cypress/e2e/dashboard_spec/adminDashboard.cy.ts
  cypress/e2e/dashboard_spec/userDashboard.cy.ts
  cypress/e2e/login_spec/adminLogin.cy.ts
  cypress/e2e/login_spec/userLogin.cy.ts
  cypress/pageObjects/AdminPortal/AdminDashboard.ts
  cypress/pageObjects/UserPortal/UserDashboard.ts
  cypress/pageObjects/auth/LoginPage.ts
  src/components/OrgListCard/OrgListCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed posts page
  src/screens/UserPortal/Posts/Posts.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: cypress config
  .github/workflows/cypress.yaml
  cypress.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

improved test coverage
  src/components/EventDashboardScreen/EventDashboardScreen.tsx
  src/components/IconComponent/IconComponent.tsx
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/SignOut/SignOut.spec.tsx
  src/components/SignOut/SignOut.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.spec.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.spec.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.spec.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/UserScreen/UserScreen.spec.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: added tests for admin portal
  cypress.config.ts
  cypress/e2e/admin_spec/advertisment.cy.ts
  cypress/e2e/admin_spec/people.cy.ts
  cypress/e2e/dashboard_spec/adminDashboard.cy.ts
  cypress/e2e/login_spec/userLogin.cy.ts
  cypress/fixtures/advertisementData.json
  cypress/fixtures/advertisement_banner.png
  cypress/pageObjects/AdminPortal/AdminDashboard.ts
  cypress/pageObjects/AdminPortal/AdvertisementManagementPage.ts
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

lint fixed
  src/components/EventCalender/Monthly/EventCalender.tsx
  src/components/EventListCard/EventListCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

changes
  docs/docs/auto-docs/plugin/available/todoList/variables/TodoList.md
  docs/docs/auto-docs/plugin/available/todoList/variables/TodoListManage.md
  docs/docs/auto-docs/plugin/graphql-service/classes/PluginGraphQLService.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useCreatePlugin.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useDeletePlugin.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useGetAllPlugins.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useUpdatePlugin.md
  docs/docs/auto-docs/plugin/graphql-service/interfaces/CreatePluginInput.md
  docs/docs/auto-docs/plugin/graphql-service/interfaces/DeletePluginInput.md
  docs/docs/auto-docs/plugin/graphql-service/interfaces/UpdatePluginInput.md
  docs/docs/auto-docs/plugin/manager/variables/default.md
  docs/docs/auto-docs/plugin/types/enumerations/ExtensionPointType.md
  docs/docs/auto-docs/plugin/types/enumerations/PluginStatus.md
  docs/docs/auto-docs/plugin/types/interfaces/IDrawerExtension.md
  docs/docs/auto-docs/plugin/types/interfaces/IExtensionPoints.md
  docs/docs/auto-docs/plugin/types/interfaces/IExtensionRegistry.md
  docs/docs/auto-docs/plugin/types/interfaces/IInstalledPlugin.md
  docs/docs/auto-docs/plugin/types/interfaces/ILoadedPlugin.md
  docs/docs/auto-docs/plugin/types/interfaces/IPluginDetails.md
  docs/docs/auto-docs/plugin/types/interfaces/IPluginDrawerItemsProps.md
  docs/docs/auto-docs/plugin/types/interfaces/IPluginManifest.md
  docs/docs/auto-docs/plugin/types/interfaces/IPluginMeta.md
  docs/docs/auto-docs/plugin/types/interfaces/IPluginModalProps.md
  docs/docs/auto-docs/plugin/types/interfaces/IPluginRouterProps.md
  docs/docs/auto-docs/plugin/types/interfaces/IPluginStoreProps.md
  docs/docs/auto-docs/plugin/types/interfaces/IRouteExtension.md
  docs/docs/auto-docs/plugin/utils/functions/filterByPermissions.md
  docs/docs/auto-docs/plugin/utils/functions/generatePluginId.md
  docs/docs/auto-docs/plugin/utils/functions/sortDrawerItems.md
  src/plugin/graphql-service.ts
  src/plugin/manager.ts
  src/plugin/types.ts
  src/plugin/utils.ts
  src/screens/PluginStore/UploadPluginModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chores: added 'tsdoc/syntax': 'error' to eslint-config
  eslint.config.js
  package-lock.json
Due: prettier --write

lint fixed 1
  docs/docs/auto-docs/components/EventCalender/EventCalenderMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/EventCalender/EventCalenderMocks/variables/eventData.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IPreviewEventModalProps.md
  src/components/EventCalender/EventCalenderMocks.ts
  src/components/EventCalender/Monthly/EventCalendar.spec.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.tsx
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/EventListCard/EventListCardProps.ts
  src/components/EventListCard/Modal/EventListCardMocks.ts
  src/components/EventListCard/Modal/EventListCardModals.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.tsx
  src/types/Event/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor(UI): sidebar and profile card (#3999)
  src/components/EventDashboardScreen/EventDashboardScreen.tsx
  src/components/IconComponent/IconComponent.tsx
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/SignOut/SignOut.spec.tsx
  src/components/SignOut/SignOut.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.spec.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.spec.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.spec.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/UserScreen/UserScreen.spec.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
