Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Removed all ignore statements
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationTags/OrganizationTagsMocks.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

pull-request.yml updated
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

added code rabbit's suggetions
  src/screens/UserPortal/People/People.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Changed the file to typescript file and added return types to avoid linting errors
  .eslintrc.json
  .github/workflows/pull-request.yml
  .lintstagedrc.json
  package.json
  scripts/githooks/check-localstorage-usage.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

adding npx to run the tsx command
  .github/workflows/pull-request.yml
  .lintstagedrc.json
Due: eslint --fix, prettier --write

added code rabbit's suggetions
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

coderabbit suggestions and ignore codeconv for this file since it is not applicable
  .github/workflows/pull-request.yml
  scripts/githooks/check-localstorage-usage.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Figma Refactoring
  public/images/svg/attendees.svg
  public/images/svg/feedback.svg
  public/images/svg/options-outline.svg
  public/images/svg/organization.svg
  src/components/CheckIn/CheckInWrapper.spec.tsx
  src/components/CheckIn/CheckInWrapper.tsx
  src/components/EventManagement/Dashboard/EventDashboard.spec.tsx
  src/components/EventManagement/Dashboard/EventDashboard.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.spec.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.tsx
  src/components/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
  src/components/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/screens/EventManagement/EventManagement.tsx
  src/screens/EventVolunteers/Requests/Requests.spec.tsx
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

pull-request.yml updated
  .github/workflows/pull-request.yml
  .gitignore
Due: eslint --fix, prettier --write

Update src/components/EventManagement/EventAttendance/EventAttendance.spec.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.spec.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

fix failing test
  src/components/EventManagement/EventAttendance/EventAttendance.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

improved coverage in Users.tsx
  src/screens/Users/Users.tsx
  src/screens/Users/UsersMocks.mocks.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Improved Code Coverage in src/screens/Users/Users.tsx (#3298)
  src/screens/Users/Organization.mocks.ts
  src/screens/Users/User.mocks.ts
  src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.tsx
  src/screens/Users/UsersMocks.mocks.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

improve code coverage of people.tsx (#3308)
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Fixed UI changes for Org Settings Page
  src/assets/css/app.css
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.tsx
  src/components/EditCustomFieldDropDown/EditCustomFieldDropDown.tsx
  src/components/OrgSettings/ActionItemCategories/CategoryModal.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
  src/components/OrgSettings/General/DeleteOrg/DeleteOrg.tsx
  src/components/OrgSettings/General/OrgProfileFieldSettings/OrgProfileFieldSettings.tsx
  src/components/OrgSettings/General/OrgUpdate/ImagePicker.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/screens/OrgSettings/OrgSettings.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Fixed bugs and suggestions
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/components/OrgSettings/General/OrgUpdate/ImagePicker.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

fixed code rabit suggestions
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

fixed code rabit suggestions
  src/components/OrgSettings/General/OrgUpdate/ImagePicker.tsx
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

file updated
  INSTALLATION.md
Due: none

file renamed
  examples/linux/systemd/talawa_admin.service
Due: none

removed the ignore statement
  scripts/githooks/check-localstorage-usage.ts
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

setting updated
  examples/linux/systemd/talawa_admin.service
Due: none

about
  package-lock.json
  package.json
  src/screens/OrganizationPeople/AddMember.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

about
  .husky/pre-commit
Due: none

add test and ui fix
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/UserPortal/PeopleCard/PeopleCard.module.css
  src/components/UserPortal/PeopleCard/PeopleCard.tsx
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, node scripts/githooks/check-localstorage-usage.js

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  node scripts/githooks/check-localstorage-usage.js: any of: **/*.{ts,tsx}
