Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

feat(UserPasswordUpdate): restore and integrate password update component
  docs/docs/auto-docs/UserUpdate/variables/UserUpdate.md
  docs/docs/auto-docs/components/UserPasswordUpdate/UserPasswordUpdate/variables/UserUpdate.md
  docs/docs/auto-docs/components/UserPasswordUpdate/UserPasswordUpdateMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/UserPortal/UserProfileSettings/UserProfile/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/UserContactDetails/variables/default.md
  docs/docs/auto-docs/types/shared-components/UserPasswordUpdate/interface/interfaces/InterfaceUserPasswordUpdateProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPasswordUpdate/UserPasswordUpdate.module.css
  src/components/UserPasswordUpdate/UserPasswordUpdate.spec.tsx
  src/components/UserPasswordUpdate/UserPasswordUpdate.tsx
  src/components/UserPasswordUpdate/UserPasswordUpdateMocks.ts
  src/components/UserPortal/UserProfileSettings/UserProfile.tsx
  src/screens/AdminPortal/MemberDetail/UserContactDetails.tsx
  src/types/shared-components/UserPasswordUpdate/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix(chat): address CodeRabbit feedback (logic, tests, i18n)
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/CreateDirectChat/functions/default.md
  public/locales/en/translation.json
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.spec.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: validate recurrence option index
  docs/docs/auto-docs/shared-components/EventForm/EventForm/functions/formatRecurrenceForPayload.md
  docs/docs/auto-docs/shared-components/EventForm/EventForm/variables/default.md
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.tsx
  src/shared-components/EventForm/EventForm.tsx
  src/shared-components/EventForm/RecurrenceDropdown/RecurrenceDropdown.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test(e2e): add fixture library
  cypress/README.md
  cypress/fixtures/admin/actionItems.json
  cypress/fixtures/admin/advertisements.json
  cypress/fixtures/admin/events.json
  cypress/fixtures/admin/organizations.json
  cypress/fixtures/admin/people.json
  cypress/fixtures/admin/tags.json
  cypress/fixtures/admin/venues.json
  cypress/fixtures/api/graphql/createOrganization.error.conflict.json
  cypress/fixtures/api/graphql/createOrganization.success.json
  cypress/fixtures/api/graphql/getOrganizationEvents.error.notFound.json
  cypress/fixtures/api/graphql/getOrganizationEvents.success.json
  cypress/fixtures/api/graphql/getOrganizationMembers.error.notFound.json
  cypress/fixtures/api/graphql/getOrganizationMembers.success.json
  cypress/fixtures/api/graphql/organizations.success.json
  cypress/fixtures/auth/credentials.json
  cypress/fixtures/auth/users.json
  cypress/fixtures/user/campaigns.json
  cypress/fixtures/user/donations.json
  cypress/fixtures/user/posts.json
  cypress/fixtures/user/volunteers.json
  docs/docs/docs/developer-resources/e2e-testing.md
Due: prettier --write

refactor: use centralized sensitive file check script
  .github/workflows/pull-request.yml
  .github/workflows/scripts/sensitive_file_check.py
  .github/workflows/scripts/test/test_sensitive_file_check.py
Due: eslint --fix, prettier --write

feat(install): add Docker detection library
  scripts/install/lib/docker-detect.sh
Due: none

test(install): add Docker detection library test suite
  scripts/install/lib/docker-detect.sh
  scripts/install/lib/docker-detect.spec.sh
Due: none

delete SearchingButton ( unused)
  src/shared-components/SearchingButton/SearchingButton.module.css
  src/shared-components/SearchingButton/SearchingButton.spec.tsx
  src/shared-components/SearchingButton/SearchingButton.tsx
  src/types/shared-components/SearchingButton/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

remove searchingButton auto-docs
  docs/docs/auto-docs/shared-components/SearchingButton/SearchingButton/namespaces/default/variables/propTypes.md
  docs/docs/auto-docs/shared-components/SearchingButton/SearchingButton/variables/default.md
  docs/docs/auto-docs/types/shared-components/SearchingButton/interface/interfaces/InterfaceSearchingButtonProps.md
Due: none

fix(install): improve docker-detect robustness and test coverage
  scripts/install/lib/docker-detect.sh
  scripts/install/lib/docker-detect.spec.sh
Due: none

fix(install): isolate os-release sourcing and improve test naming
  scripts/install/lib/docker-detect.sh
  scripts/install/lib/docker-detect.spec.sh
Due: none

feat(UserPasswordUpdate): coderabbit ai changes fixed
  docs/docs/auto-docs/components/UserPasswordUpdate/UserPasswordUpdate/variables/UserUpdate.md
  docs/docs/auto-docs/shared-components/UserPasswordUpdate/UserPasswordUpdate/variables/UserPasswordUpdate.md
  docs/docs/auto-docs/shared-components/UserPasswordUpdate/UserPasswordUpdateMocks/variables/MOCKS.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/UserProfileSettings/UserProfile.tsx
  src/screens/AdminPortal/MemberDetail/UserContactDetails.spec.tsx
  src/screens/AdminPortal/MemberDetail/UserContactDetails.tsx
  src/shared-components/UserPasswordUpdate/UserPasswordUpdate.module.css
  src/shared-components/UserPasswordUpdate/UserPasswordUpdate.spec.tsx
  src/shared-components/UserPasswordUpdate/UserPasswordUpdate.tsx
  src/shared-components/UserPasswordUpdate/UserPasswordUpdateMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: implement coderabbit suggestion
  src/screens/AdminPortal/Requests/Requests.spec.tsx
  src/screens/AdminPortal/Users/Users.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

feat: update tables.md (DataTable migration)
  docs/docs/docs/developer-resources/tables.md
Due: none

test(fixtures): align fields and pagination
  cypress/fixtures/admin/events.json
  cypress/fixtures/admin/people.json
  cypress/fixtures/api/graphql/getOrganizationEvents.success.json
Due: prettier --write

fix: resolve race condition in email verification page
  src/screens/Auth/VerifyEmail/VerifyEmail.spec.tsx
  src/screens/Auth/VerifyEmail/VerifyEmail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor(ci): improve sensitive file check filename handling
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

test: add unit tests for the require-aftereach-cleanup eslint rule (#7003)
  scripts/eslint/plugins/eslint-plugin-vitest-isolation/__tests__/require-aftereach-cleanup.spec.js
Due: none

test(fixtures): migrate auth and ads fixtures
  cypress/README.md
  cypress/e2e/admin_spec/advertisement.cy.ts
  cypress/e2e/api/graphql/examples.cy.ts
  cypress/e2e/login_spec/adminLogin.cy.ts
  cypress/e2e/login_spec/userLogin.cy.ts
  cypress/fixtures/admin/advertisements.json
  cypress/fixtures/advertisementData.json
  cypress/fixtures/auth/users.json
  cypress/fixtures/users.json
  cypress/support/commands.ts
  cypress/support/graphql-utils.ts
  docs/docs/docs/developer-resources/e2e-testing.md
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test(fixtures): align auth and ads fixtures
  cypress/README.md
  cypress/e2e/admin_spec/advertisement.cy.ts
  cypress/fixtures/admin/advertisements.json
  cypress/fixtures/auth/users.json
  cypress/support/commands.ts
  cypress/support/graphql-utils.ts
  docs/docs/docs/developer-resources/e2e-testing.md
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

docs(cypress): document mock cleanup
  cypress/README.md
Due: none

dateBox alignment fix
  src/screens/AdminPortal/MemberDetail/UserContactDetails.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

test(fixtures): align auth credentials
  cypress/fixtures/auth/credentials.json
  cypress/fixtures/auth/users.json
Due: prettier --write

test(fixtures): use distinct auth emails
  cypress/fixtures/auth/credentials.json
  cypress/fixtures/auth/users.json
Due: prettier --write

fix(install): add cleanup trap and document test execution model
  scripts/install/lib/docker-detect.sh
  scripts/install/lib/docker-detect.spec.sh
Due: none

refactor: migrate UserContactDetails dropdowns to shared DropDownButton (#7000)
  docs/docs/auto-docs/components/DynamicDropDown/DynamicDropDown/functions/default.md
  docs/docs/auto-docs/types/DropDown/interface/interfaces/InterfaceChangeDropDownProps.md
  docs/docs/auto-docs/types/DropDown/interface/interfaces/InterfaceCollapsibleDropdown.md
  docs/docs/auto-docs/types/DropDown/interface/interfaces/InterfaceDropDownProps.md
  src/components/DynamicDropDown/DynamicDropDown.module.css
  src/components/DynamicDropDown/DynamicDropDown.spec.tsx
  src/components/DynamicDropDown/DynamicDropDown.tsx
  src/screens/AdminPortal/MemberDetail/UserContactDetails.module.css
  src/screens/AdminPortal/MemberDetail/UserContactDetails.spec.tsx
  src/screens/AdminPortal/MemberDetail/UserContactDetails.tsx
  src/style/app-fixed.module.css
  src/types/DropDown/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: dropdown lint error
  src/screens/UserPortal/Chat/Chat.module.css
  src/screens/UserPortal/Chat/Chat.spec.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: improved tests, fixed tsdoc and fixed ui a bit
  docs/docs/auto-docs/components/UserPortal/ChatRoom/EmptyChatState/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Chat/Chat/functions/default.md
  public/locales/en/translation.json
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.spec.tsx
  src/components/UserPortal/ChatRoom/EmptyChatState.tsx
  src/screens/UserPortal/Chat/Chat.spec.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: chat icon removed
  docs/docs/auto-docs/components/UserPortal/ChatRoom/EmptyChatState/functions/default.md
  src/components/UserPortal/ChatRoom/EmptyChatState.module.css
  src/components/UserPortal/ChatRoom/EmptyChatState.spec.tsx
  src/components/UserPortal/ChatRoom/EmptyChatState.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix(chat): fixed chats title in admin portal
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: add afterEach and interface location violates
  docs/docs/auto-docs/components/UserPortal/ChatRoom/EmptyChatState/functions/default.md
  docs/docs/auto-docs/components/UserPortal/ChatRoom/types/interfaces/InterfaceEmptyChatStateProps.md
  docs/docs/auto-docs/types/UserPortal/EmptyChatState/interface/interfaces/InterfaceEmptyChatStateProps.md
  src/components/UserPortal/ChatRoom/EmptyChatState.spec.tsx
  src/components/UserPortal/ChatRoom/EmptyChatState.tsx
  src/components/UserPortal/ChatRoom/types.ts
  src/types/UserPortal/EmptyChatState/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: hardcoded values in css file
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

fix(chat): improve chat ui-ux and fix admin modal z-index
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.module.css
  src/components/UserPortal/ChatRoom/EmptyChatState.module.css
  src/components/UserPortal/ChatRoom/EmptyChatState.tsx
  src/screens/UserPortal/Chat/Chat.spec.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: format
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

refactor(EmptyChatState): extract props interface to types module and add unit tests
  docs/docs/auto-docs/components/UserPortal/ChatRoom/EmptyChatState/functions/default.md
  docs/docs/auto-docs/components/UserPortal/ChatRoom/types/interfaces/InterfaceEmptyChatStateProps.md
  src/components/UserPortal/ChatRoom/EmptyChatState.spec.tsx
  src/components/UserPortal/ChatRoom/EmptyChatState.tsx
  src/components/UserPortal/ChatRoom/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: add aria-label for accessibility and avoided hardcoded values
  src/components/UserPortal/ChatRoom/EmptyChatState.module.css
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: add afterEach hook
  src/components/UserPortal/ChatRoom/EmptyChatState.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: cr changes and code coverage improved
  docs/docs/auto-docs/components/AdminPortal/OrganizationScreen/OrganizationScreen/variables/translationKeyMap.md
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.spec.tsx
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.tsx
  src/components/UserPortal/ChatRoom/EmptyChatState.spec.tsx
  src/components/UserPortal/ChatRoom/EmptyChatState.tsx
  src/screens/UserPortal/Chat/Chat.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

docs: add jsdoc comment to interfaceContactCardProps interface definition
  docs/docs/auto-docs/types/UserPortal/Chat/interface/interfaces/InterfaceContactCardProps.md
  src/types/UserPortal/Chat/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/check-css-imports.js --files: any of: **/*.{ts,tsx,css}
