Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

fix: resolve ESLint errors for explicit any usage
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve TypeScript type error for agendaItemCategories prop
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve vitest/no-identical-title linting error
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test(coverage): achieve comprehensive test coverage for EventDashboard #4311
  src/components/EventManagement/Dashboard/EventDashboard.mocks.ts
  src/components/EventManagement/Dashboard/EventDashboard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test(coverage): achieve comprehensive test coverage for EventDashboard #4311
  src/components/EventManagement/Dashboard/EventDashboard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove duplicate test for image attachment display
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Improve AgendaItemsUpdateModal Coverage (#4516)
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: prettier --write

test: improve AdvertisementEntry test coverage to 100%
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: use standard video MIME type format (video, not videos)
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

reset auto-generated docs to match develop branch
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_INFINITE_SCROLL_PAGINATION.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_NON_ERROR_OBJECT.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_SUCCESS_REMOVE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_SUCCESS_UNASSIGN_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_SUCCESS_UPDATE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_WITH_ANCESTOR_TAGS.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_EMPTY_ASSIGNED_MEMBERS_ARRAY.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_ERROR_REMOVE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_ERROR_UNASSIGN_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_ERROR_UPDATE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_ANCESTOR_TAGS.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_DATA.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_EDGES_ARRAY.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_PAGE_INFO.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_USERS_ASSIGNED_TO.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_UNDEFINED_DATA.md
Due: none

feat: improve ManageTag component test coverage to 100%
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/ManageTagMocks.ts
  src/screens/ManageTag/ManageTagNonErrorMocks.ts
  src/screens/ManageTag/ManageTagNullFalsyMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve TypeScript and linting issues in ManageTag tests
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTagNullFalsyMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: apply prettier formatting to ManageTag test files
  src/screens/ManageTag/ManageTag.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: remove auto-generated docs to match upstream develop branch
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_INFINITE_SCROLL_PAGINATION.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_NON_ERROR_OBJECT.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_SUCCESS_REMOVE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_SUCCESS_UNASSIGN_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_SUCCESS_UPDATE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_WITH_ANCESTOR_TAGS.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_EMPTY_ASSIGNED_MEMBERS_ARRAY.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_ERROR_REMOVE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_ERROR_UNASSIGN_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_ERROR_UPDATE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_ANCESTOR_TAGS.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_DATA.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_EDGES_ARRAY.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_PAGE_INFO.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_USERS_ASSIGNED_TO.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_UNDEFINED_DATA.md
Due: none

fix: add missing __typename property to all user node objects in ManageTagMocks
  src/screens/ManageTag/ManageTagMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove unused fireEvent import from ManageTag.spec.tsx
  src/screens/ManageTag/ManageTag.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: address CodeRabbit AI review feedback
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTagMockUtils.ts
  src/screens/ManageTag/ManageTagMocks.ts
  src/screens/ManageTag/ManageTagNonErrorMocks.ts
  src/screens/ManageTag/ManageTagNullFalsyMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbit AI review comments
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTagMockUtils.ts
  src/screens/ManageTag/ManageTagMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve TypeScript errors in ManageTagMocks.ts
  src/screens/ManageTag/ManageTagMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbit AI review issues systematically
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTagMockUtils.ts
  src/screens/ManageTag/ManageTagNonErrorMocks.ts
  src/screens/ManageTag/ManageTagNullFalsyMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: add Istanbul ignore comments for unreachable error handling branches
  src/screens/ManageTag/ManageTag.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove Istanbul ignore comments and simplify error handling
  src/screens/ManageTag/ManageTag.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: implement safer error handling with runtime checks
  src/screens/ManageTag/ManageTag.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: cover line 410 by testing sort dropdown interaction
  src/screens/ManageTag/ManageTag.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: align StaticMockLink addTypename with MockedProvider setting
  src/screens/ManageTag/ManageTag.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: align all StaticMockLink instances with MockedProvider addTypename setting
  src/screens/ManageTag/ManageTag.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve AdvertisementEntry test coverage to 100% (#4519)
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Improve ManageTag component test coverage (#4498)
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/ManageTagMockUtils.ts
  src/screens/ManageTag/ManageTagMocks.ts
  src/screens/ManageTag/ManageTagNonErrorMocks.ts
  src/screens/ManageTag/ManageTagNullFalsyMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: improve ActionItemCategoryModal test coverage to 100%
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve TypeScript error in ActionItemCategoryModal test
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove forbidden non-null assertions from ActionItemCategoryModal test
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove redundant undefined category test as suggested by CodeRabbit
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

ci: added OWASP ZAP Security Scan
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/screens/ManageTag/ManageTagMockUtils/functions/buildAssignedUsers.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_ERROR_OBJECT.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_INFINITE_SCROLL_PAGINATION.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_SUCCESS_REMOVE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_SUCCESS_UNASSIGN_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_SUCCESS_UPDATE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_WITH_ANCESTOR_TAGS.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_EMPTY_ASSIGNED_MEMBERS_ARRAY.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_EMPTY_EDGES_ARRAY.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_EMPTY_PAGE_INFO.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_ERROR_REMOVE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_ERROR_UNASSIGN_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_ERROR_UPDATE_USER_TAG.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_ANCESTOR_TAGS.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_DATA.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_NULL_USERS_ASSIGNED_TO.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNullFalsyMocks/variables/MOCKS_UNDEFINED_DATA.md
Due: prettier --write

fix: remove secure connection https to http
  .github/workflows/pull-request.yml
Due: prettier --write

initial commit
  src/GraphQl/Queries/Queries.ts
  src/components/OrganizationDashCards/CardItem/CardItem.tsx
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: access
  .github/workflows/pull-request.yml
Due: prettier --write

fix: issue write
  .github/workflows/pull-request.yml
Due: prettier --write

fix: removed issue creation
  .github/workflows/pull-request.yml
Due: prettier --write
