Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

chore: force cache invalidation (#6586)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fix: used shared button component (#6564)
  docs/docs/auto-docs/screens/AdminPortal/OrgSettings/OrgSettings/functions/default.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  src/screens/AdminPortal/OrgSettings/OrgSettings.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "CRUDModalLint: setup TypeScript/ESM ESLint plugin infrastructure (#6562)" (#6579)
  .gitignore
  package.json
  scripts/eslint/tsconfig.json
Due: prettier --write

CRUDModalLint: setup TypeScript/ESM ESLint plugin infrastructure (#6562)
  .gitignore
  package.json
  scripts/eslint/tsconfig.json
Due: prettier --write

No imports of Button from MUI (#6551)
  eslint.config.js
Due: none

Update codeql-codescan.yml
  .github/workflows/codeql-codescan.yml
Due: eslint --fix, prettier --write

chore(pre-commit): decouple pre-commit hook logic
  .github/workflows/scripts/pre-commit/check-tools.sh
  .github/workflows/scripts/pre-commit/precommit-node.sh
  .github/workflows/scripts/pre-commit/precommit-python.sh
  .github/workflows/scripts/pre-commit/venv.sh
  .husky/pre-commit
Due: none

chore(pre-commit): make staged file handling NUL-safe
  .github/workflows/scripts/pre-commit/check-tools.sh
  .github/workflows/scripts/pre-commit/precommit-node.sh
  .github/workflows/scripts/pre-commit/precommit-python.sh
  .github/workflows/scripts/pre-commit/venv.sh
  .husky/pre-commit
Due: none

fix: add consistent error handling and update permissions"
  .github/workflows/scripts/pre-commit/check-tools.sh
  .github/workflows/scripts/pre-commit/precommit-node.sh
  .github/workflows/scripts/pre-commit/precommit-python.sh
  .github/workflows/scripts/pre-commit/venv.sh
  .husky/pre-commit
Due: none

chore: migrate scripts to .husky/scripts
  .husky/pre-commit
  .husky/scripts/check-tools.sh
  .husky/scripts/precommit-node.sh
  .husky/scripts/precommit-python.sh
  .husky/scripts/venv.sh
Due: none

refactor: Modularize DataTable component styles into dedicated CSS modules for ActionsCell and BulkActionsBar.
  docs/docs/auto-docs/shared-components/DataTable/BulkActionsBar/functions/BulkActionsBar.md
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  src/shared-components/DataTable/BulkActionsBar.module.css
  src/shared-components/DataTable/BulkActionsBar.tsx
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/cells/ActionsCell.module.css
  src/shared-components/DataTable/cells/ActionsCell.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: internationalize DataTable row selection checkbox aria-label and add corresponding translation keys
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/shared-components/DataTable/DataTable.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: Add '@returns' tag to 'actionsCell' JSDoc.
  src/shared-components/DataTable/cells/ActionsCell.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: added auto generated docs
  docs/docs/auto-docs/shared-components/DataTable/cells/ActionsCell/functions/ActionsCell.md
Due: none

fix: Normalize DataTable selection to only include items on the current page.
  src/shared-components/DataTable/DataTable.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

use pnpm exec instead of npx
  package.json
  scripts/eslint/tsconfig.json
Due: prettier --write

CRUDModalLint: setup TypeScript/ESM ESLint plugin infrastructure
  .gitignore
  package.json
  scripts/eslint/tsconfig.json
Due: prettier --write

feat: Introduce 'useDataTableSelection' and 'useDataTableFiltering' hooks, improve DataTable selection normalization, and add prop usage warnings.
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  docs/docs/auto-docs/shared-components/DataTable/hooks/useDataTableFiltering/functions/useDataTableFiltering.md
  docs/docs/auto-docs/shared-components/DataTable/hooks/useDataTableSelection/functions/useDataTableSelection.md
  docs/docs/auto-docs/shared-components/DataTable/utils/functions/getCellValue.md
  docs/docs/auto-docs/shared-components/DataTable/utils/functions/renderCellValue.md
  docs/docs/auto-docs/shared-components/DataTable/utils/functions/renderHeader.md
  docs/docs/auto-docs/shared-components/DataTable/utils/functions/toSearchableString.md
  src/shared-components/DataTable/DataTable.spec.tsx
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/hooks/useDataTableFiltering.ts
  src/shared-components/DataTable/hooks/useDataTableSelection.ts
  src/shared-components/DataTable/utils.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: Rename DataTable hook options interfaces, update useEffect dependencies, and improve test type safety.
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  docs/docs/auto-docs/shared-components/DataTable/hooks/useDataTableFiltering/functions/useDataTableFiltering.md
  docs/docs/auto-docs/shared-components/DataTable/hooks/useDataTableSelection/functions/useDataTableSelection.md
  docs/docs/auto-docs/shared-components/DataTable/utils/functions/getCellValue.md
  docs/docs/auto-docs/shared-components/DataTable/utils/functions/renderCellValue.md
  docs/docs/auto-docs/shared-components/DataTable/utils/functions/renderHeader.md
  docs/docs/auto-docs/shared-components/DataTable/utils/functions/toSearchableString.md
  src/shared-components/DataTable/DataTable.spec.tsx
  src/shared-components/DataTable/DataTable.tsx
  src/shared-components/DataTable/hooks/useDataTableFiltering.ts
  src/shared-components/DataTable/hooks/useDataTableSelection.ts
  src/shared-components/DataTable/utils.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix:added more tests in userContactDetails.spec.tsx
  src/screens/MemberDetail/UserContactDetails.spec.tsx
  src/screens/MemberDetail/mock.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix adding updated docs
  docs/docs/auto-docs/screens/MemberDetail/mock/variables/MOCK_FILE.md
  docs/docs/auto-docs/screens/MemberDetail/mock/variables/UPDATE_MOCK.md
  docs/docs/auto-docs/screens/MemberDetail/mock/variables/UPDATE_USER_ERROR_MOCKS.md
Due: none

fix: removes unused
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/App.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/hooks/useAvatarUpload.spec.ts
  src/screens/AdminPortal/PluginStore/UploadPluginModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/setup/setup.spec.ts
  src/types/AdminPortal/Tag/interface.ts
  src/types/SearchBar/interface.ts
  src/types/shared-components/SearchFilterBar/interface.ts
  src/utils/interfaces.ts
  src/utils/organizationTagsUtils.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: used shared button component (#6563)
  docs/docs/auto-docs/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard/functions/default.md
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard.tsx
  src/shared-components/posts/posts.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix cross buttons
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix changes in test
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.spec.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix changes in test
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: used shared button component (#6566)
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: campaigns (standardize statuses via StatusBadge) (#6540)
  docs/docs/auto-docs/screens/UserPortal/Campaigns/Campaigns/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/Campaigns/type-aliases/CampaignWithStatus.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/CampaignsMocks/variables/MOCKS_WITH_PENDING_CAMPAIGN.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: use StatusBadge for advertisement status(PR:12) (#6552)
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry/functions/default.md
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.module.css
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "Revert "fix: used shared button component (#6566)" (#6570)" (#6571)
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Revert "fix: used shared button component (#6566)" (#6570)
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaign.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Update EventListCardPreviewModal.spec.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
