Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

eslint err solved
  src/components/EventCalender/Yearly/YearlyEventCalender.tsx
  src/components/EventListCard/EventListCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Plugin Docs reference
  docs/docusaurus.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Plugin Store Prototype
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/functions/default.md
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/interfaces/ILeftDrawerProps.md
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/interfaces/InterfaceLeftDrawerProps.md
  docs/docs/auto-docs/components/SuperAdminScreen/SuperAdminScreen/functions/default.md
  docs/docs/auto-docs/screens/PluginStore/PluginModal/variables/default.md
  docs/docs/auto-docs/screens/PluginStore/PluginStore/functions/default.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/App.tsx
  src/assets/svgs/plugins.svg
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.tsx
  src/screens/PluginStore/PluginModal.tsx
  src/screens/PluginStore/PluginStore.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Basic Test files for Plugin Store
  src/screens/PluginStore/PluginModal.spec.tsx
  src/screens/PluginStore/PluginStore.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Sample data reduced
  docs/docs/auto-docs/screens/PluginStore/PluginModal/variables/default.md
  docs/docs/auto-docs/screens/PluginStore/PluginStore/functions/default.md
  src/screens/PluginStore/PluginModal.tsx
  src/screens/PluginStore/PluginStore.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Modified test files
  src/screens/PluginStore/PluginStore.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

update dependabot config to sync lockfile
  .github/dependabot.yaml
Due: none

feat(test): added E2E testing & commitlint
  .husky/commit-msg
  commitlint.config.js
  cypress.config.ts
  cypress/e2e/dashboard_spec/userDashboard.cy.ts
  cypress/e2e/login_spec/adminLogin.cy.ts
  cypress/e2e/login_spec/userLogin.cy.ts
  cypress/fixtures/users.json
  cypress/pageObjects/auth/LoginPage.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  eslint.config.js
  package-lock.json
  package.json
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: remove update-lockfile field and apply correct versioning-strategy
  .github/dependabot.yaml
Due: none

chore: update packageManager to npm@11.1.0 and restore dependabot config
  .github/dependabot.yaml
  package.json
Due: prettier --write

chore: fetch dependabot config from upstream
  .github/dependabot.yaml
Due: none

Update dependabot config to sync lockfile (#3984)
  package.json
Due: prettier --write

fix
  eslint.config.js
Due: none

lint-fix
  eslint.config.js
Due: none

UI-improvement
  .gitignore
  docs/docs/auto-docs/plugin/available/todo-list/variables/TodoList.md
  docs/docs/auto-docs/plugin/available/todo-list/variables/TodoListManage.md
  public/locales/en/common.json
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Added translations
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/sp/common.json
  public/locales/zh/common.json
Due: prettier --write

test: added login failure tests
  cypress/e2e/dashboard_spec/userDashboard.cy.ts
  cypress/e2e/login_spec/adminLogin.cy.ts
  cypress/e2e/login_spec/userLogin.cy.ts
  cypress/pageObjects/UserPortal/UserDashboard.ts
  cypress/support/commands.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: linting errors
  cypress.config.ts
  eslint.config.js
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Readme
  .gitignore
  src/plugin/available/readme.md
Due: none

fix: dependencies issue
  package-lock.json
  package.json
  scripts/githooks/update-toc.js
  src/components/AgendaItems/AgendaItemsContainer.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: eslint
  src/components/AgendaItems/AgendaItemsContainer.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: Test Application
  package-lock.json
  package.json
  src/setupTests.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: Format fix
  src/setupTests.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: eslint error
  src/setupTests.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

docs: added cypress guide & fix: coderabbit reviews
  .husky/commit-msg
  CONTRIBUTING.md
  cypress.config.ts
  cypress/README.md
  cypress/e2e/dashboard_spec/userDashboard.cy.ts
  cypress/support/commands.ts
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: prettier error
  eslint.config.js
Due: none

fix
  src/plugin/manager.ts
  src/screens/PluginStore/PluginStore.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

updated sidebar
  src/components/IconComponent/IconComponent.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/SignOut/SignOut.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.spec.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/UserScreen/UserScreen.spec.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

removed commented lines
  src/style/app-fixed.module.css
Due: prettier --write

updated css module
  src/components/IconComponent/IconComponent.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/components/ProfileCard/ProfileCard.tsx
  src/components/SignOut/SignOut.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: vitest error
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/CollapsibleDropdown/CollapsibleDropdown.spec.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/components/EventStats/EventStatsWrapper.spec.tsx
  src/components/EventStats/Statistics/EventStats.spec.tsx
  src/components/EventStats/Statistics/Feedback/Feedback.spec.tsx
  src/components/test-utils/TestWrapper.spec.tsx
  src/components/test-utils/mocks/AsyncComponent.tsx
  src/components/test-utils/mocks/MockBrowserRouter.tsx
  src/components/test-utils/mocks/MockI18nextProvider.tsx
  src/components/test-utils/mocks/MockedCustomProvider.tsx
  src/screens/CommunityProfile/CommunityProfile.spec.tsx
  src/screens/ForgotPassword/ForgotPassword.spec.tsx
  src/screens/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/OrgPost/OrgPost.spec.tsx
  src/screens/OrganizationActionItems/itemModal/ItemModal.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/utils/useSession.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: eslint
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/EventStats/EventStatsWrapper.spec.tsx
  src/components/test-utils/TestWrapper.spec.tsx
  src/components/test-utils/mocks/AsyncComponent.tsx
  src/components/test-utils/mocks/MockBrowserRouter.tsx
  src/components/test-utils/mocks/MockI18nextProvider.tsx
  src/components/test-utils/mocks/MockedCustomProvider.tsx
  src/screens/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/OrgPost/OrgPost.spec.tsx
  src/screens/OrganizationActionItems/itemModal/ItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: check-tsdoc
  src/components/test-utils/mocks/AsyncComponent.tsx
  src/components/test-utils/mocks/MockBrowserRouter.tsx
  src/components/test-utils/mocks/MockI18nextProvider.tsx
  src/components/test-utils/mocks/MockedCustomProvider.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
