Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Add ESLint rule to enforce DataGridWrapper usage (#6104)
  eslint.config.js
Due: none

feat(lint): enforce LoadingState over react-bootstrap Spinner
  eslint.config.js
Due: none

refactor: adopt LoadingState in LeaveOrganization, AddOnSpotAttendee, InviteByEmailModal, EventsAttendedByMember
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.tsx
  src/components/MemberActivity/EventsAttendedByMember.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove inline styles to comply with CSS policy
  docs/docs/auto-docs/LeaveOrganization/functions/default.md
  docs/docs/auto-docs/LeaveOrganization/variables/userEmail.md
  docs/docs/auto-docs/LeaveOrganization/variables/userId.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal/variables/default.md
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/components/MemberActivity/EventsAttendedByMember.spec.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove inline styles to comply with CSS policy
  docs/docs/auto-docs/LeaveOrganization/functions/default.md
  docs/docs/auto-docs/LeaveOrganization/variables/userEmail.md
  docs/docs/auto-docs/LeaveOrganization/variables/userId.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal/variables/default.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/components/MemberActivity/EventsAttendedByMember.spec.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address CodeRabbit suggestions
  public/locales/es/common.json
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: stabilize VenueModal tests and fix lint issues
  src/components/Venues/Modal/VenueModal.spec.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/utils/useSession.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed the test for line by line check
  .husky/pre-commit
  scripts/check-i18n.js
Due: none

feat(lint): reorder no-restricted-imports for better clarity
  eslint.config.js
Due: none

Refactor DataGrid imports to use centralized DataGridWrapper
  docs/docs/auto-docs/components/AddPeopleToTag/AddPeopleToTag/variables/default.md
  docs/docs/auto-docs/components/CheckIn/Modal/CheckInModal/functions/CheckInModal.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/getManageTagErrorMessage.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/SubTags/SubTags/functions/default.md
  docs/docs/auto-docs/screens/FundCampaignPledge/PledgeColumns/functions/getPledgeColumns.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/InfiniteScrollProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingRow.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableColumn.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableGridProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableProps.md
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/CheckIn/Modal/CheckInModal.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
  src/screens/AdminPortal/ManageTag/ManageTag.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
  src/screens/AdminPortal/Requests/Requests.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgeColumns.spec.tsx
  src/screens/FundCampaignPledge/PledgeColumns.tsx
  src/screens/Leaderboard/Leaderboard.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
  src/shared-components/DataGridWrapper/index.ts
  src/shared-components/DateRangePicker/DateRangePicker.spec.tsx
  src/shared-components/ReportingTable/ReportingTable.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/types/ReportingTable/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: Migrate CheckInModal and OrgActionItemCategories styling to CSS modules, introduce new data grid styles, and update locale files.
  docs/docs/auto-docs/components/CheckIn/Modal/CheckInModal/functions/CheckInModal.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/OrgActionItemCategories/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/CheckIn/Modal/CheckInModal.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: Add timeout to call in spec.
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: restore addTypename={false} consistency in useSession tests
  src/utils/useSession.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve merge conflicts
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
Due: prettier --write

chore: upgrade @typescript-eslint/parser to 8.51.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(hooks): add useAvatarUpload hook for avatar file validation
  docs/docs/auto-docs/hooks/useAvatarUpload/functions/useAvatarUpload.md
  src/hooks/useAvatarUpload.spec.ts
  src/hooks/useAvatarUpload.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor(hooks): use centralized validateFile utility
  docs/docs/auto-docs/hooks/useAvatarUpload/functions/useAvatarUpload.md
  src/hooks/useAvatarUpload.spec.ts
  src/hooks/useAvatarUpload.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(test): correct misleading test name to 'validates size before type'
  src/hooks/useAvatarUpload.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(test): remove unused spy on validateFile
  src/hooks/useAvatarUpload.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: resolve merge conflicts in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: fix formatting and remove empty comments in useAvatarUpload.spec.ts
  src/hooks/useAvatarUpload.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor: use DateRangePicker in CreateEventModal (#5174)
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: use DateRangePicker in CreateEventModal (#5174)
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: create useProfileForm hook for ProfileFix refactoring (#6110)
  src/hooks/useProfileForm.spec.ts
  src/hooks/useProfileForm.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: address code review feedback
  src/hooks/useProfileForm.spec.ts
  src/hooks/useProfileForm.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: address CodeRabbit critical feedback
  src/hooks/useProfileForm.spec.ts
  src/hooks/useProfileForm.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: add automatic form sync when initial prop changes
  src/hooks/useProfileForm.spec.ts
  src/hooks/useProfileForm.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix-format
  src/hooks/useProfileForm.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: add i18n support and fix TypeScript naming convention
  src/hooks/useProfileForm.spec.ts
  src/hooks/useProfileForm.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

test: fix endDate assertion for startDate auto-adjust behavior
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: fix endDate assertion for startDate auto-adjust behavior
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: update CreateEventModal auto-docs after DateRangePicker refactor
  docs/docs/auto-docs/screens/AdminPortal/OrganizationEvents/CreateEventModal/variables/default.md
Due: none

docs: add developer security guidelines
  docs/docs/docs/developer-resources/security.md
Due: none

refactor: migrate Action Item Category modals to BaseModal
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.tsx
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs:auto update
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal/interfaces/IActionItemCategoryModal.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal/variables/default.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryViewModal/interfaces/ICategoryViewModalProps.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryViewModal/variables/default.md
Due: none

test: update Action Item Category tests for BaseModal migration
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryModal.spec.tsx
  src/components/OrgSettings/ActionItemCategories/Modal/ActionItemCategoryViewModal.spec.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix chnages req by coderabbitai
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.spec.tsx
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update LeaveOrganization tests for LoadingState
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
  src/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.spec.tsx
  src/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.tsx
  src/components/UserPortal/DonationCard/DonationCard.spec.tsx
  src/components/UserPortal/OrganizationSidebar/OrganizationSidebar.spec.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
