Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

fix: added test cases file
  .github/workflows/requirements.txt
  .github/workflows/scripts/css_check.py
  .github/workflows/scripts/test/test_css_check.py
Due: none

fix: added test cases file
  .github/workflows/pull-request.yml
Due: prettier --write

fix: added test cases file
  .github/workflows/scripts/test/test_css_check.py
Due: none

added import on top
  src/App.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor tests
  src/App.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: fix typo in README.md - documenation -> documentation
  README.md
Due: none

fix: python-version-fixed
  .github/workflows/pull-request.yml
Due: prettier --write

fix: added tests
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: coderabbit suggestions
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/LanguageSelector/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserPortalNavigationBar/UserDropdown/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/UserPortalNavigationBar/LanguageSelector.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserDropdown.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.tsx
  src/types/UserPortalNavigationBar/interface.ts
  src/types/UserPortalNavigationBar/types.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: updated docs
  docs/docs/auto-docs/UserPortalNavigationBar/interface/interfaces/InterfaceLanguageSelectorProps.md
  docs/docs/auto-docs/UserPortalNavigationBar/interface/interfaces/InterfaceUserDropdownProps.md
  docs/docs/auto-docs/UserPortalNavigationBar/interface/interfaces/InterfaceUserPortalNavbarProps.md
  docs/docs/auto-docs/UserPortalNavigationBar/interface/variables/DEFAULT_ORGANIZATION_MODE_PROPS.md
  docs/docs/auto-docs/UserPortalNavigationBar/interface/variables/DEFAULT_USER_MODE_PROPS.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/BrandingConfig.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/Language.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/NavigationLink.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/OrganizationData.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/OrganizationListQueryResponse.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/UserPortalNavbarState.md
  docs/docs/auto-docs/UserPortalNavigationBar/types/type-aliases/UserProfileMenuItem.md
  docs/docs/auto-docs/types/UserPortalNavigationBar/types/type-aliases/BrandingConfig.md
  docs/docs/auto-docs/types/UserPortalNavigationBar/types/type-aliases/Language.md
  docs/docs/auto-docs/types/UserPortalNavigationBar/types/type-aliases/NavigationLink.md
  docs/docs/auto-docs/types/UserPortalNavigationBar/types/type-aliases/OrganizationData.md
  docs/docs/auto-docs/types/UserPortalNavigationBar/types/type-aliases/OrganizationListQueryResponse.md
  docs/docs/auto-docs/types/UserPortalNavigationBar/types/type-aliases/UserPortalNavbarState.md
  docs/docs/auto-docs/types/UserPortalNavigationBar/types/type-aliases/UserProfileMenuItem.md
Due: none

fix: resolved coderabbit suggested changes
  docs/docs/auto-docs/AdminSearchFilterBar/interface/interfaces/InterfaceAdminSearchFilterBarTranslations.md
  docs/docs/auto-docs/AdminSearchFilterBar/interface/type-aliases/InterfaceAdminSearchFilterBarProps.md
  docs/docs/auto-docs/subComponents/SearchBar/variables/default.md
  docs/docs/auto-docs/types/SearchBar/interface/interfaces/InterfaceSearchBarProps.md
  docs/docs/auto-docs/types/SimpleSearchBar/interface/interfaces/InterfaceSimpleSearchBarProps.md
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/AdminSearchFilterBar/AdminSearchFilterBar.spec.tsx
  src/components/AdminSearchFilterBar/AdminSearchFilterBar.tsx
  src/shared-components/SearchBar/SearchBar.tsx
  src/subComponents/SearchBar.tsx
  src/subComponents/SortingButton.spec.tsx
  src/types/AdminSearchFilterBar/interface.ts
  src/types/SearchBar/interface.ts
  src/types/SimpleSearchBar/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: test coverage fix
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
  src/screens/OrganizationEvents/OrganizationEvents.spec.tsx
  src/utils/recurrenceUtils/recurrenceUtils.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: apollo-upgrade 6.0
  src/components/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/OrganizationPeople/addMember/AddMember.spec.tsx
  src/screens/Requests/Requests.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: fix typo in filename
  after-log.txt
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdFailMock.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdvertisement.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/updateAdFailMock.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/functions/handleCreateDirectChat.md
  docs/docs/auto-docs/plugin/graphql-service/classes/PluginGraphQLService.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useCreatePlugin.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useDeletePlugin.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useInstallPlugin.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useUpdatePlugin.md
  docs/docs/auto-docs/plugin/manager/classes/PluginManager.md
  docs/docs/auto-docs/plugin/manager/functions/getPluginManager.md
  docs/docs/auto-docs/screens/OrganizationFundCampaign/OrganizationFundCampaigns/functions/default.md
  docs/docs/auto-docs/utils/StaticMockLink/classes/StaticMockLink.md
  docs/docs/auto-docs/utils/StaticMockLink/functions/mockSingleLink.md
  docs/docs/auto-docs/utils/StaticMockLink/interfaces/InterfaceMockApolloLink.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/IAdminPluginInstallationOptions.md
  now-test.txt
  src/App.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: fix typo in filename
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdFailMock.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdvertisement.md
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/updateAdFailMock.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/functions/handleCreateDirectChat.md
  docs/docs/auto-docs/plugin/graphql-service/classes/PluginGraphQLService.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useCreatePlugin.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useDeletePlugin.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useInstallPlugin.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useUpdatePlugin.md
  docs/docs/auto-docs/plugin/manager/classes/PluginManager.md
  docs/docs/auto-docs/plugin/manager/functions/getPluginManager.md
  docs/docs/auto-docs/utils/StaticMockLink/classes/StaticMockLink.md
  docs/docs/auto-docs/utils/StaticMockLink/functions/mockSingleLink.md
  docs/docs/auto-docs/utils/StaticMockLink/interfaces/InterfaceMockApolloLink.md
  docs/docs/auto-docs/utils/adminPluginInstaller/interfaces/IAdminPluginInstallationOptions.md
  now-test.txt
Due: none

chore: add tests
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/OrganizationFunds/OrganizationFunds.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: hardcoded i18n string, robust key for dropdown items
  docs/docs/auto-docs/AdminSearchFilterBar/interface/interfaces/InterfaceAdminSearchFilterBarAdvanced.md
  docs/docs/auto-docs/AdminSearchFilterBar/interface/interfaces/InterfaceAdminSearchFilterBarSimple.md
  docs/docs/auto-docs/AdminSearchFilterBar/interface/interfaces/InterfaceAdminSearchFilterBarTranslations.md
  docs/docs/auto-docs/AdminSearchFilterBar/interface/interfaces/InterfaceDropdownConfig.md
  docs/docs/auto-docs/AdminSearchFilterBar/interface/type-aliases/InterfaceAdminSearchFilterBarProps.md
  docs/docs/auto-docs/screens/SubTags/SubTagsMocks/variables/MOCKS_EMPTY_SUB_TAGS.md
  docs/docs/auto-docs/screens/SubTags/SubTagsMocks/variables/MOCKS_ERROR_CREATE_SUB_TAG.md
  docs/docs/auto-docs/screens/SubTags/SubTagsMocks/variables/MOCKS_FETCH_MORE_UNDEFINED.md
  docs/docs/auto-docs/shared-components/SearchBar/SearchBar/variables/default.md
  src/components/AdminSearchFilterBar/AdminSearchFilterBar.spec.tsx
  src/components/AdminSearchFilterBar/AdminSearchFilterBar.tsx
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/Leaderboard/Leaderboard.tsx
  src/screens/PluginStore/PluginStore.tsx
  src/screens/SubTags/SubTags.tsx
  src/screens/SubTags/SubTagsMocks.ts
  src/shared-components/SearchBar/SearchBar.spec.tsx
  src/shared-components/SearchBar/SearchBar.tsx
  src/subComponents/SortingButton.spec.tsx
  src/types/AdminSearchFilterBar/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: fix import name
  src/App.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: define getPickerInputByLabel in file
  docs/docs/auto-docs/test-utils/datePickerHelpers/functions/getPickerInputByLabel.md
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/test-utils/datePickerHelpers.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: remove after-log.txt
  after-log.txt
Due: none

fix: update test files to use 'Clear' aria-label
  docs/docs/auto-docs/subComponents/SortingButton/namespaces/default/variables/propTypes.md
  src/components/EventManagement/EventAttendance/Attendance/EventAttendance.spec.tsx
  src/components/GroupChatDetails/GroupChatDetails.spec.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
  src/screens/OrganizationPeople/addMember/AddMember.spec.tsx
  src/screens/SubTags/SubTags.tsx
  src/screens/UserPortal/People/People.spec.tsx
  src/subComponents/SortingButton.spec.tsx
  src/subComponents/SortingButton.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: upgrade apollo/client 7.0
  src/components/Advertisements/AdvertisementsMocks.ts
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/components/RequestsTableItem/RequestsTableItemMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix typo in filename in src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx (#5412)
  docs/docs/auto-docs/screens/OrganizationFundCampaign/OrganizationFundCampaigns/functions/default.md
  src/App.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Feat: Added ProfileAvatarDisplay Foundation Component (#5264)
  docs/docs/auto-docs/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay/functions/ProfileAvatarDisplay.md
  docs/docs/auto-docs/types/shared-components/ProfileAvatarDisplay/interface/interfaces/InterfaceProfileAvatarDisplayProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.module.css
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.spec.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.tsx
  src/types/shared-components/ProfileAvatarDisplay/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat(shared-components): add standardized EmptyState component with tests and documentation (#5406)
  docs/docs/auto-docs/shared-components/EmptyState/EmptyState/variables/default.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyStateMocks/variables/emptyStateBaseForActionMock.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyStateMocks/variables/emptyStateBaseMock.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyStateMocks/variables/emptyStateWithAllPropsMock.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyStateMocks/variables/emptyStateWithCustomCSSMock.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyStateMocks/variables/emptyStateWithCustomDataTestIdMock.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyStateMocks/variables/emptyStateWithCustomIconMock.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyStateMocks/variables/emptyStateWithDescriptionMock.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyStateMocks/variables/emptyStateWithIconMock.md
  docs/docs/auto-docs/types/shared-components/EmptyState/interface/interfaces/InterfaceEmptyStateProps.md
  docs/docs/docs/developer-resources/reusable-components.md
  src/shared-components/EmptyState/EmptyState.spec.tsx
  src/shared-components/EmptyState/EmptyState.tsx
  src/shared-components/EmptyState/EmptyStateMocks.ts
  src/types/shared-components/EmptyState/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: upgrade apollo/client 8.0
  src/components/ProfileDropdown/ProfileDropdown.spec.tsx
  src/screens/OrgPost/OrgPost.spec.tsx
  src/screens/OrgPost/OrgPostMocks.data.ts
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationTags/OrganizationTagsMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: add tests
  docs/docs/auto-docs/screens/OrganizationFundCampaign/OrganizationFundCampaigns/functions/default.md
  docs/docs/auto-docs/screens/OrganizationFunds/OrganizationFunds/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/Campaigns/functions/default.md
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/OrganizationFunds/OrganizationFunds.spec.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: update GroupChatDetails to use 'Clear' aria-label
  public/locales/en/translation.json
  src/components/GroupChatDetails/GroupChatDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: auto-docs
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/EventRegistrants/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/interfaces/ILeftDrawerProps.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/cleanupTempDirs.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/makeTempDir.md
  docs/docs/auto-docs/test-utils/check-i18n/check-i18n.test-utils/functions/writeTempFile.md
Due: none

docs: fix typo in README.md - documenation -> documentation (#5410)
  README.md
Due: none
