Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactored addOnEntry v1
  src/components/AddOn/core/AddOnEntry/AddOnEntry.tsx
Due: eslint --fix, prettier --write

Refactor styles: move SubTags.module.css styles to app.module.css
  src/screens/SubTags/SubTags.module.css
  src/style/app.module.css
Due: prettier --write

Enhance keyboard navigation accessibility
  src/style/app.module.css
Due: prettier --write

Update app.module.css
  src/style/app.module.css
Due: prettier --write

Update PageNotFound.tsx
  src/screens/PageNotFound/PageNotFound.module.css
  src/screens/PageNotFound/PageNotFound.tsx
Due: eslint --fix, prettier --write

Color contrast issue
  src/style/app.module.css
Due: prettier --write

fix: Smooth scrolling interrupted during infinite scroll
  src/screens/Users/Users.tsx
Due: eslint --fix, prettier --write

Fix: Handle optional users data in Users component
  src/screens/Users/Users.tsx
Due: eslint --fix, prettier --write

Refactor CSS files in src/screens/OrganizationFunds
  package-lock.json
  src/screens/OrganizationFunds/OrganizationFunds.module.css
  src/style/app.module.css
Due: prettier --write

Added file for testing in Avatar using vitest file
  package-lock.json
  package.json
  src/components/Avatar/Avatar.spec.tsx
  tsconfig.json
  vitest.config.js
Due: eslint --fix, prettier --write

testing
  .eslintignore
  scripts/githooks/check-localstorage-usage.js
Due: none

Refactored src/components/ChangeLanguageDropdown/ChangeLanguageDropdown.test.tsx from Jest to Vitest #2493
  src/components/ChangeLanguageDropdown/ChangeLanguageDropdown.spec.tsx
Due: eslint --fix, prettier --write

Add ts-doc comment
  src/components/ChangeLanguageDropdown/ChangeLanguageDropdown.spec.tsx
Due: eslint --fix, prettier --write

fix: added usecase of options in test
  src/utils/errorHandler.test.tsx
Due: eslint --fix, prettier --write

testing type error issue
  scripts/githooks/check-localstorage-usage.js
Due: none

fix: used regular expressions and added a clear mocking function
  src/utils/errorHandler.test.tsx
  src/utils/errorHandler.tsx
Due: eslint --fix, prettier --write

updated eslint_disable_check.py
  .github/workflows/eslint_disable_check.py
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

updated eslint_disable_check.py
  .github/workflows/eslint_disable_check.py
Due: none

updated pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Added vitest to the avatar component
  src/components/Avatar/Avatar.spec.tsx
  src/components/Avatar/Avatar.tsx
Due: eslint --fix, prettier --write

updated pull-request.yml
  .eslintignore
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

removed unnessary changes
  .husky/pre-commit
  package-lock.json
  package.json
  src/components/EventCalendar/EventCalendar.module.css
  src/components/EventCalendar/EventCalendar.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

Added vitest to the avatar component
  package-lock.json
  src/components/Avatar/Avatar.spec.tsx
  src/components/Avatar/Avatar.tsx
Due: eslint --fix, prettier --write

added things pointged out by code rabbit
  src/components/Avatar/Avatar.tsx
Due: eslint --fix, prettier --write

Refactor: Page Not Found (Issue #2568)
  package-lock.json
  package.json
  src/screens/PageNotFound/PageNotFound.spec.tsx
Due: eslint --fix, prettier --write

refactor css for OrganizationDashboard screen, closes #2513
  src/screens/OrganizationDashboard/OrganizationDashboard.module.css
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write

Refactor: src/screens/PageNotFound/Pa geNotFound.test.tsx from jest to vitest (Issue #2568)
  package-lock.json
  src/screens/PageNotFound/PageNotFound.spec.tsx
Due: eslint --fix, prettier --write

refactored OrganizationDashboard css/ closes #2513
  src/screens/OrganizationDashboard/OrganizationDashboard.module.css
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write

refactor:OrganizationDashboard_css(fixes #2513)
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write

updated .eslintrc.json
  .eslintignore
  .eslintrc.json
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

updated .eslintrc.json
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

updated .eslintrc.json
  .eslintrc.json
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

updated .eslintrc.json
  .github/workflows/pull-request.yml
  package.json
Due: eslint --fix, prettier --write

updated .eslintrc.json
  .eslintignore
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

updated .eslintrc.json
  .eslintignore
  .eslintrc.json
  jest.config.js
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
