Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

fix: improve test isolation and CI configuration
  .github/workflows/pull-request.yml
  vitest.config.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: revert overly aggressive test cleanup
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: revert to minimal test setup to prevent memory issues
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: restore conservative CI concurrency and improve coverage handling
  .github/workflows/pull-request.yml
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: disable concurrent test execution within files for stability
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: exclude infrastructure files from coverage calculation
  .github/workflows/pull-request.yml
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

ci: add automated docs generation and validation in PR workflow (#4550)
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/OrgActionItemCategoryMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/OrgActionItemCategoryMocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/OrgActionItemCategoryMocks/variables/MOCKS_ERROR.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItem/functions/default.md
  docs/docs/auto-docs/screens/OrganizationDashboard/OrganizationDashboardMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/OrganizationDashboard/OrganizationDashboardMocks/variables/ERROR_MOCKS.md
  docs/docs/auto-docs/screens/OrganizationDashboard/OrganizationDashboardMocks/variables/MIXED_REQUESTS_MOCK.md
  docs/docs/auto-docs/screens/OrganizationDashboard/OrganizationDashboardMocks/variables/MOCKS.md
  docs/docs/auto-docs/types/Member/interface/interfaces/InterfaceMemberInfo.md
  docs/docs/auto-docs/types/Member/interface/interfaces/InterfaceMembersList.md
  docs/docs/auto-docs/types/Member/interface/interfaces/InterfaceRequestsListItem.md
Due: prettier --write

fix(docs): add type checking & linting workflows for docs
  .github/workflows/pull-request.yml
  .husky/pre-commit
  docs/docs/auto-docs/components/CheckIn/Modal/Row/TableRow/functions/TableRow.md
  docs/package.json
  docs/src/pages/index.tsx
  docs/src/utils/ActionButton.tsx
  docs/src/utils/HomeCallToAction.tsx
  eslint.config.js
  package-lock.json
  src/components/CheckIn/Modal/Row/TableRow.tsx
  tsconfig.json
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(docs): add coderabbit-suggestions
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
  docs/tsconfig.json
  tsconfig.json
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: inconsistent-script-setup-fixed
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/OrgActionItemCategoryMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/OrgActionItemCategoryMocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/components/OrgSettings/ActionItemCategories/OrgActionItemCategoryMocks/variables/MOCKS_ERROR.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItem/functions/default.md
  docs/docs/auto-docs/screens/OrganizationDashboard/OrganizationDashboardMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/OrganizationDashboard/OrganizationDashboardMocks/variables/ERROR_MOCKS.md
  docs/docs/auto-docs/screens/OrganizationDashboard/OrganizationDashboardMocks/variables/MIXED_REQUESTS_MOCK.md
  docs/docs/auto-docs/screens/OrganizationDashboard/OrganizationDashboardMocks/variables/MOCKS.md
  docs/docs/auto-docs/setup/askAndUpdatePort/askAndUpdatePort/functions/default.md
  docs/docs/auto-docs/setup/askForDocker/askForDocker/functions/askAndUpdateTalawaApiUrl.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  docs/docs/auto-docs/setup/updateEnvFile/updateEnvFile/functions/default.md
  docs/docs/auto-docs/setup/updateEnvFile/updateEnvFile/functions/updateEnvFile.md
  docs/docs/auto-docs/types/Member/interface/interfaces/InterfaceMemberInfo.md
  docs/docs/auto-docs/types/Member/interface/interfaces/InterfaceMembersList.md
  docs/docs/auto-docs/types/Member/interface/interfaces/InterfaceRequestsListItem.md
  src/setup/askAndUpdatePort/askAndUpdatePort.ts
  src/setup/askAndUpdatePort/askForUpdatePort.spec.ts
  src/setup/askForDocker/askForDocker.spec.ts
  src/setup/askForDocker/askForDocker.ts
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.spec.ts
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.ts
  src/setup/setup.ts
  src/setup/updateEnvFile/updateEnvFile.spec.ts
  src/setup/updateEnvFile/updateEnvFile.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(docs): changes made based on code-rabbit request
  .github/workflows/pull-request.yml
  docs/docusaurus.config.ts
  docs/package.json
  docs/src/pages/index.tsx
  docs/src/utils/ActionButton.tsx
  docs/tsconfig.json
  src/components/CheckIn/Modal/Row/TableRow.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(docs): fixed conflicting changes
  .github/workflows/pull-request.yml
Due: prettier --write

fix: Resolve #4573 - Replace barrel imports from @mui/icons-material with direct imports
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: inconsistent-script-setup-fixed
  src/setup/setup.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: ci
  .github/workflows/pull-request.yml
Due: prettier --write

fix: auto docs
  docs/docs/auto-docs/PledgeModal/README-1.md
  docs/docs/auto-docs/PledgeModal/interfaces/InterfacePledgeModal-1.md
  docs/docs/auto-docs/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/PledgeModal/variables/default-1.md
  docs/docs/auto-docs/PledgeModal/variables/default.md
Due: none

fix: auto docs
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/GraphQl/Queries/NotificationQueries/variables/GET_USER_NOTIFICATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/NotificationQueries/variables/MARK_NOTIFICATION_AS_READ.md
  docs/docs/auto-docs/components/NotificationIcon/NotificationIcon/functions/default.md
  docs/docs/auto-docs/components/SuperAdminScreen/SuperAdminScreen/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserNavbar/UserNavbar/functions/default.md
  docs/docs/auto-docs/screens/Notification/Notification/variables/default.md
  docs/docs/auto-docs/screens/OrgList/OrgList/functions/default.md
  docs/docs/auto-docs/screens/OrgList/OrgListMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/OrgList/OrgListMocks/variables/MOCKS_ADMIN.md
  docs/docs/auto-docs/screens/OrgList/OrgListMocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/screens/OrgList/OrgListMocks/variables/MOCKS_WITH_ERROR.md
  docs/docs/auto-docs/screens/UserPortal/UserScreen/UserScreen/functions/default.md
  package-lock.json
Due: prettier --write

test: improve TagActions coverage for deselect edge case
  src/components/TagActions/TagActions.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove trailing whitespace in test file
  src/components/TagActions/TagActions.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: achieve 100% code coverage for TagActions
  src/GraphQl/Queries/OrganizationQueries.ts
  src/components/TagActions/TagActions.spec.tsx
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagActionsMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: update tag mutations to match new backend API
  src/GraphQl/Mutations/TagMutations.ts
  src/GraphQl/Queries/OrganizationQueries.ts
  src/components/TagActions/TagActions.spec.tsx
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagActionsMocks.ts
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationTags/OrganizationTagsMocks.ts
  src/utils/interfaces.ts
  src/utils/organizationTagsUtils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed upcomingEvents search
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: inconsistent-script-setup-fixed
  src/setup/askForDocker/askForDocker.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

increased coverage
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks.ts
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

added auto docs
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/CREATE_ERROR_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/DEFAULT_STATUS_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/DUPLICATE_MEMBERSHIP_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/ERROR_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/GROUP_JOINED_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/GROUP_VOLUNTEERS_NULL_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/MEMBERSHIP_LOOKUP_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/MEMBERSHIP_STATUS_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/NULL_FIELDS_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/PAST_EVENT_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/RECURRING_MODAL_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/RECURRING_WITHOUT_BASE_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/REJECTED_STATUS_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/baseEvent.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks/variables/baseRecurringEvent.md
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.mocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add coverage for fetchMore null check in OrganizationTags
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed line count error in UpcomingEvents.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

[GSOC] ci: added OWASP ZAP Security Scan (#4522)
  .github/workflows/pull-request.yml
Due: prettier --write

fix: inconsistent-script-setup-fixed
  docs/docs/auto-docs/setup/checkEnvFile/checkEnvFile/functions/checkEnvFile.md
  docs/docs/auto-docs/setup/checkEnvFile/checkEnvFile/functions/modifyEnvFile.md
  docs/docs/auto-docs/setup/updateEnvFile/updateEnvFile/functions/updateEnvFile.md
  src/setup/askForDocker/askForDocker.spec.ts
  src/setup/checkEnvFile/checkEnvFile.spec.ts
  src/setup/checkEnvFile/checkEnvFile.ts
  src/setup/setup.ts
  src/setup/updateEnvFile/updateEnvFile.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: inconsistent-script-setup-fixed
  docs/docs/auto-docs/setup/updateEnvFile/updateEnvFile/functions/updateEnvFile.md
Due: none
