Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

updated the code
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/style/app-fixed.module.css
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix ESLint Configuration: Migrate to eslint.config.js
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package.json
Due: prettier --write

Auto docs
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Upgrade eslint.config.js based on old .eslintrc.json
  eslint.config.js
  package.json
Due: prettier --write

add(graphql): eslint-plugin added
  .eslintrc.json
  package-lock.json
  package.json
  schema.graphql
Due: prettier --write

fix(eslint): add parseroptions
  .eslintrc.json
Due: prettier --write

fix(eslint): remove parserOptions.schema
  .eslintrc.json
Due: prettier --write

fix(eslint): remove parserOptions
  .eslintrc.json
Due: prettier --write

fix(graphql): linting configuration
  .graphqlrc.yml
  package.json
  schema.graphql
Due: eslint --fix, prettier --write

fix(translations): match fields in sp and zh
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix(OrganizationScreen): remove test ignore command
  src/components/OrganizationScreen/OrganizationScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update ItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update Queries.ts
  src/GraphQl/Queries/Queries.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update custom.css
  docs/src/css/custom.css
Due: prettier --write

apply prettier
  docs/src/css/custom.css
  src/assets/css/app.css
  src/style/app-fixed.module.css
  src/style/app.module.css
Due: prettier --write

fix custom.css
  docs/src/css/custom.css
Due: prettier --write

commit
  src/style/app-fixed.module.css
Due: prettier --write

Fix ESLint Configuration: Migrate to eslint.config.js (#3808)
  .eslintignore
  .eslintrc.json
  docs/src/css/custom.css
  eslint.config.js
  package.json
  src/assets/css/app.css
  src/style/app-fixed.module.css
  src/style/app.module.css
Due: prettier --write

Undo changes from package-lock and package json
  package-lock.json
  package.json
Due: prettier --write

prettier fix
  src/components/EventCalender/Header/EventHeader.tsx
  src/components/EventCalender/Weekly/WeeklyEventCalendar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Code Rabbit review fix
  src/components/EventCalender/Weekly/WeeklyEventCalendar.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

prettier fix
  src/style/app-fixed.module.css
Due: prettier --write

prettier fix fot OrganizationEvents
  src/screens/OrganizationEvents/OrganizationEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

prettier fix
  src/components/EventCalender/Header/EventHeader.tsx
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
  src/components/EventCalender/Weekly/WeeklyEventCalendar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

TSDoc Comment
  src/components/EventCalender/Weekly/WeeklyEventCalendar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Prettier fix
  src/components/EventCalender/Weekly/WeeklyEventCalendar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update app.css
  src/assets/css/app.css
Due: prettier --write

fixed formatting-1
  src/style/app-fixed.module.css
  src/style/app.module.css
Due: prettier --write

Schema graphql issue fix
  eslint.config.js
Due: none

eslint removed from it
  eslint.config.js
Due: none

fix(schema): remove duplicates
  schema.graphql
Due: none

remvoing unused graphql remove that part
  .graphqlrc.yml
Due: eslint --fix, prettier --write

Update WeeklyEventCalendar.spec.tsx
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

prettier fix
  docs/docs/auto-docs/components/EventCalender/Weekly/WeeklyEventCalendar/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/interfaces/InterfaceLeftDrawerProps.md
  docs/docs/auto-docs/components/OrganizationScreen/OrganizationScreen/functions/default.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/enumerations/ViewType.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/functions/default.md
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Revert "prettier fix"
  docs/docs/auto-docs/components/EventCalender/Weekly/WeeklyEventCalendar/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/functions/default.md
  docs/docs/auto-docs/components/LeftDrawerOrg/LeftDrawerOrg/interfaces/InterfaceLeftDrawerProps.md
  docs/docs/auto-docs/components/OrganizationScreen/OrganizationScreen/functions/default.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/enumerations/ViewType.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/functions/default.md
  src/components/EventCalender/Weekly/WeeklyEventCalendar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
