Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

added TSDoc
  scripts/eslint/config/prefer-crud-modal-template.ts
  scripts/eslint/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(AgendaItems): address CodeRabbit review (memory leak, limits, validation)
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.module.css
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated the lint
  .lintstagedrc.json
  scripts/check-css-imports.js
Due: prettier --write

fix: doc testing
  docs/docs/auto-docs/setup/setup/functions/main.md
Due: none

added test coverage
  scripts/eslint/index.test.ts
  scripts/eslint/rules/prefer-crud-modal-template.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(AgendaItems): apply CSS tokens, remove !important, and improve UpdateModal a11y
  src/components/AgendaItems/Create/AgendaItemsCreateModal.module.css
  src/components/AgendaItems/Preview/AgendaItemsPreviewModal.module.css
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.module.css
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

removed isSharted condition from esLint tests
  scripts/eslint/index.spec.ts
  scripts/eslint/rules/prefer-crud-modal-template.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Migrating fireEvent to userEvent (#6766)
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
  src/components/AdminPortal/TagActions/Node/TagNode.spec.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor: Replace react-bootstrap Button with shared Button in AgendaItemsDeleteModal (#6809)
  docs/docs/auto-docs/components/AgendaItems/Delete/AgendaItemsDeleteModal/variables/default.md
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.module.css
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: fix strict compliance violations and migrate to userEvent
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
  src/components/UserPasswordUpdate/UserPasswordUpdate.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: Improve Testing Infrastructure & Module Structure (#6819)
  docs/docs/auto-docs/setup/setup/functions/askAndSetLogErrors.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  src/setup/setup.spec.ts
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

style: apply prettier formatting
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve TypeScript errors and remove eslint-disable statements
  docs/docs/auto-docs/UserUpdate/variables/UserUpdate.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  docs/docs/auto-docs/components/MemberRequestCard/MemberRequestCard/functions/default.md
  docs/docs/auto-docs/components/UserListCard/UserListCard/functions/default.md
  docs/docs/auto-docs/components/UserPasswordUpdate/UserPasswordUpdate/variables/UserUpdate.md
  docs/docs/auto-docs/components/UserPortal/CommentCard/CommentCard/functions/default.md
  docs/docs/auto-docs/shared-components/Autocomplete/Autocomplete/functions/Autocomplete.md
  docs/docs/auto-docs/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper/classes/ErrorBoundaryWrapper.md
  docs/docs/auto-docs/shared-components/TextField/TextField/functions/TextField.md
  docs/docs/auto-docs/shared-components/postCard/PostCard/functions/default.md
  docs/docs/auto-docs/types/UserPortal/UserPortalCard/interface/interfaces/InterfaceUserPortalCardProps.md
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.module.css
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
  src/components/UserListCard/UserListCard.module.css
  src/components/UserListCard/UserListCard.tsx
  src/components/UserPasswordUpdate/UserPasswordUpdate.module.css
  src/components/UserPortal/CommentCard/CommentCard.css_check
  src/components/UserPortal/CommentCard/CommentCard.module.css
  src/components/UserPortal/CommentCard/CommentCard.tsx
  src/shared-components/Autocomplete/Autocomplete.tsx
  src/shared-components/Autocomplete/index.ts
  src/shared-components/CheckIn/Modal/Row/TableRow.tsx
  src/shared-components/TextField/TextField.tsx
  src/shared-components/TextField/index.ts
  src/shared-components/postCard/PostCard.tsx
  src/test-utils/check-i18n/check-i18n.test-utils.spec.js
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove eslint-disable from Autocomplete and TextField wrappers
  docs/docs/auto-docs/shared-components/Autocomplete/Autocomplete/functions/Autocomplete.md
  docs/docs/auto-docs/shared-components/TextField/TextField/functions/TextField.md
  docs/docs/auto-docs/shared-components/postCard/PostCard/functions/default.md
  src/shared-components/Autocomplete/Autocomplete.tsx
  src/shared-components/TextField/TextField.tsx
  src/shared-components/postCard/PostCard.module.css
  src/shared-components/postCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve ESLint errors and CSS policy violations
  src/components/UserPortal/CommentCard/CommentCard.module.css
  src/components/UserPortal/CommentCard/CommentCard.tsx
  src/shared-components/Autocomplete/Autocomplete.tsx
  src/shared-components/SortingButton/SortingButton.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

add: improvements in i18n translations rules for CI (#6789)
  .github/workflows/scripts/compare_translations.py
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
Due: prettier --write

fix: use MUI components directly in AgendaItemsUpdateModal and format CSS
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
  src/shared-components/postCard/PostCard.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address code quality and testing issues
  src/components/UserPortal/CommentCard/CommentCard.css_check
  src/components/UserPortal/CommentCard/CommentCard.module.css
  src/components/UserPortal/CommentCard/CommentCard.tsx
  src/shared-components/Autocomplete/Autocomplete.spec.tsx
  src/shared-components/Autocomplete/Autocomplete.tsx
  src/shared-components/TextField/TextField.spec.tsx
  src/shared-components/TextField/TextField.tsx
  src/test-utils/check-i18n/check-i18n.test-utils.spec.js
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

style: fix prettier formatting in TextField.spec.tsx
  src/shared-components/TextField/TextField.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve ESLint errors in test files and remove TextField wrapper
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
  src/shared-components/Autocomplete/Autocomplete.spec.tsx
  src/shared-components/SortingButton/SortingButton.spec.tsx
  src/shared-components/TextField/TextField.spec.tsx
  src/shared-components/TextField/TextField.tsx
  src/shared-components/TextField/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: Button imports
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate/functions/default.md
  docs/docs/auto-docs/types/AdminPortal/OrgUpdate/interface/interfaces/InterfaceOrgUpdateProps.md
  docs/docs/auto-docs/types/AdminPortal/OrgUpdate/interface/interfaces/InterfaceOrganization.md
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.module.css
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/types/AdminPortal/OrgUpdate/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: translation check
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

add TSDoc docs for interface
  docs/docs/auto-docs/types/AdminPortal/OrgUpdate/interface/interfaces/InterfaceOrgUpdateProps.md
  docs/docs/auto-docs/types/AdminPortal/OrgUpdate/interface/interfaces/InterfaceOrganization.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.module.css
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/types/AdminPortal/OrgUpdate/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fali tests
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: use tokens for posts styles
  src/shared-components/posts/posts.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(DataTableTable): use table variable to fix ESLint no-unused-vars
  src/shared-components/DataTable/DataTableTable.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test(DataTable): add DataTableTable.spec.tsx for 100% coverage (#6735)
  src/shared-components/DataTable/DataTableTable.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(tests): address CI feedback for DataTableTable.spec (#6735)
  src/shared-components/DataTable/DataTableTable.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

migratin to i18n
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/EventListCard/Modal/updateLogic.ts
  src/components/UserPortal/EventCard/EventCard.tsx
  src/components/UserPortal/PeopleCard/PeopleCard.tsx
  src/shared-components/posts/posts.tsx
  src/state/reducers/userRoutesReducer.ts
  src/types/jsx.d.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added missing keys
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

Used plain string keys,fixed formatting
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/Constant/common.ts
  src/components/EventListCard/Modal/updateLogic.ts
  src/components/UserPortal/EventCard/EventCard.tsx
  src/components/UserPortal/PeopleCard/PeopleCard.spec.tsx
  src/components/UserPortal/PeopleCard/PeopleCard.tsx
  src/shared-components/posts/posts.spec.tsx
  src/shared-components/posts/posts.tsx
  src/state/reducers/userRoutesReducer.ts
  src/types/jsx.d.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added test common
  public/locales/zh/common.json
  src/Constant/common.spec.ts
  src/components/EventListCard/Modal/Delete/EventListCardDeleteModal.tsx
  src/components/EventListCard/Modal/updateLogic.spec.ts
  src/components/EventListCard/Modal/updateLogic.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added comments,missing arguments
  src/Constant/common.spec.ts
  src/components/EventListCard/Modal/Delete/EventListCardDeleteModal.tsx
  src/components/EventListCard/Modal/updateLogic.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

changed type from t to tcommon
  src/components/EventListCard/Modal/EventListCardModals.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
