Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: eslint rules fixer logic and attribute name checking
  scripts/eslint/rules/prefer-crud-modal-template.js
  scripts/eslint/rules/prefer-crud-modal-template.spec.js
Due: none

fix: coderabbit suggestions
  docs/docs/auto-docs/screens/AdminPortal/Requests/Requests/functions/default.md
  docs/docs/auto-docs/shared-components/DataTable/hooks/useSimpleTableData/functions/useSimpleTableData.md
  docs/docs/auto-docs/shared-components/DataTable/hooks/useSimpleTableData/interfaces/IUseSimpleTableDataOptions.md
  docs/docs/auto-docs/shared-components/DataTable/hooks/useSimpleTableData/interfaces/IUseSimpleTableDataResult.md
  docs/docs/docs/developer-resources/tables.md
  src/screens/AdminPortal/Requests/Requests.tsx
  src/screens/AdminPortal/Users/Users.spec.tsx
  src/shared-components/DataTable/hooks/useSimpleTableData.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

feat: migrate file uploads to MinIO presigned URLs (#3966)
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_COMMUNITY_PG.md
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister/functions/default.md
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdFailMock.md
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdvertisement.md
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/updateAdFailMock.md
  docs/docs/auto-docs/components/AdminPortal/Venues/Modal/VenueModal/functions/default.md
  docs/docs/auto-docs/components/AdminPortal/Venues/Modal/VenueModal/interfaces/InterfaceVenueModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/CommunityProfile/CommunityProfile/functions/default.md
  docs/docs/auto-docs/types/AdminPortal/Advertisement/interface/interfaces/InterfaceAddOnEntryProps.md
  docs/docs/auto-docs/types/AdminPortal/Advertisement/interface/interfaces/InterfaceFormStateTypes.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/GraphQl/Mutations/AdvertisementMutations.ts
  src/GraphQl/Mutations/VenueMutations.ts
  src/GraphQl/Mutations/mutations.ts
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks.ts
  src/components/AdminPortal/Venues/Modal/VenueModal.module.css
  src/components/AdminPortal/Venues/Modal/VenueModal.spec.tsx
  src/components/AdminPortal/Venues/Modal/VenueModal.tsx
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.spec.tsx
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
  src/types/AdminPortal/Advertisement/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Added Generic OAuth Button Component
  docs/docs/auto-docs/components/Auth/OAuthButton/OAuthButton/type-aliases/OAuthMode.md
  docs/docs/auto-docs/components/Auth/OAuthButton/OAuthButton/type-aliases/OAuthSize.md
  docs/docs/auto-docs/components/Auth/OAuthButton/OAuthButton/variables/OAuthButton.md
  docs/docs/auto-docs/components/Auth/theme/oauthBrand/functions/brandForProvider.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Auth/OAuthButton/OAuthButton.module.css
  src/components/Auth/OAuthButton/OAuthButton.spec.tsx
  src/components/Auth/OAuthButton/OAuthButton.tsx
  src/components/Auth/theme/oauthBrand.module.css
  src/components/Auth/theme/oauthBrand.spec.tsx
  src/components/Auth/theme/oauthBrand.tsx
  src/style/tokens/spacing.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

feat(OrgUpdate): add tests, shared mocks, and address CR suggestions
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/FIXED_UTC_TIMESTAMP.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_QUERY_ERROR.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_QUERY_ERROR_FETCH.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_UPDATE_ERROR.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/mockOrgData.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/mockOrgDataWithEmptyFields.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/mockOrgDataWithNullUserReg.md
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

docs: sync auto-generated docs with upstream
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdvertisement.md
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/updateAdFailMock.md
Due: none

Calendar-yearly Ui improvement (#7214)
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/components/EventCalender/Monthly/EventCalendar.spec.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.module.css
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.tsx
  src/style/tokens/borders.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

implemented coderabbit suggestion
  docs/docs/auto-docs/components/Auth/theme/oauthBrand/functions/brandForProvider.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Auth/OAuthButton/OAuthButton.module.css
  src/components/Auth/OAuthButton/OAuthButton.spec.tsx
  src/components/Auth/OAuthButton/OAuthButton.tsx
  src/components/Auth/theme/oauthBrand.module.css
  src/components/Auth/theme/oauthBrand.spec.tsx
  src/components/Auth/theme/oauthBrand.tsx
  src/style/tokens/spacing.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

remove unwanted fallback
  src/components/Auth/theme/oauthBrand.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: implement coderabbit suggestions
  src/screens/AdminPortal/BlockUser/BlockUser.spec.tsx
  src/screens/AdminPortal/BlockUser/BlockUser.tsx
  src/screens/AdminPortal/Requests/Requests.spec.tsx
  src/screens/AdminPortal/Users/Users.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed failing test
  src/components/Auth/OAuthButton/OAuthButton.module.css
  src/components/Auth/OAuthButton/OAuthButton.spec.tsx
  src/components/Auth/OAuthButton/OAuthButton.tsx
  src/components/Auth/theme/oauthBrand.spec.tsx
  src/components/Auth/theme/oauthBrand.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

adress cr suggestions
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_UPDATE_ERROR.md
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

docs: regenerate auto-docs to fix CI failure
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdvertisement.md
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/updateAdFailMock.md
  docs/docs/auto-docs/components/AdminPortal/Venues/Modal/VenueModal/interfaces/InterfaceVenueModalProps.md
Due: none

adress cr suggestions
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

docs(autodocs): sync generated docs for advertisement mocks and venue modal props
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/createAdvertisement.md
  docs/docs/auto-docs/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegisterMocks/variables/updateAdFailMock.md
  docs/docs/auto-docs/components/AdminPortal/Venues/Modal/VenueModal/interfaces/InterfaceVenueModalProps.md
Due: none

adress cr suggestion
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: implement coderabbit suggestions
  docs/docs/docs/developer-resources/tables.md
  src/screens/AdminPortal/BlockUser/BlockUser.spec.tsx
  src/screens/AdminPortal/Requests/Requests.spec.tsx
  src/screens/AdminPortal/Users/Users.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

explicit timeout: 3000 — verify necessity.
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

adress cr suggestion
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_QUERY_ERROR.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_QUERY_ERROR_FETCH.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_UPDATE_ERROR.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/mockUpdateOrgResponse.md
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

adress cr eslint suggestion
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

adress trivial suggestion
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

improve test coverage of GroupChat component
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test(OrgUpdate): shared mocks, single cleanup, waitFor for file assertions
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

cleanup
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

replace fireevent with userevent (#7237)
  docs/docs/auto-docs/screens/AdminPortal/Requests/RequestsMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/AdminPortal/Requests/RequestsMocks/variables/MOCKS2.md
  docs/docs/auto-docs/screens/AdminPortal/Requests/RequestsMocks/variables/MOCKS3.md
  docs/docs/auto-docs/screens/AdminPortal/Requests/RequestsMocks/variables/MOCKS_WITH_ERROR.md
  src/screens/AdminPortal/Requests/Requests.spec.tsx
  src/screens/AdminPortal/Requests/RequestsMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test(i18n): add member key
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

OAuth: Added Generic OAuth Button Component (#7289)
  docs/docs/auto-docs/components/Auth/OAuthButton/OAuthButton/type-aliases/OAuthMode.md
  docs/docs/auto-docs/components/Auth/OAuthButton/OAuthButton/type-aliases/OAuthSize.md
  docs/docs/auto-docs/components/Auth/OAuthButton/OAuthButton/variables/OAuthButton.md
  docs/docs/auto-docs/components/Auth/theme/oauthBrand/functions/brandForProvider.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Auth/OAuthButton/OAuthButton.module.css
  src/components/Auth/OAuthButton/OAuthButton.spec.tsx
  src/components/Auth/OAuthButton/OAuthButton.tsx
  src/components/Auth/theme/oauthBrand.module.css
  src/components/Auth/theme/oauthBrand.spec.tsx
  src/components/Auth/theme/oauthBrand.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

OAuth: Added OAuth Flow Handler Utility (#7282)
  docs/docs/auto-docs/types/Auth/auth/interfaces/InterfaceAuthenticationPayload.md
  docs/docs/auto-docs/types/Auth/auth/interfaces/InterfaceOAuthAccount.md
  docs/docs/auto-docs/types/Auth/auth/interfaces/InterfaceOAuthLinkResponse.md
  docs/docs/auto-docs/types/Auth/auth/interfaces/InterfaceOAuthLoginInput.md
  docs/docs/auto-docs/types/Auth/auth/type-aliases/OAuthProviderKey.md
  docs/docs/auto-docs/utils/oauth/oauthFlowHandler/functions/handleOAuthLink.md
  docs/docs/auto-docs/utils/oauth/oauthFlowHandler/functions/handleOAuthLogin.md
  knip.json
  src/GraphQl/Mutations/mutations.ts
  src/types/Auth/auth.ts
  src/utils/oauth/oauthFlowHandler.test.ts
  src/utils/oauth/oauthFlowHandler.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

improve test coverage of GroupChat component (#7291)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: refactor the prefer crud modal template eslint rules
  scripts/eslint/rules/prefer-crud-modal-template.js
  scripts/eslint/rules/prefer-crud-modal-template.spec.js
Due: none

fix: missing cleanup
  src/shared-components/EventForm/EventForm.spec.tsx
  src/shared-components/EventForm/RecurrenceDropdown/RecurrenceDropdown.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

adress cr suggestion
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_QUERY_ERROR.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_QUERY_ERROR_FETCH.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_UPDATE_ERROR.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/mockOrgData.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/mockOrgDataWithEmptyFields.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/mockOrgDataWithNullUserReg.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/mockUpdateOrgResponse.md
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: implement coderabbit suggestions
  docs/docs/docs/developer-resources/tables.md
  src/screens/AdminPortal/Requests/Requests.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

adress trivial cr suggestion
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_QUERY_ERROR.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_QUERY_ERROR_FETCH.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/MOCKS_UPDATE_ERROR.md
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks/variables/mockUpdateOrgResponse.md
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdateMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: add null guard for import declaration
  scripts/eslint/rules/prefer-crud-modal-template.js
Due: none

fix: overlapping ui in volunteer page
  src/shared-components/SearchFilterBar/SearchFilterBar.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

refactor(cypress): add portal-aligned page objects and base page
  cypress/README.md
  cypress/e2e/AdminPortal/People/ManageMembers.cy.ts
  cypress/pageObjects/AdminPortal/EventAttendancePage.ts
  cypress/pageObjects/AdminPortal/MemberManagementPage.ts
  cypress/pageObjects/AdminPortal/OrganizationSettingsPage.ts
  cypress/pageObjects/AdminPortal/VolunteerManagementPage.ts
  cypress/pageObjects/base/BasePage.ts
  docs/docs/docs/developer-resources/e2e-testing.md
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/check-css-imports.js --files: any of: **/*.{ts,tsx,css}
