Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed dayjs error
  src/utils/oauth/oauthFlowHandler.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor(DataTable): Replace CSS composition with direct local styles (#7171)
  src/shared-components/DataTable/BulkActionsBar.module.css
  src/shared-components/DataTable/DataTable.module.css
  src/shared-components/DataTable/DataTableShared.module.css
  src/shared-components/DataTable/DataTableSkeleton.module.css
  src/shared-components/DataTable/DataTableTable.module.css
  src/shared-components/DataTable/LoadingMoreRows.module.css
  src/shared-components/DataTable/SearchBar.module.css
  src/shared-components/DataTable/TableLoader.module.css
  src/style/tokens/colors.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

fix: prevent admin render on block user page
  docs/docs/auto-docs/screens/AdminPortal/BlockUser/BlockUser/functions/default.md
  src/screens/AdminPortal/BlockUser/BlockUser.spec.tsx
  src/screens/AdminPortal/BlockUser/BlockUser.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: improve UserTags layout and tests (#7215)
  docs/docs/auto-docs/components/UserDetails/UserTags/functions/default.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/UserDetails/UserTags.module.css
  src/components/UserDetails/UserTags.spec.tsx
  src/components/UserDetails/UserTags.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test(organizations): add code-coverage tests and simplify unreachable conditionals (#7168)
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

cleanup
  src/screens/AdminPortal/Requests/Requests.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Refactor Event components to use ProfileAvatarDisplay
  docs/docs/auto-docs/components/AdminPortal/EventManagement/EventActionItems/EventActionItems/variables/default.md
  docs/docs/auto-docs/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance/functions/default.md
  docs/docs/auto-docs/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants/functions/default.md
  docs/docs/auto-docs/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal/functions/EventRegistrantsModal.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IAttendanceStatisticsModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/ICalendarProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEvent.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventHeaderProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventListCard.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventsAttendedMemberModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IMember.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IOrgList.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IPreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IStatsModal.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IUpdateEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventsAttendedMemberModalProps.md
  docs/docs/auto-docs/types/shared-components/EventListCard/interface/interfaces/InterfaceEventListCard.md
  docs/docs/auto-docs/types/shared-components/User/interface/interfaces/InterfaceUserAttendee.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/GraphQl/Queries/Queries.ts
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.tsx
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
  src/types/Event/interface.ts
  src/types/shared-components/User/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed formatting
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

disabled enableEnlarge in eventRegistrantsModal
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

added docs
  docs/docs/auto-docs/types/AdminPortal/EventRegistrantsModal/interface/interfaces/InterfaceAutocompleteMockProps.md
Due: none

added tests
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
  src/types/AdminPortal/EventRegistrantsModal/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

removed flakyness
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed tests
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed formatting
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed linting
  scripts/eslint/config/exemptions.js
Due: none

added test for missing lines
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

added docs
  docs/docs/auto-docs/components/AdminPortal/EventManagement/EventActionItems/EventActionItems/variables/default.md
Due: none

CR changes
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

CR changes
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

recovering the converage
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

CR changes
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.spec.tsx
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

resolved linting issue
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

added mock
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

removed eslint comment
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

cleanup,added docs
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

removed race condition
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Cleanup
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.tsx
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

added keys
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

added docs
  docs/docs/auto-docs/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance/functions/default.md
Due: none

added keys
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

recovering the converage
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

used Button instead button
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

added docs
  docs/docs/auto-docs/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants/functions/default.md
  docs/docs/auto-docs/types/Event/interface/interfaces/ICreateEventInput.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventEdge.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventsAttendedMemberModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceAttendanceStatisticsModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceCalendarProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEvent.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventEdge.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventHeaderProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventsAttendedMemberModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceIOrgList.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceMember.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfacePreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceStatsModal.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceUpdateEventModalProps.md
Due: none

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/check-css-imports.js --files: any of: **/*.{ts,tsx,css}
