Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

removed unnecessary comment
  src/screens/AdminPortal/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

fixed testing
  src/components/AdminPortal/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

added docs
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/Element.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/ElementAttributesProperty.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/ElementChildrenAttribute.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/ElementClass.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/IntrinsicAttributes.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/IntrinsicClassAttributes.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/IntrinsicElements.md
  docs/docs/auto-docs/types/jsx/namespaces/JSX/type-aliases/LibraryManagedAttributes.md
Due: none

removed keyboard false prop from basemodal,did minor changes
  src/components/EventCalender/Monthly/EventCalendar.spec.tsx
  src/components/EventListCard/Modal/Delete/EventListCardDeleteModal.tsx
  src/types/jsx.d.ts
  src/utils/useLocalstorage.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

added comments
  src/components/EventListCard/Modal/updateLogic.ts
  src/utils/useLocalstorage.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

TsDOc changes
  src/components/EventListCard/Modal/updateLogic.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

added docs
  docs/docs/auto-docs/components/EventListCard/Modal/updateLogic/functions/useUpdateEventHandler.md
Due: none

added doc
  docs/docs/auto-docs/components/EventListCard/Modal/updateLogic/functions/useUpdateEventHandler.md
Due: none

fixed failing tests
  src/components/EventListCard/Modal/updateLogic.ts
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

fixing tests
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

addressed cr changes
  src/components/EventListCard/Modal/updateLogic.ts
  src/types/EventListCard/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

CR change
  src/components/EventListCard/Modal/updateLogic.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

added comments
  src/types/EventListCard/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

added docs
  docs/docs/auto-docs/components/EventListCard/Modal/updateLogic/functions/useUpdateEventHandler.md
  docs/docs/auto-docs/types/EventListCard/interface/interfaces/IEventUpdateInput.md
  docs/docs/auto-docs/types/EventListCard/interface/interfaces/IFormState.md
  docs/docs/auto-docs/types/EventListCard/interface/interfaces/IUpdateEventHandlerProps.md
  docs/docs/auto-docs/types/EventListCard/interface/interfaces/InterfaceEventListCard.md
  docs/docs/auto-docs/types/EventListCard/interface/interfaces/InterfaceEventListCardModalsProps.md
Due: none

added docs,did CR changes
  docs/docs/auto-docs/types/EventListCard/interface/interfaces/IEventUpdateInput.md
  docs/docs/auto-docs/types/EventListCard/interface/interfaces/IFormState.md
  docs/docs/auto-docs/types/EventListCard/interface/interfaces/IUpdateEventHandlerProps.md
  src/components/EventListCard/Modal/updateLogic.ts
  src/types/EventListCard/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

standardizing to Camelcasing
  docs/docs/auto-docs/types/Event/interface/interfaces/IPreviewEventModalProps.md
  docs/docs/auto-docs/types/EventListCard/interface/interfaces/IUpdateEventHandlerProps.md
  src/components/EventListCard/Modal/EventListCardModals.spec.tsx
  src/components/EventListCard/Modal/EventListCardModals.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.tsx
  src/components/EventListCard/Modal/updateLogic.spec.ts
  src/components/EventListCard/Modal/updateLogic.ts
  src/types/Event/interface.ts
  src/types/EventListCard/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

corrected key,fixed flakyness
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

feat: enable Apollo Client error messages, fix an infinite loop in 'EventActionItems', and optimize its test suite.
  docs/docs/auto-docs/index/variables/client.md
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
  src/setupTests.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

fixed formatting
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

minor change
  src/shared-components/posts/posts.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

fixed remaining issuesz
  src/components/AdminPortal/EventManagement/Dashboard/EventDashboard.tsx
  src/shared-components/posts/posts.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

added doc
  docs/docs/auto-docs/components/AdminPortal/EventManagement/Dashboard/EventDashboard/functions/default.md
Due: none

fixed test
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

removed the use dummydatetime
  src/Constant/common.spec.ts
  src/Constant/common.ts
  src/components/UserPortal/EventCard/EventCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

fixed formatting
  src/Constant/common.spec.ts
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

added docs
  docs/docs/auto-docs/Constant/common/functions/TEST_ID_PEOPLE_EMAIL.md
  docs/docs/auto-docs/Constant/common/functions/TEST_ID_PEOPLE_IMAGE.md
  docs/docs/auto-docs/Constant/common/functions/TEST_ID_PEOPLE_NAME.md
  docs/docs/auto-docs/Constant/common/functions/TEST_ID_PEOPLE_ROLE.md
  docs/docs/auto-docs/Constant/common/functions/getDummyDateTime.md
Due: none

fix: fixed the edge case for multi-compose
  .lintstagedrc.json
  scripts/check-css-imports.js
Due: prettier --write

feat: migrate tests to userEventFix userEvent migration in tests
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  vitest.setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

feat: migrate tests to userEventFix userEvent migration in tests
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

fix: cleanup logic
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

move interface to types module
  docs/docs/auto-docs/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate/functions/default.md
  docs/docs/auto-docs/types/AdminPortal/OrgUpdate/interface/interfaces/InterfaceMutationUpdateOrganizationInput.md
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/types/AdminPortal/OrgUpdate/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

feat: add disableOpenPicker and reduceAnimations to datePicker
  src/shared-components/DatePicker/DatePicker.spec.tsx
  src/shared-components/DatePicker/DatePicker.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

feat: use per-test userEvent instance and fix OrgList pagination edge case
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

fix: added more fixes to handle other cases
  src/shared-components/TimePicker/TimePicker.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

test: improve coverage for OrgUpdate component
  docs/docs/auto-docs/types/AdminPortal/OrgUpdate/interface/interfaces/InterfaceMutationUpdateOrganizationInput.md
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/types/AdminPortal/OrgUpdate/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files, npx tsx scripts/validate-tokens.ts --files

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx,css}
  pnpm exec tsx scripts/check-css-imports.js --files: any of: **/*.{ts,tsx,css}
  npx tsx scripts/validate-tokens.ts --files: any of: **/*.{ts,tsx,css,scss,sass}
