Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat(venv): added support for venv to execute ci checks in virtual env
  .github/workflows/config/countline_excluded_file_list.txt
  .github/workflows/scripts/check_python_deps.py
  .github/workflows/scripts/countline.py
  .github/workflows/scripts/test/test_check_python_deps.py
  .github/workflows/scripts/venv.sh
  .husky/pre-commit
Due: none

docs: update installation docs
  .github/workflows/scripts/countline.py
  .husky/pre-commit
  docs/docs/docs/getting-started/installation.md
Due: none

docs: update docs
  .github/workflows/scripts/countline.py
  docs/docs/docs/getting-started/installation.md
Due: none

test: update tests
  docs/docs/auto-docs/components/CursorPaginationManager/CursorPaginationManager/functions/CursorPaginationManager.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceConnectionData.md
  docs/docs/auto-docs/types/CursorPagination/interface/interfaces/InterfaceCursorPaginationManagerProps.md
  src/components/CursorPaginationManager/CursorPaginationManager.spec.tsx
  src/components/CursorPaginationManager/CursorPaginationManager.tsx
  src/types/CursorPagination/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: improve scripts
  .github/workflows/scripts/countline.py
  .github/workflows/scripts/venv.sh
Due: none

chore: optimize performance
  .github/workflows/scripts/venv.sh
Due: none

fix: upgrade @typescript-eslint/parser to 8.51.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: critical script error"
  .github/workflows/scripts/venv.sh
Due: none

chore(ci): make venv.sh executable
  .github/workflows/scripts/venv.sh
Due: none

fix: standardize spacing system
  src/screens/AdminPortal/MemberDetail/MemberDetail.module.css
  src/screens/AdminPortal/Notification/Notification.module.css
  src/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard.module.css
  src/screens/AdminPortal/PluginStore/PluginModal.module.css
  src/screens/AdminPortal/PluginStore/PluginStore.module.css
  src/screens/AdminPortal/PluginStore/UploadPluginModal.module.css
  src/screens/AdminPortal/PluginStore/components/PluginList.module.css
  src/screens/Leaderboard/Leaderboard.module.css
  src/screens/UserPortal/Chat/Chat.module.css
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.module.css
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/screens/UserPortal/Volunteer/VolunteerManagement.module.css
  src/style/tokens/borders.css
  src/style/tokens/breakpoints.css
  src/style/tokens/index.css
  src/style/tokens/spacing.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add reusable DateRangePicker shared component
  src/shared-components/DateRangePicker/DateRangePicker.spec.tsx
  src/shared-components/DateRangePicker/DateRangePicker.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve merge conflicts
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: critical venv.sh issues
  .github/workflows/scripts/venv.sh
Due: none

(feat): Admin - Central disable_statements_check (#6133)
  .github/workflows/pull-request.yml
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/test/test_disable_statements_check.py
Due: eslint --fix, prettier --write

Revert "(feat): Admin - Central disable_statements_check (#6133)"
  .github/workflows/pull-request.yml
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/test/test_disable_statements_check.py
Due: eslint --fix, prettier --write

Revert "(feat): Admin - Central disable_statements_check (#6133)" (#6145)
  .github/workflows/pull-request.yml
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/test/test_disable_statements_check.py
Due: eslint --fix, prettier --write

feat: add reusable DateRangePicker shared component
  src/shared-components/DateRangePicker/DateRangePicker.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: complete tests coverage and styling issues fixed (#6141)
  docs/docs/auto-docs/components/ProfileCard/ProfileCard/functions/default.md
  src/components/ProfileCard/ProfileCard.module.css
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileCard/ProfileCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor: Replace react-toastify with NotificationToast (#6130)
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/EventRegistrantsModal/functions/EventRegistrantsModal.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/EventRegistrantsModal/EventRegistrants.module.css
  src/components/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
  src/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmail.module.css
  src/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.spec.tsx
  src/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.tsx
  src/components/GroupChatDetails/GroupChatDetails.spec.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/MemberRequestCard/MemberRequestCard.tsx
  src/components/OrgAdminListCard/OrgAdminListCard.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.tsx
  src/components/TagActions/TagActions.spec.tsx
  src/components/TagActions/TagActions.tsx
  src/components/UpdateSession/UpdateSession.spec.tsx
  src/components/UpdateSession/UpdateSession.tsx
  src/components/UserPasswordUpdate/UserPasswordUpdate.spec.tsx
  src/components/UserPasswordUpdate/UserPasswordUpdate.tsx
  src/components/UserPortal/ContactCard/ContactCard.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Events/Events.tsx
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.spec.tsx
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.tsx
  src/shared-components/pinnedPosts/pinnedPostCard.spec.tsx
  src/shared-components/pinnedPosts/pinnedPostCard.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Form Text Field complete (1 of 7)
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Form Text Area complete (2 of 7)
  src/shared-components/FormFieldGroup/FormTextArea.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Form Select complete (3 of 7)
  src/shared-components/FormFieldGroup/FormSelect.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Form Check Boc complete (4 of 7)
  src/shared-components/FormFieldGroup/FormCheckbox.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

FormTextField (1 of 7)
  src/shared-components/FormFieldGroup/FormTextField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

FormTextArea (2 of 7)
  src/shared-components/FormFieldGroup/FormTextArea.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

FormSelect (3 of 7)
  src/shared-components/FormFieldGroup/FormSelect.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

FormCheckbox (4 of 7)
  src/shared-components/FormFieldGroup/FormCheckbox.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

FormRadioGroup (5 of 7)
  src/shared-components/FormFieldGroup/FormRadioGroup.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

FormDateField (6 of 7)
  src/shared-components/FormFieldGroup/FormDateField.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

FormFieldGroup (7 of 7)
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

FormFieldGroup test file
  src/shared-components/FormFieldGroup/FormFieldGroup.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Index barrel file
  src/shared-components/FormFieldGroup/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Types/Interface file
  src/shared-components/FormFieldGroup/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

AutoDocs
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormFieldGroup/variables/FormFieldGroup.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormSelect/variables/default.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormTextArea/variables/default.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/FormTextField/variables/FormTextField.md
  docs/docs/auto-docs/shared-components/FormFieldGroup/types/type-aliases/FormFieldGroupTypes.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/FormFieldGroupProps.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/FormSelectProps.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/FormTextAreaProps.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/FormTextFieldProps.md
Due: none

feat: add FormFieldGroup components with tests
  src/shared-components/FormFieldGroup/FormCheckbox.tsx
  src/shared-components/FormFieldGroup/FormDateField.tsx
  src/shared-components/FormFieldGroup/FormFieldGroup.spec.tsx
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/shared-components/FormFieldGroup/FormRadioGroup.tsx
  src/shared-components/FormFieldGroup/FormSelect.tsx
  src/shared-components/FormFieldGroup/FormTextArea.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
  src/shared-components/FormFieldGroup/index.ts
  src/shared-components/FormFieldGroup/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
