Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update configuration.md with Docker and logging options
  docs/docs/docs/getting-started/configuration.md
Due: none

fix: updated code to remove unwanted tests from AddMember
  src/screens/OrganizationPeople/addMember/AddMember.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: achieve 100% code coverage for PledgeModal component
  docs/docs/auto-docs/test-utils/localStorageMock/functions/createLocalStorageMock.md
  docs/docs/auto-docs/test-utils/localStorageMock/functions/setupLocalStorageMock.md
  scripts/githooks/check-localstorage-usage.ts
  src/test-utils/localStorageMock.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: cover ManageTag screen
  docs/docs/auto-docs/plugin/graphql-service/functions/useGetAllPlugins.md
  docs/docs/auto-docs/screens/ManageTag/ManageTag/functions/default.md
  docs/docs/auto-docs/screens/ManageTag/ManageTag/functions/getManageTagErrorMessage.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_ERROR_OBJECT.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_INFINITE_SCROLL_NULL_EDGES.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_INFINITE_SCROLL_NULL_FETCH_RESULT.md
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/ManageTagNonErrorMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: regenerate auto-docs
  docs/docs/auto-docs/plugin/graphql-service/functions/useGetAllPlugins.md
  package-lock.json
Due: prettier --write

fix(tests): failing spec files
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/getInstalledAdminPlugins.md
  docs/docs/auto-docs/utils/adminPluginInstaller/functions/removeAdminPlugin.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginInstallationOptions.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginInstallationResult.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginManifest.md
  docs/docs/auto-docs/utils/adminPluginInstaller/type-aliases/AdminPluginZipStructure.md
  src/App.spec.tsx
  src/components/SecuredRoute/securedRoute.spec.tsx
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.spec.tsx
  src/screens/PluginStore/hooks/usePluginActions.spec.ts
  src/utils/adminPluginInstaller.spec.ts
  src/utils/adminPluginInstaller.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: enhance EventHeader component tests for view type and event type interactions (#4800)
  src/components/EventCalender/Header/EventHeader.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: cover ManageTag screen
  docs/docs/auto-docs/screens/ManageTag/ManageTag/functions/default.md
  docs/docs/auto-docs/screens/ManageTag/ManageTag/functions/getManageTagErrorMessage.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_ERROR_OBJECT.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_INFINITE_SCROLL_NULL_EDGES.md
  docs/docs/auto-docs/screens/ManageTag/ManageTagNonErrorMocks/variables/MOCKS_INFINITE_SCROLL_NULL_FETCH_RESULT.md
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/ManageTagNonErrorMocks.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: inquirer-pkg-update
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

fix: inquirer-pkg-update
  docs/docs/auto-docs/plugin/graphql-service/functions/useGetAllPlugins.md
  pnpm-lock.yaml
Due: prettier --write

fix: inquirer-pkg-update
  pnpm-lock.yaml
Due: prettier --write

test: add tests for localStorageMock utility
  scripts/githooks/check-localstorage-usage.ts
  src/test-utils/localStorageMock.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add edge case tests and fix consistency in localStorageMock
  src/test-utils/localStorageMock.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: updated tests code
  docs/docs/auto-docs/screens/OrgPost/OrgPost/functions/default.md
  package-lock.json
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/Users/Users.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: move module-level mocks to beforeEach in src/utils/ tests
  src/utils/MinioUpload.spec.tsx
  src/utils/filehash.spec.ts
  src/utils/getRefreshToken.spec.ts
  src/utils/sanitizeAvatar.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve localStorageMock tests with cleanup and edge cases
  src/test-utils/localStorageMock.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add vi.restoreAllMocks() to afterEach for better cleanup
  src/utils/filehash.spec.ts
  src/utils/sanitizeAvatar.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: ensure complete test isolation in src/utils/
  src/utils/MinioDownload.spec.ts
  src/utils/StaticMockLink.spec.ts
  src/utils/adminPluginInstaller.spec.ts
  src/utils/convertToBase64.spec.ts
  src/utils/errorHandler.spec.tsx
  src/utils/timezoneUtils/dateTimeMiddleware.spec.ts
  src/utils/urlToFile.spec.ts
  src/utils/useLocalstorage.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: improve empty string handling in localStorageMock
  docs/docs/auto-docs/test-utils/localStorageMock/functions/setupLocalStorageMock.md
  src/test-utils/localStorageMock.spec.ts
  src/test-utils/localStorageMock.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: enhance AttendanceStatisticsModal tests for demographics and pagination
  src/components/EventManagement/EventAttendance/Statistics/EventStatistics.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: refine mock cleanup in utils tests
  src/utils/MinioDownload.spec.ts
  src/utils/StaticMockLink.spec.ts
  src/utils/timezoneUtils/dateTimeMiddleware.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: finalize isolation cleanup for utils
  src/utils/MinioUpload.spec.tsx
  src/utils/chartToPdf.spec.ts
  src/utils/dateFormatter.spec.ts
  src/utils/linkValid.spec.tsx
  src/utils/passwordValidator.spec.ts
  src/utils/recurrenceUtils/recurrenceUtils.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: fix missing vitest imports in utils tests
  src/utils/dateFormatter.spec.ts
  src/utils/linkValid.spec.tsx
  src/utils/passwordValidator.spec.ts
  src/utils/recurrenceUtils/recurrenceUtils.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: improve coverage for PluginRoutes.tsx to 100%
  docs/docs/auto-docs/plugin/utils/functions/dynamicImportPlugin.md
  docs/docs/auto-docs/plugin/utils/functions/filterByPermissions.md
  docs/docs/auto-docs/plugin/utils/functions/generatePluginId.md
  docs/docs/auto-docs/plugin/utils/functions/sortDrawerItems.md
  docs/docs/auto-docs/plugin/utils/functions/validatePluginManifest.md
  docs/docs/auto-docs/plugin/variables/PluginRoutes.md
  pnpm-lock.yaml
  src/plugin/routes/PluginRoutes.tsx
  src/plugin/tests/routes/PluginRoutes.spec.tsx
  src/plugin/utils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: apply CodeRabbit suggestions for PluginRoutes coverage PR
  docs/docs/auto-docs/plugin/utils/functions/dynamicImportPlugin.md
  src/plugin/routes/PluginRoutes.tsx
  src/plugin/tests/routes/PluginRoutes.spec.tsx
  src/plugin/utils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: sanitize plugin error messages in production
  src/plugin/routes/PluginRoutes.tsx
  src/plugin/tests/routes/PluginRoutes.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address PR comments on type safety and test cleanup
  src/plugin/routes/PluginRoutes.tsx
  src/plugin/tests/routes/PluginRoutes.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: inquirer-pkg-update (#4807)
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

fix: scope eslint disable comments narrowly
  src/plugin/tests/routes/PluginRoutes.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Remove GitHub workflows from ESLint config
  eslint.config.js
Due: none

Isolate tests in Utils (#4808)
  src/utils/MinioDownload.spec.ts
  src/utils/MinioUpload.spec.tsx
  src/utils/StaticMockLink.spec.ts
  src/utils/adminPluginInstaller.spec.ts
  src/utils/chartToPdf.spec.ts
  src/utils/convertToBase64.spec.ts
  src/utils/dateFormatter.spec.ts
  src/utils/errorHandler.spec.tsx
  src/utils/filehash.spec.ts
  src/utils/getRefreshToken.spec.ts
  src/utils/linkValid.spec.tsx
  src/utils/passwordValidator.spec.ts
  src/utils/recurrenceUtils/recurrenceUtils.spec.ts
  src/utils/sanitizeAvatar.spec.ts
  src/utils/timezoneUtils/dateTimeMiddleware.spec.ts
  src/utils/urlToFile.spec.ts
  src/utils/useLocalstorage.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix CodeRabbit approval workflow triggering (#4754)
  .github/workflows/pull-request-review.yml
Due: prettier --write

chore: revert unintended pnpm-lock.yaml change
  pnpm-lock.yaml
Due: prettier --write

refactor: move edge case test and add console spy per review
  src/plugin/tests/routes/PluginRoutes.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Path conditions:
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml,yaml}
