Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

Bug Fix: Fixed post page query errors (#6349)
  cypress/pageObjects/AdminPortal/AdminEventPage.ts
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_BASIC_DATA.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERS_LIST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_LIST_BASIC.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_MEMBER_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_DONATION_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_FIELDS.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USER_DETAILS.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USER_ORGANIZATION_LIST.md
  docs/docs/auto-docs/shared-components/SidebarOrgSection/SidebarOrgSection/functions/default.md
  src/GraphQl/Queries/Queries.ts
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.spec.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(ActionItemModal): extract ApplyToSelector component [Part 1/5] (#6314)
  docs/docs/auto-docs/components/AdminPortal/ApplyToSelector/ApplyToSelector/variables/default.md
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  docs/docs/auto-docs/types/AdminPortal/ApplyToSelector/interface/interfaces/InterfaceApplyToSelectorProps.md
  docs/docs/auto-docs/types/AdminPortal/ApplyToSelector/interface/type-aliases/ApplyToType.md
  src/components/AdminPortal/ApplyToSelector/ApplyToSelector.spec.tsx
  src/components/AdminPortal/ApplyToSelector/ApplyToSelector.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
  src/types/AdminPortal/ApplyToSelector/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed org list query error while registering
  src/GraphQl/Queries/Queries.ts
  src/screens/LoginPage/LoginPage.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed typo
  src/GraphQl/Queries/Queries.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix: Org list query error while registering (#6363)
  src/GraphQl/Queries/Queries.ts
  src/screens/LoginPage/LoginPage.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor/Campaign-Modal
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/interfaces/InterfaceCampaignModal.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/type-aliases/InterfaceCampaignModal.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/variables/default.md
  docs/docs/auto-docs/types/AdminPortal/CampaignModal/interface/interfaces/InterfaceCampaignModalProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/types/AdminPortal/CampaignModal/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: documentation
  docs/docs/auto-docs/types/AdminPortal/CampaignModal/interface/interfaces/InterfaceCampaignModalProps.md
Due: none

fix: OrgFundCampaign failling test
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: changes
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: chnages made by coderabbitai
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Improve CodeCoverage
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/functions/getUpdatedDateIfChanged.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/type-aliases/InterfaceCampaignModal.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Improve codecov
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/functions/getUpdatedDateIfChanged.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/variables/default.md
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix all changes
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/functions/getUpdatedDateIfChanged.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/variables/default.md
  public/locales/hi/translation.json
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix imports
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

allign jsdocs
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/functions/getUpdatedDateIfChanged.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal/variables/default.md
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix : improvements
  public/locales/en/translation.json
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Update .dockerignore
  .dockerignore
Due: none

Refactor Screens to use FormFieldGroup (Shared Components)
  src/shared-components/DatePicker/DatePicker.tsx
  src/shared-components/EventForm/EventForm.tsx
  src/shared-components/ProfileForm/ProfileForm.tsx
  src/shared-components/Recurrence/RecurrenceEndOptionsSection.tsx
  src/shared-components/Recurrence/RecurrenceFrequencySection.tsx
  src/shared-components/TimePicker/TimePicker.tsx
  src/types/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor EventListCard as a shared component (#6334)
  package-lock.json
  src/components/EventCalender/Monthly/EventCalender.tsx
  src/components/EventCalender/Yearly/YearlyEventCalender.tsx
  src/components/EventManagement/Dashboard/EventDashboard.tsx
  src/shared-components/EventListCard/EventListCard.spec.tsx
  src/shared-components/EventListCard/EventListCard.tsx
  src/shared-components/EventListCard/Modal/Delete/EventListCardDeleteModal.spec.tsx
  src/shared-components/EventListCard/Modal/Delete/EventListCardDeleteModal.tsx
  src/shared-components/EventListCard/Modal/EventListCardMocks.ts
  src/shared-components/EventListCard/Modal/EventListCardModals.spec.tsx
  src/shared-components/EventListCard/Modal/EventListCardModals.tsx
  src/shared-components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/shared-components/EventListCard/Modal/Preview/EventListCardPreviewModal.tsx
  src/shared-components/EventListCard/Modal/updateLogic.ts
  src/types/shared-components/EventListCard/EventListCardProps.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: added pr conflict detection gha
  .github/workflows/pr-conflict-detection.yml
Due: eslint --fix, prettier --write

test: improve codecov coverage for DataGridWrapper and Groups
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: modified gha
  .github/workflows/pr-conflict-detection.yml
  .github/workflows/pull-request-target.yml
Due: eslint --fix, prettier --write

feat: modified gha
  .github/workflows/pull-request-target.yml
Due: eslint --fix, prettier --write

fix: remove failing empty state test
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed cr suggestions
  .github/workflows/pull-request-target.yml
Due: eslint --fix, prettier --write

fix: doc testing
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers/functions/default.md
Due: none

refactor: clean up DataGridWrapper tests and improve coverage
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
  src/shared-components/DataGridWrapper/DataGridWrapper.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added more tests
  src/components/UserDetails/UserEvents.spec.tsx
  src/components/UserDetails/UserTags.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: refactored global style sheet
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFunds/OrganizationFunds/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFunds/modal/FundModal/interfaces/InterfaceFundModal.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationFunds/modal/FundModal/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationTransactions/OrganizationTransactions/functions/default.md
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaign.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.module.css
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.tsx
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.module.css
  src/screens/AdminPortal/OrganizationFunds/OrganizationFunds.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.module.css
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.tsx
  src/screens/AdminPortal/OrganizationTransactions/OrganizationTransactions.module.css
  src/screens/AdminPortal/OrganizationTransactions/OrganizationTransactions.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove duplicate InterfacePostCard definition
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceAttachment.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceCreator.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceMutationCreatePostInput.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceOrganization.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfaceOrganizationPostListData.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfacePageInfo.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfacePost.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfacePostCard.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfacePostConnection.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfacePostCreator.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfacePostEdge.md
  docs/docs/auto-docs/types/Post/interface/interfaces/InterfacePostNode.md
  src/types/Post/interface.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: failing e2e test v3
  cypress/pageObjects/AdminPortal/PeoplePage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: implement crud modal template foundation
  docs/docs/auto-docs/UserPortalNavigationBar/interface/interfaces/InterfaceUserPortalNavbarProps.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CRUDModalTemplate/variables/CRUDModalTemplate.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/CreateModal/variables/CreateModal.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/DeleteModal/variables/DeleteModal.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/EditModal/functions/EditModal.md
  docs/docs/auto-docs/shared-components/CRUDModalTemplate/ViewModal/functions/ViewModal.md
  docs/docs/auto-docs/types/CRUDModalTemplate/interface/interfaces/InterfaceCRUDModalTemplateProps.md
  docs/docs/auto-docs/types/CRUDModalTemplate/interface/interfaces/InterfaceCreateModalProps.md
  docs/docs/auto-docs/types/CRUDModalTemplate/interface/interfaces/InterfaceCrudModalBaseProps.md
  docs/docs/auto-docs/types/CRUDModalTemplate/interface/interfaces/InterfaceDeleteModalProps.md
  docs/docs/auto-docs/types/CRUDModalTemplate/interface/interfaces/InterfaceEditModalProps.md
  docs/docs/auto-docs/types/CRUDModalTemplate/interface/interfaces/InterfaceModalFormState.md
  docs/docs/auto-docs/types/CRUDModalTemplate/interface/interfaces/InterfaceRecurringEventProps.md
  docs/docs/auto-docs/types/CRUDModalTemplate/interface/interfaces/InterfaceViewModalProps.md
  docs/docs/auto-docs/types/CRUDModalTemplate/interface/type-aliases/ModalSize.md
  src/shared-components/CRUDModalTemplate/CRUDModalTemplate.module.css
  src/shared-components/CRUDModalTemplate/CRUDModalTemplate.spec.tsx
  src/shared-components/CRUDModalTemplate/CRUDModalTemplate.tsx
  src/shared-components/CRUDModalTemplate/CreateModal.tsx
  src/shared-components/CRUDModalTemplate/DeleteModal.tsx
  src/shared-components/CRUDModalTemplate/EditModal.tsx
  src/shared-components/CRUDModalTemplate/ViewModal.tsx
  src/shared-components/CRUDModalTemplate/index.ts
  src/types/CRUDModalTemplate/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
