Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write"
}

fix: Removed the unused `organizationUserBelongsTo` field (#1432)
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  schema.graphql
  src/GraphQl/Queries/Queries.ts
  src/components/UserPortal/UserSidebar/UserSidebar.test.tsx
  src/components/UserUpdate/UserUpdate.test.tsx
  src/screens/MemberDetail/MemberDetail.test.tsx
  src/screens/MemberDetail/MemberDetail.tsx
Due: eslint --fix, prettier --write

changes: add line, fix comment
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.test.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.test.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write

removed: commented code
  setup.ts
Due: eslint --fix, prettier --write

fix: failing tests
  setup.ts
Due: eslint --fix, prettier --write

fix: formatting issues
  setup.ts
Due: eslint --fix, prettier --write

Enabling editing an advertisement (#1428)
  public/locales/en.json
  public/locales/fr.json
  public/locales/hi.json
  public/locales/sp.json
  public/locales/zh.json
  src/GraphQl/Mutations/mutations.ts
  src/components/Advertisements/Advertisements.test.tsx
  src/components/Advertisements/Advertisements.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.module.css
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.test.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.module.css
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.test.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write

fix: failing tests
  package-lock.json
  package.json
Due: prettier --write

Update OrgPost.test.tsx
  src/screens/OrgPost/OrgPost.test.tsx
Due: eslint --fix, prettier --write

fix: type errors
  src/screens/OrgPost/OrgPost.tsx
Due: eslint --fix, prettier --write

fix: removed unused variables
  setup.ts
Due: eslint --fix, prettier --write

fix: keep long organization name inside profile container
  src/components/LeftDrawerOrg/LeftDrawerOrg.module.css
Due: prettier --write

Fixed test file for event calender
  src/components/UserPortal/EventCard/EventCard.test.tsx
Due: eslint --fix, prettier --write

updated get advertisement query
  src/GraphQl/Queries/PlugInQueries.ts
Due: eslint --fix, prettier --write

fix: Deprecation warnings on starting
  package-lock.json
  package.json
  scripts/config-overrides/custom_start.js
  scripts/config-overrides/index.js
  scripts/config-overrides/package.json
Due: prettier --write

fix deprecation warning in the start
  package-lock.json
  package.json
  scripts/config-overrides/custom_start.js
  scripts/config-overrides/index.js
Due: prettier --write

fix: update advertisement feature
  src/GraphQl/Mutations/mutations.ts
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.test.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.test.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write

Changed borders to gray instead of black
  src/components/EventCalendar/EventCalendar.module.css
Due: prettier --write

Update authorized-changes-detection.yml
  .github/workflows/authorized-changes-detection.yml
Due: eslint --fix, prettier --write

Added comments
  setup.ts
Due: eslint --fix, prettier --write

revert: unwanted changes
  src/screens/OrgPost/OrgPost.tsx
Due: eslint --fix, prettier --write

Update push.yml
  .github/workflows/push.yml
Due: eslint --fix, prettier --write

Update push.yml (#1456)
  .github/workflows/push.yml
Due: eslint --fix, prettier --write

Update .gitignore
  .gitignore
Due: none

fix deprecation warning in the start (#1449)
  package-lock.json
  package.json
  scripts/config-overrides/custom_start.js
  scripts/config-overrides/index.js
Due: prettier --write

fix: keep long organization name inside profile container (#1450)
  src/components/LeftDrawerOrg/LeftDrawerOrg.module.css
Due: prettier --write

added dockerfiles files to authorized-changes-detection.yml workflow
  .github/workflows/authorized-changes-detection.yml
Due: eslint --fix, prettier --write

added docker support to Talawa Admin
  .dockerignore
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Updated INSTALLATION.md for Installation using Docker
  INSTALLATION.md
Due: none

resolved warning
  src/screens/OrganizationDashboard/OrganizationDashboard.test.tsx
Due: eslint --fix, prettier --write

added docker support to Talawa Admin
  package-lock.json
Due: prettier --write

feat: setup script for .env configuration file
  .env.example
  INSTALLATION.md
  package-lock.json
  package.json
  setup.ts
Due: eslint --fix, prettier --write
