Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

revert dropdown.module.css
  docs/docs/docs/developer-resources/reusable-components.md
  src/shared-components/common/css/dropdown.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: format issues
  docs/docs/auto-docs/shared-components/DropdownButton/DropdownButton.types/type-aliases/DropdownButtonSize.md
  docs/docs/auto-docs/shared-components/DropdownButton/DropdownButton.types/type-aliases/DropdownButtonVariant.md
  docs/docs/auto-docs/shared-components/DropdownButton/DropdownButton.types/type-aliases/DropdownItem.md
  docs/docs/auto-docs/shared-components/DropdownButton/DropdownButton/functions/default.md
  docs/docs/auto-docs/types/shared-components/DropdownButton/interface/interfaces/InterfaceDropdownButtonProps.md
  src/components/DynamicDropDown/DynamicDropDown.spec.tsx
  src/components/OrganizationDashCards/CardItem/CardItem.spec.tsx
  src/shared-components/DropdownButton/DropdownButton.module.css
  src/shared-components/DropdownButton/DropdownButton.spec.tsx
  src/shared-components/DropdownButton/DropdownButton.tsx
  src/shared-components/DropdownButton/DropdownButton.types.ts
  src/types/shared-components/DropdownButton/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: suggestion
  docs/docs/auto-docs/shared-components/DropdownButton/DropdownButton/functions/default.md
  eslint.config.js
  src/shared-components/DropdownButton/DropdownButton.spec.tsx
  src/shared-components/DropdownButton/DropdownButton.tsx
  src/shared-components/TimePicker/TimePicker.module.css
  src/types/shared-components/DropdownButton/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: code quality improvements
  src/utils/performance.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: remove merge conflict marker from communityProfile.tsx
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: improve test quality in SecuredRouteForUser
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: syntax errors in CommunityProfile, remove unused import in VolunteerGroupModal, and fix accessibility in volunteerCreateModal
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Remove unused imports and fix linting errors
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
  src/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: update latest docs of files that are changed
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/interfaces/InterfaceVolunteerGroupModal.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/variables/default.md
Due: none

migration to i18n
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/EventListCard/EventListCard.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.spec.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.tsx
  src/components/MemberActivity/EventsAttendedByMember.spec.tsx
  src/components/MemberActivity/EventsAttendedByMember.tsx
  src/components/MemberActivity/Modal/CustomCell/customTableCell.spec.tsx
  src/components/MemberActivity/Modal/CustomCell/customTableCell.tsx
  src/components/UserPortal/EventCard/EventCard.spec.tsx
  src/components/UserPortal/EventCard/EventCard.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.tsx
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added docs
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/functions/default.md
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/interfaces/InterfaceCardItem.md
  docs/docs/auto-docs/components/MemberActivity/Modal/CustomCell/customTableCell/variables/CustomTableCell.md
  docs/docs/auto-docs/components/UserPortal/PromotedPost/PromotedPost/functions/default.md
  docs/docs/auto-docs/components/UserProfileSettings/UserProfile/variables/default.md
Due: none

corrected translation for dogcare,made some cr changes
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/MemberActivity/EventsAttendedByMember.spec.tsx
  src/components/MemberActivity/EventsAttendedByMember.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

migration to tokenised css
  src/components/EventListCard/EventListCard.module.css
  src/components/EventListCard/EventListCard.tsx
  src/components/MemberActivity/EventsAttendedByMember.module.css
  src/components/MemberActivity/EventsAttendedByMember.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.module.css
  src/components/UserPortal/PromotedPost/PromotedPost.tsx
  src/components/UserProfileSettings/UserProfile.module.css
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

css changes
  src/components/EventListCard/EventListCard.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added missing translation,cr changes
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/components/EventListCard/EventListCard.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.spec.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.tsx
  src/components/MemberActivity/EventsAttendedByMember.tsx
  src/components/MemberActivity/Modal/CustomCell/customTableCell.tsx
  src/components/UserPortal/EventCard/EventCard.spec.tsx
  src/components/UserPortal/EventCard/EventCard.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.tsx
  src/components/UserProfileSettings/UserProfile.module.css
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/components/UserProfileSettings/UserProfile.tsx
  src/types/Event/interface.ts
  src/types/MemberActivity/interface.ts
  src/types/UserPortal/PromotedPost/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Removed erroneous userEvents.eventDetails key
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

added docs
  docs/docs/auto-docs/components/EventListCard/EventListCard/functions/default.md
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/functions/default.md
  docs/docs/auto-docs/components/MemberActivity/Card/EventsAttendedCardItem/interfaces/InterfaceCardItem.md
  docs/docs/auto-docs/components/MemberActivity/EventsAttendedByMember/functions/default.md
  docs/docs/auto-docs/components/UserPortal/PromotedPost/PromotedPost/functions/default.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventListCard.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IPreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IUpdateEventModalProps.md
  docs/docs/auto-docs/types/MemberActivity/interface/interfaces/InterfaceCardItem.md
  docs/docs/auto-docs/types/MemberActivity/interface/interfaces/InterfaceEventsAttendedByMemberProps.md
  docs/docs/auto-docs/types/UserPortal/PromotedPost/interface/interfaces/InterfacePromotedPostProps.md
Due: none

added docs,addressed CR changes
  docs/docs/auto-docs/components/UserPortal/PromotedPost/PromotedPost/functions/default.md
  docs/docs/auto-docs/components/UserProfileSettings/UserProfile/variables/default.md
  docs/docs/auto-docs/types/UserPortal/PromotedPost/interface/interfaces/InterfacePromotedPostProps.md
  src/components/EventListCard/EventListCard.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.spec.tsx
  src/components/MemberActivity/Modal/CustomCell/customTableCell.spec.tsx
  src/components/MemberActivity/Modal/CustomCell/customTableCell.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.spec.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.tsx
  src/components/UserProfileSettings/UserProfile.tsx
  src/types/UserPortal/PromotedPost/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed stale TSDOC
  docs/docs/auto-docs/components/EventListCard/EventListCard/functions/default.md
  src/components/EventListCard/EventListCard.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

did all the cr changes
  src/components/EventListCard/EventListCard.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.spec.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.tsx
  src/types/UserPortal/PromotedPost/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added docs
  docs/docs/auto-docs/types/UserPortal/PromotedPost/interface/interfaces/InterfacePromotedPostProps.md
Due: none

addressed rc issues
  src/components/MemberActivity/Card/EventsAttendedCardItem.tsx
  src/components/MemberActivity/Modal/CustomCell/customTableCell.spec.tsx
  src/components/UserPortal/EventCard/EventCard.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.spec.tsx
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added docs
  docs/docs/auto-docs/components/UserProfileSettings/UserProfile/variables/default.md
Due: none

fixed stale TSDOC
  src/components/EventListCard/EventListCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added missing key
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

cr changes
  src/components/MemberActivity/Card/EventsAttendedCardItem.tsx
  src/components/MemberActivity/Modal/CustomCell/customTableCell.spec.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.spec.tsx
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed tests
  src/components/MemberActivity/Card/EventsAttendedCardItem.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added test
  src/components/UserProfileSettings/UserProfile.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added comment for a feature
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added comments
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/types/MemberActivity/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added docs
  docs/docs/auto-docs/types/MemberActivity/interface/interfaces/InterfaceCardItem.md
  docs/docs/auto-docs/types/MemberActivity/interface/interfaces/InterfaceCustomTableCellProps.md
  docs/docs/auto-docs/types/MemberActivity/interface/interfaces/InterfaceEventsAttendedByMemberProps.md
Due: none

added docs
  docs/docs/auto-docs/types/shared-components/User/interface/interfaces/InterfaceUser.md
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/types/shared-components/User/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added test,did some small changes
  src/components/UserPortal/EventCard/EventCard.spec.tsx
  src/components/UserPortal/EventCard/EventCard.tsx
  src/components/UserPortal/PromotedPost/PromotedPost.spec.tsx
  src/components/UserProfileSettings/UserProfile.module.css
  src/components/UserProfileSettings/UserProfile.tsx
  src/types/Event/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added missing key in en
  public/locales/en/translation.json
Due: prettier --write

added more comments
  src/types/shared-components/User/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added docs
  docs/docs/auto-docs/types/Event/interface/interfaces/IAttendanceStatisticsModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/ICreateEventInput.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventEdge.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventListCard.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventsAttendedMemberModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IPreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IUpdateEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceAttendanceStatisticsModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceCalendarProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEvent.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventEdge.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventHeaderProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventsAttendedMemberModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceIOrgList.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceMember.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfacePreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceStatsModal.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceUpdateEventModalProps.md
  docs/docs/auto-docs/types/UserPortal/PromotedPost/interface/interfaces/InterfacePromotedPostProps.md
Due: none

added more comments
  src/types/Event/interface.ts
  src/types/UserPortal/PromotedPost/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

added docs
  docs/docs/auto-docs/types/Event/interface/interfaces/IAttendanceStatisticsModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/ICreateEventInput.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventEdge.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventListCard.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IEventsAttendedMemberModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IPreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/interfaces/IUpdateEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceAttendanceStatisticsModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceCalendarProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceDeleteEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEvent.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventEdge.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventHeaderProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceEventsAttendedMemberModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceIOrgList.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceMember.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfacePreviewEventModalProps.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceStatsModal.md
  docs/docs/auto-docs/types/Event/interface/type-aliases/InterfaceUpdateEventModalProps.md
  docs/docs/auto-docs/types/shared-components/User/interface/interfaces/InterfaceUser.md
  docs/docs/auto-docs/types/shared-components/User/interface/interfaces/InterfaceUserAttendee.md
Due: none
