Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

docs: add non-Docker production server docs (#4989)
  docs/docs/docs/developer-resources/troubleshooting.md
  docs/docs/docs/getting-started/operation.md
Due: none

fix: replace vi.restoreAllMocks with vi.clearAllMocks
  src/screens/Leaderboard/Leaderboard.spec.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(i18n): add missing userEvents.title translations
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

test: fix CodeRabbit review comments and stabilize tests
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/screens/OrganizationEvents/OrganizationEvents.spec.tsx
  src/screens/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestion
  cypress/pageObjects/AdminPortal/PostPage.ts
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.module.css
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
  src/shared-components/posts/posts.spec.tsx
  src/shared-components/posts/posts.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: add test and update ui
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItem/functions/default.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItemMocks/variables/ERROR_MOCKS.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItemMocks/variables/MOCKS.md
  src/components/RequestsTableItem/RequestsTableItem.spec.tsx
  src/components/RequestsTableItem/RequestsTableItem.tsx
  src/components/RequestsTableItem/RequestsTableItemMocks.ts
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/screens/Requests/Requests.spec.tsx
  src/screens/Requests/Requests.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: fixed CodeRabbit review comments and stabilize tests
  config/node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/OrganizationEvents/OrganizationEvents.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove build artifacts and ignore vite cache
  .gitignore
  config/node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
Due: prettier --write

fixed failing tests
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
  src/shared-components/posts/posts.spec.tsx
  src/shared-components/posts/posts.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: update membership request queries and Requests data handling (#5018)
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItem/functions/default.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItemMocks/variables/ERROR_MOCKS.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItemMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_REQUEST_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS2.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS3.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS4.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS_WITH_ERROR.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/UPDATED_MOCKS.md
  docs/docs/auto-docs/types/ReportingTable/interface/interfaces/IInfiniteScrollProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/interfaces/IReportingTableGridProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/InfiniteScrollProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingRow.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableColumn.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableGridProps.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/PAGE_SIZE.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/ROW_HEIGHT.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/dataGridStyle.md
  src/GraphQl/Queries/Queries.ts
  src/components/RequestsTableItem/RequestsTableItem.spec.tsx
  src/components/RequestsTableItem/RequestsTableItem.tsx
  src/components/RequestsTableItem/RequestsTableItemMocks.ts
  src/screens/Requests/Requests.spec.tsx
  src/screens/Requests/Requests.tsx
  src/screens/Requests/RequestsMocks.ts
  src/types/ReportingTable/interface.ts
  src/types/ReportingTable/utils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Revert "refactor: update membership request queries and Requests data handlin…"
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItem/functions/default.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItemMocks/variables/ERROR_MOCKS.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItemMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_REQUEST_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS2.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS3.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS4.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS_WITH_ERROR.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/UPDATED_MOCKS.md
  docs/docs/auto-docs/types/ReportingTable/interface/interfaces/IInfiniteScrollProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/interfaces/IReportingTableGridProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/InfiniteScrollProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingRow.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableColumn.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableGridProps.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/PAGE_SIZE.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/ROW_HEIGHT.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/dataGridStyle.md
  src/GraphQl/Queries/Queries.ts
  src/components/RequestsTableItem/RequestsTableItem.spec.tsx
  src/components/RequestsTableItem/RequestsTableItem.tsx
  src/components/RequestsTableItem/RequestsTableItemMocks.ts
  src/screens/Requests/Requests.spec.tsx
  src/screens/Requests/Requests.tsx
  src/screens/Requests/RequestsMocks.ts
  src/types/ReportingTable/interface.ts
  src/types/ReportingTable/utils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Revert "refactor: update membership request queries and Requests data handlin…" (#5033)
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItem/functions/default.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItemMocks/variables/ERROR_MOCKS.md
  docs/docs/auto-docs/components/RequestsTableItem/RequestsTableItemMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/EMPTY_REQUEST_MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS2.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS3.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS4.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/MOCKS_WITH_ERROR.md
  docs/docs/auto-docs/screens/Requests/RequestsMocks/variables/UPDATED_MOCKS.md
  docs/docs/auto-docs/types/ReportingTable/interface/interfaces/IInfiniteScrollProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/interfaces/IReportingTableGridProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/InfiniteScrollProps.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingRow.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableColumn.md
  docs/docs/auto-docs/types/ReportingTable/interface/type-aliases/ReportingTableGridProps.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/PAGE_SIZE.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/ROW_HEIGHT.md
  docs/docs/auto-docs/types/ReportingTable/utils/variables/dataGridStyle.md
  src/GraphQl/Queries/Queries.ts
  src/components/RequestsTableItem/RequestsTableItem.spec.tsx
  src/components/RequestsTableItem/RequestsTableItem.tsx
  src/components/RequestsTableItem/RequestsTableItemMocks.ts
  src/screens/Requests/Requests.spec.tsx
  src/screens/Requests/Requests.tsx
  src/screens/Requests/RequestsMocks.ts
  src/types/ReportingTable/interface.ts
  src/types/ReportingTable/utils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

increased coverage
  docs/docs/auto-docs/shared-components/posts/createPostModal/createPostModal/functions/default.md
  docs/docs/auto-docs/types/Post/interface/interfaces/ICreatePostModalProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
  src/shared-components/posts/posts.tsx
  src/types/Post/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix: align Create Event layout and fix transition Keys (#5031)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Events/Events.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixed failing test
  docs/docs/auto-docs/shared-components/posts/createPostModal/createPostModal/functions/default.md
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: fixed remaining test fails
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestions
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore(deps): update @mui/x packages to v8.14.0 (#5030)
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/screens/OrganizationEvents/OrganizationEvents.spec.tsx
  src/screens/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

created helper function file
  docs/docs/auto-docs/shared-components/postCard/PostCard/functions/default.md
  docs/docs/auto-docs/shared-components/postCard/helperFunctions/functions/handleLoadMoreComments.md
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/postCard/helperFunctions.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestions
  docs/docs/auto-docs/shared-components/postCard/helperFunctions/functions/handleLoadMoreComments.md
  src/shared-components/postCard/helperFunctions.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

implemented coderabbit suggestion
  docs/docs/auto-docs/shared-components/postCard/helperFunctions/functions/handleLoadMoreComments.md
  src/shared-components/postCard/helperFunctions.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

removed unused imports
  docs/docs/auto-docs/shared-components/postCard/helperFunctions/functions/handleLoadMoreComments.md
  src/shared-components/postCard/helperFunctions.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

added auto doc
  docs/docs/auto-docs/shared-components/postCard/helperFunctions/functions/handleLoadMoreComments.md
Due: none

fix: feedbacks implemented
  docs/src/css/custom.css
  index.html
  public/locales/es/translation.json
  public/locales/fr/translation.json
  src/screens/OrgPost/Posts.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: align join now buttons in orgcard for unjoined orgs
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: feedback
  docs/src/css/custom.css
Due: prettier --write

fix: add missing RECAPTCHA mock for token='token' in LoginPage tests
  _tmp_1758_d3dcf19198b5d803c24a1e54e631e5e1
  _tmp_1827_32aa38d285fa5bc965724377048b638a
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve 2 more LoginPage test failures (weak password & recaptcha)
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve final LoginPage test - handles Talawa-API unreachable
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: address CodeRabbit review - use BACKEND_URL constant
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: remove stray tmp files from PR
  _tmp_1758_d3dcf19198b5d803c24a1e54e631e5e1
  _tmp_1827_32aa38d285fa5bc965724377048b638a
Due: none

Revert out-of-scope docs changes
  docs/src/css/custom.css
  index.html
Due: prettier --write

fixed pagination for empty notifications
  src/screens/Notification/Notification.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fixes notification pagination
  src/screens/Notification/Notification.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Streamline Pull Request Jobs
  .github/workflows/pull-request.yml
Due: prettier --write

test: 100 % coverage for LoginPage (#4902) (#5008)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/CommentCard/CommentCard.spec.tsx
  src/components/UserPortal/OrganizationNavbar/OrganizationNavbar.spec.tsx
  src/components/Venues/Modal/VenueModal.spec.tsx
  src/screens/Leaderboard/Leaderboard.spec.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fixed PR sequencing
  .github/workflows/pull-request.yml
Due: prettier --write
