Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update import statement for BaseModal in OrgList component
  src/screens/AdminPortal/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update import statement for BaseModal in OrgList component
  docs/docs/auto-docs/screens/AdminPortal/OrgList/OrgList/functions/default.md
Due: none

fix: linting issues
  docs/docs/auto-docs/components/AddPeopleToTag/AddPeopleToTag/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: linting issues
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: improve testing logics and coverage
  .github/workflows/config/countline_excluded_file_list.txt
  docs/docs/auto-docs/components/AgendaItems/AgendaItemsContainer/functions/default.md
  docs/docs/auto-docs/components/GroupChatDetails/GroupChatDetails/functions/default.md
  docs/docs/auto-docs/shared-components/ProfileForm/ProfileForm/functions/getLanguageName.md
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/EventManagement/Dashboard/EventDashboard.spec.tsx
  src/components/EventManagement/EventActionItems/EventActionItems.spec.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/UpdateSession/UpdateSession.spec.tsx
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.spec.tsx
  src/screens/AdminPortal/ManageTag/ManageTag.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/Public/Invitation/AcceptInvitation.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.spec.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/shared-components/ProfileForm/ProfileForm.tsx
  src/shared-components/posts/posts.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove avatar field from form state in OrgList and OrganizationModal components
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: linting issues and ci tests
  src/components/AgendaCategory/AgendaCategoryContainer.spec.tsx
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: correct comment formatting in orgList function for clarity
  src/screens/AdminPortal/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: clarify comment in orgList function regarding explicit refetchOrgs call
  docs/docs/auto-docs/screens/AdminPortal/OrgList/OrgList/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/variables/default.md
  src/screens/AdminPortal/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: linting issues and eslint
  docs/docs/auto-docs/components/AddPeopleToTag/AddPeopleToTag/variables/default.md
  docs/docs/auto-docs/components/AgendaCategory/AgendaCategoryContainer/functions/default.md
  docs/docs/auto-docs/components/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  docs/docs/auto-docs/components/ChangeLanguageDropdown/ChangeLanguageDropDown/functions/default.md
  docs/docs/auto-docs/components/EventManagement/EventAgendaItems/EventAgendaItems/functions/default.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/EventRegistrants/functions/default.md
  docs/docs/auto-docs/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Invitations/Invitations/functions/default.md
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/AgendaCategory/AgendaCategoryContainer.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.tsx
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.tsx
  src/components/CheckIn/Modal/Row/TableRow.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/components/EventRegistrantsModal/Modal/AddOnSpot/AddOnSpotAttendee.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: comment out attachments field and add TODO for image upload restoration
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update AdvertisementRegister component to use BaseModal and improve prop documentation
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: simplify prop documentation in AdvertisementRegister component
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: correct formatting in prop documentation for AdvertisementRegister component
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: doc generation
  docs/docs/auto-docs/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister/functions/default.md
Due: none

fix: imrpove testing and fix tsdoc lint error
  docs/docs/auto-docs/Requests/README-1.md
  docs/docs/auto-docs/Requests/functions/default-1.md
  docs/docs/auto-docs/components/AgendaCategory/AgendaCategoryContainer/functions/default.md
  docs/docs/auto-docs/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory/variables/default.md
  docs/docs/auto-docs/components/UpdateSession/UpdateSession/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/CommunityProfile/CommunityProfile/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/Leaderboard/Leaderboard/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/getManageTagErrorMessage.md
  docs/docs/auto-docs/screens/EventVolunteers/Requests/Requests/functions/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/Volunteers/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups/functions/default.md
  src/components/AgendaCategory/AgendaCategoryContainer.tsx
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.tsx
  src/components/UpdateSession/UpdateSession.tsx
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.tsx
  src/screens/AdminPortal/EventManagement/EventManagement.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.spec.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.tsx
  src/screens/AdminPortal/ManageTag/ManageTag.tsx
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/screens/ForgotPassword/ForgotPassword.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.spec.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/shared-components/ProfileForm/ProfileForm.tsx
  src/shared-components/posts/posts.spec.tsx
  src/shared-components/posts/posts.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: improve tests and fix critical issues
  docs/docs/auto-docs/components/AgendaCategory/AgendaCategoryContainer/functions/default.md
  docs/docs/auto-docs/components/AgendaItems/AgendaItemsContainer/functions/default.md
  docs/docs/auto-docs/components/UpdateSession/UpdateSession/variables/default.md
  src/components/AgendaCategory/AgendaCategoryContainer.tsx
  src/components/AgendaItems/AgendaItemsContainer.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.tsx
  src/components/UpdateSession/UpdateSession.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
  src/shared-components/posts/posts.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: change react-bootstrap import path
  docs/docs/auto-docs/components/test-utils/AsyncComponent/functions/default.md
  docs/docs/auto-docs/plugin/graphql-service/functions/useGetAllPlugins.md
  docs/docs/auto-docs/test-utils/AsyncComponent/functions/default.md
  docs/docs/auto-docs/test-utils/I18nextProviderMock/functions/I18nextProvider.md
  docs/docs/auto-docs/test-utils/MockBrowserRouter/functions/default.md
  docs/docs/auto-docs/test-utils/TestErrorBoundary/classes/TestErrorBoundary.md
  docs/docs/auto-docs/test-utils/TestWrapper/functions/TestWrapper.md
  package-lock.json
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/test-utils/AsyncComponent.tsx
  src/test-utils/I18nextProviderMock.tsx
  src/test-utils/MockBrowserRouter.tsx
  src/test-utils/TestErrorBoundary.tsx
  src/test-utils/TestWrapper.spec.tsx
  src/test-utils/TestWrapper.tsx
  src/test-utils/react-bootstrap.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(setup/tests): ESM entry-point + stabilize failing tests
  docs/docs/auto-docs/screens/OrganizationActionItems/ActionItemModal/ActionItemModal/variables/default.md
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.spec.tsx
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added white background to people tab section
  docs/docs/auto-docs/components/UserDetails/UserEvents/variables/default.md
  docs/docs/auto-docs/components/UserDetails/UserTags/functions/default.md
  docs/docs/auto-docs/screens/MemberDetail/MemberDetail/variables/default.md
  docs/docs/auto-docs/shared-components/PeopleTabNavButton/PeopleTabNavButton/variables/default.md
  docs/docs/auto-docs/shared-components/PeopleTabNavbar/PeopleTabNavbar/functions/default.md
  docs/docs/auto-docs/subComponents/SortingButton/namespaces/default/variables/propTypes.md
  docs/docs/auto-docs/subComponents/SortingButton/variables/default.md
  docs/docs/auto-docs/types/PeopleTab/interface/interfaces/InterfacePeopleTab.md
  docs/docs/auto-docs/types/PeopleTab/interface/interfaces/InterfacePeopleTabNavbar.md
  docs/docs/auto-docs/types/PeopleTab/interface/interfaces/InterfacePeopleTabNavbarProps.md
  docs/docs/auto-docs/types/PeopleTab/interface/interfaces/InterfacePeopleTabUserOrganizationProps.md
  docs/docs/auto-docs/types/PeopleTab/interface/interfaces/InterfacePeopletabUserEventsProps.md
  public/images/svg/bi_tags.svg
  public/images/svg/ion_options-outline.svg
  public/images/svg/material-symbols_dashboard-outline.svg
  public/images/svg/mdi_events.svg
  public/images/svg/octicon_organization-24.svg
  public/images/svg/ri_arrow-up-down-line.svg
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/components/UserDetails/UserEvents.tsx
  src/components/UserDetails/UserOrganizations.tsx
  src/components/UserDetails/UserTags.tsx
  src/screens/MemberDetail/MemberDetail.tsx
  src/screens/MemberDetail/UserContactDetails.spec.tsx
  src/screens/MemberDetail/UserContactDetails.tsx
  src/shared-components/PeopleTabNavButton/PeopleTabNavButton.spec.tsx
  src/shared-components/PeopleTabNavButton/PeopleTabNavButton.tsx
  src/shared-components/PeopleTabNavbar/PeopleTabNavbar.tsx
  src/shared-components/PeopleTabUserEvents/PeopleTabUserEvents.tsx
  src/style/app-fixed.module.css
  src/subComponents/SortingButton.tsx
  src/types/PeopleTab/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Add new ProfileImageUpload component with validation, preview, and styling.
  docs/docs/auto-docs/shared-components/ProfileImageUpload/ProfileImageUpload/functions/default.md
  docs/docs/auto-docs/shared-components/ProfileImageUpload/ProfileImageUpload/interfaces/InterfaceProfileImageUploadProps.md
  src/shared-components/ProfileImageUpload/ProfileImageUpload.module.css
  src/shared-components/ProfileImageUpload/ProfileImageUpload.spec.tsx
  src/shared-components/ProfileImageUpload/ProfileImageUpload.tsx
  src/shared-components/ProfileImageUpload/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: reorganize test utils and introduce TestWrapper
  docs/docs/auto-docs/components/test-utils/AsyncComponent/functions/default.md
  docs/docs/auto-docs/test-utils/AsyncComponent/functions/default.md
  docs/docs/auto-docs/test-utils/I18nextProviderMock/functions/I18nextProvider.md
  docs/docs/auto-docs/test-utils/MockBrowserRouter/functions/default.md
  docs/docs/auto-docs/test-utils/TestErrorBoundary/classes/TestErrorBoundary.md
  docs/docs/auto-docs/test-utils/TestWrapper/functions/TestWrapper.md
  scripts/githooks/check-localstorage-usage.ts
  src/shared-components/posts/posts.spec.tsx
  src/test-utils/AsyncComponent.tsx
  src/test-utils/I18nextProviderMock.tsx
  src/test-utils/MockBrowserRouter.tsx
  src/test-utils/TestErrorBoundary.tsx
  src/test-utils/TestWrapper.spec.tsx
  src/test-utils/TestWrapper.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: introduce new shared component and add i18n-ignore comment.
  src/shared-components/ProfileImageUpload/ProfileImageUpload.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

resolve: merge conflicts with upstream/develop - Keep UserTableRow implementation
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: Improve ProfileImageUpload accessibility with a native button, enhance object URL management, and add i18n keys.
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/shared-components/ProfileImageUpload/ProfileImageUpload.module.css
  src/shared-components/ProfileImageUpload/ProfileImageUpload.spec.tsx
  src/shared-components/ProfileImageUpload/ProfileImageUpload.tsx
  src/shared-components/ProfileImageUpload/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

style: remove extra blank lines
  src/shared-components/ProfileImageUpload/ProfileImageUpload.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: update source file links to GitHub URLs
  docs/docs/auto-docs/shared-components/ProfileImageUpload/ProfileImageUpload/functions/default.md
  docs/docs/auto-docs/shared-components/ProfileImageUpload/ProfileImageUpload/interfaces/InterfaceProfileImageUploadProps.md
Due: none

fix: js-doc braces
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: resolve syntax error in OrganizationPeople.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: standardize apollo transport and align organization modal for minio transition
  .github/workflows/scripts/check-minio-compliance.cjs
  docs/docs/auto-docs/screens/AdminPortal/OrgList/OrgList/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/variables/default.md
  package.json
  pnpm-lock.yaml
  src/index.spec.tsx
  src/index.tsx
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing Button import in OrganizationPeople.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing Button import in OrganizationPeople.tsx
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
Due: none

fix: resolve crtitical issues and fix failing test
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.tsx
  src/components/UpdateSession/UpdateSession.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(setup): backlash issue
  docs/docs/auto-docs/setup/setup/functions/askAndSetRecaptcha.md
  docs/docs/auto-docs/setup/setup/functions/main.md
  src/setup/setup.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor: clean up component documentation and remove unnecessary comments in OrgList and OrganizationModal
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: clean up component documentation and remove unnecessary comments in OrgList and OrganizationModal
  docs/docs/auto-docs/screens/AdminPortal/OrgList/OrgList/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/variables/default.md
Due: none

fix: made intutive approach to exclude external libraries
  docs/docs/docs/developer-resources/reusable-components.md
  eslint.config.js
Due: none

fix: fixed unused id
  eslint.config.js
Due: none

refactor: resolve unused types, improve state logic, and fix TSDoc documentation
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Update auto-generated documentation files
  docs/docs/auto-docs/index/variables/client.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceFormStateType.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/interfaces/InterfaceOrganizationModalProps.md
  docs/docs/auto-docs/screens/AdminPortal/OrgList/modal/OrganizationModal/variables/default.md
Due: none

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
