Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

item modal test updation
  src/screens/OrganizationActionItems/ItemModal.tsx
Due: eslint --fix, prettier --write

Add tsdoc comments
  src/components/OrgSettings/ActionItemCategories/CategoryModal.tsx
  src/components/OrgSettings/General/GeneralSettings.tsx
Due: eslint --fix, prettier --write

Revert
  src/screens/UserPortal/Donate/Donate.test.tsx
  src/screens/UserPortal/Donate/Donate.tsx
Due: eslint --fix, prettier --write

Update .coderabbit.yaml
  .coderabbit.yaml
Due: none

Final acc to discussion
  src/screens/UserPortal/Donate/Donate.test.tsx
  src/screens/UserPortal/Donate/Donate.tsx
Due: eslint --fix, prettier --write

fix the testcase
  src/screens/UserPortal/Donate/Donate.test.tsx
Due: eslint --fix, prettier --write

feat: add member to group chat
  src/GraphQl/Mutations/OrganizationMutations.ts
  src/assets/svgs/add.svg
  src/components/GroupChatDetails/GroupChatDetails.module.css
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write

feat: improved code coverage
  src/components/UserPortal/ChatRoom/ChatRoom.test.tsx
Due: eslint --fix, prettier --write

fix: failed test cases
  src/components/UserPortal/ChatRoom/ChatRoom.test.tsx
Due: eslint --fix, prettier --write

improved code coverage
  src/components/UserPortal/ChatRoom/ChatRoom.test.tsx
Due: eslint --fix, prettier --write

Update .node-version
  .node-version
Due: none

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Update push.yml
  .github/workflows/push.yml
Due: eslint --fix, prettier --write

Add CodeRabbit Suggestion for code Refac
  public/locales/fr/translation.json
  public/locales/hi/common.json
  src/components/OrgSettings/ActionItemCategories/CategoryModal.test.tsx
  src/components/OrgSettings/ActionItemCategories/CategoryModal.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.module.css
  src/screens/EventManagement/EventManagement.tsx
  src/screens/OrganizationActionItems/ItemModal.test.tsx
  src/screens/OrganizationActionItems/ItemModal.tsx
  src/screens/OrganizationActionItems/ItemViewModal.test.tsx
Due: eslint --fix, prettier --write

Fix : #2112 by including client side validation for donation amount. (#2211)
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Donate/Donate.test.tsx
  src/screens/UserPortal/Donate/Donate.tsx
Due: eslint --fix, prettier --write

final adjustments for tests and new feature of session management
  src/utils/useSession.test.tsx
  src/utils/useSession.tsx
  src/utils/useSession12.tsx
Due: eslint --fix, prettier --write

Merge remote tracking branch
  package-lock.json
Due: prettier --write

fixed conflicts
  src/components/OrgPeopleOrganizationsCard/OrgPeopleOrganizationsCard.tsx
Due: eslint --fix, prettier --write

fixes in test cases
  src/screens/LoginPage/LoginPage.tsx
  src/state/reducers/userRoutersReducer.test.ts
Due: eslint --fix, prettier --write

fixes in test
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

added translation
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

upgraded huskt to 9.0.11
  package-lock.json
  package.json
Due: prettier --write

upgraded husky 9.0.11
  .gitignore
Due: none

fixed misplaced screen layout
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/App.tsx
  src/screens/UserPortal/Posts/Posts.test.tsx
  src/screens/UserPortal/Posts/Posts.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/state/reducers/userRoutersReducer.test.ts
  src/state/reducers/userRoutesReducer.ts
Due: eslint --fix, prettier --write

fix: Misplaced screen layout
  src/screens/UserPortal/Posts/Posts.tsx
Due: eslint --fix, prettier --write

fix: misplaced user layout
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/screens/UserPortal/Posts/Posts.tsx
Due: eslint --fix, prettier --write

Updated typescript to latest
  package-lock.json
  package.json
Due: prettier --write

Temporarily downgraded typescript
  package-lock.json
  package.json
Due: prettier --write

fix tests
  src/screens/ForgotPassword/ForgotPassword.test.tsx
  src/screens/ForgotPassword/ForgotPassword.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.test.tsx
  src/screens/FundCampaignPledge/PledgesMocks.ts
  src/screens/OrganizationActionItems/OrganizationActionItems.test.tsx
  src/screens/UserPortal/Campaigns/Campaigns.test.tsx
  src/screens/UserPortal/Campaigns/CampaignsMocks.ts
  src/screens/UserPortal/Pledges/PledgesMocks.ts
Due: eslint --fix, prettier --write

Update TableRow.tsx
  src/components/CheckIn/TableRow.tsx
Due: eslint --fix, prettier --write

Error Handled Correctly
  src/components/CheckIn/TableRow.tsx
Due: eslint --fix, prettier --write

pdfme upgraded
  src/components/CheckIn/TableRow.tsx
Due: eslint --fix, prettier --write

Dynamix breadcrumbs in funds/campaigns/pledges
  src/GraphQl/Queries/fundQueries.ts
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgesMocks.ts
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaignMocks.ts
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

Remove Delete Fund option
  src/GraphQl/Mutations/FundMutation.ts
  src/GraphQl/Queries/fundQueries.ts
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaignMocks.ts
  src/screens/OrganizationFunds/FundDeleteModal.test.tsx
  src/screens/OrganizationFunds/FundDeleteModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.test.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/OrganizationFunds/OrganizationFundsMocks.ts
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

remove delete for campaigns
  src/GraphQl/Mutations/CampaignMutation.ts
  src/screens/OrganizationFundCampaign/CampaignDeleteModal.test.tsx
  src/screens/OrganizationFundCampaign/CampaignDeleteModal.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.test.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaignMocks.ts
  src/screens/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write

fix: minor issues
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
Due: eslint --fix, prettier --write

removed unused imports
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
