Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update pre-commit
  .husky/pre-commit
Due: none

Update Action Item Page according to Figma Style Guide
  src/index.tsx
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemViewModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

ref4
  .husky/pre-commit
  src/style/app.module.css
Due: prettier --write

ref4
  src/components/CheckIn/TableRow.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

ref4
  .husky/pre-commit
Due: none

Improving Code Coverage in src/components/UserPortal/OrganizationCard/OrganizationCard.tsx (#3370)
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: trash can icon size
  src/style/app.module.css
Due: prettier --write

Refactor css
  src/components/MemberDetail/EventsAttendedMemberModal.tsx
  src/components/MemberDetail/customTableCell.tsx
  src/screens/MemberDetail/MemberDetail.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: homepage-sidebar-fixation
  docs/docs/CONFIGURING.md
  docs/docs/INSTALLATION.md
  docs/docs/auto-docs/utils/StaticMockLink/classes/StaticMockLink.md
  docs/docs/auto-docs/utils/StaticMockLink/interfaces/InterfaceMockApolloLink.md
  docs/docs/auto-docs/utils/timezoneUtils/dateTimeMiddleware/variables/requestMiddleware.md
  docs/docs/auto-docs/utils/timezoneUtils/dateTimeMiddleware/variables/responseMiddleware.md
  docs/sidebars.ts
  docs/src/components/GuideCards/GuideCards.css
  docs/src/components/GuideCards/GuideCards.tsx
  docs/src/components/HeroImage/HeroSection.css
  docs/src/components/HeroImage/HeroSection.tsx
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

New Tests for Uncovered Lines
  src/components/Venues/VenueModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor
  src/components/LoginPortalToggle/LoginPortalToggle.module.css
  src/components/LoginPortalToggle/LoginPortalToggle.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update customTableCell.tsx
  src/components/MemberDetail/customTableCell.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

moved embedded HTML color codes to app.module.css
  src/index.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

css fix
  src/style/app.module.css
Due: prettier --write

color variables
  .github/workflows/pull-request.yml
  .github/workflows/push-deploy-website.yml
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/functions/default.md
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/interfaces/InterfaceLeftDrawerProps.md
  docs/docs/auto-docs/components/SuperAdminScreen/SuperAdminScreen/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/interfaces/InterfaceUserSidebarProps.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_ERROR_ERROR_TAG.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_NO_MORE_PAGES.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_NULL_END_CURSOR.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_UNDEFINED_USER_TAGS.md
  docs/docs/auto-docs/screens/UserPortal/Organizations/Organizations/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/People/People/functions/default.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/src/css/index.css
  src/components/Advertisements/Advertisements.tsx
  src/components/LoginPortalToggle/LoginPortalToggle.module.css
  src/components/LoginPortalToggle/LoginPortalToggle.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/PeopleCard/PeopleCard.module.css
  src/components/UserPortal/PeopleCard/PeopleCard.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/People/People.module.css
  src/screens/UserPortal/People/People.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

failing test
  src/style/app.module.css
Due: prettier --write

added tests for createdirectchat.tsx
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/CreateDirectChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/CreateDirectChat/functions/handleCreateDirectChat.md
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.spec.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: day and year view render on event page
  src/components/EventCalendar/EventCalendar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Proper Handling for non numeric values in allotted hours section of action item
  src/screens/OrganizationActionItems/ItemModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Bugfix: fixed duplication of chats (#3360)
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/CreateDirectChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/CreateDirectChat/functions/handleCreateDirectChat.md
  docs/docs/auto-docs/screens/UserPortal/Chat/Chat/type-aliases/Chat.md
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.spec.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Fixes: The Login and Organization Screens (#3309)
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/functions/default.md
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/interfaces/InterfaceLeftDrawerProps.md
  docs/docs/auto-docs/components/SuperAdminScreen/SuperAdminScreen/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/interfaces/InterfaceUserSidebarProps.md
  docs/docs/auto-docs/screens/UserPortal/Organizations/Organizations/functions/default.md
  public/images/svg/angleRight.svg
  src/assets/css/app.css
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/LoginPortalToggle/LoginPortalToggle.module.css
  src/components/LoginPortalToggle/LoginPortalToggle.tsx
  src/components/OrgListCard/OrgListCard.module.css
  src/components/OrgListCard/OrgListCard.tsx
  src/components/ProfileDropdown/ProfileDropdown.module.css
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.module.css
  src/components/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.module.css
  src/components/UserPortal/OrganizationCard/OrganizationCard.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.module.css
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/screens/ForgotPassword/ForgotPassword.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/UserPortal/Organizations/Organizations.module.css
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor css GroupChatDetails
  src/components/GroupChatDetails/GroupChatDetails.module.css
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

searchBar created and used in org list
  docs/docs/auto-docs/screens/OrgList/OrgList/functions/default.md
  docs/docs/auto-docs/subComponents/SearchBar/functions/default.md
  src/screens/OrgList/OrgList.tsx
  src/subComponents/SearchBar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

css updated
  src/screens/OrgList/OrgList.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fixed linting
  src/style/app.module.css
Due: prettier --write

orgPeople
  docs/docs/auto-docs/screens/OrganizationPeople/OrganizationPeople/functions/default.md
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/subComponents/SearchBar.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

org tags
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTags/functions/default.md
  src/screens/OrganizationTags/OrganizationTags.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

resolved conversation
  src/screens/UserPortal/Organizations/Organizations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update GroupChatDetails.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fixed ESLint bugs that required ts-specific rules for js functions and added prettier formatting (re-open #3184) (#3229)
  .github/workflows/pull-request.yml
  .lintstagedrc.json
  package.json
  scripts/githooks/check-localstorage-usage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

update css variable names and fixed DataGrid styling
  src/index.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor
  src/components/EventRegistrantsModal/EventRegistrantsModal.module.css
  src/components/EventRegistrantsModal/EventRegistrantsModal.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update app.module.css
  src/style/app.module.css
Due: prettier --write

orgVenues
  docs/docs/auto-docs/screens/OrganizationVenues/OrganizationVenues/functions/default.md
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
