Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write"
}

add subTags screen
  src/App.tsx
  src/GraphQl/Queries/userTagQueries.ts
  src/screens/ManageTag/ManageTag.module.css
  src/screens/ManageTag/ManageTag.test.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/SubTags/SubTags.module.css
  src/screens/SubTags/SubTags.test.tsx
  src/screens/SubTags/SubTags.tsx
  src/screens/SubTags/SubTagsMocks.ts
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

minor correction
  src/screens/SubTags/SubTags.tsx
Due: eslint --fix, prettier --write

improve test coverage
  src/screens/OrganizationTags/OrganizationTags.test.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
Due: eslint --fix, prettier --write

fix: create group chat functionality
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
Due: eslint --fix, prettier --write

Refac ActionItem Category & Add support for delete, Search, Sort & Filter
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/GraphQl/Mutations/ActionItemCategoryMutations.ts
  src/GraphQl/Queries/ActionItemCategoryQueries.ts
  src/components/OrgSettings/OrgActionItemCategories/CategoryDeleteModal.tsx
  src/components/OrgSettings/OrgActionItemCategories/CategoryModal.tsx
  src/components/OrgSettings/OrgActionItemCategories/OrgActionItemCategories.module.css
  src/components/OrgSettings/OrgActionItemCategories/OrgActionItemCategories.test.tsx
  src/components/OrgSettings/OrgActionItemCategories/OrgActionItemCategories.tsx
  src/screens/OrgSettings/OrgSettings.module.css
  src/screens/OrgSettings/OrgSettings.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write

i18next Upgraded
  package-lock.json
  package.json
  src/utils/errorHandler.tsx
Due: eslint --fix, prettier --write

fixed more tests
  src/components/UserPortal/UserSidebar/UserSidebar.test.tsx
  src/screens/UserPortal/Posts/Posts.test.tsx
Due: eslint --fix, prettier --write

upgraded @testing-library/jest-dom to 6.4.5
  package-lock.json
  package.json
Due: prettier --write

added jest-watch-typeahead
  package-lock.json
  package.json
Due: prettier --write

fixed more tests
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.test.tsx
  src/screens/Users/Users.test.tsx
Due: eslint --fix, prettier --write

fixed all tests
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.test.tsx
  src/screens/OrgPost/OrgPost.test.tsx
Due: eslint --fix, prettier --write

Upgraded react, react-dom, types/react and react-toastify to latest
  src/components/AddOn/AddOn.tsx
  src/components/AddOn/core/AddOnRegister/AddOnRegister.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/EventRegistrantsModal/EventRegistrantsModal.tsx
  src/components/MemberRequestCard/MemberRequestCard.tsx
  src/components/OrgActionItemCategories/OrgActionItemCategories.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
  src/components/OrganizationCard/OrganizationCard.tsx
  src/components/UserPasswordUpdate/UserPasswordUpdate.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
  src/components/Venues/VenueModal.tsx
  src/components/plugins/DummyPlugin/DummyPlugin.test.jsx
  src/components/plugins/DummyPlugin2/DummyPlugin2.test.jsx
Due: eslint --fix, prettier --write

Removed dockerfile
  .dockerignore
  Dockerfile
Due: none

upgraded TypeScript to 5.4.5
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

update based on github suggestion
  src/components/UpdateSession/UpdateSession.tsx
Due: eslint --fix, prettier --write

created (#2173)
  .github/workflows/check-tsdoc.js
  .github/workflows/pull-request.yml
  package.json
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
Due: eslint --fix, prettier --write

i18next Upgraded (#2209)
  package-lock.json
  package.json
  src/utils/errorHandler.tsx
Due: eslint --fix, prettier --write

minor changes
  src/screens/ManageTag/ManageTag.test.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.test.tsx
  src/screens/SubTags/SubTags.tsx
  src/utils/organizationTagsUtils.ts
Due: eslint --fix, prettier --write

add ts-doc
  src/GraphQl/Queries/userTagQueries.ts
  src/screens/ManageTag/ManageTag.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
Due: eslint --fix, prettier --write

Updated package.json
  package-lock.json
Due: prettier --write

Added optional name and value attributes
  src/screens/OrganizationPeople/AddMember.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
Due: eslint --fix, prettier --write

feat: add subTags UI (GSoC) (#2196)
  src/App.tsx
  src/GraphQl/Queries/userTagQueries.ts
  src/screens/ManageTag/ManageTag.module.css
  src/screens/ManageTag/ManageTag.test.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/SubTags/SubTags.module.css
  src/screens/SubTags/SubTags.test.tsx
  src/screens/SubTags/SubTags.tsx
  src/screens/SubTags/SubTagsMocks.ts
  src/utils/interfaces.ts
  src/utils/organizationTagsUtils.ts
Due: eslint --fix, prettier --write

added comments
  src/components/UpdateSession/UpdateSession.tsx
  src/utils/useSession.tsx
Due: eslint --fix, prettier --write

Fixed errors
  src/screens/SubTags/SubTags.tsx
Due: eslint --fix, prettier --write

fixed the donation_field_Bug
  public/locales/en/translation.json
  src/screens/UserPortal/Donate/Donate.tsx
  src/utils/StaticMockLink.ts
Due: eslint --fix, prettier --write

fix the donate input bug
  public/locales/en/translation.json
  src/screens/UserPortal/Donate/Donate.tsx
Due: eslint --fix, prettier --write

pdfme upgraded
  package-lock.json
  package.json
  src/components/CheckIn/tagTemplate.ts
Due: eslint --fix, prettier --write

add the tests
  src/screens/UserPortal/Donate/Donate.test.tsx
Due: eslint --fix, prettier --write

fix the test
  src/screens/UserPortal/Donate/Donate.test.tsx
Due: eslint --fix, prettier --write

test clear of donate
  src/screens/UserPortal/Donate/Donate.test.tsx
Due: eslint --fix, prettier --write

prettier check
  src/screens/UserPortal/Donate/Donate.test.tsx
Due: eslint --fix, prettier --write

Upgrade @testing-library/jest-dom to 6.4.2
  package-lock.json
  package.json
Due: prettier --write

Upgrade @testing-library/jest-dom to 6.4.2
  src/utils/StaticMockLink.ts
Due: eslint --fix, prettier --write

Upgrade @testing-library/jest-dom to 6.4.2
  package-lock.json
Due: prettier --write

added translation for other languages
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
Due: prettier --write

updated eslint-jest to v28.6.0
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

updated eslint-plugin-jest to v28.6.0
  package-lock.json
  package.json
Due: prettier --write

Upgrade @testing-library/jest-dom from 5.16.5 to 6.4.2 (#2220)
  package-lock.json
  package.json
Due: prettier --write
