Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

style: fix indentation for all multi-line test blocks
  src/components/TagActions/TagActions.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: revert to single-line test format for Prettier
  src/components/TagActions/TagActions.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: shorten test names to fit 80 char limit
  src/components/TagActions/TagActions.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

refactor: rename InterfaceQueryOrganizationUserTags to InterfaceQueryOrganizationTags
  src/utils/interfaces.ts
  src/utils/organizationTagsUtils.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: fix JSDoc typo in REMOVE_USER_TAG
  src/GraphQl/Mutations/TagMutations.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update .prettierignore
  .prettierignore
Due: none

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: prettier --write

chore(deps): upgrade vite from 6.3.5 to 7.1.12
  package.json
Due: prettier --write

fix(docs): addded caching
  .github/workflows/pull-request.yml
Due: prettier --write

fix(docs): addded npm ci
  .github/workflows/pull-request.yml
Due: prettier --write

fix: correct variable names and remove invalid variables from mocks
  src/screens/UserPortal/Events/Events.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: update auto-generated documentation after removing ORGANIZATION_EVENTS_CONNECTION query
  docs/docs/auto-docs/GraphQl/Queries/PlugInQueries/variables/CHATS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/PlugInQueries/variables/CHAT_BY_ID.md
  docs/docs/auto-docs/GraphQl/Queries/PlugInQueries/variables/GROUP_CHAT_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/PlugInQueries/variables/IS_SAMPLE_ORGANIZATION_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/PlugInQueries/variables/ORGANIZATION_EVENTS_CONNECTION.md
  docs/docs/auto-docs/GraphQl/Queries/PlugInQueries/variables/UNREAD_CHAT_LIST.md
Due: none

test: improve code coverage for Events.tsx to achieve 100% coverage
  src/GraphQl/Queries/PlugInQueries.ts
  src/GraphQl/Queries/Queries.ts
  src/screens/UserPortal/Events/Events.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: add comprehensive JSDoc documentation to Events test file
  src/screens/UserPortal/Events/Events.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: add assertion for console.warn in rate limit test
  src/screens/UserPortal/Events/Events.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: update rate limit test to filter Apollo warnings
  src/screens/UserPortal/Events/Events.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: format Events.spec.tsx with prettier
  src/screens/UserPortal/Events/Events.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: cr-improvements
  src/setup/askAndUpdatePort/askAndUpdatePort.ts
  src/setup/setup.spec.ts
  src/setup/updateEnvFile/updateEnvFile.spec.ts
  src/setup/updateEnvFile/updateEnvFile.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: cr-improvements
  src/setup/setup.spec.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: Resolve #4588 - Implement Unified Toast Notification System with Consistent Styling and Actions
  cypress/support/commands.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: cr-improvements
  src/setup/updateEnvFile/updateEnvFile.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: updated overflowing text of post admin
  scripts/githooks/check_pom.js
  src/components/OrgPostCard/OrgPostCard.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

[GSoC-25] : Created Notification Dashboard for admins . (#4013)
  docs/docs/auto-docs/App/functions/default.md
  docs/docs/auto-docs/GraphQl/Queries/NotificationQueries/variables/GET_USER_NOTIFICATIONS.md
  docs/docs/auto-docs/GraphQl/Queries/NotificationQueries/variables/MARK_NOTIFICATION_AS_READ.md
  docs/docs/auto-docs/components/NotificationIcon/NotificationIcon/functions/default.md
  docs/docs/auto-docs/components/SuperAdminScreen/SuperAdminScreen/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserNavbar/UserNavbar/functions/default.md
  docs/docs/auto-docs/screens/Notification/Notification/variables/default.md
  docs/docs/auto-docs/screens/OrgList/OrgList/functions/default.md
  docs/docs/auto-docs/screens/OrgList/OrgListMocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/OrgList/OrgListMocks/variables/MOCKS_ADMIN.md
  docs/docs/auto-docs/screens/OrgList/OrgListMocks/variables/MOCKS_EMPTY.md
  docs/docs/auto-docs/screens/OrgList/OrgListMocks/variables/MOCKS_WITH_ERROR.md
  docs/docs/auto-docs/screens/UserPortal/UserScreen/UserScreen/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/App.tsx
  src/GraphQl/Queries/NotificationQueries.ts
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/NotificationIcon/NotificationIcon.module.css
  src/components/NotificationIcon/NotificationIcon.spec.tsx
  src/components/NotificationIcon/NotificationIcon.tsx
  src/components/SuperAdminScreen/SuperAdminScreen.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/screens/Notification/Notification.module.css
  src/screens/Notification/Notification.spec.tsx
  src/screens/Notification/Notification.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgList/OrgListMocks.ts
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: conflict
  docs/docs/auto-docs/App/functions/default.md
Due: none

fix: failing tests
  .github/workflows/pull-request.yml
Due: prettier --write

fix: updated tests
  src/components/OrgPostCard/OrgPostCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: tests
  .github/workflows/pull-request.yml
Due: prettier --write

fix: cr-improvements
  src/setup/askForDocker/askForDocker.spec.ts
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.spec.ts
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Add security fix for unexpected volunteer status
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix coverage issue
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix syntax error in volunteer status filtering
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test: fix rejected status filtering test
  src/screens/EventVolunteers/Volunteers/Volunteers.mocks.ts
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

improve test coverage for volunteers component
  src/screens/EventVolunteers/Volunteers/Volunteers.mocks.ts
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write
