Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

remove TextField form LoginPage
  docs/docs/auto-docs/screens/LoginPage/LoginPage/functions/default.md
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix coderabbit suggestions
  public/locales/fr/translation.json
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: fix sidebar mocks and cleanup styles
  src/components/AdminPortal/OrgAdminListCard/OrgAdminListCard.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.module.css
  src/shared-components/SidebarOrgSection/SidebarOrgSection.tsx
  src/shared-components/SidebarPluginSection/SidebarPluginSection.module.css
  src/shared-components/SidebarPluginSection/SidebarPluginSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: restore app-fixed.module.css from upstream
  src/style/app-fixed.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: move SidebarOrgSection types and restore focus-visible
  docs/docs/auto-docs/shared-components/SidebarOrgSection/SidebarOrgSection/functions/default.md
  docs/docs/auto-docs/types/SidebarOrgSection/interface/interfaces/ISidebarOrgSectionProps.md
  docs/docs/auto-docs/types/shared-components/SidebarOrgSection/interface/interfaces/ISidebarOrgSectionProps.md
  src/shared-components/SidebarOrgSection/SidebarOrgSection.module.css
  src/shared-components/SidebarOrgSection/SidebarOrgSection.spec.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.tsx
  src/types/SidebarOrgSection/interface.ts
  src/types/shared-components/SidebarOrgSection/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Resolve css regression and restore styling (#6674)
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/functions/default.md
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/interfaces/ILeftDrawerProps.md
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/interfaces/InterfaceUserSidebarProps.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/interfaces/InterfaceUserSidebarOrgProps.md
  docs/docs/auto-docs/shared-components/SidebarOrgSection/SidebarOrgSection/functions/default.md
  docs/docs/auto-docs/shared-components/SidebarPluginSection/SidebarPluginSection/functions/default.md
  docs/docs/auto-docs/types/SidebarOrgSection/interface/interfaces/ISidebarOrgSectionProps.md
  docs/docs/auto-docs/types/shared-components/SidebarOrgSection/interface/interfaces/ISidebarOrgSectionProps.md
  src/components/AdminPortal/OrgAdminListCard/OrgAdminListCard.spec.tsx
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.module.css
  src/components/LeftDrawer/LeftDrawer.module.css
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/shared-components/SidebarBase/SidebarBase.module.css
  src/shared-components/SidebarBase/SidebarBase.spec.tsx
  src/shared-components/SidebarBase/SidebarBase.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.module.css
  src/shared-components/SidebarOrgSection/SidebarOrgSection.spec.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.tsx
  src/shared-components/SidebarPluginSection/SidebarPluginSection.module.css
  src/shared-components/SidebarPluginSection/SidebarPluginSection.spec.tsx
  src/shared-components/SidebarPluginSection/SidebarPluginSection.tsx
  src/types/SidebarOrgSection/interface.ts
  src/types/shared-components/SidebarOrgSection/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: issues
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
  src/components/AdminPortal/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.spec.tsx
  src/components/DynamicDropDown/DynamicDropDown.spec.tsx
  src/components/MemberActivity/Modal/EventsAttendedMemberModal.spec.tsx
  src/components/OrganizationDashCards/CardItem/CardItem.spec.tsx
  src/components/Pagination/PaginationList/PaginationList.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: add DataTable utils tests and update pagination tests to use userEvent
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/shared-components/DataTable/DataTable.pagination.spec.tsx
  src/shared-components/DataTable/Pagination.spec.tsx
  src/shared-components/DataTable/utils.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve ESLint errors in utils.spec.ts - Use dayjs for dynamic dates instead of hardcoded date strings - Rename TestRow interface to ITestRow to match naming convention
  src/shared-components/DataTable/utils.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: add afterEach mock cleanup for test isolation
  src/shared-components/DataTable/utils.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor: move language dropdown styling to its own module and add translation
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add avatar processing errors and refine language dropdown button hover styles
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/ChangeLanguageDropdown/ChangeLanguageDropDown.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: refactoring screens to use FormFieldGroup[1/4]
  docs/docs/auto-docs/screens/AdminPortal/CommunityProfile/CommunityProfile/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/functions/areOptionsEqual.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/functions/getMemberLabel.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/interfaces/InterfacePledgeModal.md
  docs/docs/auto-docs/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/functions/areOptionsEqual.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/functions/getMemberName.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/interfaces/InterfaceVolunteerGroupModal.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal/interfaces/InterfaceVolunteerGroupViewModal.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal/interfaces/InterfaceVolunteerCreateModal.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal/variables/default.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal/interfaces/InterfaceVolunteerViewModal.md
  docs/docs/auto-docs/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal/variables/default.md
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
  src/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.spec.tsx
  src/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.tsx
  src/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal.tsx
  src/screens/EventVolunteers/Volunteers/viewModal/VolunteerViewModal.tsx
  src/screens/ForgotPassword/ForgotPassword.spec.tsx
  src/screens/ForgotPassword/ForgotPassword.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed a spelling mistake and added translation in translations.json files
  docs/docs/auto-docs/screens/AdminPortal/CommunityProfile/CommunityProfile/functions/default.md
  docs/docs/auto-docs/screens/ForgotPassword/ForgotPassword/functions/default.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.module.css
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/viewModal/VolunteerGroupViewModal.tsx
  src/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.spec.tsx
  src/screens/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.tsx
  src/screens/EventVolunteers/Volunteers/deleteModal/VolunteerDeleteModal.tsx
  src/screens/ForgotPassword/ForgotPassword.spec.tsx
  src/screens/ForgotPassword/ForgotPassword.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: test
  .husky/pre-commit
Due: none

chore: test
  src/shared-components/ProfileForm/ProfileForm.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added cr suggestions
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/shared-components/OrganizationCard/OrganizationCard.module.css
  src/shared-components/SidebarOrgSection/SidebarOrgSection.module.css
  src/shared-components/SidebarOrgSection/SidebarOrgSection.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed cr suggestions
  src/components/AdminPortal/EventManagement/Dashboard/EventDashboard.spec.tsx
  src/components/EventDashboardScreen/EventDashboardScreen.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

ci: add shellcheck validation for shell scripts
  .github/workflows/pull-request.yml
  .husky/scripts/fetch-verified.sh
Due: eslint --fix, prettier --write

fix: added more translations and FormFieldGroup changes
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/IFormTextFieldProps.md
  docs/docs/auto-docs/types/FormFieldGroup/interface/interfaces/InterfaceFormFieldGroupProps.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/InterfaceFormCheckFieldProps.md
  docs/docs/auto-docs/types/shared-components/FormFieldGroup/interface/interfaces/InterfaceFormSelectFieldProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/AdminPortal/FundCampaignPledge/modal/PledgeModal.tsx
  src/shared-components/FormFieldGroup/FormFieldGroup.tsx
  src/shared-components/FormFieldGroup/FormTextField.tsx
  src/types/FormFieldGroup/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Added hasWarnedRenderRowSelectableRef and hasWarnedRenderRowActionsRef to track whether warnings have been shown, preventing console spam on re-renders
  src/shared-components/DataTable/DataTable.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added more tests in UserContactDetails and removed use of fireEvent
  src/screens/MemberDetail/UserContactDetails.spec.tsx
  src/screens/MemberDetail/mock.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: move NotificationToast to shared-components
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/variables/NotificationToast.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/interfaces/InterfaceNotificationToastHelpers.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/interfaces/InterfaceNotificationToastI18nMessage.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/type-aliases/NotificationToastContainerProps.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/type-aliases/NotificationToastMessage.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/type-aliases/NotificationToastNamespace.md
  eslint.config.js
  src/shared-components/NotificationToast/NotificationToast.spec.tsx
  src/shared-components/NotificationToast/NotificationToast.tsx
  src/shared-components/NotificationToast/index.ts
  src/types/shared-components/NotificationToast/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: add unit test for NotificationToast.dismiss method
  src/shared-components/NotificationToast/NotificationToast.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: move vi.clearAllMocks to module scope for test isolation
  src/shared-components/NotificationToast/NotificationToast.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: remove barrel export to fix Knip CI
  src/shared-components/NotificationToast/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore: apply prettier formatting after rebase (excluding files with pre-existing TSDoc errors)
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/shared-components/NotificationToast/NotificationToast.spec.tsx
  src/shared-components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: add TSDoc tags to showToast function
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/variables/NotificationToast.md
  src/shared-components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update NotificationToast mock path in UserPortalNavigationBar test
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: regenerate documentation after adding TSDoc tags
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/variables/NotificationToast.md
Due: none

chore: remove old NotificationToast types from types directory
  src/types/NotificationToast/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

refactor: replace old NotificationToast with re-export
  src/components/NotificationToast/NotificationToast.spec.tsx
  src/components/NotificationToast/NotificationToast.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add promise method to NotificationToast for API compatibility
  src/shared-components/NotificationToast/NotificationToast.tsx
  src/types/shared-components/NotificationToast/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: regenerate documentation after adding promise method and removing old files
  docs/docs/auto-docs/components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/components/NotificationToast/NotificationToast/variables/NotificationToast.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/functions/NotificationToastContainer.md
  docs/docs/auto-docs/shared-components/NotificationToast/NotificationToast/variables/NotificationToast.md
  docs/docs/auto-docs/types/NotificationToast/interface/interfaces/InterfaceNotificationToastHelpers.md
  docs/docs/auto-docs/types/NotificationToast/interface/interfaces/InterfaceNotificationToastI18nMessage.md
  docs/docs/auto-docs/types/NotificationToast/interface/interfaces/InterfacePromiseMessages.md
  docs/docs/auto-docs/types/NotificationToast/interface/type-aliases/NotificationToastContainerProps.md
  docs/docs/auto-docs/types/NotificationToast/interface/type-aliases/NotificationToastMessage.md
  docs/docs/auto-docs/types/NotificationToast/interface/type-aliases/NotificationToastNamespace.md
  docs/docs/auto-docs/types/NotificationToast/interface/type-aliases/PromiseFunction.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/interfaces/InterfaceNotificationToastHelpers.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/interfaces/InterfacePromiseMessages.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/type-aliases/NotificationToastContainerProps.md
  docs/docs/auto-docs/types/shared-components/NotificationToast/interface/type-aliases/PromiseFunction.md
Due: none

test: add coverage for NotificationToast.promise
  src/shared-components/NotificationToast/NotificationToast.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
