Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(install): use fileURLToPath for entry point detection
  docs/docs/auto-docs/install/functions/main.md
  src/install/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(install): align installer messaging and docker checker tests
  src/install/utils/checker.spec.ts
  src/install/utils/checkers/docker.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

chore(build): enforce strict error handling in windows install scripts
  scripts/install.ps1
Due: none

chore(test): remove node+fnm+git installation remnants from code and test files
  docs/docs/auto-docs/install/os/linux/functions/installDocker.md
  docs/docs/auto-docs/install/os/linux/functions/installTypeScript.md
  docs/docs/auto-docs/install/os/macos/functions/installDocker.md
  docs/docs/auto-docs/install/os/macos/functions/installTypeScript.md
  docs/docs/auto-docs/install/os/windows/functions/installDocker.md
  docs/docs/auto-docs/install/os/windows/functions/installTypeScript.md
  docs/docs/auto-docs/install/types/type-aliases/PackageName.md
  docs/docs/auto-docs/install/utils/checker/functions/checkPackage.md
  src/install/index.spec.ts
  src/install/index.ts
  src/install/os/linux.ts
  src/install/os/macos.spec.ts
  src/install/os/macos.ts
  src/install/os/windows.spec.ts
  src/install/os/windows.ts
  src/install/packages/index.ts
  src/install/types.ts
  src/install/utils/checker.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(install): remove bloat code
  src/install/index.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: translation errors
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: implement coderabbitai suggestion
  src/shared-components/DataTable/DataTable.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs(installation): redirect Windows users to manual installation
  docs/docs/docs/getting-started/installation.md
Due: none

fix: correct translation key in LoginPage test (emailInvalid)
  docs/docs/auto-docs/screens/Public/Invitation/AcceptInvitation/functions/default.md
  src/screens/LoginPage/LoginPage.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: remove duplicate translation keys in locale files
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
Due: prettier --write

feat: add empty and error states with skeleton row loading to DataTable (#5951)
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/shared-components/DataTable/DataTable.spec.tsx
  src/shared-components/DataTable/DataTable.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add PasswordField component for LoginPage Phase 2 (#5946)
  docs/docs/auto-docs/components/Auth/PasswordField/PasswordField/variables/PasswordField.md
  docs/docs/auto-docs/types/Auth/PasswordField/interface/interfaces/InterfacePasswordFieldProps.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/Auth/PasswordField/PasswordField.spec.tsx
  src/components/Auth/PasswordField/PasswordField.tsx
  src/types/Auth/PasswordField/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: Address CodeRabbit review suggestions
  src/components/StatusBadge/StatusBadge.spec.tsx
  src/components/StatusBadge/StatusBadge.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add OrgSelector component for LoginPage Phase 2
  docs/docs/auto-docs/components/Auth/OrgSelector/OrgSelector/variables/OrgSelector.md
  docs/docs/auto-docs/types/Auth/OrgSelector/interface/interfaces/InterfaceOrgOption.md
  docs/docs/auto-docs/types/Auth/OrgSelector/interface/interfaces/InterfaceOrgSelectorProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Auth/OrgSelector/OrgSelector.spec.tsx
  src/components/Auth/OrgSelector/OrgSelector.tsx
  src/types/Auth/OrgSelector/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: enhance OrgSelector with search and accessibility
  docs/docs/auto-docs/components/Auth/OrgSelector/OrgSelector/variables/OrgSelector.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Auth/OrgSelector/OrgSelector.spec.tsx
  src/components/Auth/OrgSelector/OrgSelector.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(admin-portal): move admin screens to src/screens/AdminPortal
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/App.tsx
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.spec.tsx
  src/screens/AdminPortal/CommunityProfile/CommunityProfile.tsx
  src/screens/AdminPortal/MemberDetail/MemberDetail.module.css
  src/screens/AdminPortal/MemberDetail/MemberDetail.spec.tsx
  src/screens/AdminPortal/MemberDetail/MemberDetail.tsx
  src/screens/AdminPortal/MemberDetail/MemberDetailMocks.ts
  src/screens/AdminPortal/Notification/Notification.module.css
  src/screens/AdminPortal/Notification/Notification.spec.tsx
  src/screens/AdminPortal/Notification/Notification.tsx
  src/screens/AdminPortal/OrgList/OrgList.module.css
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrgList/OrgListMocks.ts
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
  src/screens/AdminPortal/Users/Organization.mocks.ts
  src/screens/AdminPortal/Users/User.mocks.ts
  src/screens/AdminPortal/Users/Users.spec.tsx
  src/screens/AdminPortal/Users/Users.tsx
  src/screens/AdminPortal/Users/UsersMocks.mocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: finalize OrgSelector accessibility, coverage and styles
  src/components/Auth/OrgSelector/OrgSelector.spec.tsx
  src/components/Auth/OrgSelector/OrgSelector.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test(OrgSelector): address review comments
  src/components/Auth/OrgSelector/OrgSelector.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: restored sensitive-files
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

test: improve coverage for UserListCard and OrgUpdate
  src/components/OrgSettings/General/OrgUpdate/OrgUpdate.spec.tsx
  src/components/UserListCard/UserListCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat(Auth): add OrgSelector component for LoginPage Phase 2 (#5952)
  docs/docs/auto-docs/components/Auth/OrgSelector/OrgSelector/variables/OrgSelector.md
  docs/docs/auto-docs/types/Auth/OrgSelector/interface/interfaces/InterfaceOrgOption.md
  docs/docs/auto-docs/types/Auth/OrgSelector/interface/interfaces/InterfaceOrgSelectorProps.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/Auth/OrgSelector/OrgSelector.spec.tsx
  src/components/Auth/OrgSelector/OrgSelector.tsx
  src/style/app-fixed.module.css
  src/types/Auth/OrgSelector/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Add mock entry for small PR in README
  README.md
Due: none

fix: Address linting issues
  src/components/StatusBadge/StatusBadge.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: resolve merge conflicts with upstream develop
  docs/docs/auto-docs/screens/ManageTag/ManageTag/functions/default.md
  docs/docs/auto-docs/screens/ManageTag/ManageTag/functions/getManageTagErrorMessage.md
  docs/docs/auto-docs/screens/OrgList/OrgList/functions/default.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/screens/BlockUser/BlockUser.spec.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
  src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing translation keys and minor fixes
  docs/docs/auto-docs/screens/OrganizationPeople/OrganizationPeople/functions/default.md
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/OrgList/OrgList.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore(i18n, test): add missing i18n locales and fix failing tests
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/functions/getLanguageName.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/MemberDetail/functions/prettyDate.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/MemberDetail/MemberDetail.module.css
  src/screens/AdminPortal/MemberDetail/MemberDetail.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: improve GraphQL errors test for UserListCard
  src/components/UserListCard/UserListCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing translation keys and resolve coderabbit suggestions
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/screens/ManageTag/ManageTag.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/Users/Users.spec.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor: extract pledge DataGrid column definitions to a separate utility file
  docs/docs/auto-docs/screens/FundCampaignPledge/FundCampaignPledge/functions/default.md
  docs/docs/auto-docs/screens/FundCampaignPledge/PledgeColumns/functions/getPledgeColumns.md
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgeColumns.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: code coverage
  src/components/UserListCard/UserListCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Add unit tests and update documentation for the function.
  docs/docs/auto-docs/screens/FundCampaignPledge/PledgeColumns/functions/getPledgeColumns.md
  src/screens/FundCampaignPledge/PledgeColumns.spec.tsx
  src/screens/FundCampaignPledge/PledgeColumns.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(settings): integrate ProfileAvatarDisplay for user avatars
  .gitignore
  pnpm-lock.yaml
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/components/UserProfileSettings/UserProfile.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.spec.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Update to accept keyboard events and remove unnecessary type cast.
  docs/docs/auto-docs/screens/FundCampaignPledge/PledgeColumns/functions/getPledgeColumns.md
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgeColumns.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address CodeRabbit review comments
  src/components/UserListCard/UserListCard.tsx
  src/screens/Public/Invitation/AcceptInvitation.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
