Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{ts,tsx,css}": ["pnpm exec tsx scripts/check-css-imports.js --files"]
}

Streamlined developer documentation sidebar 1771650918
  docs/docs/docs/developer-resources/testing/testing.md
Due: none

Streamlined developer documentation sidebar (#7415)
  CONTRIBUTING.md
  cypress/README.md
  docs/docs/docs/developer-resources/empty-state-migration.md
  docs/docs/docs/developer-resources/features/minio.md
  docs/docs/docs/developer-resources/features/plugin-graphql.md
  docs/docs/docs/developer-resources/features/plugin.md
  docs/docs/docs/developer-resources/general/contributing.md
  docs/docs/docs/developer-resources/general/design-token-system.md
  docs/docs/docs/developer-resources/general/introduction.md
  docs/docs/docs/developer-resources/general/linting.md
  docs/docs/docs/developer-resources/general/reusable-components.md
  docs/docs/docs/developer-resources/general/security.md
  docs/docs/docs/developer-resources/general/troubleshooting.md
  docs/docs/docs/developer-resources/installation.md
  docs/docs/docs/developer-resources/operation.md
  docs/docs/docs/developer-resources/shared-components/actionitems-components.md
  docs/docs/docs/developer-resources/shared-components/crud-modal-template.md
  docs/docs/docs/developer-resources/shared-components/data-grid-wrapper.md
  docs/docs/docs/developer-resources/shared-components/dropdown-button-api.md
  docs/docs/docs/developer-resources/shared-components/tables.md
  docs/docs/docs/developer-resources/testing/e2e-testing.md
  docs/docs/docs/developer-resources/testing/testing.md
  docs/sidebars.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: added tests for UserPortalNavigationBarMocks.ts
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

chore: extract shared autocomplete and externalize styles
  docs/docs/auto-docs/shared-components/Autocomplete/Autocomplete/functions/Autocomplete.md
  docs/docs/auto-docs/types/shared-components/Autocomplete/interface/interfaces/IAutocompleteProps.md
  scripts/eslint/config/exemptions.js
  scripts/eslint/rules/imports.js
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.module.css
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
  src/shared-components/Autocomplete/Autocomplete.spec.tsx
  src/shared-components/Autocomplete/Autocomplete.tsx
  src/shared-components/Autocomplete/index.ts
  src/types/shared-components/Autocomplete/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: change the datatestid to avoid duplicacy
  src/shared-components/Autocomplete/Autocomplete.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

chore: implement code rabbit suggestions
  docs/docs/auto-docs/shared-components/Autocomplete/Autocomplete/functions/Autocomplete.md
  docs/docs/auto-docs/types/shared-components/Autocomplete/interface/interfaces/IAutocompleteProps.md
  scripts/eslint/rules/imports.js
  src/shared-components/Autocomplete/Autocomplete.spec.tsx
  src/shared-components/Autocomplete/Autocomplete.tsx
  src/shared-components/Autocomplete/index.ts
  src/types/shared-components/Autocomplete/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

chore: implement code rabbit suggestions attempt two
  src/shared-components/Autocomplete/Autocomplete.spec.tsx
  src/shared-components/Autocomplete/Autocomplete.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: correct undefined translation key in navigation mocks
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: apply CodeRabbit review fixes
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed the overall UI
  src/shared-components/SearchBar/SearchBar.module.css
  src/shared-components/SidebarBase/SidebarBase.module.css
  src/shared-components/SidebarNavItem/SidebarNavItem.module.css
  src/shared-components/posts/createPostModal/createPostModal.module.css
  src/style/tokens/spacing.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

replaced rgba with color css token
  src/shared-components/SearchBar/SearchBar.module.css
  src/shared-components/SidebarBase/SidebarBase.module.css
  src/shared-components/posts/createPostModal/createPostModal.module.css
  src/style/tokens/colors.css
  src/style/tokens/spacing.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

fixed shard 8
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

addressed CR issues,fixed E2E test error
  src/shared-components/SearchBar/SearchBar.module.css
  src/shared-components/SidebarBase/SidebarBase.module.css
  src/shared-components/posts/createPostModal/createPostModal.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

fixed race condition
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

cleanup
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

migrated leftout css to use token css
  src/shared-components/SidebarBase/SidebarBase.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

lowered the top margin of sidebar footer so that post is visible
  src/shared-components/SidebarBase/SidebarBase.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

fixed the ui in userportal
  src/components/EventCalender/Header/EventHeader.module.css
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/shared-components/SidebarBase/SidebarBase.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

removed test flakyness
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

removed unnecessary color token
  src/style/tokens/colors.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

chore: implement code rabbit suggestions attempt three
  src/shared-components/Autocomplete/Autocomplete.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: add fallback icon assertion
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed shard 4 and 12
  src/components/AdminPortal/AgendaFolder/Create/AgendaFolderCreateModal.spec.tsx
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: apply architectural and structural testing fixes
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: implement structural assertions for logoutErrorMock
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: null guards in fallback icon test
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBarMocks.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

used existing color token
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

used token css for remaining ActionItemModal css
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

Created 'Getting Started' folder
  docs/docs/docs/developer-resources/getting-started/contributing.md
  docs/docs/docs/developer-resources/getting-started/design-token-system.md
  docs/docs/docs/developer-resources/getting-started/introduction.md
  docs/docs/docs/developer-resources/getting-started/linting.md
  docs/docs/docs/developer-resources/getting-started/reusable-components.md
  docs/docs/docs/developer-resources/getting-started/security.md
  docs/docs/docs/developer-resources/getting-started/troubleshooting.md
  docs/sidebars.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Created 'Getting Started' folder
  CONTRIBUTING.md
Due: none

fix(precommit): replace hardcoded SHA with auto fetch (#7128)
  .husky/scripts/fetch-verified.sh
  .husky/scripts/precommit-python.sh
Due: none

Fix/translation lint enforcement 5959 (#7364)
  .github/workflows/scripts/translation_check.py
Due: none

Created 'Getting Started' folder 1771679667
  docs/docs/docs/developer-resources/shared-components/crud-modal-template.md
  docs/docs/docs/developer-resources/shared-components/data-grid-wrapper.md
Due: none

Add shebang to translation_check.py
  .github/workflows/scripts/translation_check.py
Due: none

Add shebang to compare_translations.py
  .github/workflows/scripts/compare_translations.py
Due: none

CR changes
  src/components/AdminPortal/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/AdminPortal/AgendaFolder/Create/AgendaFolderCreateModal.spec.tsx
  src/components/EventCalender/Header/EventHeader.module.css
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/shared-components/SidebarBase/SidebarBase.module.css
  src/style/tokens/colors.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Created 'Getting Started' folder (#7417)
  CONTRIBUTING.md
  docs/docs/docs/developer-resources/getting-started/contributing.md
  docs/docs/docs/developer-resources/getting-started/design-token-system.md
  docs/docs/docs/developer-resources/getting-started/introduction.md
  docs/docs/docs/developer-resources/getting-started/linting.md
  docs/docs/docs/developer-resources/getting-started/reusable-components.md
  docs/docs/docs/developer-resources/getting-started/security.md
  docs/docs/docs/developer-resources/getting-started/troubleshooting.md
  docs/docs/docs/developer-resources/shared-components/crud-modal-template.md
  docs/docs/docs/developer-resources/shared-components/data-grid-wrapper.md
  docs/sidebars.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Added the installation of the ripgrep package
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write
