Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fix: fixed some suggestions by coderabbit
  src/components/Venues/Modal/VenueModal.spec.tsx
  src/components/Venues/Modal/VenueModal.tsx
  src/screens/AdminPortal/ManageTag/ManageTag.spec.tsx
  src/screens/AdminPortal/ManageTag/ManageTag.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

style: format UserListCard to satisfy Prettier
  src/components/UserListCard/UserListCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: added test for validate-tokens
  scripts/validate-tokens.ts
  src/test-utils/validate-tokens.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

implemented coderabbit suggestions
  .env.example
  cypress/pageObjects/auth/LoginPage.ts
  cypress/support/commands.ts
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

increased test coverage
  src/screens/LoginPage/LoginPage.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed reCaptcha
  cypress.config.ts
  cypress/pageObjects/auth/LoginPage.ts
  cypress/support/commands.ts
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/ACCEPT_EVENT_INVITATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/ADD_ADMIN_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_MEMBER_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_ORGANIZATION_MEMBERSHIP_MUTATION_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_ORGANIZATION_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_ORGANIZATION_MUTATION_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_POST_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/DELETE_ORGANIZATION_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/DELETE_POST_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/DONATE_TO_ORGANIZATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/FORGOT_PASSWORD_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/GENERATE_OTP_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/GET_FILE_PRESIGNEDURL.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/LOGOUT_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/PRESIGNED_URL.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/RECAPTCHA_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REFRESH_TOKEN_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REMOVE_ADMIN_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REMOVE_MEMBER_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REMOVE_MEMBER_MUTATION_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/RESET_COMMUNITY.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REVOKE_REFRESH_TOKEN.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/SEND_EVENT_INVITATIONS.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_COMMUNITY_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_EVENT_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_POST_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_POST_VOTE.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_SESSION_TIMEOUT_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/VERIFY_EVENT_INVITATION.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/LoginPage/functions/default.md
  src/GraphQl/Mutations/mutations.ts
  src/GraphQl/Queries/Queries.ts
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: address CodeRabbit critical issues
  docs/docs/auto-docs/screens/AdminPortal/Users/Users/functions/default.md
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/AdminPortal/Users/Users.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

resolved conflicts
  src/screens/LoginPage/LoginPage.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(user-portal): migrate EmptyState, update tests, i18n, a11y, docs, and CSS cleanup
  docs/docs/auto-docs/Volunteers/functions/default.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/VolunteerGroups/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/Campaigns/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents/functions/default.md
  docs/docs/docs/developer-resources/empty-state-migration.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve coderabbit suggestions
  cypress/pageObjects/AdminPortal/PeoplePage.ts
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/ManageTag/ManageTag/functions/getManageTagErrorMessage.md
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
  docs/docs/auto-docs/screens/AdminPortal/Users/Users/functions/default.md
  docs/docs/auto-docs/screens/ManageTag/ManageTag/functions/default.md
  docs/docs/auto-docs/screens/ManageTag/ManageTag/functions/getManageTagErrorMessage.md
  docs/docs/auto-docs/screens/OrganizationPeople/OrganizationPeople/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: update OrganizationPeople documentation
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/OrganizationPeople/functions/default.md
Due: none

test: adding tests for better code coverage
  src/screens/AdminPortal/PluginStore/PluginModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: e2e failing test
  cypress/pageObjects/AdminPortal/PeoplePage.ts
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: made the changes
  src/test-utils/validate-tokens.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix(os tests): fix failing tests due to docker installation change
  src/install/os/linux.spec.ts
  src/install/os/macos.spec.ts
  src/install/os/windows.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: e2e failing test fix v3
  cypress/pageObjects/AdminPortal/PeoplePage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

removed hardcoded sleep values
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix: failing e2e test v4
  cypress/pageObjects/AdminPortal/PeoplePage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

implemented copilot suggestions
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix: updated translation errors
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/functions/default.md
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/variables/MessageImage.md
  docs/docs/auto-docs/components/UserPortal/CreateGroupChat/CreateGroupChat/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: testing empty path
  src/test-utils/validate-tokens.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: updated translation errors
  docs/docs/auto-docs/components/SecuredRoute/SecuredRoute/functions/default.md
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/functions/default.md
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/variables/MessageImage.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/SecuredRoute/SecuredRoute.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/types/Event/type.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: tests updated and improved a11y
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: some fixes suggested by coderabbit
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  typescript
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added tail 100 to postgress
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix: updated testing errors
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/functions/default.md
  docs/docs/auto-docs/components/UserPortal/ChatRoom/ChatRoom/variables/MessageImage.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/SecuredRoute/securedRoute.spec.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: prettier formatting in eslint.config.js
  eslint.config.js
Due: none

fix: some fixes suggested by coderabbit
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing locale and fix tests
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: enhance logout functionality
  docs/docs/auto-docs/components/UserPortal/UserNavbar/UserNavbar/functions/default.md
  src/components/ProfileDropdown/ProfileDropdown.spec.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.spec.tsx
  src/utils/useSession.spec.tsx
  src/utils/useSession.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated translation errorrs
  public/locales/zh/translation.json
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(user-portal): migrate EmptyState for user portal screens (#5126) (#6085)
  docs/docs/auto-docs/Volunteers/functions/default.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/VolunteerGroups/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Campaigns/Campaigns/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents/functions/default.md
  docs/docs/docs/developer-resources/empty-state-migration.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.spec.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/screens/UserPortal/Campaigns/Campaigns.spec.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add toast notification for logout errors
  docs/docs/auto-docs/utils/useSession/functions/default.md
  eslint.config.js
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/utils/useSession.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: cr suggestions fixed
  public/locales/zh/translation.json
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed linting errors
  pnpm-lock.yaml
Due: none

feat: add security guidelines documentation
  README.md
  docs/security.md
  eslint.config.js
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: added test for validate-tokens (#6082)
  scripts/validate-tokens.ts
  src/test-utils/validate-tokens.test.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts
