Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write"
}

add error component for tagNode subtags query
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/components/TagActions/TagActions.test.tsx
  src/components/TagActions/TagActionsMocks.ts
  src/components/TagActions/TagNode.tsx
Due: eslint --fix, prettier --write

fix translation
  public/locales/fr/translation.json
Due: prettier --write

remove unused css classes
  src/components/AddPeopleToTag/AddPeopleToTag.module.css
  src/components/InfiniteScrollLoader/InfiniteScrollLoader.module.css
  src/components/TagActions/TagActions.module.css
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagNode.tsx
Due: eslint --fix, prettier --write

Fixed scripts for websocketurl
  setup.ts
  src/setup/askForTalawaWebSocketUrl/askForTalawaWebSocketUrl.test.ts
  src/setup/askForTalawaWebSocketUrl/askForTalawaWebSocketUrl.ts
Due: eslint --fix, prettier --write

updated INSTALLATION.md
  INSTALLATION.md
Due: none

Updated logic to handle duplicate entries
  setup.ts
Due: eslint --fix, prettier --write

Fixed errors
  setup.ts
Due: eslint --fix, prettier --write

Update dependabot.yaml
  .github/dependabot.yaml
Due: none

updated translation files
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/GraphQl/Queries/PlugInQueries.ts
  src/components/GroupChatDetails/GroupChatDetails.module.css
  src/components/GroupChatDetails/GroupChatDetails.test.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/screens/UserPortal/Events/Events.test.tsx
Due: eslint --fix, prettier --write

update pull-request.yml to ignore actions on ignore-sensitive-files-pr label
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix ts eslint errors
  eslint.config.mjs
Due: none

fix ts eslint errors
  package-lock.json
  package.json
Due: prettier --write

refactor ManageTag file to reduce its size
  src/screens/ManageTag/EditUserTagModal.tsx
  src/screens/ManageTag/ManageTag.test.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/ManageTagMockComponents/MockAddPeopleToTag.tsx
  src/screens/ManageTag/ManageTagMockComponents/MockTagActions.tsx
  src/screens/ManageTag/RemoveUserTagModal.tsx
  src/screens/ManageTag/UnasisgnUserTagModal.tsx
Due: eslint --fix, prettier --write

update pull-request check
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

feat: Add functionalities for bulk tag operations (GSoC) (#2362)
  .github/workflows/pull-request.yml
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/GraphQl/Mutations/TagMutations.ts
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/TagActions/TagActions.module.css
  src/components/TagActions/TagActions.test.tsx
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagActionsMocks.ts
  src/components/TagActions/TagNode.tsx
  src/screens/ManageTag/ManageTag.test.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/ManageTagMocks.ts
  src/utils/interfaces.ts
  src/utils/organizationTagsUtils.ts
Due: eslint --fix, prettier --write

tried to fix test errors
  src/GraphQl/Mutations/OrganizationMutations.ts
  src/screens/UserPortal/UserScreen/UserScreen.test.tsx
Due: eslint --fix, prettier --write

minor adjustments
  src/screens/ManageTag/ManageTag.tsx
Due: eslint --fix, prettier --write

minor correction
  src/screens/ManageTag/EditUserTagModal.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/RemoveUserTagModal.tsx
Due: eslint --fix, prettier --write

minor change
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/AddPeopleToTag/AddPeopleToTagsMocks.ts
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagActionsMocks.ts
  src/components/TagActions/TagNode.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/ManageTagMocks.ts
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationTags/OrganizationTagsMocks.ts
  src/screens/SubTags/SubTags.tsx
  src/screens/SubTags/SubTagsMocks.ts
  src/utils/organizationTagsUtils.ts
Due: eslint --fix, prettier --write

fixing recommended tests
  src/screens/UserPortal/UserScreen/UserScreen.test.tsx
Due: eslint --fix, prettier --write

leftDrawerOrg:Fixed the org not found error on viewing admin profile.
  src/components/LeftDrawerOrg/LeftDrawerOrg.test.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
Due: eslint --fix, prettier --write

correction
  .github/workflows/pull-request.yml
  src/components/InfiniteScrollLoader/InfiniteScrollLoader.tsx
Due: eslint --fix, prettier --write

created getIdfromPath utitily function
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
Due: eslint --fix, prettier --write

minor changes
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/TagActions/TagNode.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
Due: eslint --fix, prettier --write

minor change
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
Due: eslint --fix, prettier --write

corrected test code
  src/components/LeftDrawerOrg/LeftDrawerOrg.test.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
Due: eslint --fix, prettier --write

coderabbitai changes
  src/App.tsx
  src/components/AddPeopleToTag/AddPeopleToTag.test.tsx
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/TagActions/TagActions.test.tsx
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagNode.tsx
  src/screens/ManageTag/EditUserTagModal.tsx
  src/screens/ManageTag/ManageTag.module.css
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/ManageTagMockComponents/MockAddPeopleToTag.tsx
  src/screens/ManageTag/ManageTagMockComponents/MockTagActions.tsx
  src/screens/ManageTag/RemoveUserTagModal.tsx
  src/screens/ManageTag/UnassignUserTagModal.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
  src/utils/organizationTagsUtils.ts
Due: eslint --fix, prettier --write

added tests for Attendance and Statistics
  src/components/EventManagement/EventAttendance/AttendedEventList.test.tsx
  src/components/EventManagement/EventAttendance/AttendedEventList.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.test.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.tsx
  src/components/EventManagement/EventAttendance/EventStatistics.test.tsx
  src/components/EventManagement/EventAttendance/EventStatistics.tsx
  src/components/EventManagement/EventAttendance/InterfaceEvents.ts
Due: eslint --fix, prettier --write

improved: code coverage
  src/components/GroupChatDetails/GroupChatDetails.module.css
  src/components/GroupChatDetails/GroupChatDetails.test.tsx
  src/components/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.test.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.test.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.test.tsx
  src/screens/UserPortal/Chat/Chat.test.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: eslint --fix, prettier --write

Update public/locales/hi/translation.json
  public/locales/hi/translation.json
Due: prettier --write

more changes
  src/components/AddPeopleToTag/AddPeopleToTag.module.css
  src/components/AddPeopleToTag/AddPeopleToTag.test.tsx
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/TagActions/TagActions.test.tsx
  src/components/TagActions/TagActions.tsx
  src/components/TagActions/TagNode.tsx
  src/screens/ManageTag/EditUserTagModal.tsx
  src/screens/ManageTag/ManageTag.tsx
  src/screens/ManageTag/RemoveUserTagModal.tsx
  src/screens/OrganizationTags/OrganizationTags.module.css
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/SubTags/SubTags.tsx
  src/utils/organizationTagsUtils.ts
Due: eslint --fix, prettier --write

fix dataGrid classes
  src/components/AddPeopleToTag/AddPeopleToTag.module.css
  src/components/AddPeopleToTag/AddPeopleToTag.tsx
Due: eslint --fix, prettier --write

added test cases to verify component behaviour
  src/components/AgendaItems/AgendaItemsUpdateModal.tsx
Due: eslint --fix, prettier --write

testing
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

testing
  eslint.config.mjs
Due: none

testing
  package-lock.json
  package.json
Due: prettier --write

reverted changes in yaml file
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write
