Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: update translation check to handle keyPrefix and add missing search key
  .github/workflows/scripts/translation_check.py
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fix: remove duplicate volunteerGroups keys and improve translation check regex patterns
  .github/workflows/scripts/translation_check.py
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

feat(auth): create base FormField component (#5871)
  docs/docs/auto-docs/components/Auth/FormField/FormField/variables/FormField.md
  docs/docs/auto-docs/types/Auth/FormField/interface/interfaces/InterfaceFormFieldProps.md
  src/components/Auth/FormField/FormField.spec.tsx
  src/components/Auth/FormField/FormField.tsx
  src/types/Auth/FormField/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed codeQl Security issue
  docs/docs/auto-docs/screens/MemberDetail/SanitizeInput/functions/sanitizeInput.md
  docs/docs/auto-docs/utils/SanitizeInput/functions/sanitizeInput.md
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/screens/MemberDetail/SanitizeInput.tsx
  src/screens/MemberDetail/UserContactDetails.tsx
  src/utils/SanitizeInput.spec.tsx
  src/utils/SanitizeInput.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixed codeQl Security issue
  docs/docs/auto-docs/utils/SanitizeInput/functions/sanitizeInput.md
  src/utils/SanitizeInput.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated translation tag check
  src/components/UserPortal/CommentCard/CommentCard.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added cr suggestions
  public/locales/en/translation.json
Due: prettier --write

feat: add keyPrefix support to translation checker (#5887)
  .github/workflows/scripts/translation_check.py
Due: none

fix: complete tests coverage added
  src/components/UserPortal/CommentCard/CommentCard.spec.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: add coverage for onSearchSubmit handler in EventVolunteers Requests
  src/screens/EventVolunteers/Requests/Requests.spec.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

docs: fix inconsistent line number references in test comments
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: Add detection and application to translation tag extraction in .
  .github/workflows/scripts/translation_check.py
Due: none

localize Profile label in Settings success toast
  src/screens/UserPortal/Settings/Settings.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: added back to login button
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated cr suggestions
  src/shared-components/postCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test: update venue item test ID in OrganizationVenues spec
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: added back to login button
  public/locales/es/translation.json
Due: prettier --write

updated translation_check again
  .github/workflows/scripts/translation_check.py
Due: none

fix: fixing code Security issue
  src/utils/SanitizeInput.spec.tsx
  src/utils/SanitizeInput.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixing code Security issue
  src/utils/SanitizeInput.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added cr suggestions
  src/shared-components/postCard/PostCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add missing translation keys (tags, latest, oldest) to organizationTags section
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

refactor: improve wait function and mock handling in Requests tests
  docs/docs/auto-docs/Requests/functions/default.md
  docs/docs/auto-docs/Volunteers/functions/default.md
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/VolunteerGroups/functions/default.md
  src/screens/EventVolunteers/Requests/Requests.spec.tsx
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: added back to login button (#5893)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: add reusable FormField component with validation and accessibility support (#5873)
  docs/docs/auto-docs/components/Auth/FormField/FormField/variables/FormField.md
  docs/docs/auto-docs/components/Venues/VenueCard/functions/default.md
  docs/docs/auto-docs/types/Auth/FormField/interface/interfaces/InterfaceFormFieldProps.md
  pnpm-lock.yaml
  src/components/Auth/FormField/FormField.spec.tsx
  src/components/Auth/FormField/FormField.tsx
  src/components/Venues/VenueCard.spec.tsx
  src/components/Venues/VenueCard.tsx
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
  src/types/Auth/FormField/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat(locales): add new language options and branding text in multiple languages
  docs/docs/auto-docs/screens/EventVolunteers/VolunteerGroups/VolunteerGroups/functions/default.md
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
Due: prettier --write

refactor: update Requests tests to use CSS module styles for improved styling assertions
  src/screens/EventVolunteers/Requests/Requests.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: update tables.md
  .husky/pre-commit
  docs/docs/auto-docs/shared-components/DataTable/DataTable/functions/DataTable.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IDataTableProps.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IFilterState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ISortState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ITableState.md
  docs/docs/docs/developer-resources/tables.md
Due: none

feat(breadcrumbs): add BreadcrumbsComponent to organization screens
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/enumerations/ViewType.md
  docs/docs/auto-docs/screens/OrganizationEvents/OrganizationEvents/functions/default.md
  docs/docs/auto-docs/screens/OrganizationPeople/OrganizationPeople/functions/default.md
  docs/docs/auto-docs/screens/OrganizationTransactions/OrganizationTransactions/functions/default.md
  docs/docs/auto-docs/screens/OrganizationVenues/OrganizationVenues/functions/default.md
  src/screens/OrganizationEvents/OrganizationEvents.spec.tsx
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationTransactions/OrganizationTransactions.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add index prop to VenueCard interface and resolve CodeRabbit issues
  src/components/Venues/VenueCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore: fix i18n ignore and regenerate docs
  scripts/check-i18n.js
  src/shared-components/DataTable/DataTable.spec.tsx
  src/shared-components/DataTable/DataTable.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: fixing formatting
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/utils/SanitizeInput.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve CodeRabbit critical issue - revert index prop to use stable ID-based test IDs
  src/components/Venues/VenueCard.tsx
  src/screens/OrganizationEvents/OrganizationEvents.spec.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

style: apply prettier formatting to test file
  src/screens/OrganizationEvents/OrganizationEvents.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
