Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: enhance type safety and update Apollo Client usage across components and tests
  src/components/AdminPortal/AgendaFolder/Delete/AgendaFolderDeleteModal.spec.tsx
  src/components/AdminPortal/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.spec.tsx
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.spec.tsx
  src/components/AdminPortal/OrgSettings/General/DeleteOrg/DeleteOrg.tsx
  src/components/AdminPortal/OrgSettings/General/OrgUpdate/OrgUpdate.tsx
  src/components/AdminPortal/UpdateSession/UpdateSession.tsx
  src/components/AdminPortal/Venues/Modal/VenueModal.spec.tsx
  src/components/Auth/LoginForm/LoginForm.tsx
  src/components/EventStats/Statistics/EventStats.tsx
  src/components/NotificationIcon/NotificationIcon.tsx
  src/components/UserDetails/UserOrganizations.spec.tsx
  src/components/UserDetails/UserOrganizations.tsx
  src/components/UserDetails/UserTags.spec.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CommentCard/CommentCard.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/OrganizationSidebar/OrganizationSidebar.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/components/UsersTableItem/UsersTableItem.tsx
  src/hooks/auth/useRegistration.ts
  src/index.tsx
  src/plugin/graphql-service.ts
  src/screens/AdminPortal/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.spec.tsx
  src/screens/AdminPortal/OrganizationFunds/modal/FundModal.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/AdminPortal/OrganizationPeople/addMember/AddMember.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
  src/screens/AdminPortal/Users/Users.tsx
  src/screens/Auth/LoginPage/LoginPage.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
  src/utils/StaticMockLink.spec.ts
  src/utils/timezoneUtils/dateTimeMiddleware.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: enhance type safety in GraphQL queries and update mock implementations across components and tests
  src/plugin/tests/graphql-service.spec.ts
  src/screens/AdminPortal/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/AdminPortal/MemberDetail/UserContactDetails.tsx
  src/screens/AdminPortal/OrganizationDashboard/OrganizationDashboard.tsx
  src/screens/AdminPortal/OrganizationEvents/OrganizationEvents.tsx
  src/screens/AdminPortal/OrganizationVenues/OrganizationVenues.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/shared-components/ActionItems/ActionItemModal/ActionItemModal.tsx
  src/shared-components/ActionItems/ActionItemViewModal/ActionItemViewModal.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: moving IconComponent to shared-components
  src/shared-components/IconComponent/IconComponent.spec.tsx
  src/shared-components/IconComponent/IconComponent.tsx
  src/types/shared-components/IconComponent/IIconComponent.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: update imports for IconComponent
  src/components/CollapsibleDropdown/CollapsibleDropdown.spec.tsx
  src/components/CollapsibleDropdown/CollapsibleDropdown.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/screens/AdminPortal/ManageTag/ManageTag.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
  src/screens/AdminPortal/Users/Users.spec.tsx
  src/shared-components/DataGridWrapper/DataGridErrorOverlay.tsx
  src/shared-components/EmptyState/EmptyState.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: added more tests
  src/screens/AdminPortal/MemberDetail/MemberDetail.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: typecheck, format
  src/shared-components/IconComponent/IconComponent.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

updated schema.graphql
  schema.graphql
Due: none

fix: lint:check
  src/screens/AdminPortal/ManageTag/ManageTag.tsx
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
  src/screens/AdminPortal/SubTags/SubTags.tsx
  src/shared-components/DataGridWrapper/DataGridErrorOverlay.tsx
  src/shared-components/EmptyState/EmptyState.tsx
  src/types/shared-components/EmptyState/interface.ts
  src/types/shared-components/LoadingState/interface.ts
  src/types/shared-components/ProfileAvatarDisplay/interface.ts
  src/utils/errorHandler.spec.tsx
  src/utils/useSession.spec.tsx
  src/utils/useSession.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: add comprehensive tests for ErrorPanel component
  src/shared-components/ErrorPanel/ErrorPanel.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Reorganize e2e specs by portal (#7267)
  .github/workflows/pull-request.yml
  cypress.config.ts
  cypress/README.md
  cypress/e2e/Accessibility/.gitkeep
  cypress/e2e/AdminPortal/ActionItems/.gitkeep
  cypress/e2e/AdminPortal/ActionItems/ActionItems.cy.ts
  cypress/e2e/AdminPortal/Advertisements/.gitkeep
  cypress/e2e/AdminPortal/Advertisements/Advertisements.cy.ts
  cypress/e2e/AdminPortal/Dashboard/.gitkeep
  cypress/e2e/AdminPortal/Dashboard/AdminDashboard.cy.ts
  cypress/e2e/AdminPortal/Events/.gitkeep
  cypress/e2e/AdminPortal/Events/EventLifecycle.cy.ts
  cypress/e2e/AdminPortal/Organizations/.gitkeep
  cypress/e2e/AdminPortal/People/.gitkeep
  cypress/e2e/AdminPortal/People/ManageMembers.cy.ts
  cypress/e2e/AdminPortal/Posts/.gitkeep
  cypress/e2e/AdminPortal/Posts/Posts.cy.ts
  cypress/e2e/AdminPortal/Tags/.gitkeep
  cypress/e2e/AdminPortal/Venues/.gitkeep
  cypress/e2e/Auth/.gitkeep
  cypress/e2e/Auth/Login.cy.ts
  cypress/e2e/CascadingEffects/.gitkeep
  cypress/e2e/E2EFlows/.gitkeep
  cypress/e2e/ErrorScenarios/.gitkeep
  cypress/e2e/MultiOrganization/.gitkeep
  cypress/e2e/SharedComponents/.gitkeep
  cypress/e2e/SharedComponents/GraphQLUtilities.cy.ts
  cypress/e2e/SharedComponents/Navigation.cy.ts
  cypress/e2e/UserPortal/Dashboard/.gitkeep
  cypress/e2e/UserPortal/Dashboard/UserDashboard.cy.ts
  cypress/e2e/UserPortal/EventDiscovery/.gitkeep
  cypress/e2e/UserPortal/OrganizationDiscovery/.gitkeep
  cypress/e2e/UserPortal/Posts/.gitkeep
  cypress/e2e/UserPortal/Profile/.gitkeep
  cypress/e2e/UserPortal/Transactions/.gitkeep
  cypress/e2e/UserPortal/VolunteerSignup/.gitkeep
  cypress/e2e/login_spec/userLogin.cy.ts
  cypress/support/e2e.ts
  docs/docs/docs/developer-resources/e2e-testing.md
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: fixed the buttons (#7216)
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/addMember/AddMember/functions/default.md
  docs/docs/auto-docs/shared-components/Navbar/Navbar/functions/default.md
  docs/docs/auto-docs/shared-components/SortingButton/SortingButton/namespaces/default/variables/propTypes.md
  docs/docs/auto-docs/types/AdminPortal/OrganizationPeople/addMember/interface/interfaces/InterfaceAddMemberProps.md
  docs/docs/auto-docs/types/shared-components/DropDownButton/interface/interfaces/InterfaceDropDownButtonProps.md
  docs/docs/auto-docs/types/shared-components/DropDownButton/interface/interfaces/InterfaceDropDownProps.md
  docs/docs/auto-docs/types/shared-components/DropDownButton/interface/interfaces/InterfaceSearchToggleProps.md
  docs/docs/auto-docs/types/shared-components/SearchFilterBar/interface/interfaces/InterfaceDropdownConfig.md
  docs/docs/auto-docs/types/shared-components/SearchFilterBar/interface/interfaces/InterfaceSearchFilterBarAdvanced.md
  docs/docs/auto-docs/types/shared-components/SearchFilterBar/interface/interfaces/InterfaceSearchFilterBarSimple.md
  docs/docs/auto-docs/types/shared-components/SearchFilterBar/interface/interfaces/InterfaceSearchFilterBarTranslations.md
  docs/docs/auto-docs/types/shared-components/SearchFilterBar/interface/type-aliases/InterfaceSearchFilterBarProps.md
  docs/docs/auto-docs/types/shared-components/SortingButton/interface/interfaces/InterfaceSortingButtonProps.md
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.module.css
  src/screens/AdminPortal/OrganizationPeople/OrganizationPeople.tsx
  src/screens/AdminPortal/OrganizationPeople/addMember/AddMember.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/addMember/AddMember.tsx
  src/shared-components/DropDownButton/DropDownButton.tsx
  src/shared-components/Navbar/Navbar.tsx
  src/shared-components/SearchFilterBar/SearchFilterBar.module.css
  src/shared-components/SearchFilterBar/SearchFilterBar.tsx
  src/shared-components/SortingButton/SortingButton.tsx
  src/types/AdminPortal/OrganizationPeople/addMember/interface.ts
  src/types/shared-components/DropDownButton/interface.ts
  src/types/shared-components/SearchFilterBar/interface.ts
  src/types/shared-components/SortingButton/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Updates CodeRabbit config based on comments in #7274 1771038155
  .coderabbit.yaml
  src/App.tsx
  src/components/AdminPortal/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/hooks/useAvatarUpload.spec.ts
  src/screens/AdminPortal/PluginStore/UploadPluginModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/setup/setup.spec.ts
  src/shared-components/Button/Button.types.ts
  src/types/AdminPortal/Tag/interface.ts
  src/types/SearchBar/interface.ts
  src/types/shared-components/CRUDModalTemplate/interface.ts
  src/types/shared-components/FormFieldGroup/interface.ts
  src/types/shared-components/SearchFilterBar/interface.ts
  src/utils/interfaces.ts
  src/utils/organizationTagsUtils.ts
  src/utils/userUpdateUtils.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

OAuth: Frontend GraphQL Operations for OAuth (#7248)
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/LINK_OAUTH_ACCOUNT.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/SIGN_IN_WITH_OAUTH.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UNLINK_OAUTH_ACCOUNT.md
  docs/docs/auto-docs/types/Auth/auth/interfaces/InterfaceAuthenticationPayload.md
  docs/docs/auto-docs/types/Auth/auth/interfaces/InterfaceOAuthLoginInput.md
  docs/docs/auto-docs/types/Auth/auth/type-aliases/OAuthProviderKey.md
  knip.json
  schema.graphql
  src/GraphQl/Mutations/mutations.ts
  src/types/Auth/auth.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Updates CodeRabbit config based on comments in #7274 1771039308
  .coderabbit/ast-grep-rules/assertions-must-use-waitfor.yml
  .coderabbit/ast-grep-rules/no-dynamic-timestamps-in-tests.yml
Due: eslint --fix, prettier --write

Updates CodeRabbit config based on comments in #7274 1771039900
  src/App.tsx
  src/components/AdminPortal/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/UserPortal/UserPortalNavigationBar/UserPortalNavigationBar.spec.tsx
  src/hooks/useAvatarUpload.spec.ts
  src/screens/AdminPortal/PluginStore/UploadPluginModal.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/setup/setup.spec.ts
  src/shared-components/Button/Button.types.ts
  src/types/AdminPortal/Tag/interface.ts
  src/types/SearchBar/interface.ts
  src/types/shared-components/CRUDModalTemplate/interface.ts
  src/types/shared-components/FormFieldGroup/interface.ts
  src/types/shared-components/SearchFilterBar/interface.ts
  src/utils/interfaces.ts
  src/utils/organizationTagsUtils.ts
  src/utils/userUpdateUtils.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Updates CodeRabbit config based on comments in #7274 1771040140
  .coderabbit/ast-grep-rules/assertions-must-use-waitfor.yml
  .coderabbit/ast-grep-rules/no-dynamic-timestamps-in-tests.yml
Due: eslint --fix, prettier --write

Updates CodeRabbit config based on comments in #7274 1771040456
  .coderabbit/ast-grep-rules/no-dynamic-timestamps-in-tests.yml
Due: eslint --fix, prettier --write

Updates CodeRabbit config based on comments in #7274 1771038155 (#7278)
  .coderabbit.yaml
  .coderabbit/ast-grep-rules/assertions-must-use-waitfor.yml
  .coderabbit/ast-grep-rules/no-dynamic-timestamps-in-tests.yml
Due: eslint --fix, prettier --write

fixed linting in files
  docs/docs/auto-docs/components/MemberRequestCard/MemberRequestCard/functions/default.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyState/variables/default.md
  docs/docs/auto-docs/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper/classes/ErrorBoundaryWrapper.md
  docs/docs/auto-docs/types/SidebarBase/interface/interfaces/ISidebarBaseProps.md
  docs/docs/auto-docs/types/SidebarNavItem/interface/interfaces/ISidebarNavItemProps.md
  docs/docs/auto-docs/types/SidebarPluginSection/interface/interfaces/ISidebarPluginSectionProps.md
  docs/docs/auto-docs/types/UserPortal/UserPortalCard/interface/interfaces/InterfaceUserPortalCardProps.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceCreateVolunteerGroupData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceEventEdge.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceMappedEvent.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerGroupData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerStatus.md
  docs/docs/auto-docs/types/shared-components/EmptyState/interface/interfaces/InterfaceEmptyStateProps.md
  docs/docs/auto-docs/types/shared-components/ErrorBoundaryWrapper/interface/interfaces/InterfaceErrorBoundaryWrapperProps.md
  docs/docs/auto-docs/types/shared-components/LoadingState/interface/type-aliases/InterfaceLoadingStateProps.md
  docs/docs/auto-docs/types/shared-components/ProfileAvatarDisplay/interface/interfaces/InterfaceProfileAvatarDisplayProps.md
  src/shared-components/EmptyState/EmptyState.tsx
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.tsx
  src/types/SidebarBase/interface.ts
  src/types/SidebarNavItem/interface.ts
  src/types/SidebarPluginSection/interface.ts
  src/types/UserPortal/UserPortalCard/interface.ts
  src/types/Volunteer/interface.ts
  src/types/shared-components/EmptyState/interface.ts
  src/types/shared-components/ErrorBoundaryWrapper/interface.ts
  src/types/shared-components/LoadingState/interface.ts
  src/types/shared-components/ProfileAvatarDisplay/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fixed JSDoc in interfaces, updated Button component and tests, fixed failing EmptyState tests
  docs/docs/auto-docs/shared-components/Button/Button.types/interfaces/InterfaceButtonProps.md
  docs/docs/auto-docs/shared-components/Button/Button.types/type-aliases/ButtonProps.md
  docs/docs/auto-docs/shared-components/Button/Button.types/type-aliases/ButtonVariant.md
  docs/docs/auto-docs/shared-components/Button/variables/Button.md
  docs/docs/auto-docs/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper/classes/ErrorBoundaryWrapper.md
  docs/docs/auto-docs/types/SidebarBase/interface/interfaces/ISidebarBaseProps.md
  docs/docs/auto-docs/types/SidebarPluginSection/interface/interfaces/ISidebarPluginSectionProps.md
  docs/docs/auto-docs/types/UserPortal/UserPortalCard/interface/interfaces/InterfaceUserPortalCardProps.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceCreateVolunteerGroupData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/types/shared-components/ProfileAvatarDisplay/interface/interfaces/InterfaceProfileAvatarDisplayProps.md
  src/components/MemberRequestCard/MemberRequestCard.tsx
  src/shared-components/Button/Button.test.tsx
  src/shared-components/Button/Button.tsx
  src/shared-components/Button/Button.types.ts
  src/shared-components/EmptyState/EmptyState.spec.tsx
  src/shared-components/EmptyState/EmptyState.tsx
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.tsx
  src/types/SidebarBase/interface.ts
  src/types/SidebarPluginSection/interface.ts
  src/types/UserPortal/UserPortalCard/interface.ts
  src/types/Volunteer/interface.ts
  src/types/shared-components/ProfileAvatarDisplay/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

updated Button, EmptyState and fixed interfaces
  docs/docs/auto-docs/shared-components/Button/variables/Button.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceCreateVolunteerGroupData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceEventEdge.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceMappedEvent.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerGroupData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerStatus.md
  docs/docs/auto-docs/types/shared-components/ProfileAvatarDisplay/interface/interfaces/InterfaceProfileAvatarDisplayProps.md
  src/shared-components/Button/Button.tsx
  src/shared-components/EmptyState/EmptyState.tsx
  src/types/Volunteer/interface.ts
  src/types/shared-components/ProfileAvatarDisplay/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

replaced <button> with <Button> in ErrorBoundaryWrapper
  docs/docs/auto-docs/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper/classes/ErrorBoundaryWrapper.md
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

generated docs for memberrequestcard
  docs/docs/auto-docs/components/MemberRequestCard/MemberRequestCard/functions/default.md
Due: none

minor corrections in Button and EmptyState
  docs/docs/auto-docs/shared-components/Button/variables/Button.md
  src/shared-components/Button/Button.tsx
  src/shared-components/EmptyState/EmptyState.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

map action variants directly to Bootstrap variants, removed aria-live
  docs/docs/auto-docs/shared-components/EmptyState/EmptyState/variables/default.md
  src/shared-components/EmptyState/EmptyState.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

generated docs for MemberRequestCard
  docs/docs/auto-docs/components/MemberRequestCard/MemberRequestCard/functions/default.md
Due: none

removed unused MemberRequestCard component
  docs/docs/auto-docs/components/MemberRequestCard/MemberRequestCard/functions/default.md
  src/components/MemberRequestCard/MemberRequestCard.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Updated CR configuration
  .coderabbit.yaml
Due: none

cleanup
  src/screens/AdminPortal/Requests/Requests.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Linting fixes in codebase (Batch 1) (#7147)
  docs/docs/auto-docs/shared-components/Button/Button.types/interfaces/InterfaceButtonProps.md
  docs/docs/auto-docs/shared-components/Button/Button.types/type-aliases/ButtonProps.md
  docs/docs/auto-docs/shared-components/Button/Button.types/type-aliases/ButtonVariant.md
  docs/docs/auto-docs/shared-components/Button/variables/Button.md
  docs/docs/auto-docs/shared-components/EmptyState/EmptyState/variables/default.md
  docs/docs/auto-docs/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper/classes/ErrorBoundaryWrapper.md
  docs/docs/auto-docs/types/SidebarBase/interface/interfaces/ISidebarBaseProps.md
  docs/docs/auto-docs/types/SidebarNavItem/interface/interfaces/ISidebarNavItemProps.md
  docs/docs/auto-docs/types/SidebarPluginSection/interface/interfaces/ISidebarPluginSectionProps.md
  docs/docs/auto-docs/types/UserPortal/UserPortalCard/interface/interfaces/InterfaceUserPortalCardProps.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceCreateVolunteerGroupData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceEventEdge.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceEventVolunteerInfo.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceMappedEvent.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerGroupData.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerMembership.md
  docs/docs/auto-docs/types/Volunteer/interface/interfaces/InterfaceVolunteerStatus.md
  docs/docs/auto-docs/types/shared-components/EmptyState/interface/interfaces/InterfaceEmptyStateProps.md
  docs/docs/auto-docs/types/shared-components/ErrorBoundaryWrapper/interface/interfaces/InterfaceErrorBoundaryWrapperProps.md
  docs/docs/auto-docs/types/shared-components/LoadingState/interface/type-aliases/InterfaceLoadingStateProps.md
  docs/docs/auto-docs/types/shared-components/ProfileAvatarDisplay/interface/interfaces/InterfaceProfileAvatarDisplayProps.md
  src/shared-components/Button/Button.test.tsx
  src/shared-components/Button/Button.tsx
  src/shared-components/Button/Button.types.ts
  src/shared-components/EmptyState/EmptyState.spec.tsx
  src/shared-components/EmptyState/EmptyState.tsx
  src/shared-components/ErrorBoundaryWrapper/ErrorBoundaryWrapper.tsx
  src/types/SidebarBase/interface.ts
  src/types/SidebarNavItem/interface.ts
  src/types/SidebarPluginSection/interface.ts
  src/types/UserPortal/UserPortalCard/interface.ts
  src/types/Volunteer/interface.ts
  src/types/shared-components/EmptyState/interface.ts
  src/types/shared-components/ErrorBoundaryWrapper/interface.ts
  src/types/shared-components/LoadingState/interface.ts
  src/types/shared-components/ProfileAvatarDisplay/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

Updated CR configuration 1771045194
  .coderabbit.yaml
Due: none

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/check-css-imports.js --files: any of: **/*.{ts,tsx,css}
