Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(ci): correct exit handling for translation checker
  .github/workflows/scripts/translation_check.py
Due: none

test: update AcceptInvitation test expectations for EMAIL_KEY constant change
  cypress/e2e/login_spec/adminLogin.cy.ts
  cypress/e2e/login_spec/userLogin.cy.ts
  src/screens/Public/Invitation/AcceptInvitation.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: add orgId validation to OrganizationEvents for consistency
  src/screens/OrganizationEvents/OrganizationEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

implemented coderabbit suggestions
  src/shared-components/pinnedPosts/pinnedPostCard.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.module.css
  src/shared-components/pinnedPosts/pinnedPostsLayout.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/posts/createPostModal/createPostModal.spec.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: the edge cases
  scripts/validate-tokens.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix: test case issue in files
  src/components/UserPortal/EventCard/EventCard.spec.tsx
  src/screens/UserPortal/Donate/Donate.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: change Cypress assertToast selector from [role=alert] to .Toastify__toast
  cypress/e2e/admin_spec/posts.cy.ts
  cypress/support/commands.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: add role=alert to ToastContainer for semantic accessibility
  cypress/support/commands.ts
  src/index.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: prettier formatting in commands.ts
  cypress/support/commands.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: remove unused waitFor import from OrganizationTransactions test
  src/screens/OrganizationTransactions/OrganizationTransactions.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(docs): satisfy Google-style docstring for main()
  .github/workflows/scripts/translation_check.py
Due: none

fix: revert to working Toastify selector for E2E tests
  cypress/support/commands.ts
  src/index.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Updated the CR prompt to correctly approve PRs
  .coderabbit.yaml
Due: none

Updated the CR prompt to correctly approve PRs (#5848)
  .coderabbit.yaml
Due: none

fixed CSS Policy error
  docs/docs/auto-docs/shared-components/posts/posts/functions/default.md
  src/shared-components/pinnedPosts/pinnedPostCard.tsx
  src/shared-components/pinnedPosts/pinnedPostsLayout.module.css
  src/shared-components/postCard/PostCard.module.css
  src/shared-components/postCard/PostCard.tsx
  src/shared-components/posts/posts.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added docs
  docs/docs/auto-docs/shared-components/posts/posts/functions/default.md
Due: none

Updated the CR prompt to correctly approve PRs (#5849)
  .coderabbit.yaml
Due: none

fix: replace hardcoded error messages with i18n translations in Invitations
  src/screens/UserPortal/Volunteer/Invitations/Invitations.spec.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(ci): handle mocked sys.exit correctly and satisfy docstrings
  .github/workflows/scripts/translation_check.py
Due: none

fix: comply with i18n and CSS policies
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

feat: define column system and typeScript interfaces
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IColumnDef.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IDataTableProps.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IFilterState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ISortState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ITableState.md
  docs/docs/auto-docs/shared-components/DataTable/types/type-aliases/Accessor.md
  docs/docs/auto-docs/shared-components/DataTable/types/type-aliases/HeaderRender.md
  docs/docs/docs/developer-resources/tables.md
  src/shared-components/DataTable/types.spec.ts
  src/shared-components/DataTable/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: correct editFirstPost method call signature in posts test
  cypress/e2e/admin_spec/posts.cy.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

zsh:1: command not found: q
  .github/workflows/scripts/translation_check.py
Due: none

fixed failing cypress tests
  cypress/e2e/admin_spec/posts.cy.ts
  cypress/pageObjects/AdminPortal/PostPage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: integration http only cookie implementation
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/ADD_ADMIN_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_ORGANIZATION_MEMBERSHIP_MUTATION_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_ORGANIZATION_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_ORGANIZATION_MUTATION_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/CREATE_POST_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/DELETE_ORGANIZATION_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/DELETE_POST_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/DONATE_TO_ORGANIZATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/FORGOT_PASSWORD_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/GENERATE_OTP_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/GET_FILE_PRESIGNEDURL.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/LOGOUT_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/PRESIGNED_URL.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/RECAPTCHA_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REFRESH_TOKEN_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REMOVE_ADMIN_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REMOVE_MEMBER_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REMOVE_MEMBER_MUTATION_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/RESET_COMMUNITY.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/REVOKE_REFRESH_TOKEN.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_COMMUNITY_PG.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_EVENT_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_POST_MUTATION.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_POST_VOTE.md
  docs/docs/auto-docs/GraphQl/Mutations/mutations/variables/UPDATE_SESSION_TIMEOUT_PG.md
  docs/docs/auto-docs/components/SignOut/SignOut/functions/default.md
  docs/docs/auto-docs/utils/getRefreshToken/functions/handleTokenRefresh.md
  docs/docs/auto-docs/utils/getRefreshToken/functions/refreshToken.md
  public/locales/en/translation.json
  src/GraphQl/Mutations/mutations.ts
  src/components/SignOut/SignOut.tsx
  src/index.spec.tsx
  src/index.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/style/app-fixed.module.css
  src/utils/getRefreshToken.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: implement coderabbitai suggestion
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IColumnDef.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IDataTableProps.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IFilterState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ISortState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ITableState.md
  src/shared-components/DataTable/types.spec.ts
  src/shared-components/DataTable/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: implement LoadingState component and adopt in 5 screens (#5134) (#5432)
  cypress/e2e/admin_spec/posts.cy.ts
  cypress/e2e/login_spec/adminLogin.cy.ts
  cypress/e2e/login_spec/userLogin.cy.ts
  cypress/support/commands.ts
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/functions/handleCreateDirectChat.md
  docs/docs/auto-docs/components/UserPortal/CreateGroupChat/CreateGroupChat/functions/default.md
  docs/docs/auto-docs/screens/Public/Invitation/AcceptInvitation/functions/default.md
  docs/docs/auto-docs/shared-components/LoadingState/LoadingState/functions/default.md
  docs/docs/auto-docs/types/shared-components/LoadingState/interface/interfaces/InterfaceLoadingStateProps.md
  scripts/githooks/check-localstorage-usage.ts
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.spec.tsx
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
  src/screens/Public/Invitation/AcceptInvitation.spec.tsx
  src/screens/Public/Invitation/AcceptInvitation.tsx
  src/shared-components/LoadingState/LoadingState.spec.tsx
  src/shared-components/LoadingState/LoadingState.tsx
  src/style/app-fixed.module.css
  src/types/shared-components/LoadingState/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fixed prompt
  .coderabbit.yaml
Due: none

Fixed prompt (#5853)
  .coderabbit.yaml
Due: none

feat: add reusable password visibility hook (#5833)
  docs/docs/auto-docs/hooks/usePasswordVisibility/functions/usePasswordVisibility.md
  docs/docs/auto-docs/types/Auth/usePasswordVisibility/interfaces/IUsePasswordVisibilityReturn.md
  src/hooks/usePasswordVisibility.spec.ts
  src/hooks/usePasswordVisibility.ts
  src/types/Auth/usePasswordVisibility.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: consolidate disable check scripts into single class-based solution (#5845)
  .github/workflows/pull-request.yml
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/test/test_disable_statements_check.py
Due: eslint --fix, prettier --write

feat: define column system and typeScript interfaces (#5851)
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IColumnDef.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IDataTableProps.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/IFilterState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ISortState.md
  docs/docs/auto-docs/shared-components/DataTable/types/interfaces/ITableState.md
  docs/docs/auto-docs/shared-components/DataTable/types/type-aliases/Accessor.md
  docs/docs/auto-docs/shared-components/DataTable/types/type-aliases/HeaderRender.md
  docs/docs/docs/developer-resources/tables.md
  src/shared-components/DataTable/types.spec.ts
  src/shared-components/DataTable/types.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

style: add section header for DonationCard styles
  src/style/app-fixed.module.css
Due: prettier --write, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,yml}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  pnpm exec tsx scripts/validate-tokens.ts --staged --warn: any of: **/*.{css,scss,tsx}
