Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fix: ipmorve tests and fix critical issues
  public/locales/en/common.json
  public/locales/en/translation.json
  public/locales/es/common.json
  public/locales/es/translation.json
  public/locales/fr/common.json
  public/locales/fr/translation.json
  public/locales/hi/common.json
  public/locales/hi/translation.json
  public/locales/zh/common.json
  public/locales/zh/translation.json
  src/components/AdminPortal/Advertisements/skeleton/AdvertisementSkeleton.spec.tsx
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: added more docs
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_COMMUNITY_SESSION_TIMEOUT_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_BASIC_DATA.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_BLOCKED_USERS_COUNT.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_BLOCKED_USERS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_DATA_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_EVENTS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_EVENTS_USER_PORTAL_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_MEMBERS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_POSTS_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_COUNT.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_ORGANIZATION_VENUES_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/GET_USER_BY_ID.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERSHIP_REQUEST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/MEMBERS_LIST_PG.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_LIST_BASIC.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATIONS_MEMBER_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_DONATION_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_EVENT_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/ORGANIZATION_FIELDS.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/SIGNIN_QUERY.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USERS_CONNECTION_LIST.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USER_DETAILS.md
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/USER_ORGANIZATION_LIST.md
Due: none

fix: removed changes from passwordValidator
  src/utils/passwordValidator.spec.ts
  src/utils/passwordValidator.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: added docs
  docs/docs/auto-docs/utils/passwordValidator/functions/validatePassword.md
Due: none

added loutfailed alert
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/UsersTableItem/UsersTableItem.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: failing test
  docs/docs/auto-docs/components/AdminPortal/OrganizationScreen/OrganizationScreen/functions/default.md
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.spec.tsx
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed possible fails
  src/components/UsersTableItem/UsersTableItem.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed possible linting errors
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
Due: prettier --write

fix: critical issue
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.spec.tsx
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(ci): address translations, styling violations, TSDoc syntax, and leaderboard redirect
  docs/docs/auto-docs/components/EventManagement/EventAttendance/AttendanceList/AttendedEventList/variables/default.md
  docs/docs/auto-docs/screens/UserPortal/UserGlobalScreen/UserGlobalScreen/functions/default.md
  docs/docs/auto-docs/shared-components/BaseModal/BaseModal/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/EventDashboardScreen/EventDashboardScreen.tsx
  src/components/EventManagement/EventAttendance/AttendanceList/AttendedEventList.tsx
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/NotificationIcon/NotificationIcon.tsx
  src/screens/AdminPortal/Leaderboard/Leaderboard.tsx
  src/screens/UserPortal/UserGlobalScreen/UserGlobalScreen.tsx
  src/shared-components/BaseModal/BaseModal.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix(ci): resolve i18n violations and finalize event management styling/linting
  docs/docs/auto-docs/components/EventManagement/EventAttendance/Attendance/EventAttendance/functions/default.md
  docs/docs/auto-docs/components/EventManagement/EventRegistrant/EventRegistrants/functions/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/EventManagement/EventAttendance/Attendance/EventAttendance.tsx
  src/components/EventManagement/EventRegistrant/EventRegistrants.tsx
  src/components/LeftDrawer/LeftDrawer.spec.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(Pledges): streamline search and sorting functions, replace DataGrid with DataGridWrapper
  docs/docs/auto-docs/screens/UserPortal/Pledges/Pledges/functions/default.md
  src/screens/UserPortal/Pledges/Pledges.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(Pledges): enhance DataGridWrapper integration and improve empty state handling
  src/screens/UserPortal/Pledges/Pledges.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(user-portal): replace inline DataGrid with DataGridWrapper in Pledges screen (#6298)
  docs/docs/auto-docs/screens/UserPortal/Pledges/Pledges/functions/default.md
  src/screens/UserPortal/Pledges/Pledges.spec.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Updated to use remote .github actions 1768012274
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
Due: eslint --fix, prettier --write

Updated to use remote .github actions 1768012274 (#6299)
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
Due: eslint --fix, prettier --write

Updated to use remote .github actions 1768012962
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
Due: eslint --fix, prettier --write

Updated to use remote .github actions 1768012962 (#6300)
  .github/workflows/auto-assign.yml
  .github/workflows/issue-assigned.yml
  .github/workflows/issue-unassigned.yml
  .github/workflows/issue.yml
Due: eslint --fix, prettier --write

added tests in truncatedtext spec file
  src/shared-components/TruncatedText/TruncatedText.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

minor fixes in truncatedtext spec file
  src/shared-components/TruncatedText/TruncatedText.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed eslint error
  src/components/UsersTableItem/UsersTableItem.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/deleteModal/VolunteerGroupDeleteModal.spec.tsx
  src/screens/EventVolunteers/VolunteerGroups/deleteModal/VolunteerGroupDeleteModal.tsx
  src/screens/OrganizationActionItems/ActionItemDeleteModal/ActionItemDeleteModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemDeleteModal/ActionItemDeleteModal.tsx
  src/shared-components/Recurrence/CustomRecurrenceModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added interface for truncatedtext in types
  src/shared-components/TruncatedText/TruncatedText.tsx
  src/types/shared-components/TruncatedText/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed unused code
  src/components/UsersTableItem/UsersTableItem.tsx
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

generated docs
  docs/docs/auto-docs/shared-components/TruncatedText/TruncatedText/variables/default.md
  docs/docs/auto-docs/types/shared-components/TruncatedText/interface/interfaces/InterfaceTruncatedTextProps.md
Due: none

minor changes and docs
  docs/docs/auto-docs/shared-components/TruncatedText/TruncatedText/variables/default.md
  docs/docs/auto-docs/types/shared-components/TruncatedText/interface/interfaces/InterfaceTruncatedTextProps.md
  src/shared-components/TruncatedText/TruncatedText.tsx
  src/types/shared-components/TruncatedText/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added missing translation(invalidfiletype)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

fixed missing , in common.json
  public/locales/en/common.json
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
  src/screens/AdminPortal/OrgList/OrgList.tsx
  src/screens/UserPortal/Donate/Donate.spec.tsx
  src/screens/UserPortal/Donate/Donate.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

removed duplicate lines
  src/screens/AdminPortal/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: path import for performance improvement
  docs/docs/auto-docs/screens/LoginPage/LoginPage/functions/default.md
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added changes in orglist
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

replaced mocktoast,added useffect cleanup
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

test correction for orglist
  src/screens/AdminPortal/OrgList/OrgList.spec.tsx
  src/screens/AdminPortal/OrgList/OrgList.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

rebased with base branch and all merge conflicts resolved
  .gitignore
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/components/UserProfileSettings/UserProfile.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.spec.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

rebased with base branch and all merge conflicts resolved
  docs/docs/auto-docs/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/components/UserProfileSettings/UserProfile.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.spec.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(settings) : integrate ProfileAvatarDisplay for user avatars
  src/components/UserProfileSettings/UserProfile.spec.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

refactor(settings) : integrated suggestions by coderabbit
  src/components/UserProfileSettings/UserProfile.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Refactor avatar display logic and fix type errors
  src/components/UserProfileSettings/UserProfile.tsx
  src/screens/UserPortal/Settings/ProfileImageSection/ProfileImageSection.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
