Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fixed auto assignment (#4717)
  .github/workflows/auto-assign.yml
Due: prettier --write

Minor update to auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

Minor update to auto-assign.yml (#4720)
  .github/workflows/auto-assign.yml
Due: prettier --write

fix: updated the files
  .github/workflows/pull-request.yml
  docs/docs/auto-docs/plugin/graphql-service/functions/useGetAllPlugins.md
  docs/docs/auto-docs/screens/OrganizationPeople/addMember/AddMember/functions/default.md
  docs/docs/auto-docs/screens/OrganizationPeople/addMember/types/interfaces/IEdge.md
  docs/docs/auto-docs/screens/OrganizationPeople/addMember/types/interfaces/IQueryVariable.md
  docs/docs/auto-docs/screens/OrganizationPeople/addMember/types/interfaces/IUserDetails.md
  docs/docs/auto-docs/screens/OrganizationTags/OrganizationTagsMocks/variables/MOCKS_ASCENDING_NO_SEARCH.md
  docs/docs/auto-docs/screens/Users/Organization.mocks/variables/MOCK_USERS2.md
  docs/docs/auto-docs/screens/Users/UsersMocks.mocks/variables/MOCKS_NEW2.md
  docs/docs/auto-docs/screens/Users/UsersMocks.mocks/variables/MOCKS_NEW3.md
  docs/docs/auto-docs/screens/components/Navbar/functions/default.md
  eslint.config.js
  package-lock.json
  package.json
  src/components/Advertisements/Advertisements.spec.tsx
  src/screens/BlockUser/BlockUser.spec.tsx
  src/screens/BlockUser/BlockUser.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/screens/OrganizationEvents/OrganizationEvents.spec.tsx
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/screens/OrganizationFunds/OrganizationFunds.spec.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/OrganizationPeople/OrganizationPeople.tsx
  src/screens/OrganizationPeople/addMember/AddMember.tsx
  src/screens/OrganizationPeople/addMember/types.ts
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/OrganizationTags/OrganizationTagsMocks.ts
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
  src/screens/OrganizationVenues/OrganizationVenues.tsx
  src/screens/PluginStore/PluginStore.spec.tsx
  src/screens/PluginStore/PluginStore.tsx
  src/screens/Users/Organization.mocks.ts
  src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.tsx
  src/screens/Users/UsersMocks.mocks.ts
  src/screens/components/Navbar.spec.tsx
  src/screens/components/Navbar.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: replace deprecated node-domexception dependency
  package-lock.json
  package.json
Due: prettier --write

fix: address all CodeRabbit suggestions - strengthen assertions, use fake timers, and use helper function
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: replace deprecated node-domexception dependency (#4721)
  package-lock.json
  package.json
Due: prettier --write

feat: fix mock leakage in ProfileDropdown and EditCustomFieldDropDown tests
  MOCK_LEAKAGE_FIX_PROGRESS.md
  src/components/EditCustomFieldDropDown/EditCustomFieldDropDown.spec.tsx
  src/components/ProfileDropdown/ProfileDropdown.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Update pull-request-review.yml
  .github/workflows/pull-request-review.yml
Due: prettier --write

fix: remove module-level mock leakage in component tests
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
  src/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.spec.tsx
  src/components/NotificationIcon/NotificationIcon.spec.tsx
  src/components/OrgListCard/OrgListCard.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Create/AgendaCategoryCreateModal.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Update/AgendaCategoryUpdateModal.spec.tsx
  src/components/OrganizationScreen/OrganizationScreen.spec.tsx
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/SignOut/SignOut.spec.tsx
  src/components/TagActions/Node/TagNode.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Delete MOCK_LEAKAGE_FIX_PROGRESS.md
  MOCK_LEAKAGE_FIX_PROGRESS.md
Due: none

fix: address CodeRabbit AI review recommendations
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/EditCustomFieldDropDown/EditCustomFieldDropDown.spec.tsx
  src/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.spec.tsx
  src/components/OrganizationScreen/OrganizationScreen.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: clarify mock initialization comment in OrganizationScreen test
  src/components/OrganizationScreen/OrganizationScreen.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

improve the coverage of the testing
  src/screens/CommunityProfile/CommunityProfile.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

test : improve test code coverage for src/screens/CommunityProfile/CommunityProfile.tsx (#4724)
  src/screens/CommunityProfile/CommunityProfile.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: merge-conflicts
  docs/docs/auto-docs/utils/StaticMockLink/classes/StaticMockLink.md
  docs/docs/auto-docs/utils/StaticMockLink/functions/mockSingleLink.md
  package-lock.json
Due: prettier --write

fix: merge-conflicts
  scripts/start-server.js
Due: none

docs: consolidate testing documentation into single source of truth
  CONTRIBUTING.md
  docs/docs/docs/developer-resources/testing.md
Due: none

docs: update testing guide links to local file path
  CONTRIBUTING.md
Due: none

feat: improved code coverage for Groups.tsx
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/ERROR_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/UPDATE_ERROR_MOCKS.md
  src/screens/UserPortal/Volunteer/Groups/Groups.mocks.ts
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: remove Codecov setup section with broken image references
  docs/docs/docs/developer-resources/testing.md
Due: none

feat: enhance search functionality tests in Groups component
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: improve code coverage for Groups.tsx (#4726)
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/EMPTY_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/ERROR_MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/MOCKS.md
  docs/docs/auto-docs/screens/UserPortal/Volunteer/Groups/Groups.mocks/variables/UPDATE_ERROR_MOCKS.md
  src/screens/UserPortal/Volunteer/Groups/Groups.mocks.ts
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

docs: fix broken link to pull-request workflow file
  docs/docs/docs/developer-resources/testing.md
Due: none

docs: fix Cypress link to use local e2e-testing.md file
  docs/docs/docs/developer-resources/testing.md
Due: none

Fix/mock leakage #4671 (#4723)
  CONTRIBUTING.md
  docs/docs/docs/developer-resources/testing.md
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.spec.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
  src/components/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
  src/components/AgendaItems/Delete/AgendaItemsDeleteModal.spec.tsx
  src/components/AgendaItems/Update/AgendaItemsUpdateModal.spec.tsx
  src/components/EditCustomFieldDropDown/EditCustomFieldDropDown.spec.tsx
  src/components/EventRegistrantsModal/Modal/InviteByEmail/InviteByEmailModal.spec.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
  src/components/MemberActivity/Card/EventsAttendedCardItem.spec.tsx
  src/components/NotificationIcon/NotificationIcon.spec.tsx
  src/components/OrgListCard/OrgListCard.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Create/AgendaCategoryCreateModal.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Delete/AgendaCategoryDeleteModal.spec.tsx
  src/components/OrgSettings/AgendaItemCategories/Update/AgendaCategoryUpdateModal.spec.tsx
  src/components/OrganizationScreen/OrganizationScreen.spec.tsx
  src/components/ProfileCard/ProfileCard.spec.tsx
  src/components/ProfileDropdown/ProfileDropdown.spec.tsx
  src/components/SignOut/SignOut.spec.tsx
  src/components/TagActions/Node/TagNode.spec.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.spec.tsx
  src/components/UsersTableItem/UserTableItem.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: resolve all failing YearlyEventCalender test cases
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: apply prettier formatting to YearlyEventCalender tests
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbit review feedback
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove conditional test logic anti-pattern
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: apply prettier formatting
  src/components/EventCalender/Yearly/YearlyEventCalender.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: remove sensitive file modifications
  docs/docs/auto-docs/screens/UserPortal/Settings/ProfileHeader/ProfileHeader/variables/default.md
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/screens/UserPortal/Settings/ProfileHeader/ProfileHeader.tsx
  src/style/app-fixed.module.css
  vitest.config.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: skip outdated Settings tests for UserProfile refactor
  src/screens/UserPortal/Settings/Settings.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: update Settings tests for UserProfile refactor
  src/screens/UserPortal/Settings/Settings.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: isolate mocks in Donate, Events, Posts, and Chat test files
  scripts/fix-mock-leakage.sh
  scripts/fix_mock_leakage.py
  src/screens/UserPortal/Chat/Chat.spec.tsx
  src/screens/UserPortal/Donate/Donate.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Posts/Posts.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbit feedback - add comprehensive test coverage
  src/screens/OrganizationEvents/CreateEventModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Path conditions:
  npx tsx scripts/githooks/check-localstorage-usage.ts: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml,yaml}
