Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

Update push.yml
  .github/workflows/push.yml
Due: eslint --fix, prettier --write

Admin able to login
  schema.graphql
  src/App.tsx
  src/GraphQl/Queries/Queries.ts
  src/components/OrgListCard/OrgListCard.spec.tsx
  src/components/OrgListCard/OrgListCard.tsx
  src/components/ProfileDropdown/ProfileDropdown.spec.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/components/SecuredRoute/SecuredRoute.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgList/OrgListMocks.ts
  src/screens/OrgList/OrganizationModal.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

lint fixed
  src/components/OrgListCard/OrgListCard.spec.tsx
  src/components/OrgListCard/OrgListCard.tsx
  src/components/ProfileDropdown/ProfileDropdown.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgList/OrgListMocks.ts
  src/screens/OrgList/OrganizationModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fixes issue-3299
  src/screens/OrganizationActionItems/ItemModal.spec.tsx
  src/screens/OrganizationActionItems/ItemModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItem.mocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: Funds & Campaign Pages Violate The Figma Style
  docs/docs/auto-docs/screens/OrganizationFunds/OrganizationFunds/functions/default.md
  src/screens/OrganizationFundCampaign/CampaignModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

review comment fix
  src/style/app.module.css
Due: prettier --write

CodeRabbit fix
  src/style/app.module.css
Due: prettier --write

Fixes issue-3299 (#3480)
  src/screens/OrganizationActionItems/ItemModal.spec.tsx
  src/screens/OrganizationActionItems/ItemModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItem.mocks.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Figma: Refactor CSS files in src/components/AgendaCategory (#3472)
  src/components/AgendaCategory/AgendaCategoryContainer.module.css
  src/components/AgendaCategory/AgendaCategoryContainer.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: Fundraising Campaigns Styles
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: Funds & Campaign Pages Violate The Figma Style (#3478)
  docs/docs/auto-docs/screens/OrganizationFunds/OrganizationFunds/functions/default.md
  src/screens/OrganizationFundCampaign/CampaignModal.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

feat: Add GraphQL Inspector CLI and enhance pull request workflow respected to postgres
  .github/workflows/pull-request.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

resolve conflicts
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

resolve issues
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Fix: Ensure GraphQL Inspector is installed before validation
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix: Update script extension for localStorage usage check in pull request workflow
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

resolve issue
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

Update .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix an check
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

resolve tsnode config
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

fix: rename check-localstorage-usage script from .ts to .js and update workflow to use Node
  .github/workflows/pull-request.yml
  scripts/githooks/check-localstorage-usage.js
Due: eslint --fix, prettier --write

fix localstorage issue
  scripts/githooks/check-localstorage-usage.js
Due: none

fix check
  scripts/githooks/check-localstorage-usage.js
Due: none

revert localstorage to ts
  .github/workflows/pull-request.yml
  scripts/githooks/check-localstorage-usage.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

check ts
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write

New package to handle linting for graphql, also added graphql to eslint and prettier scripts
  .eslintignore
  .eslintrc.json
  .graphqlrc.yml
  package-lock.json
  package.json
  schema.graphql
Due: eslint --fix, prettier --write

CodeRabbit suggestion
  .eslintrc.json
Due: prettier --write

added securitty for routing from server side
  docs/docs/auto-docs/GraphQl/Queries/Queries/variables/VERIFY_ROLE.md
  docs/docs/auto-docs/components/SecuredRoute/SecuredRoute/functions/default.md
  docs/docs/auto-docs/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser/functions/default.md
  src/GraphQl/Queries/Queries.ts
  src/components/SecuredRoute/SecuredRoute.tsx
  src/components/UserPortal/SecuredRouteForUser/SecuredRouteForUser.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

NoMongo: Restore the GraphQL Introspection GitHub Action Test #3485
  .github/workflows/pull-request.yml
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Fix navbar for consistent styling
  docs/docusaurus.config.ts
  docs/src/css/custom.css
  docs/static/img/icons/logo.png
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Refactor CSS in CreateGroupChat.tsx
  docs/docs/auto-docs/components/UserPortal/CreateGroupChat/CreateGroupChat/functions/default.md
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.module.css
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
  src/style/app.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Update homepage with minimal design
  docs/src/components/layout/HeaderHero.tsx
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/src/utils/ActionButton.tsx
  docs/src/utils/Heading.tsx
  docs/src/utils/HomeCallToAction.tsx
  docs/src/utils/Section.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

removed ignore comment
  src/components/UserPortal/CreateGroupChat/CreateGroupChat.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Fix docs page styling to be consistent with other docs websites
  docs/src/css/custom.css
Due: prettier --write

Update activeBasePath
  docs/docusaurus.config.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Add footer
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

NoMongo: Restore the GraphQL Introspection GitHub Action Test
  .github/workflows/pull-request.yml
Due: eslint --fix, prettier --write
