Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{css,scss,tsx}": [
    "pnpm exec tsx scripts/validate-tokens.ts --staged --warn"
  ]
}

fix: anti-pattern
  src/components/AdminPortal/EventManagement/EventRegistrant/EventRegistrants.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

implemented coderabbit suggestion
  scripts/eslint/rules/prefer-crud-modal-template.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

resolved code coverage
  src/components/EventStats/Statistics/Feedback/Feedback.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: missing translations
  public/locales/es/translation.json
  public/locales/fr/translation.json
Due: prettier --write

replaced reactcontainer to notificationtoast container
  src/components/EventStats/Statistics/Feedback/Feedback.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

chore(husky): harden pre-commit hooks and centralize remote CI scripts
  .github/workflows/pull-request.yml
  .github/workflows/scripts/check_docstrings.py
  .github/workflows/scripts/countline.py
  .husky/pre-commit
  .husky/scripts/fetch-verified.sh
  .husky/scripts/precommit-python.sh
Due: eslint --fix, prettier --write

fix: critical issues
  .husky/scripts/fetch-verified.sh
Due: none

fix-button
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Fix loginPage Buttons
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

added translations
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.module.css
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

removed Form import
  docs/docs/auto-docs/screens/LoginPage/LoginPage/functions/default.md
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fixed invalid import
  scripts/eslint/rules/prefer-crud-modal-template.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: updated files to remove fireEvent
  .husky/pre-commit
  src/components/UserDetails/UserEvents.spec.tsx
  src/components/UserDetails/UserOrganizations.spec.tsx
  src/components/UserDetails/UserTags.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/MemberDetail/UserContactDetails.spec.tsx
  src/screens/MemberDetail/resolveAvatarFile.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: improve edge cases and make script perms executable
  .husky/scripts/fetch-verified.sh
Due: none

fix: updated files to remove fireEvent
  .husky/pre-commit
  docs/docs/auto-docs/screens/MemberDetail/fieldConfigs/interfaces/AddressFieldConfig.md
  docs/docs/auto-docs/screens/MemberDetail/fieldConfigs/interfaces/PhoneFieldConfig.md
  docs/docs/auto-docs/screens/MemberDetail/fieldConfigs/variables/addressFieldConfigs.md
  docs/docs/auto-docs/screens/MemberDetail/fieldConfigs/variables/phoneFieldConfigs.md
  docs/docs/auto-docs/screens/MemberDetail/resolveAvatarFile/functions/resolveAvatarFile.md
  docs/docs/auto-docs/types/AdminPortal/MemberDetail/interface/interfaces/InterfaceAddressFieldConfig.md
  docs/docs/auto-docs/types/AdminPortal/MemberDetail/interface/interfaces/InterfacePhoneFieldConfig.md
  src/screens/MemberDetail/UserContactDetails.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated files to remove fireEvent
  docs/docs/auto-docs/screens/MemberDetail/resolveAvatarFile/functions/resolveAvatarFile.md
  src/screens/MemberDetail/resolveAvatarFile.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

Delete search input handling test
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Remove unnecessary reset of tag search name
  src/screens/AdminPortal/OrganizationTags/OrganizationTags.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

improved type imports
  scripts/eslint/rules/prefer-crud-modal-template.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

fix: updated files to remove fireEvent
  docs/docs/auto-docs/screens/MemberDetail/UserContactDetails/variables/default.md
  src/screens/MemberDetail/UserContactDetails.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: updated files to remove fireEvent
  src/screens/MemberDetail/UserContactDetails.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

relative path before glob matching
  scripts/eslint/rules/prefer-crud-modal-template.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

CRUDModalLint: Options & Safe Autofix (#6668)
  scripts/eslint/rules/prefer-crud-modal-template.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts

PART-3 I18n translations (#6666)
  docs/docs/auto-docs/components/EventStats/Statistics/Feedback/Feedback/functions/FeedbackStats.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/EventStats/Statistics/EventStats.spec.tsx
  src/components/EventStats/Statistics/Feedback/Feedback.module.css
  src/components/EventStats/Statistics/Feedback/Feedback.spec.tsx
  src/components/EventStats/Statistics/Feedback/Feedback.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.module.css
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Tightened Modal linting
  eslint.config.js
Due: none

Tightened Modal linting 1769120250
  eslint.config.js
Due: none

Tightened Modal linting 1769120414
  eslint.config.js
Due: none

Tightened Modal linting 1769121089
  eslint.config.js
Due: none

Tightened Modal linting 1769121642
  eslint.config.js
Due: none

Tightened Modal linting 1769122452
  eslint.config.js
Due: none

chore(husky): use centralized Python scripts from PalisadoesFoundation/.github (#6671)
  .github/workflows/pull-request.yml
  .github/workflows/scripts/check_docstrings.py
  .github/workflows/scripts/countline.py
  .husky/pre-commit
  .husky/scripts/fetch-verified.sh
  .husky/scripts/precommit-python.sh
Due: eslint --fix, prettier --write

Tightened Modal linting 1769124306
  eslint.config.js
Due: none

fix(sidebar): resolve css regression and restore styling
  docs/docs/auto-docs/shared-components/SidebarPluginSection/SidebarPluginSection/functions/default.md
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/LeftDrawerOrg/LeftDrawerOrg.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/shared-components/SidebarBase/SidebarBase.module.css
  src/shared-components/SidebarBase/SidebarBase.tsx
  src/shared-components/SidebarOrgSection/SidebarOrgSection.module.css
  src/shared-components/SidebarOrgSection/SidebarOrgSection.tsx
  src/shared-components/SidebarPluginSection/SidebarPluginSection.module.css
  src/shared-components/SidebarPluginSection/SidebarPluginSection.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: resolve embedded CSS violations
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebar/UserSidebar/interfaces/InterfaceUserSidebarProps.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/functions/default.md
  docs/docs/auto-docs/components/UserPortal/UserSidebarOrg/UserSidebarOrg/interfaces/InterfaceUserSidebarOrgProps.md
  docs/docs/auto-docs/shared-components/SidebarPluginSection/SidebarPluginSection/functions/default.md
  src/components/LeftDrawer/LeftDrawer.module.css
  src/components/LeftDrawer/LeftDrawer.tsx
  src/components/UserPortal/UserSidebar/UserSidebar.tsx
  src/components/UserPortal/UserSidebarOrg/UserSidebarOrg.tsx
  src/shared-components/SidebarPluginSection/SidebarPluginSection.module.css
  src/shared-components/SidebarPluginSection/SidebarPluginSection.tsx
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

Tightened Modal linting 1769120414 (#6673)
  eslint.config.js
Due: none

fix: resolve LeftDrawer layout cutoff and CSS import policy violation
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/functions/default.md
  docs/docs/auto-docs/components/LeftDrawer/LeftDrawer/interfaces/ILeftDrawerProps.md
  src/components/LeftDrawer/LeftDrawer.module.css
  src/components/LeftDrawer/LeftDrawer.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

used CreateModal instead of Modal
  docs/docs/auto-docs/screens/AdminPortal/OrganizationEvents/CreateEventModal/variables/default.md
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/AdminPortal/OrganizationEvents/CreateEventModal.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn

fix: restore sidebar positioning and refactor unit tests to use userEvent
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.module.css
  src/shared-components/SidebarBase/SidebarBase.spec.tsx
  src/shared-components/SidebarPluginSection/SidebarPluginSection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/validate-tokens.ts --staged --warn
