Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

.lintstagedrc.json:

{
  "**/*.{ts,tsx,yml}": ["eslint --fix"],
  "**/*.{ts,tsx,json,scss,css,yml}": ["prettier --write"],
  "**/*.{ts,tsx}": ["npx tsx scripts/githooks/check-localstorage-usage.ts"],
  "**/*.{ts,tsx,css}": ["pnpm exec tsx scripts/check-css-imports.js --files"]
}

gen docs
  docs/docs/auto-docs/components/AdminPortal/AgendaItems/Create/AgendaItemsCreateModal/variables/default.md
  docs/docs/auto-docs/components/AdminPortal/AgendaItems/Update/AgendaItemsUpdateModal/variables/default.md
  docs/docs/auto-docs/types/shared-components/DropDownButton/interface/interfaces/InterfaceDropDownOption.md
Due: none

address CR suggestion
  src/components/AdminPortal/AgendaFolder/Create/AgendaFolderCreateModal.spec.tsx
  src/components/AdminPortal/AgendaItems/Create/AgendaItemsCreateModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: Simplify UserContactDetails component by extracting contact info fields into UserContactInfoCard and enhancing TypeScript type definitions for form state management.
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/UserContactDetails/type-aliases/UserContactFormState.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/UserContactDetails/variables/default.md
  docs/docs/auto-docs/screens/AdminPortal/MemberDetail/UserContactInfoCard/variables/UserContactInfoCard.md
  docs/docs/auto-docs/types/apollo-upload-client/functions/createUploadLink.md
  src/screens/AdminPortal/MemberDetail/UserContactDetails.tsx
  src/screens/AdminPortal/MemberDetail/UserContactInfoCard.tsx
  src/types/apollo-upload-client.d.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: update mock data and tests to pass CI
  docs/docs/auto-docs/types/UserPortal/Chat/interface/interfaces/InterfaceCreateDirectChatProps.md
  docs/docs/auto-docs/types/UserPortal/Chat/interface/interfaces/InterfaceOrganizationMember.md
  scripts/eslint/config/exemptions.ts
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.spec.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks.tsx
  src/screens/UserPortal/Chat/Chat.spec.tsx
  src/types/UserPortal/Chat/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix(tests): add waitFor wrappers to prevent race conditions in sharded CI
  src/screens/AdminPortal/OrgList/modal/OrganizationModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix(chat): resolve CodeRabbit feedback & CI lint issues
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetails/functions/default.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks/variables/failingMocks.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks/variables/filledMockChat.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks/variables/incompleteMockChat.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks/variables/mocks.md
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.spec.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: added cleanUp
  src/hooks/auth/useRegistration.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

docs: update line number reference
  docs/docs/auto-docs/shared-components/Recurrence/RecurrenceMonthlySection/variables/RecurrenceMonthlySection.md
Due: none

refactor: Replace BaseModal with CRUDModalTemplate in multiple components, enhancing consistency and improving modal functionality across the application.
  src/components/AdminPortal/AddPeopleToTag/AddPeopleToTag.tsx
  src/components/AdminPortal/Advertisements/Advertisements.tsx
  src/components/AdminPortal/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AdminPortal/ContriStats/ContriStats.spec.tsx
  src/components/AdminPortal/EventManagement/Dashboard/EventDashboard.tsx
  src/components/AdminPortal/Venues/Modal/VenueModal.spec.tsx
  src/components/AdminPortal/Venues/Modal/VenueModal.tsx
  src/components/Auth/LoginForm/LoginForm.spec.tsx
  src/components/MemberRequestCard/MemberRequestCard.tsx
  src/components/ProfileDropdown/ProfileDropdown.tsx
  src/components/UserListCard/UserListCard.tsx
  src/components/UserPasswordUpdate/UserPasswordUpdate.tsx
  src/components/UserPortal/ChatRoom/ChatRoom.tsx
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/OrganizationCard/OrganizationCard.spec.tsx
  src/components/UserPortal/OrganizationSidebar/OrganizationSidebar.tsx
  src/index.tsx
  src/plugin/tests/graphql-service.spec.ts
  src/screens/AdminPortal/EventVolunteers/VolunteerGroups/modal/VolunteerGroupModal.tsx
  src/screens/AdminPortal/EventVolunteers/Volunteers/createModal/VolunteerCreateModal.tsx
  src/screens/AdminPortal/MemberDetail/UserContactInfoCard.tsx
  src/screens/AdminPortal/Notification/Notification.tsx
  src/screens/AdminPortal/OrgContribution/OrgContribution.spec.tsx
  src/screens/AdminPortal/PluginStore/PluginStore.tsx
  src/screens/Auth/LoginPage/LoginPage.tsx
  src/screens/Public/Invitation/AcceptInvitation.spec.tsx
  src/screens/UserPortal/Donate/Donate.tsx
  src/shared-components/posts/createPostModal/createPostModal.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: add full coverage tests for EventManager (#7087)
  src/plugin/managers/event-manager.spec.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: Improve type safety and consistency in Advertisements, EventDashboard, and EventActionItems components by converting IDs to strings and refining type definitions for better clarity.
  src/components/AdminPortal/Advertisements/Advertisements.tsx
  src/components/AdminPortal/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AdminPortal/EventManagement/Dashboard/EventDashboard.tsx
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
  src/utils/interfaces.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: race condition in email verificaiton screen (#7079)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/Auth/VerifyEmail/VerifyEmail.spec.tsx
  src/screens/Auth/VerifyEmail/VerifyEmail.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test: derive the weekday from startDate
  src/shared-components/Recurrence/RecurrenceMonthlySection.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

refactor: Improve type handling in Advertisements component by replacing conditional type assignment with a switch statement for better clarity and maintainability.
  src/components/AdminPortal/Advertisements/Advertisements.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

feat(install): add Docker detection library (#7011)
  scripts/install/lib/docker-detect.sh
  scripts/install/lib/docker-detect.spec.sh
Due: none

test: add CampaignModal form state and validation tests
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

feat: add error message translations for event loading failures in English, Spanish, French, Hindi, and Chinese locales
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/components/AdminPortal/Advertisements/Advertisements.tsx
  src/components/AdminPortal/Advertisements/core/AdvertisementEntry/AdvertisementEntry.tsx
  src/components/AdminPortal/AgendaCategory/AgendaCategoryContainer.tsx
  src/components/AdminPortal/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AdminPortal/AgendaItems/AgendaItemsContainer.tsx
  src/components/AdminPortal/ContriStats/ContriStats.spec.tsx
  src/components/AdminPortal/EventManagement/Dashboard/EventDashboard.tsx
  src/components/AdminPortal/EventManagement/EventActionItems/EventActionItems.tsx
  src/components/AdminPortal/EventManagement/EventAttendance/Attendance/EventAttendance.tsx
  src/components/AdminPortal/EventRegistrantsModal/Modal/EventRegistrantsModal.tsx
  src/components/AdminPortal/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
  src/screens/Auth/LoginPage/LoginPage.tsx
  src/screens/Auth/VerifyEmail/VerifyEmail.tsx
  src/types/AdminPortal/EventManagement/Dashboard.ts
  src/utils/StaticMockLink.spec.ts
  src/utils/timezoneUtils/dateTimeMiddleware.spec.ts
  src/utils/timezoneUtils/dateTimeMiddleware.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test(e2e): use stable selector for 'View all' buttons in AdminEventPage (#6980)
  cypress/pageObjects/AdminPortal/AdminEventPage.ts
  src/components/EventCalender/Monthly/EventCalender.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: update EventHeader tests and adjust layout padding
  src/components/AdminPortal/OrganizationScreen/OrganizationScreen.module.css
  src/components/EventCalender/Header/EventHeader.module.css
  src/components/EventCalender/Header/EventHeader.spec.tsx
  src/components/EventCalender/Monthly/EventCalender.module.css
  src/components/EventListCard/EventListCard.module.css
  src/screens/AdminPortal/OrganizationEvents/OrganizationEvents.tsx
  src/screens/UserPortal/Events/Events.tsx
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/style/app-fixed.module.css
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test(campaign-modal): assert auto-adjusted end date on start date change
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

test:fixed lint errors
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

style: fix Prettier formatting in OrganizationEvents
  src/screens/AdminPortal/OrganizationEvents/OrganizationEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix(chat): refactor interfaces, fix coverage, and clean up config
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/CreateDirectChat/functions/default.md
  docs/docs/auto-docs/components/UserPortal/CreateDirectChat/CreateDirectChat/functions/handleCreateDirectChat.md
  docs/docs/auto-docs/components/UserPortal/GroupChatDetails/GroupChatDetails/functions/default.md
  docs/docs/auto-docs/types/UserPortal/Chat/interface/interfaces/InterfaceCreateDirectChatProps.md
  docs/docs/auto-docs/types/UserPortal/CreateDirectChat/interface/interfaces/InterfaceCreateDirectChatProps.md
  scripts/eslint/config/exemptions.ts
  src/components/UserPortal/CreateDirectChat/CreateDirectChat.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.spec.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetails.tsx
  src/components/UserPortal/GroupChatDetails/GroupChatDetailsMocks.tsx
  src/types/UserPortal/Chat/interface.ts
  src/types/UserPortal/CreateDirectChat/interface.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: remove unused orgDataError variable
  src/screens/AdminPortal/OrganizationEvents/OrganizationEvents.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

feat: create Node.js installation helper library (#6499)
  scripts/install/lib/node-install.sh
  scripts/install/lib/node-install.spec.sh
Due: none

fix: add semver validation to verify functions and fix test HOME restoration
  scripts/install/lib/node-install.sh
  scripts/install/lib/node-install.spec.sh
Due: none

chore(cleanup): remove unused convertToBase64 util and specs
  .github/workflows/scripts/check-minio-compliance.cjs
  src/utils/convertToBase64.spec.ts
  src/utils/convertToBase64.ts
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

chore(docs): remove auto-generated docs for deleted convertToBase64
  docs/docs/auto-docs/utils/convertToBase64/functions/default.md
Due: none

fix: remove height property from btnsContainerSearchBar
  src/shared-components/SearchFilterBar/SearchFilterBar.module.css
Due: prettier --write, pnpm exec tsx scripts/check-css-imports.js --files

fix: strengthen validation in node-install helper library
  scripts/install/lib/node-install.sh
  scripts/install/lib/node-install.spec.sh
Due: none

test: cover closed modal state, close action, and fix mock isolation
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: tableFix Phase 5
  docs/docs/auto-docs/screens/AdminPortal/OrganizationPeople/addMember/AddMember/functions/default.md
  docs/docs/auto-docs/screens/UserPortal/People/People/functions/default.md
  docs/docs/docs/developer-resources/tables.md
  src/screens/AdminPortal/OrganizationPeople/addMember/AddMember.module.css
  src/screens/AdminPortal/OrganizationPeople/addMember/AddMember.spec.tsx
  src/screens/AdminPortal/OrganizationPeople/addMember/AddMember.tsx
  src/screens/UserPortal/People/People.module.css
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: improve node-install library robustness
  scripts/install/lib/node-install.sh
  scripts/install/lib/node-install.spec.sh
Due: none

test: add comprehensive fixture-based tests for node-install library
  scripts/install/lib/node-install.sh
  scripts/install/lib/node-install.spec.sh
Due: none

feat: add --fail-fast flag to ensure_node_toolchain for early exit
  scripts/install/lib/node-install.sh
  scripts/install/lib/node-install.spec.sh
Due: none

test: add loading-state assertion, fix cache reuse on rerender, and cleanup duplication
  src/screens/AdminPortal/OrganizationFundCampaign/modal/CampaignModal.spec.tsx
Due: eslint --fix, prettier --write, npx tsx scripts/githooks/check-localstorage-usage.ts, pnpm exec tsx scripts/check-css-imports.js --files

fix: remove unused variables flagged by shellcheck SC2034
  scripts/install/lib/node-install.spec.sh
Due: none

fix: improve portability and test reliability
  scripts/install/lib/node-install.sh
  scripts/install/lib/node-install.spec.sh
Due: none
