Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml,yaml}": "prettier --write",
  "**/*.{ts,tsx}": "npx tsx scripts/githooks/check-localstorage-usage.ts"
}

fix: update test expectations
  src/components/EventCalender/Header/EventHeader.spec.tsx
  src/components/EventCalender/Header/EventHeader.tsx
  src/screens/UserPortal/Organizations/Organizations.spec.tsx
  src/screens/UserPortal/People/People.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: use common namespace for search aria-label
  src/components/EventCalender/Header/EventHeader.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix: All test cases work
  src/utils/useLocalstorage.ts
  vitest.config.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: added toast error translation
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: python-script
  .github/workflows/scripts/css_check.py
Due: none

fix: cr suggestions
  public/locales/es/translation.json
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: script
  .github/workflows/scripts/css_check.py
Due: none

fix: script
  .github/workflows/pull-request.yml
Due: prettier --write

fix(postCard): minor fixes and cleanup
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
  src/screens/MemberDetail/MemberDetail.spec.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
  src/shared-components/postCard/PostCard.spec.tsx
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix(postCard): removed clearAllMocks from before
  src/shared-components/postCard/PostCard.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

feat: added click to enlarge modal functionality
  docs/docs/auto-docs/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay/functions/ProfileAvatarDisplay.md
  docs/docs/auto-docs/types/shared-components/ProfileAvatarDisplay/interface/interfaces/InterfaceProfileAvatarDisplayProps.md
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.module.css
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.spec.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.tsx
  src/types/shared-components/ProfileAvatarDisplay/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix: Issues resolved
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.spec.tsx
  src/screens/OrgList/OrgList.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Volunteer/VolunteerManagement.spec.tsx
  src/utils/useLocalstorage.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

revert EventHeader file
  src/components/EventCalender/Header/EventHeader.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: fix failing tests and add missing tests
  public/locales/en/common.json
  src/App.tsx
  src/components/EventListCard/Modal/Preview/EventListCardPreviewModal.spec.tsx
  src/components/OrganizationScreen/OrganizationScreen.tsx
  src/screens/FundCampaignPledge/modal/PledgeModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemViewModal/ActionItemViewModal.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.spec.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaigns.tsx
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/shared-components/ReportingTable/ReportingTable.spec.tsx
  src/shared-components/SearchBar/SearchBar.spec.tsx
  src/style/app-fixed.module.css
  src/test-utils/datePickerHelpers.ts
  src/types/Event/type.spec.ts
  src/types/Event/type.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: add auto-docs
  docs/docs/auto-docs/screens/OrganizationFundCampaign/OrganizationFundCampaigns/functions/default.md
  docs/docs/auto-docs/screens/OrganizationFunds/OrganizationFunds/functions/default.md
  docs/docs/auto-docs/test-utils/datePickerHelpers/functions/getPickerInputByLabel.md
  docs/docs/auto-docs/types/Event/type/type-aliases/Event.md
  docs/docs/auto-docs/types/Event/type/type-aliases/EventInput.md
  docs/docs/auto-docs/types/Event/type/variables/EventOrderByInputEnum.md
Due: none

chore: fix format
  src/screens/OrganizationFunds/OrganizationFunds.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: add translations
  public/locales/es/common.json
  public/locales/fr/common.json
  public/locales/hi/common.json
  public/locales/zh/common.json
Due: prettier --write

chore: add auto-docs
  docs/docs/auto-docs/screens/OrganizationFunds/OrganizationFunds/functions/default.md
  docs/docs/auto-docs/shared-components/ReportingTable/ReportingTable/functions/adjustColumnsForCompactMode.md
  docs/docs/auto-docs/shared-components/ReportingTable/ReportingTable/variables/default.md
  src/shared-components/ReportingTable/ReportingTable.spec.tsx
  src/shared-components/ReportingTable/ReportingTable.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: fix auto-docs
  src/shared-components/ReportingTable/ReportingTable.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: fix type
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix: Issues resolved
  scripts/githooks/check-localstorage-usage.ts
  src/components/EventListCard/EventListCard.spec.tsx
  src/screens/UserPortal/Events/Events.spec.tsx
  src/utils/useLocalstorage.ts
  vitest.setup.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: address CodeRabbit review
  src/components/EventCalender/Header/EventHeader.tsx
  src/style/app-fixed.module.css
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix: Documentation added
  docs/docs/auto-docs/components/SignOut/SignOut/functions/default.md
  docs/docs/auto-docs/utils/useLocalstorage/functions/clearAllItems.md
  docs/docs/auto-docs/utils/useLocalstorage/functions/getItem.md
  docs/docs/auto-docs/utils/useLocalstorage/functions/getStorageKey.md
  docs/docs/auto-docs/utils/useLocalstorage/functions/removeItem.md
  docs/docs/auto-docs/utils/useLocalstorage/functions/setItem.md
  docs/docs/auto-docs/utils/useLocalstorage/functions/useLocalStorage.md
  docs/docs/auto-docs/utils/useSession/functions/default.md
Due: none

docs: auto-generated docs
  docs/docs/auto-docs/components/SignOut/SignOut/functions/default.md
  docs/docs/auto-docs/utils/useLocalstorage/functions/getItem.md
Due: none

Fix password behavior on /user/settings tab
  public/locales/en/translation.json
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

added words in all languages for i18n
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

style: fix formatting in CancelUploadPluginModal
  src/screens/PluginStore/UploadPluginModal.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

style: apply black formatting with line-length 88 for CI compliance
  .github/workflows/scripts/disable_statements_check.py
  .github/workflows/scripts/test_disable_statements_check.py
Due: none

added tests and i18n fixes
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

lint fixes and code tweaks
  public/locales/es/translation.json
  src/screens/UserPortal/Settings/Settings.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.spec.tsx
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

generated docs and i18n fix
  docs/docs/auto-docs/screens/UserPortal/Settings/UserDetails/UserDetails/variables/default.md
  public/locales/es/translation.json
  src/screens/UserPortal/Settings/UserDetails/UserDetails.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: cr suggestions added
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

chore: upgrade apollo/client 3.0
  src/components/Advertisements/Advertisements.spec.tsx
  src/components/Advertisements/Advertisements.tsx
  src/components/Advertisements/AdvertisementsMocks.ts
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
  src/screens/OrganizationTags/OrganizationTags.spec.tsx
  src/screens/OrganizationTags/OrganizationTagsMocks.ts
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
  src/screens/UserPortal/People/People.spec.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

fix: cr suggestions
  docs/docs/auto-docs/types/shared-components/ProfileAvatarDisplay/interface/interfaces/InterfaceProfileAvatarDisplayProps.md
  public/locales/en/translation.json
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.spec.tsx
  src/shared-components/ProfileAvatarDisplay/ProfileAvatarDisplay.tsx
  src/types/shared-components/ProfileAvatarDisplay/interface.ts
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Added manageTag.closeModal
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
Due: prettier --write

chore: upgrade apollo/cl ient 4.0
  src/components/TagActions/Node/TagNode.spec.tsx
  src/screens/OrgPost/OrgPost.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.spec.tsx
  src/screens/OrganizationActionItems/ActionItemModal/ActionItemModal.tsx
  src/screens/OrganizationTags/OrganizationTags.tsx
  src/screens/UserPortal/Chat/Chat.spec.tsx
  src/screens/UserPortal/Chat/Chat.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write

Fix: pledges viewing by a user , pledges creation by user and admin portals. (#5080)
  public/locales/en/translation.json
  public/locales/es/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/zh/translation.json
  src/screens/Notification/Notification.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.spec.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Pledges/Pledges.tsx
Due: npx tsx scripts/githooks/check-localstorage-usage.ts, prettier --write
